Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Stop host when all agent tmux sessions have exited
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff

Remove state field from CertifiedHostData, derive FAILED from failure_reason
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Port tests and error message improvements from mngr/asdfdsf-local
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Fix race condition in no-agents check, add tests
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff

Support Ctrl-q/Ctrl-t for remote agents via signal files
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add tests for _build_ssh_args and remote connect_to_agent exit code handling
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Add grace period for no-agents check, update docs
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/concepts/idle_detection.md
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
  libs/mngr/specs/idle_detection.md
Due: ruff

Isolate test environment: set ZDOTDIR and uv paths
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Update settings to try to prevent sub-agents from messing with stop hooks
  .mngr/settings.toml
Due: none

Move error class
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff

Be a little safer and more explicit about home directory paths
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Update verification prompt to be better at finding silent errors
  .claude/commands/verify-branch.md
Due: none

Remove modal provider
  .gitignore
  .mngr/settings.toml
  libs/mngr/imbue/mngr/agents/default_plugins/test_claude_agent.py
Due: ruff

Make modal auth and test work locally
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Move specs -> future_specs
  libs/mngr/docs/architecture.md
  libs/mngr/docs/concepts/agents.md
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/concepts/provisioning.md
  libs/mngr/docs/conventions.md
  libs/mngr/future_specs/agent.md
  libs/mngr/future_specs/config.md
  libs/mngr/future_specs/error_handling.md
  libs/mngr/future_specs/future_work.md
  libs/mngr/future_specs/git_interactions.md
  libs/mngr/future_specs/host.md
  libs/mngr/future_specs/host_class.md
  libs/mngr/future_specs/idle_detection.md
  libs/mngr/future_specs/locking.md
  libs/mngr/future_specs/logging.md
  libs/mngr/future_specs/out_of_scope.md
  libs/mngr/future_specs/plugins.md
  libs/mngr/future_specs/plugins/ask.md
  libs/mngr/future_specs/plugins/default_url_for_cli_agents_via_ttyd.md
  libs/mngr/future_specs/plugins/git_status.md
  libs/mngr/future_specs/plugins/github_auth.md
  libs/mngr/future_specs/plugins/local_port_forwarding_via_frp_and_nginx.md
  libs/mngr/future_specs/plugins/offline_mngr_state.md
  libs/mngr/future_specs/plugins/recursive_mngr.md
  libs/mngr/future_specs/plugins/user_activity_tracking_via_web.md
  libs/mngr/future_specs/provider_instance.md
  libs/mngr/future_specs/providers/docker.md
  libs/mngr/future_specs/providers/modal.md
  libs/mngr/future_specs/providers/remote.md
  libs/mngr/future_specs/provisioning.md
  libs/mngr/future_specs/ssh_access.md
Due: none

Fix tests
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Actually finish fixing tests
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Replace logger.debug with log_span for action-about-to-happen messages in CLI
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff, regenerate-cli-docs

Replace logger.debug with log_span for action messages in host.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Replace all mocks in create_test.py with typed test infrastructure
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Replace logger.debug with log_span for action messages in agents, providers, and utils
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
  libs/mngr/imbue/mngr/utils/editor.py
Due: ruff

Add log_span helper, tests, and replace logger.debug in API layer
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/utils/logging_test.py
Due: ruff

Fix review issues: remove change-process comments, add try/finally cleanup
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Fix reviewer issues and add remaining log_span conversions
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
Due: ruff

Capitalize first letter of log_span messages in API layer
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/api/pull.py
  style_guide.md
Due: ruff

Apply ruff formatting to files from main branch merge
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

Fix git sync for local agents using fetch+reset instead of push
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/future_specs/git_interactions.md
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Add acceptance tests for push/pull sync and remove dead denyCurrentBranch config
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
Due: ruff

Require unison-fsmonitor for pair command and fix ratchet violation
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff

Add fixme to do now
  .mngr/settings.toml
  scripts/main_claude_stop_hook.sh
Due: none

Gate reviewed_commits append on stop_hook_active from stdin JSON
  scripts/main_claude_stop_hook.sh
Due: none

Update comment
  scripts/main_claude_stop_hook.sh
Due: none

Use default_create_cli_opts fixture with model_copy for test variations
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Update all debug log statements to conform to style
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils.py
  libs/imbue_common/imbue/imbue_common/logging.py
  libs/imbue_common/imbue/imbue_common/logging_test.py
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
  libs/mngr/imbue/mngr/utils/editor.py
  libs/mngr/imbue/mngr/utils/logging.py
  libs/mngr/imbue/mngr/utils/logging_test.py
  libs/mngr/imbue/mngr/utils/testing.py
  style_guide.md
Due: ruff, regenerate-cli-docs

Fix tests
  libs/imbue_common/imbue/imbue_common/logging_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Add type-safe model_copy update helpers and apply to create_test.py
  libs/imbue_common/imbue/imbue_common/frozen_model.py
  libs/imbue_common/imbue/imbue_common/model_update.py
  libs/imbue_common/imbue/imbue_common/model_update_test.py
  libs/imbue_common/imbue/imbue_common/mutable_model.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Add @pure decorators and move module docstring to class docstring
  libs/imbue_common/imbue/imbue_common/model_update.py
Due: ruff

Triage future_specs files into delete/digest/leave categories
  libs/mngr/future_specs_triage.txt
Due: none

Remove duplicated trace logs. Add fixme
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Reject nested field paths in to_update_dict
  libs/imbue_common/imbue/imbue_common/model_update.py
  libs/imbue_common/imbue/imbue_common/model_update_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
