Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Update _is_transient_ssh_error docstring to mention ChannelException
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Un-inline categories: pass paths from skills to agents instead
  plugins/mng-skills/agents/review-conversation.md
  plugins/mng-skills/agents/verify-and-fix.md
  plugins/mng-skills/skills/autofix/SKILL.md
  plugins/mng-skills/skills/verify-conversation/SKILL.md
Due: none

Update README.md
  plugins/mng-skills/README.md
Due: none

Add reviewer-disable skill to turn off all gates at once
  plugins/mng-code-review/README.md
  plugins/mng-code-review/skills/reviewer-disable/SKILL.md
Due: none

Add Write and date permissions to verify-architecture skill
  plugins/mng-code-review/skills/verify-architecture/SKILL.md
Due: none

Disable sync_home_settings for headless_claude to prevent stop hooks firing on mng ask
  libs/mng_claude/imbue/mng_claude/headless_claude_agent.py
Due: ruff

Add .autofix/, .reviews/, and test-results to .gitignore
  .gitignore
Due: regenerate-derived-files

Resolve paths before dedup comparison in _resolve_adopt_session
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Remove duplicate test-results gitignore entry and add comment
  .gitignore
Due: regenerate-derived-files

Revert "Add test for HeadlessClaudeAgentConfig.sync_home_settings default"
  libs/mng_claude/imbue/mng_claude/headless_claude_agent_test.py
Due: ruff

Revert "Remove duplicate test-results gitignore entry and add comment"
  .gitignore
Due: regenerate-derived-files

Remove test-results/** glob in favor of test-results symlink entry
  .gitignore
Due: regenerate-derived-files

Add .autofix/ and .reviews/ to .gitignore
  .gitignore
Due: regenerate-derived-files

Use autouse home fixture instead of patching Path.home in adopt-session tests
  libs/mng_claude/imbue/mng_claude/plugin_test.py
Due: ruff

Skip irrelevant providers during discovery using the event stream
  libs/mng/imbue/mng/api/discover.py
  libs/mng/imbue/mng/api/discovery_events.py
  libs/mng/imbue/mng/api/discovery_events_test.py
  libs/mng/imbue/mng/api/events.py
  libs/mng/imbue/mng/api/events_test.py
  libs/mng/imbue/mng/api/exec.py
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/api/message.py
  libs/mng/imbue/mng/cli/agent_utils.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/test_agent_utils.py
  libs/mng_file/imbue/mng_file/cli/target.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
  libs/mng_wait/imbue/mng_wait/api.py
  scripts/check_parallel_uploads.py
Due: ruff, regenerate-derived-files

Prevent duplicate agent names on the same host
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/errors.py
Due: ruff

Move duplicate name check inside lock and add rename guard
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Clarify DuplicateAgentNameError help text for non-create contexts
  libs/mng/imbue/mng/errors.py
Due: ruff

Add regression tests for multi-agent worktree and branch removal
  libs/mng/imbue/mng/cli/test_destroy.py
Due: ruff, regenerate-derived-files

Add smarter global lock with PID tracking and deadline enforcement
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks_test.py
Due: ruff

Replace unittest.mock.patch with monkeypatch in conftest_hooks_test.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks_test.py
Due: ruff

Fix outdated docstring reference to _pytest_sessionfinish
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Move 'Lock acquired' message to after inode verification
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Restore documentation for test type time limits in _compute_max_duration
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Add graceful SIGTERM wait and rename PYTEST_MAX_DURATION to PYTEST_MAX_DURATION_SECONDS
  justfile
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks_test.py
  libs/imbue_common/imbue/imbue_common/test_ratchets.py
  libs/mng_claude/imbue/mng_claude/test_claude_agent_modal.py
Due: ruff

Increase SIGTERM grace period from 2s to 5s
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Improve report layout, raise FD limit, print helpful commands after TMR run
  libs/mng_tmr/imbue/mng_tmr/cli.py
  libs/mng_tmr/imbue/mng_tmr/report.py
  libs/mng_tmr/imbue/mng_tmr/report_test.py
Due: ruff

Fix type error: HostDetails.provider_name not .provider
  libs/mng_tmr/imbue/mng_tmr/cli.py
Due: ruff

Gitignore .reviews/ directory
  .gitignore
Due: regenerate-derived-files

Adding specs
  specs/electron-desktop-app/concise.md
  specs/electron-desktop-app/spec.md
  specs/vps-docker-provider/concise.md
Due: none

Print run commands on KeyboardInterrupt
  libs/mng_tmr/imbue/mng_tmr/cli.py
Due: ruff

Guard all provider-facing calls, fix reintegrate for local agents, fix missing branch names
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
Due: ruff

Store branch_name in TestAgentInfo at creation time
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/data_types.py
Due: ruff

Add missing 'Cleaning work directories' assertion in test_gc_no_args_succeeds
  libs/mng/imbue/mng/cli/gc_test.py
Due: ruff, regenerate-derived-files

Strengthen assertions in test_gc_dry_run
  libs/mng/imbue/mng/cli/gc_test.py
Due: ruff, regenerate-derived-files

Remove --snapshot and --latest flags from mng start
  libs/mng/docs/commands/primary/start.md
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/start_test.py
Due: ruff, regenerate-derived-files

[TEST/DOC] Combined test and doc fixes from 6 agents
  libs/mng/imbue/mng/e2e/test_create_basic.py
Due: ruff

Update stop command synopsis to remove stale "s" alias
  libs/mng/docs/commands/primary/stop.md
  libs/mng/imbue/mng/cli/stop.py
Due: ruff, regenerate-derived-files
