Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Avoid logging API token to log files
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
Due: ruff

Remove duplicate unit tests subsumed by integration tests
  libs/mngr/imbue/mngr/plugins/api_server/app_test.py
Due: ruff

Use sys.stdout.write for token output to satisfy ratchets
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
Due: ruff

Replace time.time() with get_short_random_string() in ttyd test names
  libs/mngr/imbue/mngr/plugins/ttyd/test_ttyd_open.py
Due: ruff

Add smoke testing and verification section to CLAUDE.md
  CLAUDE.md
Due: none

Write auth token to stdout instead of logger.info
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
Due: ruff

Clarify that tmux smoke tests for interactive components should not be crystallized into formal tests
  CLAUDE.md
Due: none

Deduplicate default URL resolution into shared url_utils module
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/utils/url_utils.py
Due: ruff

Extract _serve_subprocess context manager for serve tests
  libs/mngr/imbue/mngr/plugins/api_server/test_serve_acceptance.py
  libs/mngr/imbue/mngr/plugins/api_server/test_serve_release.py
Due: ruff

Replace NamedTuple with FrozenModel in test_serve_acceptance
  libs/mngr/imbue/mngr/plugins/api_server/test_serve_acceptance.py
Due: ruff

Tighten smoke testing guidance: real inputs, true invariants, less redundancy
  CLAUDE.md
Due: none

Add Final type annotations to ttyd plugin constants
  libs/mngr/imbue/mngr/plugins/ttyd/plugin.py
Due: ruff

Replace Any types with concrete MngrContext and AgentInfo in api_server
  libs/mngr/imbue/mngr/plugins/api_server/app.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation.py
Due: ruff

Tighten smoke testing section for conciseness
  CLAUDE.md
Due: none

Add unit tests for url_utils.compute_default_url
  libs/mngr/imbue/mngr/utils/url_utils_test.py
Due: ruff

Further tighten smoke testing section; drop testing util reference for tmux
  CLAUDE.md
Due: none

Soften tmux verification language: "looks right" not "programmatically verify"
  CLAUDE.md
Due: none

Remove duplicate config resolution tests from integration test file
  libs/mngr/imbue/mngr/plugins/port_forwarding/test_port_forwarding.py
Due: ruff

Fix misleading docstring in release test
  libs/mngr/imbue/mngr/plugins/api_server/test_serve_release.py
Due: ruff

Fix agent data tests to use valid AgentId format
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Clarify test assertion guidance in smoke testing section
  CLAUDE.md
Due: none

Replace 'smoke test' with 'manual verification' in CLAUDE.md
  CLAUDE.md
Due: none

Clarify when it's ok to run acceptance/release tests locally
  CLAUDE.md
Due: none

Restore two-bullet structure for acceptance/release test guidance
  CLAUDE.md
Due: none

Fix: release tests don't run in regular CI
  CLAUDE.md
Due: none

Add mobile and multi-machine setup guide
  libs/mngr/docs/guides/mobile_setup.md
Due: none

Trim docker spec to design notes only, update to match implementation
  libs/mngr/future_specs/providers/docker.md
Due: none

Make Modal the recommended deployment method in mobile setup guide
  libs/mngr/docs/guides/mobile_setup.md
Due: none

Use immutable abstract types for function input parameters in CLI modules
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff, regenerate-cli-docs

Extract inline function in create.py to top-level _CachedAgentHostLoader class
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add some notes to prevent some ratchet violations from being removed
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Try enabling memory snapshots to see if we can reduce the cold start time for the snapshot function
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Fix security audit findings: constant-time token comparison, exception info leaks, shared auth helper
  libs/mngr/imbue/mngr/plugins/api_server/app.py
  libs/mngr/imbue/mngr/plugins/api_server/auth.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
  libs/mngr/imbue/mngr/utils/auth.py
Due: ruff

Unify generate_api_token into shared generate_secure_token
  libs/mngr/imbue/mngr/plugins/api_server/auth.py
  libs/mngr/imbue/mngr/plugins/api_server/data_types.py
  libs/mngr/imbue/mngr/plugins/api_server/data_types_test.py
  libs/mngr/imbue/mngr/utils/auth.py
  libs/mngr/imbue/mngr/utils/auth_test.py
Due: ruff

Use ConcurrencyGroup for crontab subprocess calls
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add deployment verification to changeling deploy process
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/deploy/verification.py
  apps/changelings/imbue/changelings/mngr_commands.py
  apps/changelings/imbue/changelings/test_deploy_modal.py
  apps/changelings/pyproject.toml
Due: ruff

Fix reviewer issues: deduplicate fixture, update architecture.md
  apps/changelings/imbue/changelings/cli/add_test.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/conftest.py
  apps/changelings/specs/architecture.md
Due: ruff

Replace _make_test_definition with shared make_test_changeling in config_test
  apps/changelings/imbue/changelings/config_test.py
Due: ruff

Fix typing imports and magic number in imbue_common logging module
  libs/imbue_common/imbue/imbue_common/logging.py
Due: ruff

Fix typo and replace raw Exception raises with MngrError in modal provider
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
