Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fix reviewer issues: restore test docstrings, use shutil.which, fix inconsistent pattern
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/utils/editor.py
Due: ruff, regenerate-cli-docs

Restore test_pair.py comments, docstrings and formatting from original
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Add unison output logging callback and restore block-level comments
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Fix crash test to use actual SIGKILL via pkill instead of graceful shutdown
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Deduplicate _created_agent by reusing create_test_agent_via_cli + tmux_session_cleanup
  libs/mngr/imbue/mngr/cli/test_agent_utils.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Move cg parameter from first to last position in all function signatures
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/cli/issue_reporting_test.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff, regenerate-cli-docs

Move remaining cg/mngr_ctx params to last position
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff, regenerate-cli-docs

Replace is_checked_after=False with try/except ProcessError
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff, regenerate-cli-docs

Formatting
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Making stop hook more robust
  scripts/main_claude_stop_hook.sh
Due: none

Fix empty error message in deploy_function, add trace logging
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
Due: ruff

Move command log_span into setup_command_context
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff, regenerate-cli-docs

Implement mngr provision command for re-provisioning existing agents
  libs/mngr/README.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/concepts/provisioning.md
  libs/mngr/imbue/mngr/api/provision.py
  libs/mngr/imbue/mngr/cli/provision.py
  libs/mngr/imbue/mngr/cli/test_provision.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Implement mngr open command to open agent URLs in browser
  libs/mngr/docs/commands/primary/open.md
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/cli/open.py
  libs/mngr/imbue/mngr/cli/open_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Implement mngr limit command for configuring agents and hosts
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/aliases_test.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/limit_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Remove remaining startup debug logs from pull, push, and pair commands
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Add mngr snapshot CLI command with create, list, and destroy subcommands
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Stream output and lock down permissions for mngr ask
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Add mngr transcript command for viewing agent session data
  libs/mngr/imbue/mngr/api/transcript.py
  libs/mngr/imbue/mngr/api/transcript_test.py
  libs/mngr/imbue/mngr/cli/transcript.py
  libs/mngr/imbue/mngr/cli/transcript_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Implement mngr exec command for running shell commands on agent hosts
  libs/mngr/README.md
  libs/mngr/imbue/mngr/api/exec.py
  libs/mngr/imbue/mngr/api/exec_test.py
  libs/mngr/imbue/mngr/cli/exec.py
  libs/mngr/imbue/mngr/cli/exec_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

WIP. Cleaning up some concurrency group refactor
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/interactive_subprocess.py
Due: ruff, regenerate-cli-docs

Implement mngr rename command for renaming agents
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/imbue/mngr/cli/rename.py
  libs/mngr/imbue/mngr/cli/rename_test.py
  libs/mngr/imbue/mngr/cli/test_rename.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix ConcurrencyGroup cleanup: typo, deepcopy, type signatures
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/interactive_subprocess.py
Due: ruff

Implement --format-template for mngr list
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Implement mngr schedule command with add/list/remove/run subcommands
  libs/mngr/README.md
  libs/mngr/docs/commands/secondary/schedule.md
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/api/schedule_test.py
  libs/mngr/imbue/mngr/cli/schedule.py
  libs/mngr/imbue/mngr/cli/schedule_test.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/test_schedule.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Add Final type annotation to _ACTIVITY_INTERVAL_SECONDS constant
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/api/open.py
Due: ruff

Add exec to PRIMARY_COMMANDS and generate docs
  .autofix/plans/1.md
  libs/mngr/docs/commands/primary/exec.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Fix ratchet test violations in schedule code
  libs/mngr/imbue/mngr/api/schedule_test.py
  libs/mngr/imbue/mngr/cli/schedule.py
Due: ruff, regenerate-cli-docs

Add @pure decorator to _extract_text_delta
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Extract shared resolve_env_vars to cli/env_utils.py
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/env_utils.py
  libs/mngr/imbue/mngr/cli/provision.py
Due: ruff, regenerate-cli-docs

Reuse existing resolve_agent_reference instead of duplicate _find_agent_by_identifier
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/api/transcript.py
  libs/mngr/imbue/mngr/api/transcript_test.py
Due: ruff

Narrow except Exception to specific exception types in _record_activity_loop
  .autofix/plans/2.md
  libs/mngr/imbue/mngr/api/open.py
Due: ruff

Remove incorrect @pure from _emit_template_output
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Move get_agent_env_path to OnlineHostInterface
  .autofix/plans/2.md
  libs/mngr/imbue/mngr/api/provision.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Add missing --env-file option to provision.md docs
  .autofix/plans/3.md
  libs/mngr/docs/commands/secondary/provision.md
Due: regenerate-cli-docs

Add integration tests for --format-template
  .autofix/plans/2.md
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Fix host filtering when --host is combined with agent targeting
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Deduplicate _format_size into shared format_size in output_helpers
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/gc_test.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Avoid variable reassignment in snapshot_list
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Use Sequence instead of list for _build_updated_permissions input
  .autofix/plans/2.md
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs
