Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Describe how to actually build the remote images and functions
  libs/mng_schedule/README.md
Due: none

Allow name as optional positional argument for schedule add/update
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Fix positional name resolution and test assertions
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Fix ratchet test: rename mngr->mng in nested_tmux.md
  libs/mng/docs/nested_tmux.md
Due: none

Add placeholders
  libs/mng_schedule/imbue/mng_schedule/implementations/__init__.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal.py
Due: ruff

Implement mng schedule add with --git-image-hash for Modal deployment
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/deploy.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
  libs/mng_schedule/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Fix reviewer issues: scope --host-env-file, add deploy unit tests
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/deploy.py
  libs/mng_schedule/imbue/mng_schedule/deploy_test.py
  pyproject.toml
Due: ruff

Extract StderrInterceptor to terminal module, deduplicate status line
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
Due: ruff, regenerate-cli-docs

Remove repo-specific test infrastructure section from style_guide.md
  style_guide.md
Due: none

Add test for warnings interleaved with agents
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-cli-docs

Clean up position variable naming in warning tests
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add tests that plugin commands appear in CLI completions cache
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Name ANSI cursor-up and erase-to-end escape sequences
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/utils/terminal.py
Due: ruff, regenerate-cli-docs

Remove redundant emit_warning TTY test
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-cli-docs

Fix child process leak in completion tests
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Add monkeypatch.chdir to autouse temp dir fixtures and clean up test chdirs
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/conftest.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  libs/mng/imbue/mng/cli/default_command_group_test.py
  libs/mng/imbue/mng/conftest.py
  libs/mng_pair/imbue/mng_pair/conftest.py
Due: ruff, regenerate-cli-docs

Inject referenced files into system prompt via CLAUDE.md @imports
  CLAUDE.md
  apps/changelings/CLAUDE.md
  apps/claude_web_view/CLAUDE.md
  libs/concurrency_group/CLAUDE.md
  libs/imbue_common/CLAUDE.md
  libs/mng/CLAUDE.md
Due: none

Suppress ConcurrencyExceptionGroup during CLI cleanup to fix scary Ctrl+C tracebacks
  libs/mng/imbue/mng/cli/common_opts.py
Due: ruff, regenerate-cli-docs

Move style_guide.md import to bottom of CLAUDE.md
  CLAUDE.md
Due: none

Give mng ask read-only access to mng source code
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Add --allow-web flag to mng ask for GitHub repo access
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-cli-docs

code-guardian: inconsistency report 2026-02-23
  _tasks/inconsistencies/2026-02-23-11-06-37.md
Due: none

Consolidate deploy config into single JSON, add --env to modal deploy, add Dockerfile symlink
  .mng/Dockerfile
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/deploy.py
  libs/mng_schedule/imbue/mng_schedule/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Fix acceptance test: remove PYTEST_CURRENT_TEST from subprocess env
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Add Nuitka compilation prototype results
  docs/nuitka_prototype_results.md
Due: none

Ensure Modal environment exists before deploy, fix minor review issues
  libs/mng_schedule/imbue/mng_schedule/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/deploy.py
Due: ruff

Use ScheduledMngCommand enum instead of bare str for command field
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/deploy_test.py
Due: ruff

Make locations for the code
  libs/mng_schedule/imbue/mng_schedule/implementations/local/__init__.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/__init__.py
Due: ruff

Move deploy.py and cron_runner.py into implementations/modal/
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
  pyproject.toml
Due: ruff

Update readme to describe optimization
  libs/mng_schedule/README.md
Due: none

Save schedule creation metadata to Modal state volume and implement schedule list
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/data_types_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix style guide violations and code quality issues from review
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add Final annotations to constants, use match for field dispatch
  libs/mng_schedule/imbue/mng_schedule/cli.py
Due: ruff

Add get_files_for_deploy plugin hook to replace hardcoded file staging
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
Due: ruff

Fix reviewer issues: extract shared staging logic, fix docs, dedup tests
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/staging.py
Due: ruff

Reuse the Modal provider's state volume instead of creating a separate one
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Deduplicate test setup by parameterizing _make_test_record helper
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
Due: ruff

Fix minor reviewer issues: import placement, comment accuracy, style
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add post-deploy verification to mng schedule add
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/errors.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
  pyproject.toml
Due: ruff
