Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Use match statement for SyncMode enum in _build_remote_rsync_command
  libs/mng/imbue/mng/api/sync.py
Due: ruff

Revert unrelated changes from another agent's branch
  libs/mng/imbue/mng/main.py
  libs/mng/pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Remove simpleBrowser PR mode, keep only external and githubPR
  apps/mng-vscode/package.json
  apps/mng-vscode/src/commands.ts
  apps/mng-vscode/src/config.ts
  apps/mng-vscode/src/prService.test.ts
Due: none

Factor monkeypatch.setattr into shared helpers in list/cleanup tests
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use match statements for SyncMode enum in sync_files and sync_git
  libs/mng/imbue/mng/api/sync.py
Due: ruff

Distinguish flags from value-taking options in tab completion
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Use match statement for MngInstallMode enum in deploy_schedule_to_modal
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Set process title to "mng" so ps/top show the right name
  libs/mng/imbue/mng/main.py
  libs/mng/pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Add explicit MngInstallMode.AUTO case to fix type checker error
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Use {result_file} placeholder for unique per-sandbox JUnit paths
  offload-modal.toml
Due: none

Remove module docstring, move run instructions to release test docstring
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
Due: ruff

Refactor test cleanup to use mng_agent_cleanup context manager
  libs/mng/imbue/mng/api/test_sync_acceptance.py
  libs/mng/imbue/mng/cli/test_message.py
Due: ruff, regenerate-cli-docs

Remove --cached from offload acceptance tests prepare command
  offload-modal-acceptance.toml
Due: none

Add offload acceptance tests CI with optimized parallelism
  justfile
  offload-modal-acceptance.toml
  offload-modal-release.toml
Due: none

Tweak some parameters to get a faster run
  offload-modal-acceptance.toml
Due: none

Update format to work with offload v0.3.3
  .gitignore
  justfile
  offload-modal-acceptance.toml
  offload-modal.toml
Due: none

Run release tests via offload
  justfile
  offload-modal-release.toml
Due: none

Add advisory CI workflow for offload acceptance tests
  .dockerignore
  .github/workflows/test-offload-acceptance.yml
  .gitignore
  justfile
  offload-modal-acceptance.toml
  offload-modal.toml
Due: none

Restore DEBUG logging for message submission success
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Use Offload v0.3.3 in CI
  .github/workflows/test-offload-acceptance.yml
Due: none

Remove .offload-image-cache from .gitignore and commit it.
  .gitignore
  .offload-image-cache
Due: none

Trim subprocess ratchet snapshot to actual count (25)
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Replace retry hint with simple failed agent list, move DialogIndicator to claude_agent
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-cli-docs

Fix remaining timing-sensitive patterns in concurrency group tests
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
  libs/concurrency_group/imbue/concurrency_group/test_utils.py
Due: ruff

Revert Event.wait timeout changes (leave as SMALL_SLEEP)
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Update screenshots with GitHub PR extension integration
  screenshots/commands.png
  screenshots/pr-github-ext.png
  screenshots/pr-side-by-side.png
  screenshots/sidebar.png
  screenshots/statusbar.png
Due: none

Avoid network dependency in isolated_mng_venv fixture
  libs/mng/imbue/mng/conftest.py
Due: ruff

Implement changelings local forwarding server
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/docs/user_story.md
  apps/changelings/imbue/changelings/errors.py
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/server/auth.py
  apps/changelings/imbue/changelings/server/auth_test.py
  apps/changelings/imbue/changelings/server/backend_resolver.py
  apps/changelings/imbue/changelings/server/backend_resolver_test.py
  apps/changelings/imbue/changelings/server/cookie_manager.py
  apps/changelings/imbue/changelings/server/cookie_manager_test.py
  apps/changelings/imbue/changelings/server/proxy.py
  apps/changelings/imbue/changelings/server/proxy_test.py
  apps/changelings/imbue/changelings/server/runner.py
  apps/changelings/imbue/changelings/server/templates.py
  apps/changelings/imbue/changelings/server/templates_test.py
  apps/changelings/imbue/changelings/server/test_forwarding_server.py
  apps/changelings/pyproject.toml
  apps/changelings/specs/proxying.py
  pyproject.toml
  uv.lock
Due: ruff

Fix ratchet test violations in forwarding server
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/server/templates.py
  apps/changelings/imbue/changelings/server/test_forwarding_server.py
  apps/changelings/imbue/changelings/test_ratchets.py
Due: ruff

Fix reviewer issues in forwarding server
  apps/changelings/imbue/changelings/README.md
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/server/auth_test.py
  apps/changelings/imbue/changelings/server/cookie_manager.py
  apps/changelings/imbue/changelings/server/test_forwarding_server.py
Due: ruff

Add thread concurrency to root coverage config
  pyproject.toml
Due: none

Fix second round of reviewer issues
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/test_ratchets.py
Due: ruff

Use realistic option choices in completion tests
  libs/mng/imbue/mng/cli/complete_test.py
Due: ruff, regenerate-cli-docs

Tighten monkeypatch_setattr ratchet and fix misleading test data
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Constrain ChangelingName to safe characters to prevent XSS
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/imbue/changelings/server/cookie_manager_test.py
  apps/changelings/imbue/changelings/server/templates_test.py
Due: ruff

Add demo script for manual verification of forwarding server
  apps/changelings/scripts/demo_forwarding_server.py
Due: ruff

Simplify poll_until usage: poll for process exit instead of catching exceptions
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Extract WebSocket forwarding functions to module level
  apps/changelings/imbue/changelings/server/app.py
Due: ruff

Extract shared test setup for no-backend server tests
  apps/changelings/imbue/changelings/server/test_forwarding_server.py
Due: ruff

Handle backend WebSocket disconnect in client forwarding
  apps/changelings/imbue/changelings/server/app.py
Due: ruff
