Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Clarify stuck detection responsibilities between gate and main hooks
  scripts/main_claude_stop_hook.sh
Due: none

Include offload-modal.toml in image cache key
  justfile
Due: none

Add '-' to command synopses for stdin placeholder support
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/label.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  libs/mng/docs/commands/secondary/transcript.md
  libs/mng/imbue/mng/cli/capture.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/label.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/provision.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/cli/transcript.py
Due: ruff, regenerate-derived-files

Switch Dockerfile to USER mng-test-runner for non-root runtime
  libs/mng/imbue/mng/config/completion_writer_test.py
  libs/mng/imbue/mng/resources/Dockerfile
Due: ruff

Use match statement to satisfy if-elif-without-else ratchet
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Only enforce review gates on mng-managed sessions by default
  scripts/stop_hook_gates.sh
Due: none

Updated almost all of the examples to be reasonable
  libs/mng/tutorials/mega_tutorial.sh
Due: none

Revert '-' stdin support from single-agent commands connect and capture
  libs/mng/docs/commands/primary/connect.md
  libs/mng/imbue/mng/cli/capture.py
  libs/mng/imbue/mng/cli/connect.py
Due: ruff, regenerate-derived-files

Fix type errors: remove stale message/ready_timeout params from connect tests
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/connect_test.py
Due: ruff, regenerate-derived-files

[IMPROVE_TEST] Use to_match with state regex instead of to_contain in test_create_headless
  libs/mng/imbue/mng/e2e/test_create_basic.py
Due: ruff

Revert USER directive -- Modal ignores it, use monkeypatch instead
  libs/mng/imbue/mng/config/completion_writer_test.py
  libs/mng/imbue/mng/resources/Dockerfile
Due: ruff

Rename `mng watch` to `mng notify`
  libs/mng_notifications/README.md
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/plugin.py
  libs/mng_notifications/imbue/mng_notifications/plugin_test.py
Due: ruff

Add wait_for_completion to remaining agent creator tests
  apps/minds/imbue/minds/forwarding_server/test_forwarding_server.py
Due: ruff

Rename test_watch.py to test_notify.py
  libs/mng_notifications/imbue/mng_notifications/test_notify.py
Due: ruff

[FIX_TEST] Add pytest.mark.timeout(60) to test_create_with_json_output
  libs/mng/imbue/mng/e2e/test_create_basic.py
Due: ruff

Add 60s timeout to list_agents calls to prevent Modal API hangs
  libs/mng_tmr/imbue/mng_tmr/api.py
Due: ruff

Fix flaky test_execute_cleanup_stop_on_online_host race condition
  libs/mng/imbue/mng/api/cleanup_test.py
Due: ruff

Add .autofix/ and .reviewer/.stop_hook_consecutive_blocks to .gitignore
  .gitignore
Due: regenerate-derived-files

Add AgentCreator.close() and call it in all creation tests
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
  apps/minds/imbue/minds/forwarding_server/test_forwarding_server.py
Due: ruff

lint
  libs/mng_recursive/imbue/mng_recursive/watcher_common.py
  libs/mng_recursive/imbue/mng_recursive/watcher_common_test.py
Due: ruff

Simplify category generation: plain vet defaults + user-owned config
  .gitignore
  .pre-commit-config.yaml
  plugins/mng-code-review/agents/categories/code-issue-categories.md
  plugins/mng-code-review/skills/autofix/SKILL.md
  plugins/mng-code-review/skills/reviewer-init-categories/SKILL.md
  plugins/mng-code-review/skills/verify-conversation/SKILL.md
  scripts/generate_verify_skills.py
  scripts/verify_skill_overrides.py
Due: ruff, regenerate-derived-files

Rename plugin to imbue-code-review, remove mng references from plugin content
  .claude-plugin/marketplace.json
  .claude/settings.json
  .pre-commit-config.yaml
  plugins/imbue-code-review/.claude-plugin/plugin.json
  plugins/imbue-code-review/README.md
  plugins/imbue-code-review/agents/analyze-architecture.md
  plugins/imbue-code-review/agents/categories/code-issue-categories.md
  plugins/imbue-code-review/agents/categories/conversation-issue-categories.md
  plugins/imbue-code-review/agents/review-conversation.md
  plugins/imbue-code-review/agents/validate-diff.md
  plugins/imbue-code-review/agents/verify-and-fix.md
  plugins/imbue-code-review/hooks/hooks.json
  plugins/imbue-code-review/scripts/config_utils.sh
  plugins/imbue-code-review/scripts/export_transcript_paths.sh
  plugins/imbue-code-review/scripts/filter_transcript.py
  plugins/imbue-code-review/scripts/stop_hook_gates.sh
  plugins/imbue-code-review/skills/autofix/SKILL.md
  plugins/imbue-code-review/skills/reviewer-autofix-all-issues/SKILL.md
  plugins/imbue-code-review/skills/reviewer-autofix-disable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-autofix-enable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-autofix-ignore-minor-issues/SKILL.md
  plugins/imbue-code-review/skills/reviewer-ci-disable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-ci-enable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-disable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-enable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-init-categories/SKILL.md
  plugins/imbue-code-review/skills/reviewer-verify-architecture-disable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-verify-architecture-enable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-verify-conversation-disable/SKILL.md
  plugins/imbue-code-review/skills/reviewer-verify-conversation-enable/SKILL.md
  plugins/imbue-code-review/skills/verify-architecture/SKILL.md
  plugins/imbue-code-review/skills/verify-conversation/SKILL.md
  plugins/mng-code-review/.claude-plugin/plugin.json
  scripts/generate_verify_skills.py
  scripts/install.sh
  scripts/stop_hook_gates.sh
Due: ruff

Fix B008 ruff violation in _create_agent_with_stub_host default arg
  libs/mng/imbue/mng/agents/base_agent_test.py
Due: ruff

Enable stop hook for mng sessions in project-level config
  .reviewer/settings.json
Due: none

Check in customized issue categories (un-gitignore)
  .gitignore
  .reviewer/code-issue-categories.md
  .reviewer/conversation-issue-categories.md
Due: regenerate-derived-files

Make name a required arg in _create_agent_with_stub_host
  libs/mng/imbue/mng/agents/base_agent_test.py
Due: ruff

Revert "Fix B008 ruff violation in _create_agent_with_stub_host default arg"
  libs/mng/imbue/mng/agents/base_agent_test.py
Due: ruff

Extract _create_named_agent_with_stub_host with required name arg
  libs/mng/imbue/mng/agents/base_agent_test.py
Due: ruff

Rename watch to notify in doc generation
  libs/mng/docs/commands/secondary/notify.md
  libs/mng/docs/commands/secondary/tmr.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-derived-files

Fix custom agent types to use parent_type's config class
  libs/mng/imbue/mng/config/agent_config_registry.py
  libs/mng/imbue/mng/config/agent_config_registry_test.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/data_types_test.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff

Simplify clean pass table, add soft line breaks in test IDs
  libs/mng_tmr/imbue/mng_tmr/report.py
  libs/mng_tmr/imbue/mng_tmr/report_test.py
Due: ruff

Revert mng exec quoting change -- both styles are valid
  libs/mng/tutorials/mega_tutorial.sh
Due: none

Split kanpan gh pr list into two parallel queries to avoid GitHub API timeouts
  libs/mng_kanpan/imbue/mng_kanpan/github.py
  libs/mng_kanpan/imbue/mng_kanpan/github_test.py
Due: ruff

Store agent type in tmux session environment variable
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Tighten init-methods ratchet to 0 after FetchPrsResult FrozenModel conversion
  libs/mng_kanpan/imbue/mng_kanpan/test_ratchets.py
Due: ruff

Add tests for --safe flag and _all_identifiers_found helper
  libs/mng/imbue/mng/api/list_test.py
Due: ruff

Revert "Add transient SSH retry logic to command execution"
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Remove duplicate .gitignore entries from merge
  .gitignore
Due: regenerate-derived-files

Remove remaining duplicate .reviews/ entry in .gitignore
  .gitignore
Due: regenerate-derived-files

Restore .reviewer config files and fix nested gitignore pattern
  .gitignore
  .reviewer/autofix/auto-accept.md
  .reviewer/settings.json
Due: regenerate-derived-files

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
