Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Refactor exec multi-agent code: extract helpers and deduplicate
  libs/mngr/imbue/mngr/api/exec.py
  libs/mngr/imbue/mngr/cli/exec.py
Due: ruff, regenerate-cli-docs

Document that permissions are opaque strings with exact-match revocation
  libs/mngr/docs/concepts/permissions.md
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Add DockerVolume to coverage omit, add integration tests
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  pyproject.toml
Due: ruff

Remove unused events directory from agent state
  libs/mngr/README.md
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/conventions.md
  libs/mngr/docs/core_plugins/agent_data_url.md
  libs/mngr/docs/core_plugins/host_data_url.md
  libs/mngr/future_specs/agent.md
  libs/mngr/future_specs/host.md
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Handle Docker daemon unavailable in list_hosts gracefully
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Use recursive volume delete in _destroy_agents_on_host
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Add tests for recursive volume deletion
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/local/volume_test.py
Due: ruff

Consolidate duration parsing into single parse_duration_to_seconds function
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/utils/duration.py
  libs/mngr/imbue/mngr/utils/duration_test.py
  libs/mngr/imbue/mngr/utils/time_utils.py
  libs/mngr/imbue/mngr/utils/time_utils_test.py
Due: ruff, regenerate-cli-docs

Remove [future] tags from Docker docs, deduplicate test fixture
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/docs/concepts/provider_backends.md
  libs/mngr/docs/concepts/snapshot.md
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/providers/docker/testing.py
Due: ruff

Clear snapshot records from host record during destroy_host
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix get_host name-based lookup for renamed running containers
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Restart agents by default during provision, add --no-restart option
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/imbue/mngr/api/provision.py
  libs/mngr/imbue/mngr/cli/provision.py
Due: ruff, regenerate-cli-docs

Fix restart logic and add tests for provision restart behavior
  libs/mngr/imbue/mngr/api/provision.py
  libs/mngr/imbue/mngr/cli/test_provision.py
Due: ruff, regenerate-cli-docs

Allow streaming mode with --limit for non-deterministic results
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add remove_directory to Volume interface
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Use unique snapshot names in stop_host to avoid dangling images
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Unify --format-template into --format, add --json/--jsonl aliases
  libs/mngr/docs/commands/generic/common.md
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/destroy.md
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/docs/commands/secondary/gc.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/config/data_types.py
Due: ruff, regenerate-cli-docs

Fix snapshot name assertion, update remaining [future] doc
  libs/mngr/docs/concepts/providers.md
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Reject format templates on unsupported commands, move tests to correct module
  libs/mngr/docs/commands/generic/common.md
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/destroy.md
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/docs/commands/secondary/gc.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Accept mixed agent/host identifiers in snapshot create, add --on-error
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Check exit codes for package install and SSH config commands
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Direct sshd logs to <host_dir>/logs/sshd.log via -E flag
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix state container log polluting JSON output
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Fix validation, add tests, and fix docs for snapshot create
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/cli/test_snapshot.py
Due: ruff, regenerate-cli-docs

Narrow except Exception to (BaseMngrError, OSError) in snapshot create
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

code-guardian: inconsistency report 2026-02-16
  _tasks/inconsistencies/2026-02-16-11-05-56.md
Due: none

Revert "Remove incorrect FIXME about gc --include/--exclude options"
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Add fixmes
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/utils/duration.py
Due: ruff, regenerate-cli-docs

Narrow scope of exceptions that we catch so that we don't accidentally catch something we didn't intend to
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Fix tests by speeding up and deleting and disabling slow ones
  libs/mngr/imbue/mngr/cli/test_snapshot.py
Due: ruff, regenerate-cli-docs

Print test durations in pytest-split JSON format in CI
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Extract shared _collect_test_durations helper and fix docstring
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Print slowest test first
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Fix docs
  libs/mngr/docs/commands/secondary/logs.md
Due: regenerate-cli-docs

Fix tests
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Prevent the function deployment from invalidating our builds
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Fix ratchet
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
Due: ruff

Update test durations so that we end up with less messed up splits
  .test_durations
Due: none
