Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Add README.md for mng-notifications
  libs/mng_notifications/README.md
  libs/mng_notifications/pyproject.toml
Due: none

Tell autofix agent not to commit .autofix/ files
  .claude/skills/autofix/verify-and-fix.md
Due: none

Tell verify-conversation to use Read tool for progress file
  .claude/commands/verify-conversation.md
Due: none

Extract mng_mind plugin from mng_claude_mind
  libs/mng_claude_mind/imbue/mng_claude_mind/cli.py
  libs/mng_claude_mind/imbue/mng_claude_mind/data_types.py
  libs/mng_claude_mind/imbue/mng_claude_mind/data_types_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/resources/__init__.py
  libs/mng_claude_mind/imbue/mng_claude_mind/resources/defaults/thinking/.claude/settings.json
  libs/mng_claude_mind/imbue/mng_claude_mind/settings_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/test_integration.py
  libs/mng_mind/README.md
  libs/mng_mind/conftest.py
  libs/mng_mind/imbue/mng_mind/__init__.py
  libs/mng_mind/imbue/mng_mind/cli.py
  libs/mng_mind/imbue/mng_mind/conftest.py
  libs/mng_mind/imbue/mng_mind/data_types.py
  libs/mng_mind/imbue/mng_mind/data_types_test.py
  libs/mng_mind/imbue/mng_mind/defaults/GLOBAL.md
  libs/mng_mind/imbue/mng_mind/defaults/__init__.py
  libs/mng_mind/imbue/mng_mind/defaults/talking/PROMPT.md
  libs/mng_mind/imbue/mng_mind/defaults/thinking/PROMPT.md
  libs/mng_mind/imbue/mng_mind/defaults/thinking/skills/delegate-task/SKILL.md
  libs/mng_mind/imbue/mng_mind/defaults/thinking/skills/get-event-type-info/SKILL.md
  libs/mng_mind/imbue/mng_mind/defaults/thinking/skills/list-conversations/SKILL.md
  libs/mng_mind/imbue/mng_mind/defaults/thinking/skills/list-event-types/SKILL.md
  libs/mng_mind/imbue/mng_mind/defaults/thinking/skills/send-message-to-user/SKILL.md
  libs/mng_mind/imbue/mng_mind/defaults/verifying/PROMPT.md
  libs/mng_mind/imbue/mng_mind/defaults/working/PROMPT.md
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_mind/imbue/mng_mind/plugin.py
  libs/mng_mind/imbue/mng_mind/provisioning.py
  libs/mng_mind/imbue/mng_mind/provisioning_test.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
  libs/mng_mind/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Add --total-size flag to filter_transcript.py
  .claude/commands/verify-conversation.md
  scripts/filter_transcript.py
Due: ruff

Add README.md for mng_llm plugin
  libs/mng_llm/README.md
Due: none

Tell verify-conversation to use Write tool for results file
  .claude/commands/verify-conversation.md
Due: none

Tell reviewer subagent to use Write tool for results
  .claude/skills/verify-conversation/review.md
Due: none

Add command placeholder
  libs/mng_llm/imbue/mng_llm/plugin.py
  libs/mng_llm/imbue/mng_llm/provisioning.py
Due: ruff

Fix change-referencing comment in deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Use rsync for agent file transfers on remote hosts
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Add tests for lookup_by_name and set_llm_model_env_var
  libs/mng_llm/imbue/mng_llm/plugin_test.py
  libs/mng_llm/imbue/mng_llm/resources/conversation_db_test.py
Due: ruff

Suppress stderr from max-rowid call in chat.sh
  libs/mng_llm/imbue/mng_llm/resources/chat.sh
Due: none

Add frontmatter to agent definition files
  .claude/agents/analyze-architecture.md
  .claude/agents/review-conversation.md
  .claude/agents/validate-diff.md
  .claude/agents/verify-and-fix.md
Due: none

Re-test agent type spawning (now with frontmatter)
  .claude/commands/autofix.md
  .claude/commands/verify-architecture.md
  .claude/commands/verify-conversation.md
Due: none

Strengthen guidance against committing .autofix files
  .claude/agents/verify-and-fix.md
Due: none

Revert coverage omit additions, lower threshold to 79% instead
  libs/mng/pyproject.toml
Due: none

Remove unused tabulate dependency and dead test utilities
  apps/minds/imbue/minds/forwarding_server/test_forwarding_server.py
  apps/minds/imbue/minds/test_mind_end_to_end.py
  apps/minds/imbue/minds/testing.py
  apps/minds/pyproject.toml
  uv.lock
Due: ruff

Fix created_test_coder fixture: pass cwd=mind_dir for --in-place
  apps/minds/imbue/minds/conftest.py
  apps/minds/imbue/minds/testing.py
Due: ruff

Add extra dialog detector
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Restore missing modal fixtures, add modal cleanup, and fix dependencies
  libs/mng/conftest.py
  libs/mng/imbue/mng/conftest.py
  libs/mng_modal/conftest.py
  libs/mng_schedule/pyproject.toml
  uv.lock
Due: ruff

Fix license
  LICENSE
  apps/minds/LICENSE
Due: none

Add test_ratchets.py for mng_modal package
  libs/mng_modal/imbue/mng_modal/test_ratchets.py
Due: ruff

Fix plugin.remove help metadata to reflect repeatable --path
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/plugin_test.py
Due: ruff, regenerate-derived-files

Replace time.sleep with threading.Event.wait in events retry loop
  libs/mng/imbue/mng/api/events.py
Due: ruff

Fix misleading comment in stuck agent detection
  scripts/main_claude_stop_hook.sh
Due: none

Simplify parse_config field extraction to use raw.pop(key, None) directly
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Use consistent shebang in check_autofix_ran.sh
  scripts/check_autofix_ran.sh
Due: none

Fix reviewer issues: rename to avoid pytest, fix executor hang-on-exit
  scripts/check_parallel_uploads.py
Due: ruff

Fix connection for myself
  libs/mng/imbue/mng/api/connect.py
Due: ruff

Restore concurrency group scaffolding in provisioning uploads
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Restore user's events.py changes, clean up parse_agents_from_json
  apps/minds/imbue/minds/forwarding_server/backend_resolver.py
  apps/minds/imbue/minds/forwarding_server/conftest.py
  libs/mng/imbue/mng/api/events.py
Due: ruff

Fix observe tests failing on macOS due to missing /bin/true
  libs/mng/imbue/mng/api/conftest.py
  libs/mng/imbue/mng/api/observe_test.py
Due: ruff

Remove spurious @pytest.mark.rsync from message tests, pin claude version in CI
  .github/workflows/ci.yml
  libs/mng/imbue/mng/cli/test_message.py
Due: ruff, regenerate-derived-files

Make paramiko the only file transfer path for remote hosts
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Add IO reset tests and reorder helpers before their first usage
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff
