Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Emit retry hint when message sending fails
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-cli-docs

Replace exception-based control flow in _load_toml with None return
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff

Add deploy file controls, env var passthrough, and upload support for schedule commands
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
Due: ruff

Fix review issues: inline import, redundant condition, log accuracy, export prefix
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add project settings support, remove hardcoded secrets, implement mng install mode detection
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Filter build artifacts from editable install staging, log direct_url parse errors
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Eliminate duplicate mng install logic, pass commands via deploy config
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
Due: ruff

Fix parent traversal bug, add test coverage for editable staging and env parsing
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/env_file.py
Due: ruff

Fix env var leaking in tests, rename test file to match module convention
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/env_file_test.py
Due: ruff

Use python-dotenv in env_file.py for consistent parsing with mng framework
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/env_file.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/env_file_test.py
  libs/mng_schedule/pyproject.toml
  uv.lock
Due: ruff

Use assert_never for exhaustive enum matching in build_mng_install_commands
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Remove empty conftest.py files from api/ and plugins/
  libs/mng/imbue/mng/api/conftest.py
  libs/mng/imbue/mng/plugins/conftest.py
Due: ruff

Catch BaseMngError (not just MngError) in send_message_to_agent
  libs/mng/imbue/mng/api/message.py
Due: ruff

Allow loguru import in pre_readers, reuse git_utils
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff

Move PROFILES_DIRNAME and ROOT_CONFIG_FILENAME to config/consts.py
  libs/mng/imbue/mng/config/consts.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/pre_readers.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/providers/local/instance_test.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff

Deduplicate config path construction and TOML loading
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff, regenerate-cli-docs

Fix test names mangled by replace_all
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff

Fix retry hint: always include message, pass through options
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-cli-docs

Fix pre-existing testget_or_create_profile_dir_ test name typos
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff

Catch BaseMngError instead of MngError in concurrent message sends
  libs/mng/imbue/mng/api/message.py
  libs/mng/imbue/mng/api/message_test.py
Due: ruff

code-guardian: inconsistency report 2026-02-24
  _tasks/inconsistencies/2026-02-24-11-06-50.md
Due: none

Use 'projects' instead of 'worktrees' for remote copy work dirs
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/test_host.py
Due: ruff

Remove unused repo_root parameter, quote pass-env values for dotenv safety
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add fixme
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Pass repo_root through get_files_for_deploy hook instead of using cwd
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Use Google mirror for Docker Hub pulls in CI to avoid rate limits
  .github/workflows/ci.yml
Due: none

Use make_tar_of_repo for editable installs, separate Docker layer for mng source
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix weird reversion
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Update get_files_for_deploy to include correct files for deployment
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/providers/docker/backend.py
  libs/mng/imbue/mng/providers/docker/backend_test.py
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/backend_test.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
Due: ruff

Ensure system deps and uv are installed before mng in schedule deploy
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Deduplicate provider profile collection and provision() file logic
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/providers/deploy_utils.py
  libs/mng/imbue/mng/providers/docker/backend.py
  libs/mng/imbue/mng/providers/modal/backend.py
Due: ruff

Fix UnboundLocalError: move detect_dockerfile_user after dockerfile_path assignment
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Minor fixes and doc updates and fixmes
  libs/mng/README.md
  libs/mng/docs/concepts/plugins.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Add interactive tutor command
  libs/mng_tutor/conftest.py
  libs/mng_tutor/imbue/mng_tutor/__init__.py
  libs/mng_tutor/imbue/mng_tutor/checks.py
  libs/mng_tutor/imbue/mng_tutor/checks_test.py
  libs/mng_tutor/imbue/mng_tutor/cli.py
  libs/mng_tutor/imbue/mng_tutor/conftest.py
  libs/mng_tutor/imbue/mng_tutor/data_types.py
  libs/mng_tutor/imbue/mng_tutor/data_types_test.py
  libs/mng_tutor/imbue/mng_tutor/lessons.py
  libs/mng_tutor/imbue/mng_tutor/lessons_test.py
  libs/mng_tutor/imbue/mng_tutor/plugin.py
  libs/mng_tutor/imbue/mng_tutor/tui.py
  libs/mng_tutor/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Use normal text for future steps, bold current, q goes back
  libs/mng/imbue/mng/cli/tutor/command.py
  libs/mng/imbue/mng/cli/tutor/tui.py
Due: ruff, regenerate-cli-docs

Move tutor from external plugin to builtin command
  libs/mng/imbue/mng/cli/tutor/__init__.py
  libs/mng/imbue/mng/cli/tutor/checks.py
  libs/mng/imbue/mng/cli/tutor/checks_test.py
  libs/mng/imbue/mng/cli/tutor/command.py
  libs/mng/imbue/mng/cli/tutor/data_types.py
  libs/mng/imbue/mng/cli/tutor/data_types_test.py
  libs/mng/imbue/mng/cli/tutor/lessons.py
  libs/mng/imbue/mng/cli/tutor/lessons_test.py
  libs/mng/imbue/mng/cli/tutor/tui.py
  libs/mng/imbue/mng/main.py
  libs/mng_tutor/conftest.py
  libs/mng_tutor/imbue/mng_tutor/conftest.py
  libs/mng_tutor/imbue/mng_tutor/plugin.py
  libs/mng_tutor/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Improve tutor UX: normal detail text, loop back, intro text
  libs/mng/imbue/mng/cli/tutor/command.py
  libs/mng/imbue/mng/cli/tutor/tui.py
Due: ruff, regenerate-cli-docs

Minor adjustment to which keys are included
  libs/mng/imbue/mng/providers/docker/backend.py
  libs/mng/imbue/mng/providers/docker/backend_test.py
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/backend_test.py
Due: ruff

Remove core source file injections from CLAUDE.md, restore explore instructions
  CLAUDE.md
  apps/changelings/CLAUDE.md
  libs/mng/CLAUDE.md
Due: none
