Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Remove module-level docstrings across codebase
  apps/claude_web_view/imbue/claude_web_view/__init__.py
  apps/claude_web_view/imbue/claude_web_view/__main__.py
  apps/claude_web_view/imbue/claude_web_view/cli.py
  apps/claude_web_view/imbue/claude_web_view/models.py
  apps/claude_web_view/imbue/claude_web_view/parser.py
  apps/claude_web_view/imbue/claude_web_view/server.py
  apps/claude_web_view/imbue/claude_web_view/watcher.py
  apps/sculptor_desktop/imbue/sculptor_desktop/main.py
  apps/sculptor_web/imbue/sculptor_web/main.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/watch_mode.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/local/backend.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/constants.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
  libs/mngr/imbue/mngr/providers/modal/ssh_utils.py
  libs/mngr/imbue/mngr/providers/ssh/backend.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr_opencode/imbue/mngr_opencode/plugin.py
Due: ruff, regenerate-cli-docs

Add missing Final annotations to module-level constants
  libs/mngr/imbue/mngr/providers/ssh/backend.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff

Add missing class docstrings and Field descriptions
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/modal/errors.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Add missing type annotations to functions and methods
  libs/concurrency_group/imbue/concurrency_group/concurrency_group.py
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff

Fix incorrect @pure decorators and add assert_never to enum switch
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/utils/editor.py
Due: ruff

Change name of key so that it would actually work
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/data_types.py
  libs/mngr/docs/core_plugins/providers/modal.md
Due: ruff

Convert NamedTuple usages to FrozenModel
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/logging.py
  libs/mngr/imbue/mngr/utils/logging_test.py
Due: ruff

Restore error handling removed by prior agent
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add --update flag, stream logs, fail on errors during deploy verification
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/add_test.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Update data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
Due: ruff

Remove pointless exception type
  apps/changelings/imbue/changelings/deploy/cron_runner.py
Due: ruff

Replace local repo copy with runtime git clone in Modal cron runner
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/deploy/remote_runner.py
Due: ruff

Distinguish imbue repo (tooling) from target repo (user's project)
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/deploy/remote_runner.py
Due: ruff

Clone target repo in remote_runner when changeling.repo is set
  apps/changelings/imbue/changelings/deploy/remote_runner.py
Due: ruff

Fix intermittent Socket is closed flake and reduce cleanup noise
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
Due: ruff

Add post-checkout hook to clean stale workspace member directories
  .pre-commit-config.yaml
Due: none

TEMP
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

TEMP for debugging
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

Even more temp debugging
  apps/changelings/imbue/changelings/deploy/deploy.py
Due: ruff

Disable debug timings for now
  apps/changelings/imbue/changelings/deploy/deploy.py
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Skip permissions prompts when running remotely
  apps/changelings/imbue/changelings/mngr_commands.py
Due: ruff

Add mngr profile selection, Modal --env flag, and user config copying
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/options.py
  apps/changelings/imbue/changelings/cli/options_test.py
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/conftest.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/pyproject.toml
Due: ruff

Enable debug
  apps/changelings/imbue/changelings/deploy/deploy.py
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Remove FIXME debugging artifacts and unnecessary 'from None'
  apps/changelings/imbue/changelings/deploy/deploy.py
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add test for --dangerously-skip-permissions in modal cron command
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Enable debugging
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Hopefully actually allows claude to start
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
Due: ruff

Simplify agents so that they might work around claude bugs
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/mngr_commands.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
Due: ruff

code-guardian: inconsistency report 2026-02-14-22-27-57
  _tasks/inconsistencies/2026-02-14-22-27-57.md
Due: none

Remove debugging and make suggestion for easier debugging in the future
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/verification.py
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Consolidate mounts, fix double-logging, add persistent Modal volume
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
Due: ruff

Add explanatory comment
  .pre-commit-config.yaml
Due: none

Add tests for profile resolution, mngr_profile roundtrip, and volume name
  apps/changelings/imbue/changelings/cli/add_test.py
  apps/changelings/imbue/changelings/config_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
Due: ruff

Theoretically add some more robustness to our CI pipeline
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
Due: ruff

Clone target repo onto persistent Modal volume with fetch optimization
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/remote_runner.py
Due: ruff

Add code-guardian inconsistency report 2026-02-14-23-35-17
  _tasks/inconsistencies/2026-02-14-23-35-17.md
Due: none

Lazily add ignores for deploy artifacts for changelings
  .gitignore
Due: none

Fix prompt for remote agent
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
Due: ruff

Add tests for run CLI and forward_output, fix monorepo coverage omits
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  pyproject.toml
Due: ruff

Fix settings and hooks
  .claude/settings.json
Due: none

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
