Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Changeling deploy cleanup: cache imbue repo on volume, add cron timezone, remove bad test
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Fix reviewer issues: proper timezone tests, is_branch param, Final annotation, docstring
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Bump timeout. Not reall sure why it took so long for modal to start the agent that time...
  apps/changelings/imbue/changelings/deploy/deploy.py
Due: ruff

Sigh. Fix up the trust dialog yet again
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Merge staging into single mount, simplify destroy, log pane on TUI timeout
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/verification.py
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

code-guardian: inconsistency report 2026-02-15
  _tasks/inconsistencies/2026-02-15-01-01-14.md
Due: none

No we should not wait until it is stopped
  apps/changelings/imbue/changelings/mngr_commands.py
Due: ruff

Add some fixmes
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Rewrite verification, fix git remote/config, convert SSH URLs to HTTPS
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Fix reviewer issues: correct docs, rename constant, remove dead code, add tests
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Fix stale docs, race condition in verification, and CLI help text
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Sigh need to await ready
  apps/changelings/imbue/changelings/mngr_commands.py
Due: ruff

Fix agent name regex to match 'Starting agent <name>' output format
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Add some more notes for the verifier
  .claude/commands/verify-branch.md
Due: none

Bump timeout for destroy because it can take a little while
  apps/changelings/imbue/changelings/deploy/verification.py
Due: ruff

Maybe this will work...
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Fix agent work_dir to use target_path instead of source_path
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

code-guardian: inconsistency report 2026-02-15
  _tasks/inconsistencies/2026-02-15-11-03-31.md
Due: none

code-guardian: inconsistency report for 2026-02-15
  _tasks/inconsistencies/2026-02-15-13-46-08.md
Due: none

Update the target path
  apps/changelings/imbue/changelings/mngr_commands.py
Due: ruff

code-guardian: inconsistency report for 2026-02-15
  _tasks/inconsistencies/2026-02-15-13-55-57.md
Due: none

Log in the agents by default, just making it a little easier on them
  apps/changelings/imbue/changelings/mngr_commands.py
Due: ruff

Remove snapshot. Was actually making cold starts worse...
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Update docstring
  libs/mngr/imbue/mngr/api/gc.py
Due: ruff

Add created_at and updated_at fields to CertifiedHostData
  libs/mngr/imbue/mngr/cli/test_gc.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Fix release test failure: only use --target-path on Modal
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/mngr_commands.py
Due: ruff

Remove dumb tests
  apps/changelings/imbue/changelings/cli/run_test.py
  libs/mngr/imbue/mngr/interfaces/provider_backend.py
Due: ruff

Make created_at/updated_at explicit, use updated_at for stop time
  libs/mngr/imbue/mngr/api/test_find.py
  libs/mngr/imbue/mngr/cli/test_gc.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff, regenerate-cli-docs

Fix test
  apps/changelings/imbue/changelings/test_run_local.py
Due: ruff

Fix GC write path to stamp updated_at, add stop time tests
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Stamp updated_at in snapshot_and_shutdown route
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Fix ValueError on closed file by using dynamic loguru sinks
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff

Add regression test for dynamic loguru sinks
  libs/mngr/imbue/mngr/utils/logging_test.py
Due: ruff

WIP. Adding logic so that we can delete old host records and prevent them from accumulating forever
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/mock_provider_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Finish old host record cleanup: fix lint/ratchet issues, add unit tests
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/gc_test.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/providers/mock_provider_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Fix acceptance test and reduce test duplication
  libs/mngr/imbue/mngr/api/gc_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add fixme
  libs/mngr/imbue/mngr/cli/exec.py
Due: ruff, regenerate-cli-docs

Address reviewer feedback: cleanup safety, code reuse, docstring
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/gc_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add missing datetime and timezone imports to modal instance_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Update .test_durations for tests moved to test_modal_instance.py
  .test_durations
Due: none
