Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Use _compute_backoff_seconds instead of inline duplicate formula
  libs/mng_mind/imbue/mng_mind/event_watcher.py
Due: ruff

Replace time.sleep with threading.Event.wait in onboarding test
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

fix(mng_recursive): pass agent_states events for all mind-labeled agents
  libs/mng_recursive/imbue/mng_recursive/watcher_common.py
Due: ruff

Regenerate code-issue-categories.md from latest vet
  .claude/agents/categories/code-issue-categories.md
Due: none

Add test_coverage exception override for test code changes
  .claude/agents/categories/code-issue-categories.md
  scripts/verify_skill_overrides.py
Due: ruff

Remove prs_loaded property, use prs_loaded_repos directly everywhere
  .autofix/config/auto-accept.md
  .autofix/issues/062a23d49.jsonl
  .autofix/issues/0c287d5a3a64a0718e5f50cda02634432623563e.jsonl
  .autofix/issues/71b7d2762.jsonl
  .autofix/issues/affa3f06f.jsonl
  .autofix/plans/0c287d5_1.md
  .autofix/plans/71b7d2762_1.md
  .autofix/plans/abf69f4f07d8693721a45e5d2ea9270f3d929975_verified.md
  .autofix/plans/affa3f06f006203ddfb536d7074a1efa1364848c_verified.md
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
Due: ruff

Revert "Fix kanpan footer wrapping in narrow terminals"
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
Due: ruff

Restore scripts/mngr_log.sh as symlink instead of regular file copy
  scripts/mngr_log.sh
Due: none

Fix state migration: use negative lookahead for all MNG_/mng replacements
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Add mng-skills plugin and marketplace for Claude Code
  .claude-plugin/marketplace.json
  plugins/mng-skills/.claude-plugin/plugin.json
  plugins/mng-skills/agents/analyze-architecture.md
  plugins/mng-skills/agents/categories
  plugins/mng-skills/agents/review-conversation.md
  plugins/mng-skills/agents/validate-diff.md
  plugins/mng-skills/agents/verify-and-fix.md
  plugins/mng-skills/commands/autofix.md
  plugins/mng-skills/commands/create-fixmes.md
  plugins/mng-skills/commands/create-github-issues-from-file.md
  plugins/mng-skills/commands/fix-something.md
  plugins/mng-skills/commands/identify-doc-code-disagreements.md
  plugins/mng-skills/commands/identify-inconsistencies.md
  plugins/mng-skills/commands/identify-outdated-docstrings.md
  plugins/mng-skills/commands/identify-style-issues.md
  plugins/mng-skills/commands/reviewer-autofix-all-issues.md
  plugins/mng-skills/commands/reviewer-autofix-disable.md
  plugins/mng-skills/commands/reviewer-autofix-enable.md
  plugins/mng-skills/commands/reviewer-autofix-ignore-minor-issues.md
  plugins/mng-skills/commands/reviewer-ci-disable.md
  plugins/mng-skills/commands/reviewer-ci-enable.md
  plugins/mng-skills/commands/reviewer-verify-conversation-disable.md
  plugins/mng-skills/commands/reviewer-verify-conversation-enable.md
  plugins/mng-skills/commands/verify-architecture.md
  plugins/mng-skills/commands/verify-conversation.md
  plugins/mng-skills/commands/wait-for-agent.md
  plugins/mng-skills/scripts/config_utils.sh
  plugins/mng-skills/scripts/export_transcript_paths.sh
  plugins/mng-skills/scripts/filter_transcript.py
  plugins/mng-skills/scripts/random_fixme.sh
  plugins/mng-skills/scripts/record_demo.sh
  plugins/mng-skills/skills/asciinema-demos
  plugins/mng-skills/skills/think-of-something-to-fix
  plugins/mng-skills/skills/writing-docs
  plugins/mng-skills/skills/writing-specs
Due: ruff

Fix shell completion docs to use --from imbue-mngr
  README.md
  libs/mngr/README.md
Due: regenerate-derived-files

Revert "Merge pull request #967 from imbue-ai/mng/vet-categories"
  .claude/agents/categories/code-issue-categories.md
  scripts/verify_skill_overrides.py
Due: ruff

Add REPLACE override actions and capture vet upstream changes as overrides
  .claude/agents/categories/code-issue-categories.md
  .claude/skills/update-vet-categories/SKILL.md
  scripts/generate_verify_skills.py
  scripts/verify_skill_overrides.py
Due: ruff

Clarify skill audience: user edits md, agent updates script
  .claude/skills/update-vet-categories/SKILL.md
Due: none

Simplify skill steps: update overrides, then verify
  .claude/skills/update-vet-categories/SKILL.md
Due: none

Clarify commit step: only the override script should change
  .claude/skills/update-vet-categories/SKILL.md
Due: none

Remove redundant override action listing from skill
  .claude/skills/update-vet-categories/SKILL.md
Due: none

Add .autofix/ to .gitignore
  .gitignore
Due: regenerate-derived-files

Fix test-results gitignore to cover symlink itself
  .gitignore
Due: regenerate-derived-files

Update module docstring to reflect REPLACE override actions
  scripts/verify_skill_overrides.py
Due: ruff

Add test ensuring all non-hidden commands have generated docs
  libs/mng/imbue/mng/cli/help_formatter_test.py
Due: ruff, regenerate-derived-files

Add missing trailing period in refactoring_needed example
  .claude/agents/categories/code-issue-categories.md
  scripts/verify_skill_overrides.py
Due: ruff

Pin vet base commit and warn on mismatch
  .claude/skills/update-vet-categories/SKILL.md
  .pre-commit-config.yaml
  scripts/generate_verify_skills.py
  scripts/vet_base_commit
Due: ruff

Remove existence check for vet_base_commit file
  scripts/generate_verify_skills.py
Due: ruff

Use model_copy_update instead of reconstructing BoardSnapshot
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Checkout pinned vet commit with proper env isolation
  scripts/generate_verify_skills.py
Due: ruff

Add error checking for source path existence batch command
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Use return codes instead of exception control flow in vet check
  scripts/generate_verify_skills.py
Due: ruff

Use realistic repo_pr_loaded mock in gh error suppression test
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
Due: ruff

Use realistic repo_pr_loaded mock in PR failure TUI test
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
Due: ruff

Warn when origin/main can't be resolved in vet repo
  scripts/generate_verify_skills.py
Due: ruff

Simplify agent_prs_loaded expression
  .autofix/config/auto-accept.md
  .autofix/issues/0c24b1021.jsonl
  .autofix/issues/32d85ee32.jsonl
  .autofix/issues/49060670a.jsonl
  .autofix/issues/bcc71d1c9.jsonl
  .autofix/issues/dc6474d56.jsonl
  .autofix/plans/0c24b1021_1.md
  .autofix/plans/32d85ee32_1.md
  .autofix/plans/49060670a_1.md
  .autofix/plans/49060670a_2.md
  .autofix/plans/bcc71d1c9_1.md
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
Due: ruff

Remove accidentally committed .autofix/ artifacts
  .autofix/config/auto-accept.md
  .autofix/issues/0c24b1021.jsonl
  .autofix/issues/32d85ee32.jsonl
  .autofix/issues/49060670a.jsonl
  .autofix/issues/bcc71d1c9.jsonl
  .autofix/issues/dc6474d56.jsonl
  .autofix/plans/0c24b1021_1.md
  .autofix/plans/32d85ee32_1.md
  .autofix/plans/49060670a_1.md
  .autofix/plans/49060670a_2.md
  .autofix/plans/bcc71d1c9_1.md
Due: none

Use Popen context manager instead of explicit try/finally
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils.py
Due: ruff

Fix silent failure of mkdir/ln in batched symlink creation
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Use gh --repo for remote-only agents instead of requiring a local cwd
  .autofix/plans/5b994eb7b52be263baf99b4c164f1efa93f08422_verified.md
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_kanpan/imbue/mng_kanpan/github.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
Due: ruff

Replace FD-count regression test with ResourceWarning-based test
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils_test.py
Due: ruff

Add test for stale symlink replacement in work_dir_extra_paths
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
