Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Add libs/zygote: framework for text-defined AI agents with inner dialog and chat threads
  libs/zygote/conftest.py
  libs/zygote/imbue/zygote/__init__.py
  libs/zygote/imbue/zygote/agent.py
  libs/zygote/imbue/zygote/agent_test.py
  libs/zygote/imbue/zygote/chat.py
  libs/zygote/imbue/zygote/chat_test.py
  libs/zygote/imbue/zygote/conftest.py
  libs/zygote/imbue/zygote/data_types.py
  libs/zygote/imbue/zygote/data_types_test.py
  libs/zygote/imbue/zygote/errors.py
  libs/zygote/imbue/zygote/inner_dialog.py
  libs/zygote/imbue/zygote/inner_dialog_test.py
  libs/zygote/imbue/zygote/primitives.py
  libs/zygote/imbue/zygote/primitives_test.py
  libs/zygote/imbue/zygote/prompts.py
  libs/zygote/imbue/zygote/prompts_test.py
  libs/zygote/imbue/zygote/tools.py
  libs/zygote/imbue/zygote/tools_test.py
  libs/zygote/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Only clean up clone directory during pre-deployment failures
  apps/changelings/imbue/changelings/cli/deploy.py
Due: ruff

Update design.md and user_story.md for new git-clone-based deploy syntax
  apps/changelings/docs/design.md
  apps/changelings/docs/user_story.md
Due: none

Address reviewer feedback for zygote library
  libs/zygote/README.md
  libs/zygote/imbue/zygote/agent.py
  libs/zygote/imbue/zygote/agent_test.py
  libs/zygote/imbue/zygote/chat.py
  libs/zygote/imbue/zygote/chat_test.py
  libs/zygote/imbue/zygote/conftest.py
  libs/zygote/imbue/zygote/data_types_test.py
  libs/zygote/imbue/zygote/inner_dialog.py
  libs/zygote/imbue/zygote/inner_dialog_test.py
  libs/zygote/imbue/zygote/tools.py
  libs/zygote/imbue/zygote/tools_test.py
Due: ruff

Fix inner dialog sending to same thread causing chat response crash
  libs/zygote/README.md
  libs/zygote/imbue/zygote/agent.py
  libs/zygote/imbue/zygote/agent_test.py
Due: ruff

Fix posix_spawn stale env bug by explicitly passing os.environ.copy()
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils.py
Due: ruff

Address reviewer round 3: interfaces, type safety, and input validation
  libs/zygote/imbue/zygote/agent.py
  libs/zygote/imbue/zygote/agent_test.py
  libs/zygote/imbue/zygote/chat.py
  libs/zygote/imbue/zygote/conftest.py
  libs/zygote/imbue/zygote/data_types.py
  libs/zygote/imbue/zygote/data_types_test.py
  libs/zygote/imbue/zygote/inner_dialog.py
  libs/zygote/imbue/zygote/interfaces.py
  libs/zygote/imbue/zygote/tools.py
Due: ruff

Add explicit ignore_imports for config-layer test violations
  pyproject.toml
Due: none

Address reviewer round 4: typed messages, proper field types, README fix
  libs/zygote/README.md
  libs/zygote/imbue/zygote/agent.py
  libs/zygote/imbue/zygote/agent_test.py
  libs/zygote/imbue/zygote/data_types.py
  libs/zygote/imbue/zygote/data_types_test.py
  libs/zygote/imbue/zygote/inner_dialog.py
  libs/zygote/imbue/zygote/inner_dialog_test.py
  libs/zygote/imbue/zygote/interfaces.py
Due: ruff

Convert zygote test files from class-based to standalone functions
  libs/zygote/imbue/zygote/agent_test.py
  libs/zygote/imbue/zygote/chat_test.py
  libs/zygote/imbue/zygote/data_types_test.py
  libs/zygote/imbue/zygote/inner_dialog_test.py
  libs/zygote/imbue/zygote/primitives_test.py
  libs/zygote/imbue/zygote/prompts_test.py
  libs/zygote/imbue/zygote/tools_test.py
Due: ruff

Clone to ~/.changelings/clones/ instead of /tmp/, simplify clone API
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/config/data_types.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/deployment/local_test.py
Due: ruff

Address reviewer round 5: remove test classes, document async exception
  libs/zygote/imbue/zygote/agent.py
  libs/zygote/pyproject.toml
  libs/zygote/style_guide.md
  uv.lock
Due: ruff

Remove skip_must_use_check now that posix_spawn env bug is fixed
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff

Fix streaming list warnings breaking ANSI rendering with long messages
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
Due: ruff, regenerate-derived-files

Improve regression test to verify cursor-up value, not just text position
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Remove duplicate @pytest.mark.rsync decorator
  libs/mng/imbue/mng/api/test_pull.py
Due: ruff

Add --branch option to changeling deploy for specifying git branch
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/primitives.py
Due: ruff

Move single-word command name test from loader_test to aliases_test
  libs/mng/imbue/mng/aliases_test.py
  libs/mng/imbue/mng/config/loader_test.py
  pyproject.toml
Due: ruff

Move completion cache from temp directory to ~/.mng
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-derived-files

Extract read_default_host_dir() helper for host-dir resolution
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff, regenerate-derived-files

Fix UnisonSyncer.is_running to require actual unison initialization
  libs/mng_pair/imbue/mng_pair/api.py
Due: ruff

Strip trailing whitespace from streaming list output rows
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Move read_default_host_dir() to its own stdlib-only module
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/config/host_dir.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff, regenerate-derived-files

Add missing resource marks caught by CI
  libs/mng/imbue/mng/api/test_sync_acceptance.py
  libs/mng/imbue/mng/hosts/test_host.py
Due: ruff

Remove @pytest.mark.tmux from sync acceptance tests
  libs/mng/imbue/mng/api/test_sync_acceptance.py
Due: ruff

Recompute warning visual line count on each agent callback
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Set guard env vars during setup phase so fixtures capture them
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Hard-wrap warnings to prevent eaten agent lines on terminal resize
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
Due: ruff, regenerate-derived-files

Remove unnecessary else: pass (ratchet only flags if/elif chains)
  libs/mng/imbue/mng/utils/terminal.py
Due: ruff

Drop git from guarded resources
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/api/test_pull.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/api/test_sync_acceptance.py
  libs/mng/imbue/mng/cli/default_command_group_test.py
  libs/mng/imbue/mng/cli/test_completion.py
  libs/mng/imbue/mng/cli/test_config.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/cli/test_plugin.py
  libs/mng/imbue/mng/config/pre_readers_test.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/utils/git_utils_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_pair/imbue/mng_pair/api_test.py
  libs/mng_pair/imbue/mng_pair/test_api.py
  libs/mng_schedule/imbue/mng_schedule/git_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff, regenerate-derived-files

Remove git mark definition
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Remove stale git mark reference from docstring
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Bump if/elif ratchet for AST false positive in hard_wrap_for_terminal
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Reorder else body to avoid AST false positive, restore ratchet to 0
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Restore bare pytestmark in ratchet test files
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Remove speculative guard-dir skip in _resolve_real_binary
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Replace _resolve_real_binary with shutil.which
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Collapse duplicate newline/carriage-return branches in hard_wrap
  libs/mng/imbue/mng/utils/terminal.py
Due: ruff

Refactor hard_wrap to use tokenizer and line-based structure
  libs/mng/imbue/mng/utils/terminal.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
