Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Use shared make_test_agent_info helper in cleanup tests
  libs/mngr/imbue/mngr/cli/cleanup_test.py
Due: ruff, regenerate-cli-docs

Extract _get_selected_providers to shared get_selected_providers
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/cli/enforce.py
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Raise AgentNotFoundOnHostError when agent missing during limit apply
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Add FileNotFoundError inheritance and user_help_text to TranscriptNotFoundError
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Replace MagicMock with FakeHost/FakeAgent in exec API tests
  libs/mngr/imbue/mngr/api/exec_test.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
Due: ruff

Remove duplicate format_size test coverage in output_helpers_test.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
Due: ruff, regenerate-cli-docs

Interpret escape sequences in --format-template
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add [future] tags to unimplemented features in open.md documentation
  libs/mngr/docs/commands/primary/open.md
Due: regenerate-cli-docs

Remove unnecessary create_test_agent wrapper in base_agent_test.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
Due: ruff

Use idiomatic AgentId.generate() in create_test_base_agent
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix variable reassignment in _parse_selection
  libs/mngr/imbue/mngr/cli/cleanup.py
Due: ruff, regenerate-cli-docs

Refine subprocess ratchet: exclude test files, add os.spawn/fork, drop bare import
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Use match/assert_never for ErrorBehavior enum in handle_error_with_behavior
  libs/mngr/imbue/mngr/utils/error_handling.py
Due: ruff

Add assert_never to HostState match in _enforce_host
  libs/mngr/imbue/mngr/api/enforce.py
Due: ruff

Auto-generate provision.md docs instead of manual authoring
  libs/mngr/docs/commands/secondary/provision.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Import _is_test_file from ratchets.py instead of duplicating it
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Implement mngr plugin list command
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Minor fix
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Add Final annotation to DEFAULT_FIELDS constant
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Move inline import to top-level in plugin_test.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Add 30 Q&A examples to ask command prompts
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Remove [future] tag from mngr plugin list in docs
  libs/mngr/docs/concepts/plugins.md
Due: none

Add ConcurrencyGroupExecutor and use it in modal provider
  libs/concurrency_group/imbue/concurrency_group/concurrency_group.py
  libs/concurrency_group/imbue/concurrency_group/executor.py
  libs/concurrency_group/imbue/concurrency_group/executor_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Make rename idempotent by reordering operations
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/imbue/mngr/cli/rename.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff, regenerate-cli-docs

Add ratchets for unittest.mock and monkeypatch.setattr usage
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  scripts/style_guide.py
  style_guide.md
Due: ruff

Add --bootstrap and --destroy-on-fail [future] options to provision command
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/imbue/mngr/cli/provision.py
Due: ruff, regenerate-cli-docs

Minor update
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Replace MagicMock with real local agents in exec API tests
  libs/mngr/imbue/mngr/api/exec_test.py
Due: ruff

Fix snapshot docs to match CLI implementation
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/docs/concepts/snapshot.md
Due: regenerate-cli-docs

Replace all manual thread tracking with ConcurrencyGroupExecutor
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add release test for --cidr-allowlist network restriction
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Eliminate variable reassignment in schedule helpers
  libs/mngr/imbue/mngr/api/schedule.py
Due: ruff

Remove autofix plan artifacts from repository
  .autofix/plans/1.md
  .autofix/plans/2.md
  .autofix/plans/3.md
Due: none

Remove redundant None checks and fix trailing comment violations
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Add [future] markers, --dry-run, and positional args to snapshot docs
  libs/mngr/docs/commands/secondary/snapshot.md
Due: regenerate-cli-docs

Auto-generate plugin.md docs to match implementation
  libs/mngr/docs/commands/secondary/plugin.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Implement mngr bootstrap command for AI-assisted Dockerfile generation
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
  libs/mngr/imbue/mngr/cli/bootstrap.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
  libs/mngr/imbue/mngr/cli/claude_backend.py
  libs/mngr/imbue/mngr/cli/claude_backend_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Use Sequence instead of list for _save_schedules input parameter
  libs/mngr/imbue/mngr/api/schedule.py
Due: ruff

Add unit tests for handle_error_with_behavior utility
  libs/mngr/imbue/mngr/utils/error_handling_test.py
Due: ruff

Add unit tests for get_selected_providers utility
  libs/mngr/imbue/mngr/api/providers_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
