Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Skip ensure-clean check when --base-branch is specified
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Fix more doc inaccuracies, make snapshot list accept mixed identifiers
  libs/mngr/README.md
  libs/mngr/docs/architecture.md
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/docs/concepts/agent_types.md
  libs/mngr/docs/concepts/api.md
  libs/mngr/docs/concepts/provider_backends.md
  libs/mngr/docs/core_plugins/providers/docker.md
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/tutorials/mega_tutorial.sh
Due: ruff, regenerate-cli-docs

Fix CLI help output going to stderr instead of stdout
  libs/mngr/imbue/mngr/cli/aliases_test.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix api.md: correct before/after descriptions, add missing lifecycle hooks
  libs/mngr/docs/concepts/api.md
Due: none

Fix failing test_subgroup_no_args_writes_to_stdout test
  libs/mngr/imbue/mngr/cli/aliases_test.py
Due: ruff, regenerate-cli-docs

Fix type errors in test_plugin_cli_options.py
  libs/mngr/imbue/mngr/cli/test_plugin_cli_options.py
Due: ruff, regenerate-cli-docs

Update test to match new no-args help behavior
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
Due: ruff, regenerate-cli-docs

Simplify provider_backends.md custom backend description
  libs/mngr/docs/concepts/provider_backends.md
Due: none

Fix stale AliasAwareGroup docstring
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Revert "Fix stale AliasAwareGroup docstring"
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Revert "Update test to match new no-args help behavior"
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
Due: ruff, regenerate-cli-docs

Remove pair from architecture.md responsibilities list
  libs/mngr/docs/architecture.md
Due: none

Fix README shared-host example: drop redundant --in modal on second call
  libs/mngr/README.md
Due: none

Drop unnecessary Wikipedia link on 'processes' in README
  libs/mngr/README.md
Due: none

Fix no-args help to stdout only when default command is disabled
  libs/mngr/imbue/mngr/cli/aliases_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Hide [future] features from README, replace overstated claims
  libs/mngr/README.md
Due: none

Restore placeholder links for future features in README
  libs/mngr/README.md
Due: none

Replace orphaned message example with exec in composable section
  libs/mngr/README.md
Due: none

Fix README: default provider is local, not Modal
  libs/mngr/README.md
Due: none

Hide empty Learning more section, comment out URL claim, fix punctuation
  libs/mngr/README.md
Due: none

Use provider's default_host_name instead of generating one for local
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff, regenerate-cli-docs

Move host name resolution from CLI to API layer
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Mark User Input Tracking as [future] in idle_detection.md
  libs/mngr/docs/concepts/idle_detection.md
Due: none

Set explicit tmux window size for detached sessions
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Simplify host name parsing in CLI create command
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Inline parsed_host_name into NewHostOptions constructor
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Replace default_host_name property with generate_host_name method
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Rename generate_host_name method to get_host_name
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Revert "Set explicit tmux window size for detached sessions"
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Reapply "Set explicit tmux window size for detached sessions"
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Add --await-ready to timing examples in README
  libs/mngr/README.md
Due: none

Align uv.lock with main to fix acceptance test flakes
  uv.lock
Due: none

Split publish workflow into per-package steps
  .github/workflows/publish.yml
Due: none

Remove unit tests that couldn't reproduce the pane-shrink bug
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Fix SSH known_hosts cache invalidation for pyinfra 3.6.1
  libs/mngr/imbue/mngr/providers/ssh_utils.py
  uv.lock
Due: ruff

Fix fixture ordering bug in claude_test_env
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Add contents:read permission to publish workflow
  .github/workflows/publish.yml
Due: none

Revert "Fix fixture ordering bug in claude_test_env"
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Update comment to reflect actual root cause of pane-shrink bug
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Revert publish workflow to single publish step
  .github/workflows/publish.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
