Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Consolidate binary resource guards into register_mng_sdk_guards
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Skip provider queries entirely on cache hit for identifier lookups
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/utils/agent_cache.py
  libs/mng/imbue/mng/utils/agent_cache_test.py
Due: ruff

Fix third round of reviewer issues
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
Due: ruff

Rename sdk_guards -> register_guards since it registers all guard types
  apps/changelings/conftest.py
  conftest.py
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/mng/conftest.py
  libs/mng/imbue/mng/register_guards.py
  libs/mng/imbue/mng/register_guards_test.py
  libs/mng_pair/conftest.py
  libs/mng_schedule/conftest.py
  libs/mng_tutor/conftest.py
Due: ruff

Rename AgentMatch -> AgentSummary, CachedAgentEntry -> AgentSummaryUntyped
  libs/mng/imbue/mng/api/exec.py
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/utils/agent_cache.py
Due: ruff, regenerate-derived-files

Fix fourth round of reviewer issues
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Fix fifth round of reviewer issues
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
Due: ruff

Fix testing style violations per style guide
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Relax source directory detection to not require docs/
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Only suppress ConcurrencyExceptionGroup on Ctrl+C, not on real failures
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Fix user-reported issues: chat JSON handling, memory linking, README
  libs/mng_claude_zygote/README.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/memory_linker.sh
Due: ruff

Fix tilde expansion bug in link_memory_directory
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Simple changes
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
Due: ruff

Add some fixmes
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
Due: none

Fix all FIXMEs in chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
Due: ruff

Add comprehensive logging to all changeling scripts
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
Due: ruff

Remove arbitrary 15s timeout from extra_context_tool mng list call
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
Due: ruff

Add two-threshold timeout pattern to style guide and provisioning
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  style_guide.md
Due: ruff

Fix _execute_with_timing return type and collapsed lines
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  style_guide.md
Due: ruff

Fix style guide structure: move Timeouts after Try/except content
  style_guide.md
Due: none

Fix flaky test_tunnel_accept_loop_forwards_connections
  apps/changelings/imbue/changelings/forwarding_server/ssh_tunnel_test.py
Due: ruff

Fix flaky ssh_tunnel test: wait for socket to be connectable
  apps/changelings/imbue/changelings/forwarding_server/ssh_tunnel_test.py
Due: ruff

Remove silly example
  style_guide.md
Due: none

Refactor event logging to consistent envelope and directory structure
  libs/mng_claude_zygote/README.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  style_guide.md
Due: ruff

Fix conversation_watcher.sh to use 'uv run python3' instead of bare python3
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
Due: none

Fix stale docstring, add Final annotations, log sqlite3 errors
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
Due: ruff

Unify _format_events between tool scripts with documented duplication
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
Due: ruff

Abstract and add fixme
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
Due: ruff

Update docs
  style_guide.md
Due: none

Update docs
  libs/mng_claude_zygote/README.md
Due: none

Extract EventEnvelope base class, split event sources, fix transcript path
  libs/imbue_common/imbue/imbue_common/event_envelope.py
  libs/imbue_common/imbue/imbue_common/event_envelope_test.py
  libs/mng/imbue/mng/interfaces/volume_test.py
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng_claude_zygote/README.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
Due: ruff

Fix context_tool.py to read from all trigger event sources
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
Due: ruff

Change how we're running scripts to be a little less silly
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
Due: ruff

Update conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Move mng-specific markers to root conftest via register_marker API
  conftest.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Check mng availability during provisioning, make context tool incremental
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
Due: ruff

Fix duplicated _FakePM and add behavioral context_tool tests
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

draft of high-level verify architecture skill
  .claude/commands/verify-architecture.md
Due: none

Rewrite gather_context to read backwards from EOF instead of loading entire files
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
Due: ruff

Deduplicate module-loading boilerplate in context_tool tests
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff
