Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Use conventional sleep 1000 for test dummy command
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
Due: ruff

Remove module-level docstrings from mng_notifications .py files
  libs/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/config_test.py
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/mock_notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/plugin_test.py
  libs/mng_notifications/imbue/mng_notifications/terminals_test.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Remove module-level docstrings, fix lambda kwargs in testing.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
Due: ruff

Always generate settings.json for local per-agent config dirs
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Update plan doc to reflect HOST_SSH_INFO event approach
  apps/changelings/docs/remove-mng-list-json-fallback.md
Due: none

Revert forced skipDangerousModePermissionPrompt on local hosts
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix chat.sh to parse conversation ID from llm output
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
Due: none

Use tmux load-buffer/paste-buffer for long messages to avoid "command too long" error
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Fix race condition in long message temp files and deduplicate threshold constant
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Move LONG_MESSAGE_THRESHOLD to hosts/tmux.py to avoid bidirectional dependency
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/tmux.py
Due: ruff

Add @pure decorator to _build_tmux_send_literal_steps
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Write full discovery snapshot as side effect of unfiltered, error-free list
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Fix mng list crash on transient SSH failures and add regression tests
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
Due: ruff

Show clear indicator when PR data wasn't loaded
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Skip retry for HostAuthenticationError (auth failures are not transient)
  libs/mng/imbue/mng/api/list.py
Due: ruff

Add refresh cooldown to kanpan to rate-limit automatic and manual refreshes
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Deduplicate deferred refreshes so only one pending alarm exists at a time
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Use MNG_AGENT_NAME instead of MNG_AGENT_NAME_FOR_NOTIFICATIONS_PLUGIN
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/config.py
  libs/mng_notifications/imbue/mng_notifications/config_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Apply ruff formatting from merge pre-commit hook
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/base_agent_test.py
Due: ruff

Add tests for TUI display on first-load PR failure
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
Due: ruff

Clean up changeling servers: remove agent-tmux ttyd, improve web server navigation
  apps/changelings/imbue/changelings/forwarding_server/app.py
  apps/changelings/imbue/changelings/forwarding_server/test_forwarding_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/agent_tmux_handler.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/web_server_test.py
Due: ruff

Add conversation tags and create daily conversation on provisioning
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
Due: ruff

Fix pre-existing missing provider field in MessageCliOptions test instances
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-derived-files

Rename misleading test to match new redirect behavior
  apps/changelings/imbue/changelings/forwarding_server/test_forwarding_server.py
Due: ruff

Fix llm inject: let it create conversations instead of passing --cid
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Re-add provider=() to MessageCliOptions lost during merge
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-derived-files

Add proper event envelope to server records; move claude_transcript to logs/
  apps/changelings/examples/hello-world/server.py
  libs/mng/imbue/mng/interfaces/volume_test.py
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng/imbue/mng/resources/stream_transcript.sh
  libs/mng/imbue/mng/resources/stream_transcript_test.py
  libs/mng_claude_zygote/README.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/thinking/skills/get-event-type-info/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/thinking/skills/list-event-types/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_ratchets.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin_test.py
Due: ruff

Fix event_id hash input consistency across server record writers
  libs/mng_ttyd/imbue/mng_ttyd/plugin.py
Due: ruff

Fix LLM_USER_PATH overwritten by host env and hide internal conversations
  libs/mng/imbue/mng/hosts/host.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
Due: ruff

Narrow exception catch to avoid bumping broad_exception_catch ratchet
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
Due: ruff

Fix inverted is_stderr/is_stdout in stream output callbacks
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
Due: ruff

Update base_agent.py
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Embed chat and terminal views in iframes with persistent navigation header
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/web_server_test.py
Due: ruff

Change mng default command from 'create' to empty (show help)
  README.md
  libs/mng/README.md
  libs/mng/docs/customization.md
  libs/mng/imbue/mng/cli/default_command_group.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/config/pre_readers.py
  libs/mng/imbue/mng/config/pre_readers_test.py
  libs/mng/imbue/mng/default_command_group_test.py
  libs/mng/imbue/mng/main.py
  libs/mng/tutorials/mega_tutorial.sh
Due: ruff, regenerate-derived-files

Add coverage tracking for llm_matched_responses, fix description and logging
  apps/changelings/imbue/changelings/testing.py
  libs/mng_test_coder/pyproject.toml
  pyproject.toml
Due: ruff

Add slack_exporter app for exporting Slack messages via latchkey
  apps/slack_exporter/README.md
  apps/slack_exporter/conftest.py
  apps/slack_exporter/imbue/slack_exporter/__init__.py
  apps/slack_exporter/imbue/slack_exporter/channels.py
  apps/slack_exporter/imbue/slack_exporter/channels_test.py
  apps/slack_exporter/imbue/slack_exporter/data_types.py
  apps/slack_exporter/imbue/slack_exporter/errors.py
  apps/slack_exporter/imbue/slack_exporter/exporter.py
  apps/slack_exporter/imbue/slack_exporter/latchkey.py
  apps/slack_exporter/imbue/slack_exporter/latchkey_test.py
  apps/slack_exporter/imbue/slack_exporter/main.py
  apps/slack_exporter/imbue/slack_exporter/main_test.py
  apps/slack_exporter/imbue/slack_exporter/primitives.py
  apps/slack_exporter/imbue/slack_exporter/store.py
  apps/slack_exporter/imbue/slack_exporter/store_test.py
  apps/slack_exporter/imbue/slack_exporter/test_ratchets.py
  apps/slack_exporter/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Fix reviewer issues: deduplicate cursor extraction, add exporter tests, cleanup
  apps/slack_exporter/imbue/slack_exporter/channels.py
  apps/slack_exporter/imbue/slack_exporter/channels_test.py
  apps/slack_exporter/imbue/slack_exporter/errors.py
  apps/slack_exporter/imbue/slack_exporter/exporter.py
  apps/slack_exporter/imbue/slack_exporter/exporter_test.py
  apps/slack_exporter/imbue/slack_exporter/latchkey.py
  apps/slack_exporter/imbue/slack_exporter/latchkey_test.py
  apps/slack_exporter/imbue/slack_exporter/main_test.py
  apps/slack_exporter/imbue/slack_exporter/store.py
  apps/slack_exporter/imbue/slack_exporter/store_test.py
  apps/slack_exporter/imbue/slack_exporter/test_ratchets.py
Due: ruff

Synthesize final ARCHITECTURE.md from 6 independent exploration reports
  ARCHITECTURE.md
Due: none

Remove unittest.mock, use dependency injection for SlackApiCaller
  apps/slack_exporter/imbue/slack_exporter/channels.py
  apps/slack_exporter/imbue/slack_exporter/channels_test.py
  apps/slack_exporter/imbue/slack_exporter/data_types.py
  apps/slack_exporter/imbue/slack_exporter/exporter.py
  apps/slack_exporter/imbue/slack_exporter/exporter_test.py
  apps/slack_exporter/imbue/slack_exporter/latchkey_test.py
  apps/slack_exporter/imbue/slack_exporter/main.py
  apps/slack_exporter/imbue/slack_exporter/store_test.py
  apps/slack_exporter/imbue/slack_exporter/test_ratchets.py
  apps/slack_exporter/imbue/slack_exporter/testing.py
Due: ruff

Fix type checker reference: ty, not pyright
  ARCHITECTURE.md
Due: none

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
