Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Merge remote tracking branch before pushing in stop hook
  scripts/main_claude_stop_hook.sh
Due: none

Use case-insensitive comparison for local provider name check
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff

Move tomllib import to top of file to fix inline import ratchet
  libs/mngr/imbue/mngr/e2e/conftest.py
Due: ruff

Show logs when building
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
Due: ruff

Remove unused llm-webchat dependency from mngr_recursive
  libs/mngr_recursive/pyproject.toml
  uv.lock
Due: none

Rename misleading test to reflect new incremental event handling
  apps/minds/imbue/minds/forwarding_server/backend_resolver_test.py
Due: ruff

Remove the mngr stop example from the filter page.
  libs/mngr/imbue/mngr/cli/help.py
Due: ruff

Add .reviewer/ to .gitignore
  .gitignore
Due: regenerate-derived-files

Show clean error on config TOML syntax errors instead of stack trace
  libs/mngr/imbue/mngr/main.py
Due: ruff

Batch kanpan delete operations into a single mngr destroy call
  libs/mngr_kanpan/imbue/mngr_kanpan/tui.py
  libs/mngr_kanpan/imbue/mngr_kanpan/tui_test.py
Due: ruff

Fix schedule cleanup NameError and add sqlite3 to Dockerfile
  libs/mngr_schedule/imbue/mngr_schedule/test_schedule_add.py
Due: ruff

Scope image.build to fresh-build path and disambiguate log span names
  libs/mngr_modal/imbue/mngr_modal/instance.py
Due: ruff

Enable offload acceptance tests in CI and print failure logs
  .github/workflows/test-offload-acceptance.yml
Due: none

lint
  .mngr/settings.toml
  apps/minds/imbue/minds/forwarding_server/backend_resolver.py
  apps/minds/imbue/minds/forwarding_server/backend_resolver_test.py
  apps/minds/imbue/minds/forwarding_server/mngr_settings_test.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/events.py
  libs/mngr/imbue/mngr/cli/list_watch_test.py
  libs/mngr/imbue/mngr/interfaces/provider_instance_test.py
  libs/mngr_claude/imbue/mngr_claude/claude_config.py
  libs/mngr_claude_mind/imbue/mngr_claude_mind/provisioning_test.py
  libs/mngr_llm/imbue/mngr_llm/conftest.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_agents.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_default_model.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_greeting.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_greeting_test.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_injected_messages.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_register_conversations.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_register_conversations_test.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_system_prompt.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_server.py
  libs/mngr_mind/imbue/mngr_mind/event_watcher_test.py
  libs/mngr_recursive/imbue/mngr_recursive/watcher_common_test.py
Due: ruff

Move --target-path /code/ to local docker mode only
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
Due: ruff

Add diagnostic logging to test_create_modal_no_connect_message on failure
  .offload-image-cache
  libs/mngr/imbue/mngr/e2e/test_create_modal.py
Due: ruff

Revert "Update remaining 'recommended' references to 'available' in plugin wizard"
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin_install_wizard.py
Due: ruff

Update remaining 'recommended' references to 'available'
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin_install_wizard.py
Due: ruff

Use timestamp-based test environment names for cleanup compatibility
  libs/mngr/imbue/mngr/e2e/conftest.py
Due: ruff

Rename _build_modal_image to _get_modal_image_definition
  libs/mngr_modal/imbue/mngr_modal/instance.py
  libs/mngr_modal/imbue/mngr_modal/testing_provider_test.py
Due: ruff

Set PYTEST_MAX_DURATION_SECONDS=900 for offload release tests
  justfile
Due: none

Always set lock deadline in pytest global lock file
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks_test.py
Due: ruff

Remove non-existent --await-ready flag from schedule test args
  libs/mngr_schedule/imbue/mngr_schedule/test_schedule_add.py
Due: ruff

Fix marimo gitignore patterns to use **/ instead of /
  .dockerignore
  .gitignore
Due: regenerate-derived-files

Defer file collection in get_files_for_deploy to avoid unnecessary I/O
  libs/mngr_claude/imbue/mngr_claude/plugin.py
Due: ruff

Set mngr_test- prefix in schedule test subprocess env
  libs/mngr_schedule/imbue/mngr_schedule/test_schedule_add.py
Due: ruff

Clarify diff validation: stop on any changes you didn't make
  plugins/imbue-code-review/agents/validate-diff.md
  plugins/imbue-code-review/skills/autofix/SKILL.md
  plugins/imbue-code-review/skills/verify-architecture/SKILL.md
Due: none

Add integration tests for CLI coverage gaps
  libs/mngr/imbue/mngr/cli/help_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/test_destroy.py
Due: ruff

Add allow_uv_network fixture for install tests
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/e2e/test_install.py
Due: ruff

Simplify generate_dockerignore transform_line
  scripts/generate_dockerignore.py
Due: ruff

Use pre-computed host_name in offline host error handler
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff

Add e2e tests for plugins, multi-agent, and fresh install
  libs/mngr/imbue/mngr/e2e/test_install.py
  libs/mngr/imbue/mngr/e2e/test_multi_agent.py
  libs/mngr/imbue/mngr/e2e/test_plugin.py
Due: ruff

Join leaked agent-creator threads in test_forwarding_server.py
  apps/minds/imbue/minds/forwarding_server/test_forwarding_server.py
Due: ruff

Make autofix scoping instruction concrete
  plugins/imbue-code-review/skills/autofix/SKILL.md
Due: none

Reduce Modal environment accumulation: 10 sandboxes, shared env name
  libs/mngr/imbue/mngr/e2e/conftest.py
  offload-modal-release.toml
Due: ruff

Move agent_display assignment before try block in _destroy_single_online_agent
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff

Fix misleading docstring in test_create_with_invalid_provider_name
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff

Default test plugins to BASIC tier, add plugin isolation tests
  libs/mngr/imbue/mngr/agents/test_external_plugin_loading.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/plugin_catalog.py
  libs/mngr/imbue/mngr/plugins/plugin_isolation/__init__.py
  libs/mngr/imbue/mngr/plugins/plugin_isolation/all_agent_types_test.py
  libs/mngr/imbue/mngr/plugins/plugin_isolation/conftest.py
  libs/mngr/imbue/mngr/plugins/plugin_isolation/no_plugins_test.py
  libs/mngr/imbue/mngr/plugins/plugin_isolation/single_plugin_test.py
Due: ruff

Use consistent phrasing for out-of-scope instruction across both skills
  plugins/imbue-code-review/skills/autofix/SKILL.md
Due: none

Refactor SignalCheck to use subclasses instead of string-keyed dict
  libs/mngr/imbue/mngr/cli/plugin_install_wizard.py
  libs/mngr/imbue/mngr/cli/plugin_install_wizard_test.py
  libs/mngr/imbue/mngr/plugin_catalog.py
  libs/mngr/imbue/mngr/plugin_catalog_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
