Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Change default watch polling interval from 5s to 30s
  libs/mng_notifications/imbue/mng_notifications/cli.py
Due: ruff

Remove clear_ratchet_caches to preserve LRU caches across ratchet tests
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/concurrency_group/imbue/concurrency_group/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/test_ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_ratchets.py
  libs/mng_elena_code/imbue/mng_elena_code/test_ratchets.py
  libs/mng_kanpan/imbue/mng_kanpan/test_ratchets.py
  libs/mng_opencode/imbue/mng_opencode/test_ratchets.py
  libs/mng_pair/imbue/mng_pair/test_ratchets.py
  libs/mng_recursive/imbue/mng_recursive/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/test_ratchets.py
  libs/mng_ttyd/imbue/mng_ttyd/test_ratchets.py
  libs/mng_tutor/imbue/mng_tutor/test_ratchets.py
  test_meta_ratchets.py
Due: ruff

Reduce test_ratchets.py duplication with shared standard_ratchet_checks module
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/concurrency_group/imbue/concurrency_group/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/standard_ratchet_checks.py
  libs/imbue_common/imbue/imbue_common/test_ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_ratchets.py
  libs/mng_elena_code/imbue/mng_elena_code/test_ratchets.py
  libs/mng_kanpan/imbue/mng_kanpan/test_ratchets.py
  libs/mng_opencode/imbue/mng_opencode/test_ratchets.py
  libs/mng_pair/imbue/mng_pair/test_ratchets.py
  libs/mng_recursive/imbue/mng_recursive/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/test_ratchets.py
  libs/mng_ttyd/imbue/mng_ttyd/test_ratchets.py
  libs/mng_tutor/imbue/mng_tutor/test_ratchets.py
Due: ruff

Fix get_files_for_deploy docstring to accurately describe deploy flow
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Rename marker-based methods to paste-detection for clarity
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Add ratchet tests for mng_changeling_chat plugin
  libs/mng_changeling_chat/imbue/mng_changeling_chat/test_ratchets.py
Due: ruff

Extract interactive chat args resolution into separate function
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/test_ratchets.py
Due: ruff

Fix: use full uuid4().hex in tests instead of truncated [:8]
  libs/mng/imbue/mng/api/discovery_events_test.py
Due: ruff

Add click-to-connect: terminal-notifier with configurable terminal app
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/config.py
  libs/mng_notifications/imbue/mng_notifications/config_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/plugin.py
  libs/mng_notifications/imbue/mng_notifications/plugin_test.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Update claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Rename per-agent config dir from "config" to "anthropic"
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix iTerm2 click-to-connect to use write text instead of command
  libs/mng_notifications/imbue/mng_notifications/notifier.py
Due: ruff

Scope MNG_AGENT_NAME to the custom command instead of exporting
  libs/mng_notifications/imbue/mng_notifications/notifier.py
Due: ruff

Use shlex.quote instead of custom _shell_escape
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Fix quotes-in-name test to actually verify shlex.quote escaping
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Extract terminal apps into ABC with per-terminal implementations
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/terminals.py
  libs/mng_notifications/imbue/mng_notifications/terminals_test.py
Due: ruff

Add fake_subprocess_run fixture to deduplicate test monkeypatching
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Introduce Notifier ABC with MacOSNotifier and LinuxNotifier
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/mock_notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Add acceptance test for watcher RUNNING -> WAITING detection
  libs/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
Due: ruff

Move inline import to top level in notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Log when LinuxNotifier ignores execute_command
  libs/mng_notifications/imbue/mng_notifications/notifier.py
Due: ruff

Add missing test_ratchets.py for mng-notifications
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
Due: ruff

Inform user when platform lacks notification support
  libs/mng_notifications/imbue/mng_notifications/cli.py
Due: ruff

Remove incorrect @pure annotation from build_execute_command
  libs/mng_notifications/imbue/mng_notifications/notifier.py
Due: ruff

Fix custom command $MNG_AGENT_NAME shell expansion
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Add missing else clause to if/elif chain in watch CLI
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
Due: ruff

Add selfupgrade command to upgrade mng via uv tool
  libs/mng/imbue/mng/cli/self_upgrade.py
  libs/mng/imbue/mng/cli/self_upgrade_test.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-derived-files

Fix ratchet violations and improve test coverage
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/self_upgrade.py
  libs/mng/imbue/mng/cli/self_upgrade_test.py
Due: ruff, regenerate-derived-files

Emit host events, remove safe_emit/build_discovered_agent, use real data
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/discovery_events.py
  libs/mng/imbue/mng/api/discovery_events_test.py
  libs/mng/imbue/mng/api/provision.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff, regenerate-derived-files

Source host/agent env files for API keys, add New conversation option
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api_test.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/test_ratchets.py
Due: ruff

Address review: deduplicate provider extraction, add error handling, add tests
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/discovery_events.py
  libs/mng/imbue/mng/api/provision.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/list_stream_test.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
Due: ruff, regenerate-derived-files

Add urwid dependency, extract shared env sourcing utility
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/utils/env_utils.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api_test.py
  libs/mng_changeling_chat/pyproject.toml
  uv.lock
Due: ruff

Use host interface methods, deduplicate agent state dir computation
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/testing.py
Due: ruff

Add chain-of-command tracking to mng_recursive plugin
  libs/mng_recursive/imbue/mng_recursive/plugin.py
  libs/mng_recursive/imbue/mng_recursive/plugin_test.py
Due: ruff

Use uv tool dir --bin for mng path in install.sh
  scripts/install.sh
Due: none

Polish install wizard: header text, relaunch hint, use ConcurrencyGroup
  libs/mng/imbue/mng/cli/plugin_install_wizard.py
Due: ruff, regenerate-derived-files

Fix Ctrl+C in chat sessions, move New conversation to bottom, filter by changeling label
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/test_ratchets.py
Due: ruff

Add MNG_CHAIN_OF_COMMAND docs and pytest/coverage config for mng_recursive
  libs/mng/docs/concepts/environment_variables.md
  libs/mng/docs/conventions.md
  libs/mng_recursive/pyproject.toml
Due: none

Auto-add .claude/settings.local.json to .git/info/exclude instead of failing
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent_modal.py
  libs/mng/imbue/mng/cli/test_message.py
Due: ruff, regenerate-derived-files

Emit destroyed/deleted discovery events for agents and hosts
  libs/mng/imbue/mng/api/cleanup.py
  libs/mng/imbue/mng/api/discovery_events.py
  libs/mng/imbue/mng/api/discovery_events_test.py
  libs/mng/imbue/mng/api/gc.py
  libs/mng/imbue/mng/cli/destroy.py
Due: ruff, regenerate-derived-files
