Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Reject non-homogeneous tuples and bare lists in _resolve_model_type
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Remove unnecessary ignore_imports from import-linter config
  pyproject.toml
Due: none

Gate permissive config parsing behind MNG_ALLOW_UNKNOWN_CONFIG env var
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff, regenerate-derived-files

Parse MNG_ALLOW_UNKNOWN_CONFIG properly instead of using bool()
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Simplify: base tmux isolation on global config, not per-agent state
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/api/connect.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
  libs/mng/imbue/mng/interfaces/agent.py
Due: ruff

Extract parse_bool_env utility into env_utils
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/utils/env_utils.py
  libs/mng/imbue/mng/utils/env_utils_test.py
Due: ruff

Rewrite stream_transcript.sh for robustness
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng/imbue/mng/resources/stream_transcript.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.sh
Due: ruff

Replace TMUX_TMPDIR manipulation with tmux -L for socket isolation
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/api/connect.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff, regenerate-derived-files

Fix reviewer issues: remove dead code, dedup logic, add follow-mode tests
  libs/mng/docs/commands/secondary/events.md
  libs/mng/imbue/mng/api/events.py
  libs/mng/imbue/mng/api/events_test.py
  libs/mng/imbue/mng/cli/events.py
  libs/mng/imbue/mng/cli/events_test.py
Due: ruff, regenerate-derived-files

Fix short UUID ratchet violation in stream_transcript tests
  libs/mng/imbue/mng/resources/stream_transcript_test.py
Due: ruff

No need to sync watcher script anymore, is just our own custom jank thing
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Add spec for refactoring the listing/discovery system
  libs/mng/future_specs/refactor_list.md
Due: none

Add data type naming options to listing refactor spec
  libs/mng/future_specs/refactor_list.md
Due: none

Add mng-kanpan and mng-tutor to publish workflow and release scripts
  .github/workflows/publish.yml
  libs/mng_kanpan/pyproject.toml
  libs/mng_tutor/pyproject.toml
  scripts/utils.py
Due: ruff

Rename HostReference->DiscoveredHost, AgentReference->DiscoveredAgent, HostInfo->HostDetails, AgentInfo->AgentDetails
  libs/mng/imbue/mng/api/cleanup.py
  libs/mng/imbue/mng/api/cleanup_test.py
  libs/mng/imbue/mng/api/data_types.py
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/api/find_test.py
  libs/mng/imbue/mng/api/gc.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/api/message.py
  libs/mng/imbue/mng/api/test_find.py
  libs/mng/imbue/mng/api/test_list.py
  libs/mng/imbue/mng/cli/agent_utils.py
  libs/mng/imbue/mng/cli/agent_utils_test.py
  libs/mng/imbue/mng/cli/cleanup.py
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/gc_test.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/cli/pull_test.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/offline_host.py
  libs/mng/imbue/mng/interfaces/data_types.py
  libs/mng/imbue/mng/interfaces/data_types_test.py
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/primitives.py
  libs/mng/imbue/mng/primitives_test.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_tutor/imbue/mng_tutor/checks.py
Due: ruff, regenerate-derived-files

Add --headless flag as a common CLI option to disable all interactive behavior
  libs/mng/docs/commands/generic/common.md
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/events.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  libs/mng/imbue/mng/cli/agent_utils.py
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/issue_reporting.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/message_test.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/main.py
  libs/mng/tutorials/mega_tutorial.sh
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
Due: ruff, regenerate-derived-files

Rename test helpers to match renamed types
  libs/mng/imbue/mng/api/cleanup_test.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/agent_utils_test.py
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/cli/connect_test.py
  libs/mng/imbue/mng/cli/gc_test.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/hosts/offline_host.py
  libs/mng/imbue/mng/primitives_test.py
  libs/mng/imbue/mng/utils/testing.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
Due: ruff, regenerate-derived-files

Fix missed modal provider method rename and variable names
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff, regenerate-derived-files

Fix stream_transcript.sh bash 3.2 compatibility on macOS
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  scripts/install.sh
Due: none

More updates to mega_tutorial.sh categories
  libs/mng/tutorials/mega_tutorial.sh
Due: none

Fix review issues: add tests for is_interactive param, fix error message and docstring
  libs/mng/imbue/mng/cli/agent_utils.py
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/issue_reporting_test.py
Due: ruff, regenerate-derived-files

Fix post-install bash warning for non-macOS: it is a PATH resolution issue too
  scripts/install.sh
Due: none

Remove duplicate _make_test_agent_details from cleanup_test.py
  libs/mng/imbue/mng/api/cleanup_test.py
Due: ruff

Warn that local_tmux_server_socket_name should only be changed with no agents running
  libs/mng/imbue/mng/config/data_types.py
Due: ruff

Add integration test for --headless CLI flag -> is_interactive=False path
  libs/mng/imbue/mng/cli/common_opts_test.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Simplify event_watcher to use mng events pipeline
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/event_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

oops
  benchmark_branches.sh
Due: none

Fix reviewer issues: deduplicate code, fix layers, remove dead code
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api_test.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli_test.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/conftest.py
  libs/mng_changeling_chat/pyproject.toml
Due: ruff

Add missing @pytest.mark.tmux to acceptance tests that use tmux
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
Due: ruff, regenerate-derived-files

Add missing @pytest.mark.rsync to acceptance tests
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
Due: ruff, regenerate-derived-files

Remove accidentally committed .claude/tests_outputs/ from git
  .claude/tests_outputs/coverage_779efee2db0e4750bd421d25580bd298.txt
  .claude/tests_outputs/coverage_8a72fc6e4ea84bb3882c7f4d6a2673df.txt
  .claude/tests_outputs/coverage_c9e4b8ee40ee4b15bf9b1a9c3b4606ed.txt
  .claude/tests_outputs/coverage_d27f321861fc415b885573324f83369c.txt
  .claude/tests_outputs/slow_tests_1fbfb36eb3b44b2bb8df54fcc41ec176.txt
  .claude/tests_outputs/slow_tests_29140ea07a20440a82e017156de32e8d.txt
  .claude/tests_outputs/slow_tests_4bde1d611669461fae551888fae8e9f3.txt
  .claude/tests_outputs/slow_tests_64a47de0920c434f912830a1ee18c809.txt
  .claude/tests_outputs/slow_tests_ebcb4b0fd9eb479baf725ff365bbfabe.txt
Due: none

Fix NotADirectoryError in _transfer_git_info_exclude for worktrees
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Add branch field to AgentInfo
  libs/mng/docs/commands/primary/list.md
  libs/mng/imbue/mng/api/cleanup_test.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/api/test_list.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/interfaces/data_types.py
  libs/mng/imbue/mng/primitives.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
Due: ruff, regenerate-derived-files

Remove pointless spec
  libs/mng/future_specs/refactor_list.md
Due: none

Remove incorrect @pytest.mark.rsync from modal session transfer test
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
Due: ruff

Add design doc: TUI vs CLI decision framework
  libs/mng/docs/design/tui_vs_cli.md
Due: none

Revise TUI design doc: adopt git-like explicit opt-in model
  libs/mng/docs/design/tui_vs_cli.md
Due: none

Update test docstrings to reference renamed find_project_config
  libs/mng/imbue/mng/agents/default_plugins/claude_config_test.py
Due: ruff

Add mng-notifications plugin with watch command for RUNNING -> WAITING alerts
  libs/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/__init__.py
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/plugin.py
  libs/mng_notifications/imbue/mng_notifications/plugin_test.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
  libs/mng_notifications/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff
