Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Minor doc updates:
  apps/changelings/README.md
  apps/changelings/docs/user_story.md
  apps/changelings/imbue/changelings/forwarding_server/README.md
  apps/changelings/specs/proxying.md
  apps/changelings/specs/proxying.py
Due: ruff

Add mng_ttyd plugin to launch ttyd web terminal alongside agents
  libs/mng_ttyd/imbue/mng_ttyd/__init__.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin_test.py
  libs/mng_ttyd/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Split RatchetMatchChunk: remove last_modified_date, add DatedRatchetMatchChunk
  libs/imbue_common/examples/ratchets_example.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
Due: ruff

Rename Modal's --dockerfile build arg to --file for consistency with Docker provider
  .mng/settings.toml
  README.md
  libs/mng/README.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/core_plugins/providers/modal.md
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
  libs/mng/imbue/mng/providers/modal/test_modal_instance.py
  libs/mng/tutorials/mega_tutorial.sh
Due: ruff, regenerate-derived-files

Fix flaky tmux test and Python version mismatch in venv fixture
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff, regenerate-derived-files

Remove tmux warmup session to avoid CI timeout
  libs/mng/imbue/mng/conftest.py
Due: ruff

Move inline import to top of file in plugin_test.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin_test.py
Due: ruff

Update screenshots with GitHub PR extension integration
  screenshots/commands.png
  screenshots/github-signin.png
  screenshots/pr-github-ext.png
  screenshots/sidebar.png
  screenshots/statusbar.png
Due: none

Add mng_claude_http plugin: web interface for Claude Code via --sdk-url
  libs/mng_claude_http/frontend/index.html
  libs/mng_claude_http/frontend/package-lock.json
  libs/mng_claude_http/frontend/package.json
  libs/mng_claude_http/frontend/src/App.tsx
  libs/mng_claude_http/frontend/src/components/ChatInput.tsx
  libs/mng_claude_http/frontend/src/components/Header.tsx
  libs/mng_claude_http/frontend/src/components/MarkdownContent.tsx
  libs/mng_claude_http/frontend/src/components/MessageView.tsx
  libs/mng_claude_http/frontend/src/components/ToolApprovalBanner.tsx
  libs/mng_claude_http/frontend/src/hooks/useClaudeSession.ts
  libs/mng_claude_http/frontend/src/index.css
  libs/mng_claude_http/frontend/src/main.tsx
  libs/mng_claude_http/frontend/src/types.ts
  libs/mng_claude_http/frontend/tsconfig.json
  libs/mng_claude_http/frontend/vite.config.ts
  libs/mng_claude_http/imbue/mng_claude_http/__init__.py
  libs/mng_claude_http/imbue/mng_claude_http/__main__.py
  libs/mng_claude_http/imbue/mng_claude_http/cli.py
  libs/mng_claude_http/imbue/mng_claude_http/plugin.py
  libs/mng_claude_http/imbue/mng_claude_http/plugin_test.py
  libs/mng_claude_http/imbue/mng_claude_http/primitives.py
  libs/mng_claude_http/imbue/mng_claude_http/primitives_test.py
  libs/mng_claude_http/imbue/mng_claude_http/server.py
  libs/mng_claude_http/imbue/mng_claude_http/server_test.py
  libs/mng_claude_http/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Fix review issues in mng_claude_http plugin
  libs/mng_claude_http/.gitignore
  libs/mng_claude_http/imbue/mng_claude_http/cli.py
  libs/mng_claude_http/imbue/mng_claude_http/plugin_test.py
  libs/mng_claude_http/imbue/mng_claude_http/primitives.py
  libs/mng_claude_http/imbue/mng_claude_http/primitives_test.py
  libs/mng_claude_http/imbue/mng_claude_http/server.py
  libs/mng_claude_http/imbue/mng_claude_http/server_test.py
Due: ruff

Fix CI timeout: make CLI connect timeout configurable
  libs/mng_claude_http/imbue/mng_claude_http/server.py
  libs/mng_claude_http/imbue/mng_claude_http/server_test.py
Due: ruff

Handle missing claude command in _start_claude_session
  libs/mng_claude_http/imbue/mng_claude_http/server.py
Due: ruff

Refactor tests to use standalone functions per style guide
  libs/mng_claude_http/imbue/mng_claude_http/plugin_test.py
  libs/mng_claude_http/imbue/mng_claude_http/primitives_test.py
  libs/mng_claude_http/imbue/mng_claude_http/server_test.py
Due: ruff

Fix flaky bridge test and address review issues
  libs/mng_claude_http/frontend/src/hooks/useClaudeSession.ts
  libs/mng_claude_http/imbue/mng_claude_http/server.py
  libs/mng_claude_http/imbue/mng_claude_http/server_test.py
Due: ruff

Implement changeling deploy command with local deployment support
  apps/changelings/examples/hello-world/changeling.toml
  apps/changelings/examples/hello-world/server.py
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/server.py
  apps/changelings/imbue/changelings/cli/server_test.py
  apps/changelings/imbue/changelings/config/data_types.py
  apps/changelings/imbue/changelings/config/data_types_test.py
  apps/changelings/imbue/changelings/core/zygote.py
  apps/changelings/imbue/changelings/core/zygote_test.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/deployment/local_test.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
  apps/changelings/imbue/changelings/forwarding_server/runner.py
  apps/changelings/imbue/changelings/main.py
  apps/changelings/imbue/changelings/main_test.py
Due: ruff

Fix ratchet violations in tests (trailing comments, unittest.mock)
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/core/zygote_test.py
  apps/changelings/imbue/changelings/deployment/local_test.py
Due: ruff

Update pyproject.toml
  libs/mng/pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Move config registries to config layer, remove DI callables
  libs/mng/imbue/mng/agents/agent_registry.py
  libs/mng/imbue/mng/agents/agent_registry_test.py
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/agents/test_external_plugin_loading.py
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/config/agent_config_registry.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/config/provider_config_registry.py
  libs/mng/imbue/mng/providers/registry.py
Due: ruff, regenerate-derived-files

Replace lambda: 1/0 with named error type in concurrency group tests
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Revert -nauto to -n4 in pyproject.toml (doesn't work well in CI)
  CLAUDE.md
  pyproject.toml
Due: none

Fix -n formatting to match main (-n 4 with space, not -nauto or -n4)
  apps/changelings/pyproject.toml
  libs/mng/pyproject.toml
  pyproject.toml
Due: none

Simplify -nauto CLAUDE.md note
  CLAUDE.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Move agent class registry and resolve_agent_type to config layer
  libs/mng/imbue/mng/agents/agent_registry.py
  libs/mng/imbue/mng/agents/agent_registry_test.py
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/config/agent_class_registry.py
  libs/mng/imbue/mng/config/agent_config_registry.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/interfaces/agent.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/utils/plugin_testing.py
Due: ruff, regenerate-derived-files

Add note about running only relevant tests during iteration
  CLAUDE.md
Due: none

Add @pytest.mark.tmux and @pytest.mark.git to CLI integration tests
  libs/mng/imbue/mng/cli/test_agent_utils.py
  libs/mng/imbue/mng/cli/test_cleanup.py
  libs/mng/imbue/mng/cli/test_clone.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/cli/test_list.py
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_rename.py
  libs/mng/imbue/mng/cli/test_snapshot.py
Due: ruff, regenerate-derived-files

Add @pytest.mark.git and @pytest.mark.tmux to unit test files
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/api/exec_test.py
  libs/mng/imbue/mng/api/message_test.py
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/plugins/agent_host_hooks_test.py
  libs/mng/imbue/mng/utils/git_utils_test.py
  libs/mng_pair/imbue/mng_pair/api_test.py
  libs/mng_schedule/imbue/mng_schedule/git_test.py
Due: ruff, regenerate-derived-files

Add pytest resource marks to integration test files
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/api/test_list.py
  libs/mng/imbue/mng/api/test_pull.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng_pair/imbue/mng_pair/test_api.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Remove superfluous @pytest.mark.git from 6 tests that don't invoke heavy git subcommands
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff, regenerate-derived-files

Improve git guard to skip global flags and find actual subcommand
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
Due: ruff, regenerate-derived-files

Fix git guard flag-skipping, disable unreliable must-use enforcement
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Add code-guardian inconsistency report
  _tasks/inconsistencies/2026-02-27-11-04-24.md
Due: none

code-guardian: inconsistency report 2026-02-27-11-03-03
  _tasks/inconsistencies/2026-02-27-11-03-03.md
Due: none

Use mng agent ID for forwarding server routing instead of separate changeling ID
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/deployment/local_test.py
Due: ruff

Fix --in-place agents being cleaned up by GC
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Add script to list all modal apps across environments
  scripts/list_modal_apps.sh
Due: none

Replace FileBackendResolver with AgentLogsBackendResolver
  apps/changelings/examples/hello-world/server.py
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/server.py
  apps/changelings/imbue/changelings/config/data_types.py
  apps/changelings/imbue/changelings/config/data_types_test.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
  apps/changelings/imbue/changelings/forwarding_server/runner.py
  apps/changelings/imbue/changelings/forwarding_server/test_forwarding_server.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
