Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Omit standalone context tool scripts from coverage tracking
  pyproject.toml
Due: none

Revert "Omit standalone context tool scripts from coverage tracking"
  pyproject.toml
Due: none

WIP: rewrite verify-architecture skill
  .claude/commands/verify-architecture-v2.md
Due: none

Import context_tool as proper package module for coverage tracking
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Use monkeypatch for env var handling in context_tool tests
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Add test coverage for changelings CLI and utilities
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/forward_test.py
  apps/changelings/imbue/changelings/cli/list_test.py
  apps/changelings/imbue/changelings/cli/update_test.py
  apps/changelings/imbue/changelings/utils/logging_test.py
Due: ruff

Add comprehensive test coverage for mng_claude_zygote plugin
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Fix review issues in changeling test coverage
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/list_test.py
  apps/changelings/imbue/changelings/cli/update_test.py
Due: ruff

Fix type error in plugin_test.py stub helper
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
Due: ruff

Remove unittest.mock and monkeypatch.setattr from plugin tests
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Improve test quality per reviewer feedback
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/forward_test.py
  apps/changelings/imbue/changelings/cli/list_test.py
  apps/changelings/imbue/changelings/cli/update_test.py
  apps/changelings/imbue/changelings/utils/logging_test.py
Due: ruff

Add fixme
  apps/changelings/imbue/changelings/cli/deploy.py
Due: ruff

Deduplicate tests and add missing assertion per reviewer feedback
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Extract shared loguru capture pattern into testing.py
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/list_test.py
  apps/changelings/imbue/changelings/cli/update_test.py
  apps/changelings/imbue/changelings/testing.py
Due: ruff

Extract gather_context message test fixture to deduplicate setup
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Fix duplicate provider prompt tests and logger state isolation
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/utils/logging_test.py
Due: ruff

Add a bunch of pending fixmes
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
Due: ruff

Remove unused expected_provider_value parameter from provider prompt test
  apps/changelings/imbue/changelings/cli/deploy_test.py
Due: ruff

Consolidate setup_logging tests into parametrized test
  apps/changelings/imbue/changelings/utils/logging_test.py
Due: ruff

Simplify test: let CG handle thread join instead of calling Thread.join directly
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Add configurable settings via .changelings/settings.toml for claude_zygote plugin
  apps/changelings/docs/design.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings_test.py
Due: ruff

Remove unnecessary raw.githubusercontent.com from allowed WebFetch domains
  libs/mng/imbue/mng/cli/ask.py
Due: ruff, regenerate-derived-files

Revert "Remove unnecessary raw.githubusercontent.com from allowed WebFetch domains"
  libs/mng/imbue/mng/cli/ask.py
Due: ruff, regenerate-derived-files

Fix reviewer issues: extract shared test stubs and fix chat model fallback
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings_test.py
Due: ruff

Rework conversation_watcher.sh to ID-based syncer
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
Due: ruff

Add comprehensive architecture overview document
  ARCHITECTURE.md
Due: none

Add a few fixmes
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
Due: ruff

Add mng_remote provider with working list_hosts and error propagation
  libs/mng/imbue/mng/providers/mng_remote/__init__.py
  libs/mng/imbue/mng/providers/mng_remote/backend.py
  libs/mng/imbue/mng/providers/mng_remote/client.py
  libs/mng/imbue/mng/providers/mng_remote/config.py
  libs/mng/imbue/mng/providers/mng_remote/config_test.py
  libs/mng/imbue/mng/providers/mng_remote/instance.py
  libs/mng/imbue/mng/providers/mng_remote/instance_test.py
  libs/mng/imbue/mng/providers/mng_remote/remote_host.py
  libs/mng/imbue/mng/providers/registry.py
Due: ruff

Add .claude/tests_outputs/ to .gitignore
  .gitignore
Due: regenerate-derived-files

Resolve settings FIXMEs: rename fields, restructure settings hierarchy
  apps/changelings/docs/design.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings_test.py
Due: ruff

Fix provisioning defaults in design.md to match data_types.py
  apps/changelings/docs/design.md
Due: none

Add error logging to all silent except blocks in mng_claude_zygote
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings_test.py
Due: ruff

Add default content provisioning to mng_claude_zygote plugin
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/CLAUDE.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/__init__.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/commands/__init__.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/commands/list-conversations.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/commands/new-chat.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/entrypoint.json
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/entrypoint.md
Due: ruff

Fix reviewer issues: deduplicate tests, add shared fixtures, move imports
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Fix reviewer round 2: remove duplicate tests, extract sync script from resource
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Refactor ask tests to inject backend instead of monkeypatching
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Actually write the core thinking loop
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/CLAUDE.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/entrypoint.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/__init__.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/delegate-task/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/get-event-type-info/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/list-conversations/__init__.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/list-event-types/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/new-chat/__init__.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/skills/send-message-to-user/SKILL.md
Due: ruff

Fix bugs found by integration testing
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Fix reviewer round 5: test grep command directly, remove conditional assertions
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Fix marker registration in sub-project conftest files and remove stale @pytest.mark.git
  libs/mng/conftest.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng_pair/conftest.py
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff, regenerate-derived-files
