Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

Remove change-detector test for dialog indicators
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Replace _check_for_blocking_dialog unit tests with send_message integration tests
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
Due: ruff

Add short_send_message_timeouts fixture to speed up integration tests
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Remove accidentally committed 'which' file
  which
Due: none

Remove trailing comments in complete.py docstring
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs

Correct over-bumped ratchet values in test_ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Move timeout shortening helper inline to test file
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Remove unused shell parameter from _get_completions
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
Due: ruff, regenerate-cli-docs

Fix stale docstring reference to deleted completion.py
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs

Fix stale PROFILES_DIRNAME import in mng_tutor conftest
  libs/mng_tutor/imbue/mng_tutor/conftest.py
Due: ruff

Use mng Dockerfile as base image for schedule deployments instead of user's Dockerfile
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Raise error if _build_package_mode_dockerfile fails to find install section end
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Mark dialog detection tests as acceptance, remove timeout patching
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Update toml config
  justfile
  offload-modal.toml
Due: none

Add test-results to gitignore
  .gitignore
  justfile
Due: none

Add debug
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Move dialog detection from BaseAgent to ClaudeAgent
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Add --auto-merge/--no-auto-merge and --auto-merge-branch flags for schedule add
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/git.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Update README to reflect new image building strategy; fix review issues
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/git.py
Due: ruff

Fix broken import of PROFILES_DIRNAME in mng_tutor conftest
  libs/mng_tutor/imbue/mng_tutor/conftest.py
Due: ruff

Rewrite run_reviewer.sh for autofix only
  scripts/run_reviewer.sh
Due: none

Fix pre-existing test failures in git_test and ratchet test
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/git.py
Due: ruff

Remove unused read_default_host_dir
  libs/mng/imbue/mng/config/pre_readers.py
  libs/mng/imbue/mng/config/pre_readers_test.py
Due: ruff

Remove debug time.sleep(3600) from base_agent.py; restore ratchet value
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Upload autofix results to Modal volume for data collection
  scripts/run_reviewer.sh
Due: none

Remove debug
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Use atomic_write for persistent state and config files
  libs/mng/imbue/mng/agents/default_plugins/skill_agent.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/providers/local/instance.py
Due: ruff, regenerate-cli-docs

Dumb tweak
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Add debug marker
  libs/mng/imbue/mng/providers/modal/routes/deployment.py
Due: ruff

Remove click completion runtime code from completion_writer.py
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Update both READMEs to use new shell completion instructions
  README.md
  libs/mng/README.md
Due: none

Sigh
  libs/mng/imbue/mng/providers/modal/routes/deployment.py
Due: ruff

Remove remaining click completion code
  libs/mng/imbue/mng/cli/aliases_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-cli-docs

Replace marker function with explicit agent name command list
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/logs.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/pull.py
  libs/mng/imbue/mng/cli/push.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng_pair/imbue/mng_pair/cli.py
Due: ruff, regenerate-cli-docs

hopefully launch the right modal
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/routes/deployment.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Trying to get this to run properly
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/routes/deployment.py
  libs/mng/imbue/mng/resources/Dockerfile
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Add plugins to import-linter layers, remove stale ignore_imports
  pyproject.toml
Due: none

Add cg, setup_git_config, temp_git_repo to register_plugin_test_fixtures
  apps/changelings/imbue/changelings/cli/run_test.py
  libs/mng/imbue/mng/utils/plugin_testing.py
  libs/mng_pair/imbue/mng_pair/conftest.py
  libs/mng_tutor/imbue/mng_tutor/conftest.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
