Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Revert "Fix flaky test_new_tmux_window_inherits_env_vars"
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Added vet to run against PRs
  .github/workflows/vet.yml
Due: none

Reduce flakiness in test_new_tmux_window_inherits_env_vars and add diagnostics
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Revert "Fix singular/plural grammar in batch create output"
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Refactor snapshot help to use CommandHelpMetadata examples
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Add docstring note that _output_batch_results is only called with count > 1
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Fix remaining --initial-message references in README
  libs/mngr/README.md
Due: none

Add diagnostics to window_ready failure path too
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Add comment explaining per-instance state in _LifecycleTracker
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff

Rename noino test command to noop
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff

Restore snapshot docstring description and alias
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

This helps it feel faster
  libs/mngr/imbue/mngr/cli/connect.py
Due: ruff, regenerate-cli-docs

Use load_all_agents_grouped_by_host instead of list_agents for agent resolution
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/rename.py
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

fix more minimally
  libs/mngr/README.md
Due: none

Add is_gc_in_background config option for background GC during destroy
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Treat agents on offline hosts as STOPPED during state filtering
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Extract shared GC logic, add test for _execute_post_destroy_gc
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/destroy_test.py
Due: ruff, regenerate-cli-docs

Handle provider errors gracefully in snapshot identifier classification
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Handle os.fork() failure gracefully in background GC
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff, regenerate-cli-docs

Add a mega tutorial for claude to extend
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Add comprehensive examples for all mngr create flags to mega tutorial
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Add section headers for all remaining commands in mega tutorial
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Add set -euo pipefail and clarify --clone limitation in mega tutorial
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Add 20 workflow and concept section headers to mega tutorial
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Fix flaky test_new_tmux_window_inherits_env_vars
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Trim verbose comment to one line
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Auto-disable connect for batch create, error only on explicit --connect
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Fix agent lifecycle hooks table in plugins.md
  libs/mngr/docs/concepts/plugins.md
Due: none

Fix providers.md to include modal as default instance, fix plugins.md hooks
  libs/mngr/docs/concepts/providers.md
Due: none

fix more minimally
  libs/mngr/docs/concepts/providers.md
Due: none

Remove incorrect 'external' label from mngr-opencode plugin
  libs/mngr/docs/all_supported_agents.md
Due: none

Make lifecycle hook tests verify timing relative to real command work
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff

Improve snapshot error messages for implicit create forwarding
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Add comments about hook exception behavior, mark on_post_install as [future]
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Mark batch create (-n/--count) as [experimental]
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Rename local host from "local" to "localhost" and restrict get_host
  libs/mngr/imbue/mngr/agents/test_base_agent.py
  libs/mngr/imbue/mngr/api/exec_test.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/api/test_find.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/test_rename.py
  libs/mngr/imbue/mngr/cli/test_snapshot.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff, regenerate-cli-docs

Mark new lifecycle hooks as [experimental], add comments about hook exception behavior
  libs/mngr/docs/concepts/plugins.md
Due: none

Simplify batch create to just loop N times with no special host logic
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Fix rename_host docstring to reference "localhost" instead of "local"
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
