Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Remove change-process comment in CLI create
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Add mng-modal and modal-proxy to publish pipeline, make mng-modal a dev dep of mng-claude
  .github/workflows/publish.yml
  libs/mng_claude/pyproject.toml
  libs/mng_modal/pyproject.toml
  libs/modal_proxy/pyproject.toml
  scripts/utils.py
  uv.lock
Due: ruff

Revert change to create.md
  libs/mng/docs/commands/primary/create.md
Due: regenerate-derived-files

Simplify worktree command construction
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Extract shared config_utils.sh for JSON config with local overrides
  .claude/commands/verify-conversation.md
  .gitignore
  scripts/check_autofix_ran.sh
  scripts/config_utils.sh
  scripts/export_transcript_paths.sh
Due: regenerate-derived-files

Add test for already-checked-out branch error message
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Move branch validation before log_span, remove dead HEAD fallback
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Record git remote origin URL as 'remote' label when creating agents
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
Due: ruff, regenerate-derived-files

Enable modal provider in e2e tests, move e2e test output to .test_output/e2e/
  libs/mng/imbue/mng/e2e/DEBUGGING.md
  libs/mng/imbue/mng/e2e/conftest.py
  libs/mng/imbue/mng/e2e/serve_test_output.py
  libs/mng/imbue/mng/e2e/test_create_remote.py
Due: ruff

Fix e2e fixture docstring to reflect that only Docker is disabled
  libs/mng/imbue/mng/e2e/conftest.py
Due: ruff

Fix reviewer issues: max_agents=0 bug, emit timing, test helpers, snapshot warning
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
  libs/mng_tmr/imbue/mng_tmr/report_test.py
  libs/mng_tmr/imbue/mng_tmr/testing.py
Due: ruff

Apply fixes from tmr agent to all remote e2e tests
  libs/mng/imbue/mng/e2e/conftest.py
  libs/mng/imbue/mng/e2e/test_create_remote.py
Due: ruff

Split test_create_remote.py into test_create_modal.py and test_create_docker.py
  libs/mng/imbue/mng/e2e/test_create_docker.py
  libs/mng/imbue/mng/e2e/test_create_modal.py
Due: ruff

Remove test_basic.py (tests redistributed to topic-specific files)
  libs/mng/imbue/mng/e2e/test_basic.py
Due: ruff

Add regression test for max_agents=0 guard condition
  libs/mng_tmr/imbue/mng_tmr/api_test.py
Due: ruff

Improve assertions in test_create_address_syntax_existing_host
  libs/mng/imbue/mng/e2e/test_create_modal.py
Due: ruff

Fix test_create_modal_snapshot to expect failure for invalid snapshot ID
  libs/mng/imbue/mng/e2e/test_create_modal.py
Due: ruff

Fix test_create_modal_upload_and_user_command: create missing ssh config and use valid user command
  libs/mng/imbue/mng/e2e/test_create_modal.py
Due: ruff

Improve test_create_modal_reuse to exercise actual reuse behavior
  libs/mng/imbue/mng/e2e/test_create_modal.py
Due: ruff

Fix --no-start-on-boot to actually skip agent start during create
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Drop git remote fallback -- rely solely on 'remote' label for repo discovery
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
Due: ruff

Hopefully fix api key approval
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Only auto-merge test/doc/tutorial fixes, leave impl fixes for review
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
Due: ruff

Use typed fields on _SourceMetadata with model_dump for label conversion
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
Due: ruff, regenerate-derived-files

Raise NotImplementedError for non-local hosts in _parse_remote_url
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Remove redundant finally block (autouse fixture handles registry reset)
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Hopefully approve the api keys better
  libs/mng_claude/imbue/mng_claude/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

Group source-related fields into _Source on _CreateSetup
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
Due: ruff, regenerate-derived-files

Update ty to >= 0.0.24 and fix type errors from stricter checking
  apps/claude_web_view/imbue/claude_web_view/parser.py
  apps/minds/imbue/minds/cli/update_test.py
  apps/minds/imbue/minds/forwarding_server/backend_resolver_test.py
  apps/slack_exporter/imbue/slack_exporter/exporter.py
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils_test.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/event_envelope_test.py
  libs/imbue_common/imbue/imbue_common/test_profiles_test.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/test_message.py
  libs/mng/imbue/mng/cli/test_plugin.py
  libs/mng/imbue/mng/providers/docker/host_store_test.py
  libs/mng/imbue/mng/utils/testing.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/test_integration.py
  libs/mng_kanpan/imbue/mng_kanpan/data_types_test.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
  libs/mng_modal/imbue/mng_modal/instance.py
  libs/resource_guards/imbue/resource_guards/resource_guards.py
  libs/resource_guards/imbue/resource_guards/resource_guards_test.py
  pyproject.toml
  uv.lock
Due: ruff, regenerate-derived-files

Upgrade pytest to >= 9.0 and remove ty: ignore workarounds
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mng/imbue/mng/cli/test_message.py
  libs/mng/imbue/mng/cli/test_plugin.py
  libs/mng/imbue/mng/utils/testing.py
  libs/mng_claude_mind/imbue/mng_claude_mind/test_integration.py
  libs/resource_guards/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, regenerate-derived-files

Suggest --in-place as alternative in already-checked-out error
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Use ContentBlock alias instead of expanded union in type annotation
  apps/claude_web_view/imbue/claude_web_view/parser.py
Due: ruff

Refactor to conolidate settings
  .claude/agents/verify-and-fix.md
  .claude/commands/autofix.md
  .claude/commands/verify-conversation.md
  .gitignore
  .reviewer/autofix/auto-accept.md
  .reviewer/config/stop-hook.json
  .reviewer/settings.json
  .reviews/config/verify-conversation.json
  scripts/config_utils.sh
  scripts/export_transcript_paths.sh
  scripts/main_claude_stop_hook.sh
Due: regenerate-derived-files

Add error checking for symlink creation in work_dir_extra_paths
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Add test-results as shared worktree symlink for offload baselines
  .mng/settings.toml
Due: none

Remove unused caplog parameter from test
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Extract shared fixture for work_dir_extra_paths tests
  libs/mng/imbue/mng/hosts/conftest.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Use UpperCaseStrEnum for WorkDirExtraPathMode, use resolved containment check
  libs/mng/docs/customization.md
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Remove unused make_immediate_idle_wait function
  libs/mng_mind/imbue/mng_mind/conftest.py
Due: ruff

Adjusting stop hooks to explicitly say to wait for the verification agents to finish
  .claude/commands/autofix.md
  scripts/main_claude_stop_hook.sh
Due: none

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
