Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add acceptance tests for cleanup command on Modal
  libs/mngr/imbue/mngr/cli/test_cleanup_acceptance.py
Due: ruff, regenerate-cli-docs

Add Final type annotations to completion cache constants
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/completion.py
Due: ruff, regenerate-cli-docs

Fix JSON parsing in cleanup acceptance test
  libs/mngr/imbue/mngr/cli/test_cleanup_acceptance.py
Due: ruff, regenerate-cli-docs

Consolidate Modal provision acceptance tests and add identity preservation checks
  libs/mngr/imbue/mngr/cli/test_provision.py
Due: ruff, regenerate-cli-docs

Fix subprocess ratchet count to include comment match
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix failure_reason capturing class name instead of error message
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Replace bare Exception with HostNotFoundError
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Narrow except Exception to specific types in test fixture
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Remove migration history from ssh_utils.py docstring
  libs/mngr/imbue/mngr/providers/ssh_utils.py
Due: ruff

Add warning log for silently swallowed container removal error
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Gate Docker backend registration behind include_docker parameter
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Add trace-level logging to _write_completion_cache exception handler
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Disable Docker plugin in subprocess create test
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Exclude Docker instance.py from coverage like Modal provider
  pyproject.toml
Due: none

Move _write_completion_cache unit tests to list_test.py
  libs/mngr/imbue/mngr/api/list_test.py
  libs/mngr/imbue/mngr/api/test_list.py
Due: ruff

Update outdated comment in registry.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Log trace message when Docker client close fails
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Add user-facing documentation for Docker provider
  libs/mngr/docs/core_plugins/providers/docker.md
Due: none

Extract test helpers to reduce duplicate AgentInfo construction
  libs/mngr/imbue/mngr/api/list_test.py
Due: ruff

Add Field descriptions to ContainerConfig attributes
  libs/mngr/imbue/mngr/providers/docker/host_store.py
Due: ruff

Replace duplicate completion_host_dir fixture with shared temp_host_dir
  libs/mngr/imbue/mngr/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Extract shared make_docker_provider test helper to conftest.py
  libs/mngr/imbue/mngr/providers/docker/conftest.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Remove module-level docstrings from Docker provider files
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/backend_test.py
  libs/mngr/imbue/mngr/providers/docker/config.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/host_store_test.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/providers/modal/ssh_utils.py
  libs/mngr/imbue/mngr/providers/ssh_utils.py
Due: ruff

Add importlib usage ratchet test
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add importlib.import_module ratchet test
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

also catch ; i dont think there should be false positives
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

undo accidental formatting change
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Raise completion cache write log level from trace to debug
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Transfer Claude session during clone/migrate
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Fix project mismatch in session transfer acceptance test
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Add acceptance test for session transfer to Modal and fix remote path
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Add urls field to AgentInfo for multiple URL types
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Implement --type flag on mngr open for multiple URL types
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/cli/open.py
Due: ruff, regenerate-cli-docs

Add get_reported_urls() to AgentInterface and BaseAgent
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Add tests for multi-URL support and --type flag
  libs/mngr/docs/commands/primary/open.md
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/cli/open_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Add port forwarding plugin (FRP + nginx) - Chunk 2
  libs/mngr/imbue/mngr/plugins/port_forwarding/__init__.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/forward_service_script.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/forward_service_script_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/frps.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/provisioning.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/url.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/url_test.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Add ttyd web terminal plugin
  libs/mngr/imbue/mngr/plugins/ttyd/__init__.py
  libs/mngr/imbue/mngr/plugins/ttyd/data_types.py
  libs/mngr/imbue/mngr/plugins/ttyd/data_types_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/plugin.py
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Bump ratchet snapshots for port forwarding and ttyd plugins
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix formatting in cherry-picked files
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation.py
Due: ruff

Revert "Exclude Docker instance.py from coverage like Modal provider"
  pyproject.toml
Due: none
