Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Move test helper from conftest.py to testing.py, raise close() log level
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/providers/docker/testing.py
Due: ruff

Reapply "Exclude Docker instance.py from coverage like Modal provider"
  pyproject.toml
Due: none

Replace numbered-list interactive selection with urwid multi-select TUI
  libs/mngr/imbue/mngr/cli/cleanup.py
  libs/mngr/imbue/mngr/cli/cleanup_test.py
Due: ruff, regenerate-cli-docs

Add integration tests for ttyd and port forwarding plugins
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/plugin_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning_test.py
Due: ruff

Destroy source agent before connecting in migrate
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/migrate.py
Due: ruff, regenerate-cli-docs

Use Tab for toggle selection instead of d/a/n keys
  libs/mngr/imbue/mngr/cli/cleanup.py
Due: ruff, regenerate-cli-docs

Rewrite sessions-index.json paths during session transfer
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Use space instead of tab for toggle selection
  libs/mngr/imbue/mngr/cli/cleanup.py
Due: ruff, regenerate-cli-docs

Add local-agent shortcut for ttyd URL registration
  libs/mngr/imbue/mngr/plugins/ttyd/plugin_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning.py
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add unit tests for sessions-index.json rewriting
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Inject output stream into renderers/emitters to eliminate monkeypatch.setattr
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Verify sessions-index.json rewriting in Modal acceptance test
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Add integration and acceptance tests for ttyd + mngr open chain
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/plugins/ttyd/test_ttyd_open.py
Due: ruff

Add unit tests for _StreamingTemplateEmitter
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add integration tests for --format-template error paths
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Fix migrate destroying cloned agent by name collision and suppress destroy output
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
Due: ruff, regenerate-cli-docs

Deduplicate aliases in command name TAB completion
  libs/mngr/imbue/mngr/cli/aliases_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix CEL string methods (contains, startsWith, endsWith) on filter values
  libs/mngr/imbue/mngr/utils/cel_utils.py
  libs/mngr/imbue/mngr/utils/cel_utils_test.py
Due: ruff

Add --adopt-session option to mngr create
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Stop source agent before cloning to prevent tmux session name collision
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
  libs/mngr/imbue/mngr/cli/test_migrate.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Remove dead agent-session filtering from _find_most_recent_session
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Restore two-step config and status/urls/ approach over mngr/open-local MVP
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_resolution.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_resolution_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/frps.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/provisioning.py
Due: ruff

Add Docker integration tests exercising real Docker operations
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  pyproject.toml
Due: ruff

Fix to actually run
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
Due: ruff

Add integration tests for port forwarding plugin
  libs/mngr/imbue/mngr/plugins/port_forwarding/test_port_forwarding.py
Due: ruff

Fix fixmes
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Remove _FIELD_ALIASES from list command, use unaliased field paths
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Add comprehensive Docker acceptance/release tests and docker mark
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Fix dead code in Modal auth error handling
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Add acceptance test for local-to-Modal migration with same name
  libs/mngr/imbue/mngr/cli/test_migrate.py
Due: ruff, regenerate-cli-docs

Load config at config group level to respect user pager setting
  libs/mngr/imbue/mngr/cli/config.py
Due: ruff, regenerate-cli-docs

Fix session adoption: always create sessions-index.json, handle same-dir
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Simplify print_user_session.sh to use mngr transcript, fix ratchet test
  libs/mngr/imbue/mngr/api/transcript_test.py
  scripts/print_user_session.sh
Due: ruff

Replace functools.partial with lambda in test_plugin_cli_options
  libs/mngr/imbue/mngr/cli/test_plugin_cli_options.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Remove legacy status/url path in favor of status/urls/ exclusively
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/test_base_agent.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Add pager help support to plugin command
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Use immutable abstract types for function input parameters in find.py
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Remove module-level docstrings from new test files
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Add type annotations for capsys parameters in plugin_test.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Replace str.format() with f-string in host lock cleanup command
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff
