Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Update .test_durations with correct paths for modal acceptance tests
  .test_durations
Due: none

Made the assembled commands less silly looking
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Minor fixup
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

Hopefully fix tests and build
  scripts/make_tar_of_repo.sh
Due: none

Bump to 1m context for this project
  .claude/settings.json
Due: none

Separate host and agent state into distinct columns in list output
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Separate the templates
  .mngr/settings.toml
Due: none

Add placeholder for updating agent activity
  .claude/settings.json
  scripts/update_claude_activity_during_response.sh
Due: none

Implement agent activity heartbeat during Claude responses
  scripts/update_claude_activity_during_response.sh
Due: none

Use host.state and agent.state instead of underscore aliases
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Minor doc edit
  CLAUDE.md
  style_guide.md
Due: none

Remove broken hook
  .claude/settings.json
Due: none

Fix stop_agents to kill individual PIDs instead of process groups
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  pyproject.toml
  uv.lock
Due: ruff

Add automatic activity timestamp updates for claude agents
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  scripts/update_claude_activity_during_response.sh
Due: ruff

Fix default keybinding hopefully
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Rename AgentInfo.lifecycle_state to state, remove agent.state alias
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Update sculptor_web for lifecycle_state -> state rename, fix docstring
  apps/sculptor_web/imbue/sculptor_web/data_types.py
  apps/sculptor_web/imbue/sculptor_web/main.py
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Making agent startup slightly faster
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Fix thorough process cleanup in tmux session teardown
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/utils/testing.py
  pyproject.toml
Due: ruff, regenerate-cli-docs

Batch all per-agent commands in start_agents into a single execute_command call
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Reduce test duplication with _build_command_with_defaults helper
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Address reviewer feedback: reduce PID collection duplication, justify config
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/utils/testing.py
  pyproject.toml
Due: ruff

Add a few more fixes
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/pyproject.toml
Due: ruff

Hopefully fix
  libs/mngr/pyproject.toml
Due: none

Fix lock
  uv.lock
Due: none

Fix outdated worktree path comment and remove unnecessary trust setup in test
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Use HostState enum for host state instead of raw strings
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Reorder stop hook to be a bit better
  scripts/main_claude_stop_hook.sh
Due: none

Only push base branch to origin if not already present
  scripts/main_claude_stop_hook.sh
Due: none

Fix API layer review issues (1, 8, 9, 10, 11, 14, 15)
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/rsync_utils.py
Due: ruff

Fix 9 reviewer issues: error handling, path safety, test consolidation
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff, regenerate-cli-docs

Serialize all enums as uppercase, remove lowercasing code
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/api/message_test.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
Due: ruff, regenerate-cli-docs

Fixup error output
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix documentation/naming mismatches flagged by reviewer
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
Due: ruff, regenerate-cli-docs

Fix remaining review issues (2, 3, 5, 6, 7, 10, 11, 12)
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Remove remaining .lower() on enum in connect TUI, fix comment
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
Due: ruff, regenerate-cli-docs

Fix reviewer feedback: add tests, fix docstrings, improve error handling
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Only update agent activity when .claude/active file exists
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  scripts/update_claude_activity_during_response.sh
Due: ruff

Use enum references instead of raw string literals for state values
  libs/mngr/imbue/mngr/api/message_test.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/errors_test.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
Due: ruff, regenerate-cli-docs

Remove outdated script
  scripts/update_claude_activity_during_response.sh
Due: none
