Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Increment gc.py cleanup cross-reference FIXME attempts to 4
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 5
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 6
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 7
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 8
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 9
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 10
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 11
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 12
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 13
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 14
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 15
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Allow fixme fairy to proceed to random fixes once it is done with all fixes
  .claude/commands/fix-something.md
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Revert "Fix flaky test by waiting for Modal async log delivery to stabilize"
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/imbue/mngr/providers/modal/log_utils_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Updates from reviewing fixes
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Give us a fighting chance of having future LLMs understand how the toml loading can work
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr_opencode/imbue/mngr_opencode/plugin.py
Due: ruff

Remove template, was confusing
  apps/changelings/docs/design.md
Due: none

Pin modal for now
  libs/mngr/pyproject.toml
  uv.lock
Due: none

Remove template concept, add full CLI options to add/run, enable direct run
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/add_test.py
  apps/changelings/imbue/changelings/cli/list.py
  apps/changelings/imbue/changelings/cli/options.py
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/conftest.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/mngr_commands.py
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/imbue/changelings/test_deploy_modal.py
  apps/changelings/imbue/changelings/test_run_local.py
  apps/changelings/imbue/changelings/test_run_modal.py
  apps/changelings/specs/architecture.md
Due: ruff

Make tags immutable via Docker labels instead of mutable file store
  libs/mngr/future_specs/providers/docker.md
Due: none

Fix reviewer issues: agent_type defaults to name, add options unit tests
  apps/changelings/imbue/changelings/cli/options.py
  apps/changelings/imbue/changelings/cli/options_test.py
  apps/changelings/imbue/changelings/config.py
Due: ruff

Eliminate circular import and remove async/SSE from API server
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/plugin_loader.py
  libs/mngr/imbue/mngr/plugins/api_server/app.py
  libs/mngr/imbue/mngr/plugins/api_server/app_test.py
  libs/mngr/imbue/mngr/plugins/api_server/web_ui.html
  libs/mngr/imbue/mngr/plugins/api_server/web_ui_test.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Fix cli_args parsing to preserve quoting when splitting strings
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/config/loader.py
Due: ruff

Fix style violation: replace module docstring with comments in plugin_loader.py
  libs/mngr/imbue/mngr/plugin_loader.py
Due: ruff

Upload reviewer outputs to Modal volume after successful review
  scripts/run_reviewer.sh
Due: none

Add pager and git-style help to config command
  libs/mngr/imbue/mngr/cli/config.py
Due: ruff, regenerate-cli-docs

Detect nested tmux in connect_to_agent and add is_nested_tmux_allowed config
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff, regenerate-cli-docs

Disable comment handling in shlex lexer and fix ratchet test
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
Due: ruff

Add volume build arg for Modal provider
  .mngr/settings.toml
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Query user's default-command via tmux show-option instead of hardcoding bash
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Add integration, acceptance, and release tests for API server
  libs/mngr/imbue/mngr/plugins/api_server/test_api_server.py
  libs/mngr/imbue/mngr/plugins/api_server/test_serve_acceptance.py
  libs/mngr/imbue/mngr/plugins/api_server/test_serve_release.py
  libs/mngr/imbue/mngr/test_plugin_loader.py
Due: ruff

Tell claude how to fix errors
  CLAUDE.md
Due: none

Fix mngr invocation, use ConcurrencyGroup, fix skill prompting, add e2e test
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/mngr_commands.py
  apps/changelings/imbue/changelings/test_run_local.py
  apps/changelings/imbue/changelings/test_run_modal.py
  apps/changelings/pyproject.toml
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
  uv.lock
Due: ruff

Fix reviewer issues: mark e2e test as acceptance, fix stale docstring
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/test_run_local.py
  apps/changelings/imbue/changelings/test_run_modal.py
Due: ruff

Mark e2e changeling test as release (requires Claude Code trust)
  apps/changelings/imbue/changelings/test_run_local.py
Due: ruff

Refactor ratchet exclusion to use path patterns instead of single file
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Apply ruff formatting fixes and regenerate CLI docs from merge
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff, regenerate-cli-docs

Replace subprocess.run with ConcurrencyGroup in cron_runner.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
Due: ruff

Add unit tests for get_agent_name_from_command and --no-interactive flag
  apps/changelings/imbue/changelings/cli/run_test.py
Due: ruff

Pin modal==1.3.1 and use 1.3.1-compatible output manager API
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff
