Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Add tabulate as direct dependency in mng-schedule
  libs/mng_schedule/pyproject.toml
Due: none

Update uv.lock for tabulate dependency addition
  uv.lock
Due: none

Fix list creating volume as side effect, handle record save failure
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Fix hookspec docs for path constraints, add collision warning
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Validate that deploy file paths start with ~, reject non-~ paths
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/staging.py
Due: ruff

Add version pinning support for Claude Code agent
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/resources/Dockerfile
Due: ruff

Address review feedback: fix test duplication, remove patch usage, add Modal docker-build-arg support
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Load provider instance directly instead of deriving volume names
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Convert to release test
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Return empty dict instead of None from get_files_for_deploy, fix modal import
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
Due: ruff

Remove schedule-specific mention from core library docstring
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Add docs for docker-build-arg, add debug logging, fix regex backreference bug
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/core_plugins/providers/modal.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add get_files_for_deploy to plugin docs, add validation tests
  libs/mng/docs/concepts/plugins.md
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Wrap get_provider_instance errors in ScheduleDeployError
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Extract shared test helper, fix docs categorization, remove dead param
  libs/mng/docs/concepts/plugins.md
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Move all of these acceptance tests to release because they are too slow
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Add release test for schedule list showing deployed schedules
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Add host name uniqueness checks to prevent duplicate host names
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Fix reviewer issues: skip destroyed hosts in uniqueness check, deduplicate test boilerplate
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Fix false positive duplicate warnings for destroyed hosts, add failed host test
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Fix ratchet over-bump, CG use-after-close, remove vestigial None checks
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
Due: ruff

Bump acceptance test shards from 12 to 16, add per-test durations
  .github/workflows/ci.yml
Due: none

Extract check_host_name_is_unique as a pure function to avoid patch.object in tests
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Print test durations before timeout check, bump acceptance shards to 16
  .github/workflows/ci.yml
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Fix pre-existing test duplication in snapshot_test.py
  libs/mng/imbue/mng/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Replace numbered files + manifest with natural home/ directory structure
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/staging.py
Due: ruff

Use vol-* directories for host volumes instead of host-*
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/docker/instance_test.py
Due: ruff

Refactor mng_schedule cli.py into a cli/ package with one file per command
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli/__init__.py
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/commands.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/list.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/cli/remove.py
  libs/mng_schedule/imbue/mng_schedule/cli/run.py
  libs/mng_schedule/imbue/mng_schedule/cli/update.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Use fixture consistently and keep _path_without_mng for PATH-based approach
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Add docstrings explaining autouse chdir on outside-git-repo tests
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Replace PATH manipulation with targeted shutil.which monkeypatch
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Extract make_docker_provider_with_local_volume into testing.py
  libs/mng/imbue/mng/providers/docker/instance_test.py
  libs/mng/imbue/mng/providers/docker/testing.py
Due: ruff

Split completion into reader/writer and extract atomic_write to utils
  libs/mng/imbue/mng/agents/default_plugins/claude_config.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/utils/file_utils.py
Due: ruff, regenerate-cli-docs

Bake deploy files into image at build time instead of copying at runtime
  libs/mng/docs/concepts/plugins.md
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng/imbue/mng/resources/Dockerfile
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/staging.py
Due: ruff

Extract shared isolate_home helper from conftest files
  apps/changelings/imbue/changelings/conftest.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/testing.py
  libs/mng_pair/imbue/mng_pair/conftest.py
Due: ruff

Restore permissions note on atomic_write docstring
  libs/mng/imbue/mng/utils/file_utils.py
Due: ruff

Delete unused staging.py and remove redundant inline comment
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/staging.py
Due: ruff

Add mng-pair and mng-opencode plugins to publish pipeline
  .github/workflows/publish.yml
  libs/mng_opencode/pyproject.toml
  libs/mng_pair/pyproject.toml
  scripts/utils.py
  uv.lock
Due: ruff
