Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add missing datetime imports to conftest for schedule helper
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Replace unittest.mock with monkeypatch in snapshot_test.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Check execute_command result.success in _find_session_file
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Replace assert with proper runtime check for resolve_agent_reference result
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Remove --block-network build arg (incompatible with SSH tunneling)
  libs/mngr/README.md
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Use uuid4().hex instead of time.time() for unique test names
  libs/mngr/imbue/mngr/cli/test_rename.py
Due: ruff, regenerate-cli-docs

Remove stale autofix plan files from repository
  .autofix/plans/1.md
  .autofix/plans/2.md
  .autofix/plans/3.md
Due: none

Remove module docstring from limit_test.py
  libs/mngr/imbue/mngr/cli/limit_test.py
Due: ruff, regenerate-cli-docs

Fix ruff B008 lint error in _FakeSnapshotProvider default arg
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Add missing log message when no agent selected in provision command
  libs/mngr/imbue/mngr/cli/provision.py
Due: ruff, regenerate-cli-docs

Remove module docstring from test_schedule.py
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Remove default argument from _schedule_definition_to_dict
  libs/mngr/imbue/mngr/cli/schedule.py
  libs/mngr/imbue/mngr/cli/schedule_test.py
Due: ruff, regenerate-cli-docs

Extract _is_streaming_eligible from _should_use_streaming_mode
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Replace MagicMock and threading.Event monkeypatching with real objects
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
Due: ruff

Use ProviderInstanceNotFoundError instead of raw MngrError for missing provider
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Remove stale autofix plan files from prior review
  .autofix/plans/1.md
  .autofix/plans/2.md
  .autofix/plans/3.md
  .autofix/plans/4.md
Due: none

Move parameter description from docstring to comment
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Implement mngr enforce command for host idle timeout enforcement
  libs/mngr/docs/commands/secondary/enforce.md
  libs/mngr/imbue/mngr/api/enforce.py
  libs/mngr/imbue/mngr/api/enforce_test.py
  libs/mngr/imbue/mngr/cli/enforce.py
  libs/mngr/imbue/mngr/cli/enforce_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Simplify _find_agent_without_starting match logic
  libs/mngr/imbue/mngr/cli/rename.py
Due: ruff, regenerate-cli-docs

More concurrency group cleanup
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Fix obvious error
  libs/mngr/imbue/mngr/api/gc.py
Due: ruff

Replace mutable permissions_changed with pre-computed constant
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Extract shared create_test_base_agent helper to conftest
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Remove .autofix plans from tracked files
  .autofix/plans/1.md
  .autofix/plans/2.md
  .autofix/plans/3.md
Due: none

Implement mngr cleanup command for interactive agent cleanup
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/gc.md
  libs/mngr/imbue/mngr/api/cleanup.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/cli/cleanup.py
  libs/mngr/imbue/mngr/cli/cleanup_test.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/test_cleanup.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/utils/duration.py
  libs/mngr/imbue/mngr/utils/duration_test.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Remove incorrect @pure from _get_mngr_executable_path
  libs/mngr/imbue/mngr/api/schedule.py
Due: ruff

Remove [future] marker from mngr enforce in idle_detection.md
  libs/mngr/docs/concepts/idle_detection.md
Due: none

Fix error handling and dead code in transcript API
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Remove assert isinstance() to fix ratchet test
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix concurrency group migration breakage
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/ssh/instance_test.py
  libs/mngr/imbue/mngr/providers/ssh/test_ssh_provider.py
Due: ruff, regenerate-cli-docs

Move format_size tests from gc_test.py to output_helpers_test.py
  libs/mngr/imbue/mngr/cli/gc_test.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
Due: ruff, regenerate-cli-docs

Use save_agent_data instead of direct provider call in rename_agent
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add Final annotation to VALID_HOST_ID constant in snapshot_test.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Add Field descriptor to cidr_allowlist for consistency
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Remove module docstring from rename_test.py
  libs/mngr/imbue/mngr/cli/rename_test.py
Due: ruff, regenerate-cli-docs

Add ratchet test to prevent direct subprocess/os.exec usage
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove module docstring from test_rename.py
  libs/mngr/imbue/mngr/cli/test_rename.py
Due: ruff, regenerate-cli-docs

Use unique sleep value in rename integration tests
  libs/mngr/imbue/mngr/cli/test_rename.py
Due: ruff, regenerate-cli-docs

Fix grammar bug in cleanup confirmation message
  libs/mngr/imbue/mngr/cli/cleanup.py
Due: ruff, regenerate-cli-docs

Extract _handle_error to shared handle_error_with_behavior utility
  libs/mngr/imbue/mngr/api/enforce.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/utils/error_handling.py
Due: ruff
