Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Let JSONDecodeError and OSError bubble up from config reading
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Place worktrees inside .mngr-worktrees/ for automatic trust inheritance
  .gitignore
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Minor changes to tests needed to pass in Offload
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Increment some more timeouts
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Actually parallelize most of the data collection enough that list is no longer painful
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Place worktrees inside .git/mngr-worktrees/<agent>/repo/ for trust inheritance
  .gitignore
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Fix combined_state logic to correctly show agent/host states
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add unit tests for find_git_common_dir function
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Fix worktree tests to use new repo/ subdirectory structure
  libs/mngr/imbue/mngr/api/test_create.py
Due: ruff

Add comprehensive tests for pair command
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/cli/pair_test.py
Due: ruff, regenerate-cli-docs

Add unison to CI system dependencies
  .github/workflows/ci.yml
Due: none

Configure git user in worktree test for CI environments
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Fix ratchet test violations in test_pair.py
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Fix pair_test.py to match actual CLI option names
  libs/mngr/imbue/mngr/cli/pair_test.py
Due: ruff, regenerate-cli-docs

Move pair CLI command tests to proper integration test file
  libs/mngr/imbue/mngr/cli/pair_test.py
  libs/mngr/imbue/mngr/cli/test_pair.py
Due: ruff, regenerate-cli-docs

Implement --source-host option for pair command
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pair_test.py
  libs/mngr/imbue/mngr/cli/test_pair.py
Due: ruff, regenerate-cli-docs

Remove retry functionality from message sending - 250/250 tests pass without it
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  scripts/benchmark_create_message.py
Due: ruff

Fix CI trust dialog failure in acceptance tests
  libs/mngr/imbue/mngr/cli/test_message.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Add --await-ready to acceptance tests that use --message
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Lower time.sleep ratchet to 6, move benchmark script out of repo
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  scripts/benchmark_create_message.py
Due: ruff

Fix acceptance test env to prevent loading project config
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Use get_subprocess_test_env() as base for Claude trust config helper
  libs/mngr/imbue/mngr/cli/test_message.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Refactor GitContext: Protocol -> ABC + MutableModel pattern
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
Due: ruff

Some fixes to state calculation
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Allow destroying offline hosts
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Fix up test
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix tests
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Use fake HOME directory for all tests
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Add safety check to verify fake HOME is working
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Check fake HOME is in temp directory, not exact match
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Simplify fake_home to just use tmp_path directly
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Remove fake_home fixture, use tmp_path directly
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Simplify message_test.py to use conftest fixtures
  libs/mngr/imbue/mngr/api/message_test.py
Due: ruff

Add test isolation section to style guide
  style_guide.md
Due: none

Catch a few other error types
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Update tests to use shared fixtures from conftest
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/test_claude_agent.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
  libs/mngr/imbue/mngr/providers/ssh/test_ssh_provider.py
  style_guide.md
Due: ruff

Add missing timeout markers to Modal acceptance tests
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Remove tempfile usage from test files, use tmp_path fixture
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/local/backend_test.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
  libs/mngr/imbue/mngr/providers/ssh/backend_test.py
  libs/mngr/imbue/mngr/providers/ssh/test_ssh_provider.py
  libs/mngr/imbue/mngr/utils/editor_test.py
  libs/mngr/imbue/mngr/utils/logging_test.py
Due: ruff

Add --reuse flag to mngr create for idempotent agent creation
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs
