Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Refactor editor_test.py to use monkeypatch for env vars
  libs/mngr/imbue/mngr/utils/editor_test.py
Due: ruff

Fix reviewer issues for --reuse flag
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Fix --message handling in --reuse path
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Fix temp_git_source_dir to use real HOME for git operations
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Add .gitconfig to fake HOME for git operations in tests
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Add shared temp_git_repo and setup_git_config fixtures
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Extend Claude trust to worktrees via .claude.json modification
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Refactor restore_env_var to monkeypatch; move SSH helpers to testing.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/ssh/test_ssh_provider.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Omit utils/testing.py from coverage measurement
  pyproject.toml
Due: none

Add mngr metadata to worktree trust entries
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Consolidate some duplicated code
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Make it easier to debug modal requests that fail
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Hopefully fixes the idle shutdown logic even when we are restarting a previous agent
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Move trust extension before worktree creation for fail-fast
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Fix ratchets
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Revert max_idle_seconds rename back to idle_timeout_seconds
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/data_types_test.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff, regenerate-cli-docs

Move when we start the reviewer
  scripts/main_claude_stop_hook.sh
Due: none

Merge base branch and use file-diff for informational session detection
  scripts/main_claude_stop_hook.sh
Due: none

Add signal-based agent readiness detection and cleanup dead code
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/interfaces/agent.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove obvious/redundant comments that restate what the code does
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/claude_config.py
Due: ruff

Update hook to be better for information only requests
  scripts/main_claude_stop_hook.sh
Due: none

Add deterministic listener startup for ready signal detection
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Ignore offload cache from gitignore
  .gitignore
Due: none

Add generate_patch_for_offload script
  scripts/generate_patch_for_offload.sh
Due: none

Tweak repo tar script
  scripts/make_tar_of_repo.sh
Due: none

Make offload script clean itself up
  justfile
Due: none

Add offload target to justfile
  justfile
Due: none

Update Dockerfile so modal gets image
  libs/mngr/imbue/mngr/resources/Dockerfile
Due: none

Add offload-modal configuration script
  offload-modal.toml
Due: none

Allow failure code 2 for just
  justfile
Due: none

Fix process termination to kill individual PIDs instead of process groups
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Remove copyfile Mac attrs from tar
  scripts/make_tar_of_repo.sh
Due: none

Further timeout tweaking
  libs/mngr/imbue/mngr/hosts/test_host.py
  pyproject.toml
Due: ruff

Default justfile target is help
  justfile
Due: none

Simplify ready signal detection to poll for session_started file
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Move claude_config into Claude plugin and add on_destroy lifecycle method
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff, regenerate-cli-docs

Add tests for ClaudeAgent trust extension and cleanup lifecycle
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Simplify test helpers that relied on patching claude config paths
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Move trust extension from on_before_provisioning to provision
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Improve provision() docstring
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff
