Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add autofix plan files for snapshot CLI review
  .autofix/plans/1.md
  .autofix/plans/2.md
Due: none

Replace time.sleep with stop_event.wait in open_agent_url wait loop
  .autofix/plans/3.md
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
Due: ruff

Extract shared _build_host_references helper to eliminate duplication
  .autofix/plans/3.md
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Fix incorrect shell redirect order in crontab command
  .autofix/plans/1.md
  libs/mngr/imbue/mngr/api/schedule.py
Due: ruff

Replace custom _shell_quote with shlex.quote from stdlib
  .autofix/plans/2.md
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/api/schedule_test.py
Due: ruff

Move schedule integration tests to cli/ directory
  .autofix/plans/3.md
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Use UUID type instead of object for agent_uuid parameter
  .autofix/plans/2.md
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Add explicit argument descriptions to exec command docs
  .autofix/plans/2.md
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/imbue/mngr/cli/exec.py
Due: ruff, regenerate-cli-docs

Use Path instead of str for session_file_path field
  .autofix/plans/3.md
  libs/mngr/imbue/mngr/api/transcript.py
  libs/mngr/imbue/mngr/api/transcript_test.py
  libs/mngr/imbue/mngr/cli/transcript.py
Due: ruff, regenerate-cli-docs

Fix test failures from time.sleep removal
  libs/mngr/imbue/mngr/api/open_test.py
Due: ruff

Remove [future] tag from ask command in README
  .autofix/plans/2.md
  libs/mngr/README.md
Due: none

Remove stale autofix plan files from branch
  .autofix/plans/1.md
  .autofix/plans/2.md
Due: none

Ensure subprocess cleanup in SubprocessClaudeBackend.query()
  .autofix/plans/3.md
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Fix type checker errors in transcript tests for Path type
  libs/mngr/imbue/mngr/api/transcript_test.py
  libs/mngr/imbue/mngr/cli/transcript_test.py
Due: ruff, regenerate-cli-docs

Fix missing underscores in gc_test.py test function names
  .autofix/plans/3.md
  libs/mngr/imbue/mngr/cli/gc_test.py
Due: ruff, regenerate-cli-docs

Remove module-level docstring from snapshot_test.py
  .autofix/plans/4.md
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Add missing shell quoting in _build_crontab_command
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/api/schedule_test.py
Due: ruff

Remove .autofix/plans/ artifacts and gitignore .autofix/
  .autofix/plans/1.md
  .autofix/plans/2.md
  .gitignore
Due: none

Fix substring marker matching in _remove_crontab_entry
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/api/schedule_test.py
Due: ruff

Remove duplicate examples from exec command docstring
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/imbue/mngr/cli/exec.py
Due: ruff, regenerate-cli-docs

Add rename command to README command list
  libs/mngr/README.md
Due: none

Fix ruff B010 error by using ty: ignore annotation instead of setattr
  libs/mngr/imbue/mngr/api/open_test.py
Due: ruff

Hoist host reference building out of loop and extract shared activity config helper
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Remove .autofix/plans/ artifacts from repository
  .autofix/plans/1.md
  .autofix/plans/2.md
  .autofix/plans/3.md
Due: none

Remove stale .autofix/plans/1.md from branch
  .autofix/plans/1.md
Due: none

Remove autofix plan artifacts and add .autofix/ to .gitignore
  .autofix/plans/1.md
  .autofix/plans/2.md
  .autofix/plans/3.md
  .gitignore
Due: none

Replace _create_agent with shared create_test_agent_via_cli in test_provision.py
  libs/mngr/imbue/mngr/cli/test_provision.py
Due: ruff, regenerate-cli-docs

Add --block-network and --cidr-allowlist build args for Modal provider
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Deduplicate ScheduleDefinition test setup helpers
  libs/mngr/imbue/mngr/api/schedule_test.py
  libs/mngr/imbue/mngr/cli/schedule_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Extract common test setup in exec API tests to reduce repetition
  libs/mngr/imbue/mngr/api/exec_test.py
Due: ruff

Quote log path in crontab and use $HOME instead of tilde
  libs/mngr/docs/commands/secondary/schedule.md
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/api/schedule_test.py
Due: ruff, regenerate-cli-docs

Use AgentMatch.host_id directly instead of string splitting
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Ensure log directory exists before crontab command runs
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/api/schedule_test.py
Due: ruff

Combine duplicate match arms in transcript _emit_output
  libs/mngr/imbue/mngr/cli/transcript.py
Due: ruff, regenerate-cli-docs

Remove incorrect idempotent resume claims from rename command
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/imbue/mngr/cli/rename.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff, regenerate-cli-docs

Use _get_agent_state_dir helper in rename_agent
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Move mngr_ctx to last parameter position in _apply_host_only_changes
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Rename reassigned agents variable to target_agents
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Our justfile change
  justfile
Due: none
