Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Set coverage threshold to 100% for all three resource guard packages
  libs/resource_guards/pyproject.toml
  libs/resource_guards_docker/pyproject.toml
  libs/resource_guards_modal/pyproject.toml
Due: none

Check in auto-accept.md as a real file instead of symlink
  .autofix/config/auto-accept.md
Due: none

Add Evan Ryan Gunter as author on resource guard packages
  libs/resource_guards/pyproject.toml
  libs/resource_guards_docker/pyproject.toml
  libs/resource_guards_modal/pyproject.toml
Due: none

Switch to subprocess for git branch completion and bump ratchets
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-derived-files

Clean up autofix stop hook message format and config examples
  .autofix/config/stop-hook.toml
  scripts/stop_hook_autofix.sh
Due: none

Improve autofix stop hook message clarity with quotes
  scripts/stop_hook_autofix.sh
Due: none

Register guard hooks as a pytest plugin instead of namespace injection
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/resource_guards/README.md
  libs/resource_guards/imbue/resource_guards/resource_guards.py
  libs/resource_guards/imbue/resource_guards/resource_guards_test.py
Due: ruff

Include subagent transcripts in session discovery scripts
  libs/mng/imbue/mng/resources/export_transcript.sh
  scripts/export_transcript_paths.sh
Due: none

Use real git repo fixture instead of monkeypatching subprocess
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-derived-files

Pass Modal credentials to offload sandboxes
  justfile
  offload-modal-acceptance.toml
  scripts/load_modal_creds.sh
Due: none

Add tab completion for host names, plugin names, config keys, and dynamic choices
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff, regenerate-derived-files

Add set -euo pipefail to load_modal_creds.sh
  scripts/load_modal_creds.sh
Due: none

Use generous timeouts on real event waits, assert poll_until result
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Consolidate --copy/--clone/--worktree into --transfer flag
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/primitives.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/tutorials/mega_tutorial.sh
Due: ruff, regenerate-derived-files

Copy verify-architecture skill from hammer-verify
  .claude/commands/verify-architecture.md
  .claude/skills/verify-architecture/analyze-architecture.md
Due: none

Fix test function naming: add missing underscore after "test"
  libs/mng/imbue/mng/config/completion_writer_test.py
Due: ruff

Fix git branch tab completion for renamed --branch option
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
Due: ruff, regenerate-derived-files

Remove dead _read_agent_names() function, test _read_discovery_names instead
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
Due: ruff, regenerate-derived-files

Add per-agent refresh hooks for kanpan
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/data_types_test.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Rename transfer mode 'copy' to 'rsync' and fix rsync_args gating
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/primitives.py
  libs/mng/tutorials/mega_tutorial.sh
Due: ruff, regenerate-derived-files

Fix e2e test ratchet violations from main merge
  libs/mng/imbue/mng/e2e/conftest.py
  libs/mng/imbue/mng/e2e/test_basic.py
Due: ruff

Remove --rsync/--no-rsync flag and is_rsync_enabled field
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/interfaces/host.py
Due: ruff, regenerate-derived-files

Add test quality guidance to style guide
  style_guide.md
Due: none

Remove opinionated test priority ordering from style guide
  style_guide.md
Due: none

Consolidate host flags into agent address positional argument
  README.md
  libs/mng/README.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/common_opts_test.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/help_formatter_test.py
  libs/mng/imbue/mng/cli/test_create.py
Due: ruff, regenerate-derived-files

Rename --rsync-args to --extra-rsync-pass-args
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/create.py
  libs/mng/tutorials/mega_tutorial.sh
Due: ruff, regenerate-derived-files

Clarify coverage-chasing guidance in style guide
  style_guide.md
Due: none

Extract short_tmp_path fixture to conftest.py
  apps/changelings/imbue/changelings/forwarding_server/conftest.py
  apps/changelings/imbue/changelings/forwarding_server/ssh_tunnel_test.py
Due: ruff

Fix RefreshHook.name field description
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
Due: ruff

Move _build_dynamic_completions into completion_writer, run cache write in background
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
Due: ruff, regenerate-derived-files

Hoist wrapper factories to module level
  libs/resource_guards/imbue/resource_guards/resource_guards.py
Due: ruff

Rename completion_types.py to completion_cache.py
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/config/completion_cache.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
Due: ruff, regenerate-derived-files

Fold modal and docker guards back into mng
  .github/workflows/publish.yml
  conftest.py
  libs/mng/conftest.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/register_guards_docker.py
  libs/mng/imbue/mng/register_guards_docker_test.py
  libs/mng/imbue/mng/register_guards_modal.py
  libs/mng/imbue/mng/register_guards_modal_test.py
  libs/mng/pyproject.toml
  libs/resource_guards/README.md
  libs/resource_guards_docker/README.md
  libs/resource_guards_docker/conftest.py
  libs/resource_guards_docker/imbue/py.typed
  libs/resource_guards_docker/imbue/resource_guards_docker/__init__.py
  libs/resource_guards_docker/imbue/resource_guards_docker/conftest.py
  libs/resource_guards_docker/imbue/resource_guards_docker/test_ratchets.py
  libs/resource_guards_docker/pyproject.toml
  libs/resource_guards_modal/README.md
  libs/resource_guards_modal/conftest.py
  libs/resource_guards_modal/imbue/py.typed
  libs/resource_guards_modal/imbue/resource_guards_modal/__init__.py
  libs/resource_guards_modal/imbue/resource_guards_modal/conftest.py
  libs/resource_guards_modal/imbue/resource_guards_modal/test_ratchets.py
  libs/resource_guards_modal/pyproject.toml
  pyproject.toml
  scripts/utils.py
  uv.lock
Due: ruff

Update asyncio ratchet snapshot for moved modal guard tests
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Fix --agent-type -> --type rename in completion constants and tests
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
Due: ruff, regenerate-derived-files

Clean up integration tests: remove tautological test, extract shared helper, add plugin_name_options check
  libs/mng/imbue/mng/config/test_completion.py
Due: ruff

Delete redundant modal/docker guard tests from mng
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/register_guards_docker_test.py
  libs/mng/imbue/mng/register_guards_modal_test.py
Due: ruff

Enforce positional arg limits in tab completion and add reverse integration test
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/config/completion_cache.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
  libs/mng/imbue/mng/config/test_completion.py
Due: ruff, regenerate-derived-files

Make --adopt-session repeatable and error on ambiguous matches
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Fix type error: remove unnecessary BaseCommand annotation in test helper
  libs/mng/imbue/mng/config/test_completion.py
Due: ruff
