Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Add content from future demo
  apps/changelings/imbue/changelings/forwarding_server/app.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conftest.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server_direct_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/test_ratchets.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/web_server_test.py
  scripts/launch_web_server.sh
Due: ruff

Have verify-and-fix.md reference categories instead of inlining them
  .claude/skills/autofix/branch-categories.md
  .claude/skills/autofix/verify-and-fix.md
  .pre-commit-config.yaml
  scripts/generate_verify_skills.py
  scripts/verify_skill_sources/conversation-categories.md
  scripts/verify_skill_sources/verify-and-fix-preamble.md
Due: ruff

Detect new packages in release script and prompt for confirmation
  scripts/release.py
Due: ruff

Add stuck agent escape valves to both stop hooks
  .gitignore
  scripts/main_claude_stop_hook.sh
  scripts/stop_hook_autofix.sh
Due: regenerate-derived-files

Fix unreachable early exit when all new packages are declined
  scripts/release.py
Due: ruff

Separate plugin_data and plugin_state, add source config
  libs/mng_kanpan/README.md
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/data_types_test.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
Due: ruff

Fix _find_mng_source_directory for installed packages
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Use pytest.raises(KeyboardInterrupt) and remove stale _resolve_format_flags tests
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Assert shutdown_event is not set in real-failure test
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Move shutdown_event assertion to after _close_concurrency_group call
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Use explicit package list instead of filesystem scanning for source directories
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Don't crash if there are binary files under ~/.claude.
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix stale flag references from trivial-flag-reorgs rename
  apps/changelings/imbue/changelings/cli/list.py
  apps/changelings/imbue/changelings/cli/update.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/testing.py
  libs/mng/docs/concepts/plugins.md
  libs/mng/docs/customization.md
  libs/mng/imbue/mng/cli/common_opts_test.py
  libs/mng/imbue/mng/utils/testing.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/extra_context_tool.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin_test.py
Due: ruff, regenerate-derived-files

Add missing concurrency_group to mng profile cov_packages
  test_profiles.toml
Due: none

Fix stale docstrings: agent_type -> type in hookspec example, --json -> --format json in list
  apps/minds/imbue/minds/cli/list.py
  libs/mng/imbue/mng/plugins/hookspecs.py
Due: ruff

Fix Click arg parsing: -- passthrough args leaking into positional params
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
Due: ruff, regenerate-derived-files

Update README and docstring to reflect consolidated ttyd architecture
  libs/mng_claude_mind/README.md
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

Move common_transcript from mng_claude_mind plugin into mng claude plugin
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng/imbue/mng/resources/common_transcript.sh
  libs/mng/imbue/mng/resources/common_transcript_test.py
  libs/mng_claude_mind/README.md
  libs/mng_claude_mind/imbue/mng_claude_mind/cli.py
  libs/mng_claude_mind/imbue/mng_claude_mind/data_types.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/resources/transcript_watcher.py
  libs/mng_claude_mind/imbue/mng_claude_mind/resources/watcher_common.py
  libs/mng_claude_mind/imbue/mng_claude_mind/transcript_watcher_test.py
  libs/mng_claude_mind/pyproject.toml
Due: ruff

Remove duplicate CommonCliOptions import (ruff F811)
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Fix review issues and move tests to mng_llm
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/settings.py
  libs/mng_claude_mind/imbue/mng_claude_mind/test_ratchets.py
  libs/mng_llm/imbue/mng_llm/conftest.py
  libs/mng_llm/imbue/mng_llm/conversation_watcher_test.py
  libs/mng_llm/imbue/mng_llm/plugin.py
  libs/mng_llm/imbue/mng_llm/resources/conversation_db_test.py
  libs/mng_llm/imbue/mng_llm/resources/web_server_direct_test.py
  libs/mng_llm/imbue/mng_llm/settings.py
  libs/mng_llm/imbue/mng_llm/test_ratchets.py
  libs/mng_llm/imbue/mng_llm/web_server_test.py
  libs/mng_llm/pyproject.toml
  libs/mng_recursive/imbue/mng_recursive/test_ratchets.py
  libs/mng_recursive/imbue/mng_recursive/watcher_common.py
  libs/mng_recursive/imbue/mng_recursive/watcher_common_test.py
  libs/mng_recursive/pyproject.toml
Due: ruff

Refactor _upload_deploy_files to use rsync instead of individual file writes
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Try uploading faster
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Replace duplicate test with register_cli_commands test
  libs/mng_llm/imbue/mng_llm/plugin_test.py
  libs/mng_llm/imbue/mng_llm/test_ratchets.py
Due: ruff

See if single pyinfra calls are ok
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
Due: ruff

Add fixme
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
Due: ruff

Add ca-certificates to required packages and fix silent install failure
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/providers/ssh_host_setup.py
Due: ruff

Release v0.1.7 (concurrency-group, imbue-common, mng, mng-kanpan, mng-opencode, mng-pair, mng-tutor, resource-guards)
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mng/pyproject.toml
  libs/mng_kanpan/pyproject.toml
  libs/mng_opencode/pyproject.toml
  libs/mng_pair/pyproject.toml
  libs/mng_tutor/pyproject.toml
  uv.lock
Due: none

Fix claude install PATH to ~/.local/bin and add post-install verification
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/resources/Dockerfile
Due: ruff

Fix version argument passing in _install_claude()
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix create templates: split new_host into new_host + provider
  .mng/settings.toml
Due: none

Support agent address syntax in all commands that accept agent names
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/api/find_test.py
  libs/mng/imbue/mng/cli/agent_addr.py
  libs/mng/imbue/mng/cli/agent_addr_test.py
  libs/mng/imbue/mng/cli/agent_utils.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/cli/test_create.py
Due: ruff, regenerate-derived-files

Fix weak test assertion in test_install_claude_without_version
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Exclude generate_verify_skills.py from type checker
  pyproject.toml
Due: none

Add mng-notifications plugin based on mng observe event stream
  libs/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/__init__.py
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/config.py
  libs/mng_notifications/imbue/mng_notifications/config_test.py
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/mock_notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/plugin.py
  libs/mng_notifications/imbue/mng_notifications/plugin_test.py
  libs/mng_notifications/imbue/mng_notifications/terminals.py
  libs/mng_notifications/imbue/mng_notifications/terminals_test.py
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
  libs/mng_notifications/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Record all identified issues as JSONL in autofix flow
  .claude/commands/autofix.md
  .claude/skills/autofix/verify-and-fix.md
  .gitignore
Due: regenerate-derived-files

Extract shared deploy file staging into deploy_utils.stage_deploy_files
  libs/mng/imbue/mng/providers/deploy_utils.py
  libs/mng/imbue/mng/providers/deploy_utils_test.py
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Fix delete_volume docstring; add delete_volume NotFoundError test
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Convert to new arg format
  apps/minds/docs/remove-mng-list-json-fallback.md
  apps/minds/imbue/minds/cli/list.py
  apps/minds/imbue/minds/cli/update.py
  apps/minds/imbue/minds/deployment/local.py
  apps/minds/imbue/minds/forwarding_server/backend_resolver.py
  apps/minds/imbue/minds/forwarding_server/backend_resolver_test.py
  apps/minds/imbue/minds/forwarding_server/conftest.py
  apps/minds/imbue/minds/testing.py
  libs/mng/docs/commands/generic/common.md
  libs/mng_llm/imbue/mng_llm/resources/extra_context_tool.py
  libs/mng_llm/imbue/mng_llm/resources/web_server.py
  libs/mng_schedule/imbue/mng_schedule/cli/list.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff, regenerate-derived-files

Restore issue data upload to Modal volume
  .mng/settings.toml
  scripts/main_claude_stop_hook.sh
Due: none

Minor fixes
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff
