Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fail pre-commit hook if CLI doc regeneration produces changes
  .pre-commit-config.yaml
Due: none

Only print 'Updated' when file content actually changed
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Add unit tests for stopped host listing functionality
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Upgrade modal
  libs/mngr/pyproject.toml
  uv.lock
Due: none

add notes on marking future work
  CLAUDE.md
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  style_guide.md
Due: ruff

Fix mngr list to discover stopped Modal hosts
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Allow running mngr without modal auth configured
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Clean up auto-generated TODOs in markdown files
  apps/claude_web_view/docs/requirements.md
  contrib/claude-code-transcripts/AGENTS.md
  libs/imbue_common/README.md
  libs/mngr/docs/architecture.md
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/docs/core_plugins/default_url_for_cli_agents_via_ttyd.md
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/docs/customization.md
  libs/mngr/specs/plugins/git_status.md
Due: regenerate-cli-docs

Remove specs/commands/, merge unique items into docs
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/specs/commands/pair.md
  libs/mngr/specs/commands/provision.md
  libs/mngr/specs/commands/pull.md
Due: regenerate-cli-docs

ruff
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/utils/logging_test.py
  libs/mngr/imbue/mngr/utils/testing.py
  libs/mngr/imbue/mngr/utils/testing_test.py
Due: ruff

remove unnecessary todos
  libs/mngr/docs/api.md
Due: none

Add push CLI command for syncing files/git to agents
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/push_test.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Add FIXMEs for unimplemented create options in api/create.py
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

Add push CLI command for syncing files from host to agent
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Move [future] markers inline for core_plugins docs (batch 4)
  libs/mngr/docs/core_plugins/agent_data_url.md
  libs/mngr/docs/core_plugins/default_url_for_cli_agents_via_ttyd.md
  libs/mngr/docs/core_plugins/git_status.md
  libs/mngr/docs/core_plugins/host_data_url.md
  libs/mngr/docs/core_plugins/local_port_forwarding_via_frp_and_nginx.md
  libs/mngr/docs/core_plugins/offline_mngr_state.md
  libs/mngr/docs/core_plugins/user_activity_tracking_via_web.md
Due: none

Move [future] markers inline for specs/plugins and specs/providers
  libs/mngr/specs/plugins/ask.md
  libs/mngr/specs/plugins/default_url_for_cli_agents_via_ttyd.md
  libs/mngr/specs/plugins/github_auth.md
  libs/mngr/specs/plugins/local_port_forwarding_via_frp_and_nginx.md
  libs/mngr/specs/plugins/offline_mngr_state.md
  libs/mngr/specs/plugins/recursive_mngr.md
  libs/mngr/specs/plugins/user_activity_tracking_via_web.md
  libs/mngr/specs/providers/docker.md
  libs/mngr/specs/providers/local.md
  libs/mngr/specs/providers/modal.md
  libs/mngr/specs/providers/remote.md
Due: none

Add tests for authorization and provider filtering features
  libs/mngr/imbue/mngr/api/providers_test.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/errors_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Refactor modal provider tests to use subclasses instead of mocking
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Move [future] markers inline in command documentation (batch 2)
  libs/mngr/docs/commands/aliases/clone.md
  libs/mngr/docs/commands/aliases/migrate.md
  libs/mngr/docs/commands/generic/common.md
  libs/mngr/docs/commands/generic/multi_target.md
  libs/mngr/docs/commands/generic/resource_cleanup.md
  libs/mngr/docs/commands/primary/open.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/enforce.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/commands/secondary/snapshot.md
Due: regenerate-cli-docs

Move [future] markers inline for batch 1 (apps and mngr root)
  libs/mngr/docs/concepts/agent_types.md
  libs/mngr/docs/concepts/agents.md
  libs/mngr/docs/concepts/api.md
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/concepts/idle_detection.md
  libs/mngr/docs/concepts/permissions.md
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/docs/concepts/provider_backends.md
  libs/mngr/docs/concepts/providers.md
  libs/mngr/docs/concepts/provisioning.md
  libs/mngr/docs/concepts/snapshot.md
  libs/mngr/docs/conventions.md
  libs/mngr/docs/security_model.md
Due: none

Refactor specs to move [future] markers inline and remove TODO sections
  libs/mngr/specs/agent.md
  libs/mngr/specs/config.md
  libs/mngr/specs/error_handling.md
  libs/mngr/specs/git_interactions.md
  libs/mngr/specs/host.md
  libs/mngr/specs/host_class.md
  libs/mngr/specs/idle_detection.md
  libs/mngr/specs/locking.md
  libs/mngr/specs/logging.md
  libs/mngr/specs/plugins.md
  libs/mngr/specs/provider_instance.md
  libs/mngr/specs/provisioning.md
  libs/mngr/specs/ssh_access.md
Due: none

Move [future] markers inline for apps and mngr root docs
  apps/claude_web_view/README.md
  apps/claude_web_view/docs/requirements.md
  libs/mngr/README.md
  libs/mngr/analysis/raw-types-2026-01-19.md
  libs/mngr/docs/all_supported_agents.md
  libs/mngr/docs/architecture.md
  libs/mngr/imbue/mngr/README.md
Due: none

Clean up 'not documented' notes by moving [future] markers inline
  libs/mngr/docs/architecture.md
  libs/mngr/docs/security_model.md
  libs/mngr/specs/host.md
  libs/mngr/specs/idle_detection.md
Due: none

Clean up 'not documented' notes by adding [future] inline
  apps/claude_web_view/README.md
  apps/claude_web_view/docs/requirements.md
  libs/mngr/imbue/mngr/README.md
Due: none

Add [future] markers to doc locations for undocumented features
  libs/mngr/docs/concepts/environment_variables.md
  libs/mngr/docs/core_plugins/offline_mngr_state.md
  libs/mngr/docs/core_plugins/user_activity_tracking_via_web.md
  libs/mngr/docs/customization.md
  libs/mngr/specs/config.md
  libs/mngr/specs/host.md
  libs/mngr/specs/host_class.md
  libs/mngr/specs/logging.md
  libs/mngr/specs/plugins/user_activity_tracking_via_web.md
  libs/mngr/specs/ssh_access.md
Due: none

Address code review: deduplicate shared functions
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/rsync_utils.py
Due: ruff, regenerate-cli-docs

Fix reviewer-identified issues in push implementation
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/test_push.py
Due: ruff

more cleanup
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/specs/plugins/github_auth.md
  libs/mngr/specs/plugins/offline_mngr_state.md
Due: none

hopefully final cleanup
  libs/mngr/docs/concepts/idle_detection.md
  libs/mngr/docs/concepts/permissions.md
Due: none

Persist agent state to volume on shutdown for mngr list
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

remove pointless code
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Consolidate modal provider test helper functions to reduce duplication
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

fixes based on real changes in implementation
  libs/mngr/specs/agent.md
  libs/mngr/specs/config.md
  libs/mngr/specs/host.md
  libs/mngr/specs/host_class.md
  libs/mngr/specs/idle_detection.md
Due: none

Eliminate redundant provider and host loading in list_agents
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Use direct filesystem operations for local hosts
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Implement provider filtering to skip expensive provider initialization
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/providers.py
Due: ruff

Add performance note about Modal top-level imports
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Actually work without a modal key, once properly configured
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add note about celpy as candidate for lazy loading
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff
