Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Revert "Try bumping timeout"
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Add --dry-run to both migration scripts
  scripts/migrate_code_mng_to_mngr.sh
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Move old-dir cleanup after orphaned file move, exclude moved files in dry-run
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Suppress misleading 'rm' output from git rm --cached in step 1
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Reorder: directory renames before orphaned file moves
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Fix perl -ne exit code: END block overrides exit 0
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Only clean gitignored parts of .reviewer/, not tracked config
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Add a basic version of llm-webchat.
  libs/mngr_llm/imbue/mngr_llm/cli.py
  libs/mngr_llm/imbue/mngr_llm/plugin_test.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents.css
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents.js
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents_test.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_server.py
  libs/mngr_recursive/pyproject.toml
Due: ruff

Add imbue- prefix to CI step names and include publish.yml
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Add note about MNGR_PREFIX for existing resources after migration
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Clarify prefix migration: keep mng- until Modal agents finish
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Fix imports.
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_server.py
Due: ruff

Regenerate uv.lock.
  uv.lock
Due: none

Recommend MNGR_PREFIX env var instead of config.toml for old resources
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Add tmux session environment variable migration
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Limit artifact cleanup to old mng directories only
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Fix step 1 crash when no old mng directories exist
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Rename mng -> mngr
  .mngr/Dockerfile
  .mngr/image_commit_hash
  .mngr/settings.toml
Due: none

Add --reinstall to uv sync and fix worktree .git pointers
  scripts/migrate_state_mng_to_mngr.sh
Due: none

Remove broken mng_log.sh symlink
  scripts/mng_log.sh
Due: none

Move old-dir cleanup to function, run at step 4 and after uv lock
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Handle reintroduced .mng/ and libs/mng*/ after merging main
  scripts/migrate_code_mng_to_mngr.sh
Due: none

Add old mng directories to .gitignore to prevent re-addition
  .gitignore
Due: regenerate-derived-files

Fix pluggy registration crash with Pydantic v2 AgentsPlugin
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents_test.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_server.py
Due: ruff

A few more fiddly changes around naming
  libs/mngr/imbue/mngr/providers/deploy_utils.py
  libs/mngr/imbue/mngr/providers/deploy_utils_test.py
  libs/mngr_schedule/imbue/mngr_schedule/implementations/modal/deploy.py
  scripts/migrate_code_mng_to_mngr.sh
Due: ruff

Add idempotency note to execute_command docstring
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Rename and add fixme
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/events.py
  libs/mngr/imbue/mngr/api/exec.py
  libs/mngr/imbue/mngr/api/exec_test.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/hosts/common.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/hosts/tmux.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/providers/ssh/test_ssh_provider.py
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/skill_agent.py
  libs/mngr_claude/imbue/mngr_claude/test_claude_agent_dialog.py
  libs/mngr_file/imbue/mngr_file/cli/list.py
  libs/mngr_llm/imbue/mngr_llm/provisioning.py
  libs/mngr_llm/imbue/mngr_llm/settings.py
  libs/mngr_mind_chat/imbue/mngr_mind_chat/api.py
  libs/mngr_modal/imbue/mngr_modal/instance.py
  libs/mngr_modal/imbue/mngr_modal/test_modal_instance.py
  libs/mngr_pi_coding/imbue/mngr_pi_coding/plugin.py
  libs/mngr_recursive/imbue/mngr_recursive/provisioning.py
  libs/mngr_test_coder/imbue/mngr_test_coder/plugin.py
  libs/mngr_ttyd/imbue/mngr_ttyd/plugin.py
  scripts/check_parallel_uploads.py
Due: ruff

Add -f/--force flag to mngr stop (and archive by passthrough)
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/imbue/mngr/cli/stop.py
  libs/mngr/imbue/mngr/cli/stop_test.py
Due: ruff

Revert "Add -f/--force flag to mngr stop (and archive by passthrough)"
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/imbue/mngr/cli/stop.py
  libs/mngr/imbue/mngr/cli/stop_test.py
Due: ruff

Remove duplicate wait_for_completion call
  apps/minds/imbue/minds/forwarding_server/agent_creator_test.py
  uv.lock
Due: ruff

Add tombstone release script for old mng-* PyPI package names
  scripts/release_tombstones.py
Due: ruff

Rename _ACCEPT_TIMEOUT_SECONDS to _SHUTDOWN_POLL_SECONDS
  apps/minds/imbue/minds/forwarding_server/ssh_tunnel.py
Due: ruff

Add publish-tombstones workflow for PyPI trusted publishing
  .github/workflows/publish-tombstones.yml
  scripts/release_tombstones.py
Due: ruff

lint
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/cli/archive.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude_mind/imbue/mngr_claude_mind/provisioning.py
  libs/mngr_modal/imbue/mngr_modal/test_modal_instance.py
  libs/mngr_pi_coding/imbue/mngr_pi_coding/plugin.py
  libs/mngr_recursive/imbue/mngr_recursive/provisioning.py
Due: ruff

Reset host.py to origin/main -- fix deleted methods from bad merge
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Bump renamed packages to 0.2.0 for first imbue-mngr-* release
  libs/mngr/pyproject.toml
  libs/mngr_claude/pyproject.toml
  libs/mngr_kanpan/pyproject.toml
  libs/mngr_modal/pyproject.toml
  libs/mngr_opencode/pyproject.toml
  libs/mngr_pair/pyproject.toml
  libs/mngr_tutor/pyproject.toml
Due: none

Move plugin scripts into plugin dir, symlink from scripts/
  plugins/imbue-code-review/scripts/config_utils.sh
  plugins/imbue-code-review/scripts/export_transcript_paths.sh
  plugins/imbue-code-review/scripts/filter_transcript.py
  plugins/imbue-code-review/scripts/stop_hook_gates.sh
  scripts/config_utils.sh
  scripts/export_transcript_paths.sh
  scripts/filter_transcript.py
  scripts/stop_hook_gates.sh
Due: ruff

Add unit tests for model/fast_mode config features
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
Due: ruff

Rename fast_mode to is_fast in ClaudeAgentConfig
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
