Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add tmux-user variant of onboarding popup
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Add ratchet enforcing position-only or keyword-only params for public functions
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  style_guide.md
Due: ruff

WIP. Updating docs
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/tutorials/mega_tutorial.sh
Due: ruff, regenerate-cli-docs

Fix mngr_remote provider to surface errors instead of returning empty lists
  libs/mngr/imbue/mngr/providers/mngr_remote/client.py
  libs/mngr/imbue/mngr/providers/mngr_remote/instance.py
  libs/mngr/imbue/mngr/providers/mngr_remote/instance_test.py
  libs/mngr/imbue/mngr/providers/mngr_remote/remote_host.py
Due: ruff

Use dummy date in positional-or-keyword ratchet to avoid slow git blame
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Add missing bad example for mixed positional/keyword-only signatures
  style_guide.md
Due: none

Fixup docs
  libs/mngr/imbue/mngr/providers/docker/README.md
Due: none

Add smoke test report for Docker provider
  libs/mngr/imbue/mngr/providers/docker/SMOKE_TEST_REPORT.md
Due: none

Finish create section
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Edit onboarding text for tmux users, and create nested-tmux.md (which the former refers to)
  libs/mngr/docs/nested-tmux.md
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add comment explaining ast.arguments.args with link to Python docs
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Fix offload JUnit XML collection for test results
  offload-modal.toml
Due: none

Add offload test results to the .gitginore
  .gitignore
Due: none

Remove unnecessary timeout overrides from positional-or-keyword ratchet tests
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add [experimental] marker to plugin add and remove subcommands
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Add Docker create template and move Modal build_args to its template
  .mngr/settings.toml
Due: none

Fix test_onboarding_text_tmux_user_contains_keybindings
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Skip safe.directory global config for local hosts
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Remove unnecessary safe.directory from _transfer_git_repo
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Disable silly config
  .mngr/settings.toml
  libs/mngr/imbue/mngr/providers/docker/SMOKE_TEST_REPORT.md
Due: none

Ensure effortCalloutDismissed is set in Claude config
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Rename dialog prompt to be specific to effort callout
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Clarify trust prompt mentions editing ~/.claude.json
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Simplify on_before_provisioning docstring
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Set effort callout prompt default to False
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Unify trust+effort provision test into single dialog test
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Suggest mngr before Claude Code in error messages
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Extract dismiss_effort_callout and remove default args
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Remove redundant assertions in test_ensure_claude_dialogs_dismissed_sets_both
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Remove unused ensure_claude_dialogs_dismissed function
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Revert "Remove unused ensure_claude_dialogs_dismissed function"
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Revert "Remove redundant assertions in test_ensure_claude_dialogs_dismissed_sets_both"
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Extract _ensure_no_blocking_dialogs from provision
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Simplify _ensure_no_blocking_dialogs with bool checks
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Fix missed HostName("local") in create.py from merge
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Add test for create_host rejecting non-localhost names
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff

Defer backend loading for fast tab completion
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/help_formatter.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/registry.py
  libs/mngr/imbue/mngr/providers/registry_loader.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Deduplicate check functions by delegating to bool variants
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Bump underscore imports ratchet for registry_loader cross-module access
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Switch Claude Code install from npm to native installer
  scripts/install.sh
Due: none
