Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

code-guardian: inconsistency report
  _tasks/inconsistencies/2026-02-26-11-08-05.md
Due: none

code-guardian: inconsistency report 2026-02-26-11-15-03
  _tasks/inconsistencies/2026-02-26-11-15-03.md
Due: none

Add agent selection and deletion, split footer into two areas
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Run agent deletion asynchronously to avoid freezing the UI
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Full-copy mode: use git export at HEAD when in a git repo
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Fix default subcommand bug and eliminate duplicate subprocess call
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Fix CI status coloring and rename "checks" to "CI"
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Fix focus highlighting for colored text segments in agent lines
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Move import back in so that agent can deploy
  libs/mng/imbue/mng/providers/modal/routes/snapshot_and_shutdown.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Add push support, remote status, and PR creation links
  apps/pankan/imbue/pankan/data_types.py
  apps/pankan/imbue/pankan/fetcher.py
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Temp debug
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
Due: ruff

remove
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
Due: ruff

Rename pankan to kanpan and move from apps/ to libs/
  apps/pankan/pyproject.toml
  libs/mng_kanpan/conftest.py
  libs/mng_kanpan/imbue/mng_kanpan/__init__.py
  libs/mng_kanpan/imbue/mng_kanpan/cli.py
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/data_types_test.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher_test.py
  libs/mng_kanpan/imbue/mng_kanpan/github.py
  libs/mng_kanpan/imbue/mng_kanpan/github_test.py
  libs/mng_kanpan/imbue/mng_kanpan/plugin.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Always show PR creation link, not just when remote is up to date
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

code-guardian: inconsistency report 2026-02-26-14-16-19
  _tasks/inconsistencies/2026-02-26-14-16-19.md
Due: none

Use uv tool install --with for plugin management instead of uv pip
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/plugin_test.py
  libs/mng/imbue/mng/cli/test_plugin.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/install_dir.py
  libs/mng/imbue/mng/install_dir_test.py
  libs/mng/imbue/mng/uv_tool.py
  libs/mng/imbue/mng/uv_tool_test.py
  scripts/install.sh
Due: ruff, regenerate-cli-docs

Remove PR drafted as a dedicated section, merge into in review
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/data_types_test.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Remove trailing comment that trips ratchet test
  libs/mng/imbue/mng/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Add agent mute feature and focus persistence across refreshes
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Allow deselecting all agents by pressing Up from first entry
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Instant UI update on mute toggle (no full refresh)
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Auto-dismiss transient footer messages after 3 seconds
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Preserve origin remote when transferring git repos to new agents
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/utils/git_utils.py
  libs/mng/imbue/mng/utils/git_utils_test.py
Due: ruff

code-guardian: inconsistency report 2026-02-26-15-05-04
  _tasks/inconsistencies/2026-02-26-15-05-04.md
Due: none

Add configurable custom commands via plugin config
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/plugin.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Use MNG_AGENT_NAME env var for custom commands, rename trigger_refresh
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Fix custom command config parsing from raw dicts
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

adjust regex
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
Due: ruff

Very silly but might as well
  libs/mng/imbue/mng/utils/polling.py
Due: ruff

Add delete confirmation for agents without merged PR
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Update title, description, and add README
  libs/mng_kanpan/README.md
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/pyproject.toml
Due: ruff

Allow overriding/disabling builtin keybindings via config
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Magenta background for notifications, change delete confirm to y
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Revert tagline to "all-seeing agent tracker"
  libs/mng_kanpan/README.md
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/pyproject.toml
Due: ruff

Trim README to introduction and customization
  libs/mng_kanpan/README.md
Due: none

Add ratchet test enforcing import-linter for production code
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Move retry hint out of _emit_output to the call site
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-cli-docs

Use import-linter Python API instead of parsing CLI output
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Use glob patterns for test module matching in import lint check
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
