Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Fix sigwinch setting with claude I think
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Fix reviewer issues: accurate comments, remove dead code
  apps/changelings/pyproject.toml
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mngr/pyproject.toml
  pyproject.toml
Due: ruff

Clarify that --offline blocks outgoing traffic only
  libs/mngr/README.md
  libs/mngr/docs/core_plugins/providers/modal.md
Due: none

Fix tests broken by recent sigwinch and session_started changes
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Clarify completion setup instructions for installed mngr
  libs/mngr/imbue/mngr/cli/completion_command.py
Due: ruff, regenerate-cli-docs

Fix flaky test on freshly started CI runners
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

WIP. Properly wait before sending initial messages
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Move Modal acceptance tests from instance_test.py to test_modal_instance.py
  libs/mngr/imbue/mngr/providers/modal/conftest.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
Due: ruff

Remove module docstrings from test files
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
Due: ruff

Fix TUI wait ordering: start agent before checking TUI readiness
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Remove completion subcommand, document Click-native shell completion
  libs/mngr/README.md
  libs/mngr/imbue/mngr/cli/completion_command.py
  libs/mngr/imbue/mngr/cli/completion_command_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix stop hook
  .claude/settings.json
Due: none

Add unit tests to bring changelings coverage above 80%
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/main_test.py
  apps/changelings/pyproject.toml
Due: ruff

Rewrite tests without mocks per style guide, raise threshold to 80%
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/main_test.py
Due: ruff

Fix reviewer issue: replace tautological assertions with meaningful checks
  apps/changelings/imbue/changelings/cli/run_test.py
Due: ruff

Oops missing some changes
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add inline-snapshot config to per-project pyproject.toml files
  apps/changelings/pyproject.toml
  libs/mngr/pyproject.toml
Due: none

Update pyproject.toml comments to list all non-centralizable settings
  apps/changelings/pyproject.toml
  libs/mngr/pyproject.toml
  pyproject.toml
Due: none

Change cli_args from str to tuple[str, ...] for consistency with agent_args
  libs/mngr/imbue/mngr/agents/agent_registry_test.py
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr_opencode/imbue/mngr_opencode/plugin.py
  libs/mngr_opencode/imbue/mngr_opencode/plugin_test.py
Due: ruff

Add allow_remote_agent_installation config to gate auto-install on remote hosts
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
Due: ruff

Rename allow_remote_agent_installation to is_remote_agent_installation_allowed
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
Due: ruff

Reject unknown fields in config sub-parsers to catch typos early
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff

Fix reviewer issues: remove patch usage and fix merge logic for optional bool
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
Due: ruff

Replace raw str with UserId type for user ID throughout the codebase
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/modal/config.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add set -euo pipefail to Modal shutdown script
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Extract duplicated field aliases to module-level _FIELD_ALIASES constant
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Use UTC timestamp instead of random UUID for default snapshot names
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add --start/--no-start option to message command for starting offline hosts and stopped agents
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/cli/message_test.py
Due: ruff, regenerate-cli-docs

Add test for auto-starting stopped agents in send_message_to_agents
  libs/mngr/imbue/mngr/api/message_test.py
Due: ruff

Warn when git submodules are detected during repo transfer
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Convert OfflineHostToDestroy and DestroyTargets from NamedTuple to FrozenModel
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff, regenerate-cli-docs

Narrow exception catch and add tests for submodule detection
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Validate project mismatch when creating new host from external source
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Fix flaky test_no_await_ready_creates_agent_in_background by increasing timeout
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Add strict mode (set -euo pipefail) to all bash scripts missing it
  frpc_test/test.sh
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  scripts/claude_status_line.sh
  scripts/stop_hook_common.sh
Due: ruff

Fix flaky test by waiting for Modal async log delivery to stabilize
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/imbue/mngr/providers/modal/log_utils_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
Due: ruff

Replace assert isinstance() with proper runtime checks in provider code
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/registry.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Mark gc.py cleanup cross-reference FIXME as not yet actionable
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 2
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Increment gc.py cleanup cross-reference FIXME attempts to 3
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
