Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Fix TMUX_TMPDIR isolation: use short /tmp path to avoid socket length limit
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Extract _build_package_check_snippet to DRY up package install checks
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
Due: ruff

Fix ask command: add split pattern, AbortError handling, timeout, remove test infra
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Add error handling for migrate destroy step and missing test
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
Due: ruff, regenerate-cli-docs

Fix mkdtemp to actually use /tmp and correct misleading comment
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Add returncode checks for mngr list and create commands
  scripts/josh/workflow.py
Due: ruff

Remove execute-mode integration tests that run real subprocesses
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Extract parse_source_and_invoke_create to deduplicate clone and migrate
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/migrate.py
Due: ruff, regenerate-cli-docs

Add safety assertion before tmux kill-server to prevent killing real tmux
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix tmux kill-server killing real tmux when running tests inside tmux
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

Replace monkeypatched select_agent tests with real integration tests
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
  libs/mngr/imbue/mngr/cli/test_agent_utils.py
Due: ruff, regenerate-cli-docs

Generate alias command docs (clone, migrate) from help metadata
  libs/mngr/docs/commands/aliases/clone.md
  libs/mngr/docs/commands/aliases/migrate.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Fix code review issues: default args, unnamed params, fixture extraction
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

Replace subprocess usage with ConcurrencyGroup in pair, modal backend, and deployment
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/deployment.py
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
Due: ruff, regenerate-cli-docs

Add start and stop to PRIMARY_COMMANDS so their docs are generated
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Fix code review issues: sort-order fallback, pure column widths, single-pass distribution, remove unused config
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Update test_pair.py to use ConcurrencyGroup
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Fix hardcoded command name in reject_source_agent_options and remove duplicate tests
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
Due: ruff, regenerate-cli-docs

Fix test files to pass ConcurrencyGroup as first parameter
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/issue_reporting_test.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff, regenerate-cli-docs

Fix -- separator consumed by Click UNPROCESSED and improve test coverage
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
Due: ruff, regenerate-cli-docs

Add [future] options to start and stop commands
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/start_test.py
  libs/mngr/imbue/mngr/cli/stop.py
  libs/mngr/imbue/mngr/cli/stop_test.py
Due: ruff, regenerate-cli-docs

Update ask query prefix with concise explanation style and README example
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Fix code review issues in clone/migrate commands
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/migrate.py
Due: ruff, regenerate-cli-docs

Fix remaining test failures after ConcurrencyGroup migration
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/help_formatter.py
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/cli/issue_reporting_test.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/cli/test_config.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/editor.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/interactive_subprocess.py
Due: ruff, regenerate-cli-docs

Fix review issues: add Final annotations and consolidate error tests
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Fix inconsistent graceful_timeout guard in stop.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff, regenerate-cli-docs

Remove unnecessary Field() usage in ask test doubles
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Fix minor code review issues in clone/start/stop/migrate
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff, regenerate-cli-docs

Update README.md
  libs/mngr/README.md
Due: none

Prevent uncommitted changes from stopping the stop hook
  scripts/main_claude_stop_hook.sh
Due: none

Apply ruff formatting to test_pair.py and modal/backend.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Prevent coverage from applying to scripts
  pyproject.toml
Due: none

Fix reviewer issues: narrow exception catches, deduplicate cg fixture, fix config loader fallback
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/cli/issue_reporting_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff, regenerate-cli-docs

Fixup workflow
  scripts/josh/workflow.py
Due: ruff

Fix stop hook
  scripts/main_claude_stop_hook.sh
Due: none

Fix modal acceptance tests: provide ConcurrencyGroup to modal_mngr_ctx fixture
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix crash simulation test to use shutdown event instead of graceful terminate
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Remove monkeypatch.setattr from test_config.py in favor of monkeypatch.chdir
  libs/mngr/imbue/mngr/cli/test_config.py
Due: ruff, regenerate-cli-docs

Fix reviewer issues: use mngr_ctx.cg property, restore docstrings and section headers
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
