Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Clean up batch-era docstrings and comments
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Split verify-architecture into orchestrator and subagent prompt
  .claude/commands/analyze-architecture.md
  .claude/commands/verify-architecture-v2.md
Due: none

Replace v1 draft with final verify-architecture skill
  .claude/commands/verify-architecture-v2.md
  .claude/commands/verify-architecture.md
Due: none

Fix test naming and deduplicate name-extraction logic
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/migrate.py
Due: ruff

Move --adopt-session agent-type validation after type resolution
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff

Remove tautological alias test
  libs/mng/imbue/mng/aliases_test.py
Due: ruff

Update tab completion cache immediately after agent creation
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/config/completion_writer.py
Due: ruff, regenerate-derived-files

Fix review issues: deduplicate fixture and use correct log levels
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conversation_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/event_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/transcript_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/watcher_common_test.py
Due: ruff

Simplify add_agent_name_to_cache: early return and drop type guards
  libs/mng/imbue/mng/config/completion_writer.py
Due: ruff

Fix claude
  CLAUDE.md
Due: none

Simplify check_no_import_lint_errors to just check contract status
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Rename aliases_test.py to cli_group_test.py
  libs/mng/imbue/mng/cli_group_test.py
Due: ruff

Add resize-aware full redraw for streaming mng ls
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
Due: ruff, regenerate-derived-files

Split docker guard into docker (CLI binary) and docker_sdk (API monkeypatch)
  CLAUDE.md
  conftest.py
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/mng/conftest.py
  libs/mng/imbue/mng/providers/docker/test_docker_integration.py
  libs/mng/imbue/mng/providers/docker/test_docker_lifecycle.py
  libs/mng/imbue/mng/register_guards.py
  libs/mng/imbue/mng/register_guards_test.py
Due: ruff

Fix cursor_up miscounting in _full_redraw on terminal resize
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Fix docker SDK guard using wrong resource name
  libs/mng/imbue/mng/register_guards.py
Due: ruff

Fix typo in CLAUDE.md: mismatched asterisk/quote
  CLAUDE.md
Due: none

Use plain code paths instead of markdown links for prompt file references
  .claude/commands/verify-architecture.md
Due: none

Use new-width + \r for resilient redraw on terminal resize
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Fix missing json import in ask_test.py after merge
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Rework --adopt-session as a plugin concern via generic plugin_data
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/host.py
Due: ruff, regenerate-derived-files

Bump Args-in-docstrings ratchet for OnBeforeCreateArgs false positive
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

too specific
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
Due: ruff

Update CLAUDE.md
  CLAUDE.md
Due: none

Remove Any bridge in StderrInterceptor, use structural subtyping instead
  CLAUDE.md
  libs/mng/imbue/mng/utils/terminal.py
Due: ruff

Remove isolated_tmux_server(), use monkeypatch-based isolate_tmux_server() everywhere
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/plugin_testing.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff

Add debug logging for caught exceptions in query_claude
  libs/mng/imbue/mng/utils/claude.py
Due: ruff

Revert "Merge branch 'mng/plugin-add-options-local' into claude/mng-plugin-invitations-tip-3Tp60"
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/common_opts_test.py
  libs/mng/imbue/mng/cli/test_plugin_cli_options.py
Due: ruff, regenerate-derived-files

Validate --sort field in mng ls to reject unknown field names
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Use TemporaryDirectory context manager instead of manual mkdtemp/rmtree
  libs/mng/imbue/mng/utils/claude.py
Due: ruff

Validate sort fields recursively through the full model type hierarchy
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Update remaining logs/ references across plugins and docs
  apps/changelings/examples/hello-world/server.py
  apps/changelings/imbue/changelings/cli/forward.py
  apps/changelings/imbue/changelings/deployment/local.py
  apps/changelings/imbue/changelings/forwarding_server/README.md
  apps/changelings/imbue/changelings/forwarding_server/runner.py
  apps/changelings/imbue/changelings/forwarding_server/test_forwarding_server.py
  libs/mng/docs/core_plugins/providers/modal.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/event_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/thinking/skills/get-event-type-info/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/thinking/skills/list-conversations/SKILL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Fix event watcher test that matched 'events' substring in all commands
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
Due: ruff

Fix missed logs/ references found by reviewer
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/hosts/host.py
  scripts/main_claude_stop_hook.sh
  scripts/stop_hook_common.sh
Due: ruff

Fix missing comma bug in inject_changeling_windows tuple literal
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
Due: ruff

Raise SwitchError for unhandled annotation origins in _resolve_model_type
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Move --adopt-session CLI option to ClaudeAgent plugin (Phase B)
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/host.py
Due: ruff, regenerate-derived-files

Clarify --adopt-session help text and examples
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Improve SwitchError message for non-optional union types
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files
