Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Add junit_format = pytest to offload config
  offload-modal.toml
Due: none

Fix docker build context: append Dockerfile's parent dir when no context path given
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Send messages concurrently so one failure does not block others
  libs/mng/imbue/mng/api/message.py
Due: ruff

Add comment explaining stale_mtime read-back
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Deduplicate JUnit classname fixture
  apps/changelings/conftest.py
  conftest.py
  libs/mng/conftest.py
Due: ruff

Fix false-negative race in fresh-cache throttling assertion
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Add per-package bump level overrides with DAG cascade
  scripts/release.py
Due: ruff

Move throttling integration test to test_completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/test_completion.py
Due: ruff, regenerate-cli-docs

Convert test files from create_test_agent_via_cli pattern to create_test_agent fixture
  libs/mng/imbue/mng/api/test_fixtures.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/test_agent_utils.py
  libs/mng/imbue/mng/cli/test_clone.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_snapshot.py
Due: ruff, regenerate-cli-docs

Fix --dockerfile help text: remove inaccurate 'works with all providers' claim
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-cli-docs

Remove redundant dockerfile mentions from create_host docstrings
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Add JUnit classname fixture directly to conftest files
  apps/changelings/conftest.py
  conftest.py
  libs/mng/conftest.py
Due: ruff

Note Docker build context default in --dockerfile help text
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-cli-docs

Simplify Docker context handling and improve comments
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff, regenerate-cli-docs

Include class hierarchy in JUnit XML name attribute
  apps/changelings/conftest.py
  conftest.py
  libs/mng/conftest.py
  offload-modal.toml
Due: ruff

Use sys.executable for background cache refresh instead of shutil.which
  libs/mng/imbue/mng/cli/completion.py
Due: ruff, regenerate-cli-docs

Revert api/fixtures.py rename and clean up ratchet exclusion
  CLAUDE.md
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/api/test_pull.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff

Extract config pre-readers into standalone module for fast imports
  libs/mng/imbue/mng/cli/default_command_group.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/config/pre_readers.py
  libs/mng/imbue/mng/config/pre_readers_test.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-cli-docs

Extract get_dockerfile_context_dir to keep Docker and Modal in sync
  libs/mng/imbue/mng/api/data_types.py
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Update imports from test_fixtures to testing module
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/api/test_pull.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/api/testing.py
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff

Add regression test: one agent failure does not block others
  libs/mng/imbue/mng/api/message_test.py
Due: ruff

Deduplicate JUnit classname fixture into conftest_hooks.py
  apps/changelings/conftest.py
  conftest.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mng/conftest.py
Due: ruff

Fix test function name typo: testget -> test_get
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff

Simplify JUnit classname fixture to use nodeid directly
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Rename api/test_fixtures.py to api/testing.py
  CLAUDE.md
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Replace bare ValueError with _TomlParseError in pre_readers.py
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff

Clarify docker build error message in comment
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Error if both --dockerfile and -b --dockerfile are specified for Modal
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Update docs to use --dockerfile instead of -b --file / -b dockerfile
  libs/mng/docs/core_plugins/providers/docker.md
  libs/mng/docs/core_plugins/providers/modal.md
Due: none

Use OFFLOAD_ROOT for consistent JUnit classnames
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  offload-modal.toml
Due: ruff

Check PyPI version up front to detect unpublished releases
  scripts/release.py
Due: ruff

Replace regression test with one that actually fails on old code
  libs/mng/imbue/mng/api/message_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Add --dockerfile-context option for specifying build context directory
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/core_plugins/providers/docker.md
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/data_types.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/providers/base_provider.py
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/local/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Use read_default_host_dir pre-reader for full config precedence in tab completion
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add unit tests for get_dockerfile_context_dir
  libs/mng/imbue/mng/api/data_types_test.py
Due: ruff

Detect blocking dialogs before sending messages to agents
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/errors.py
Due: ruff

Set JUnit XML name to full test ID for exact matching
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  offload-modal.toml
Due: ruff

Adapt to merged completion.py changes (sys.executable instead of shutil.which)
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/test_completion.py
Due: ruff, regenerate-cli-docs

Extract _raise_send_timeout helper for dialog check + timeout pattern
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Replace custom _capture_stdout with pytest capsys
  libs/mng/imbue/mng/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs
