Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Restore read-only validation note in on_before_provisioning docstring
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Simplify mock_host setup in trust extension tests
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Factor out agent construction boilerplate in trust tests
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Rename _make_claude_agent to make_mock_claude_agent with clearer docstring
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add tests for review comments and wire check_source_directory_trusted
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Try making new hooks and agent types
  .claude/agents/code-task.md
  .claude/settings.json
  .mngr/settings.toml
  CLAUDE.md
Due: none

Temporarily make it easier to start
  .mngr/settings.toml
Due: none

Sigh
  .mngr/settings.toml
Due: none

Fix another arg
  .mngr/settings.toml
Due: none

Another attempt to customize hooks
  .claude/agents/code-task.md
  .mngr/settings.toml
Due: none

Resolve custom agent types through parent_type
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/agents/agent_registry_test.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Guard destroy_agent cleanup with try/finally and fix stale docstring
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Remove misleading @pure from _find_project_config
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Fix permissions to override (not merge) parent type per documentation
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/agents/agent_registry_test.py
Due: ruff

Remove unnecessary allowedTools in test trust config
  libs/mngr/imbue/mngr/api/test_create.py
Due: ruff

Fix outdated docstring on ClaudeDirectoryNotTrustedError
  libs/mngr/imbue/mngr/errors.py
Due: ruff

Extract test helper to reduce setup duplication in resolve_agent_type tests
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/agents/agent_registry_test.py
Due: ruff

Use temp_git_repo fixture in worktree test
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Skip message acceptance tests if Claude CLI is not installed
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Make wait_for_ready_signal raise AgentStartError on timeout
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Make settings.local.json write atomic and remove unnecessary backup
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Change noop key sequence from Right/Left to Left/Right
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Remove MNGR_CLAUDE_CONFIG_PATH and rename --message-delay to --ready-timeout
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/test_message.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Fix spec to use idle_timeout_seconds instead of max_idle_seconds
  libs/mngr/specs/host.md
Due: none

Remove obsolete benchmark_enter_sleep.py script
  scripts/benchmark_enter_sleep.py
Due: ruff

Decrease time.sleep ratchet from 8 to 7
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Refactor polling to return count and elapsed time
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/utils/polling.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove sleep from _send_message_simple
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Decrease time.sleep ratchet from 6 to 5
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove unused get_enter_delay_seconds and DEFAULT_ENTER_DELAY_SECONDS
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Use autouse fixture's HOME instead of manually setting it
  libs/mngr/imbue/mngr/cli/test_message.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Change timing instrumentation logs from info to trace
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Use full timeout for readiness polling, not remaining after start_action
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Factor out assert_home_is_temp_directory() for shared safety check
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Simplify Enter signal wait using timeout command instead of manual polling
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Simplify Enter signal wait using timeout command instead of manual polling
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Refactor acceptance tests: extract helpers to reduce repetition
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Fix release tests: use temp git repo, pass env vars, disable Modal
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
