Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Fix hang when using multiple Modal provider instances
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Add PAUSED and CRASHED host states to distinguish shutdown reasons
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Fix stop_reason storage location and refactor tests
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Update acceptance test to use correct HostRecord JSON structure
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
Due: ruff

Fix _write_host_record to access host_id from certified_host_data
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Add get_failure_reason and get_build_log abstract methods to HostInterface
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Try a different key binding for stopping
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add fixme
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

Replace deal library with simple @pure decorator
  apps/sculptor_web/imbue/sculptor_web/main.py
  libs/imbue_common/imbue/imbue_common/pure.py
  libs/imbue_common/imbue/imbue_common/pure_test.py
  libs/imbue_common/imbue/imbue_common/pytest_utils.py
  libs/imbue_common/imbue/imbue_common/pytest_utils_test.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/imbue_common/pyproject.toml
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/help_formatter.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/hosts/common.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/utils/cel_utils.py
  libs/mngr/imbue/mngr/utils/editor.py
  libs/mngr/imbue/mngr/utils/env_utils.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/logging.py
  libs/mngr/imbue/mngr/utils/name_generator.py
  scripts/style_guide.py
  style_guide.md
  uv.lock
Due: ruff, regenerate-cli-docs

Call on_agent_created hooks after agent creation
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Minor fixups from previous PR
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Properly snapshot modal hosts after the agents are created and initial message is delivered
  libs/mngr/imbue/mngr/plugins/hookspecs.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Update tests to account for the fact that we moved the initial snapshot location
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Prevent garbage types and keys for objects
  libs/imbue_common/imbue/imbue_common/frozen_model.py
  libs/imbue_common/imbue/imbue_common/mutable_model.py
Due: ruff

Replace max_idle_seconds with idle_timeout_seconds consistently
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
  libs/mngr/specs/host.md
Due: ruff, regenerate-cli-docs

Add reproduction script for Modal Sandbox.list() bug
  scripts/modal_sandbox_list_bug_repro.py
Due: ruff

Re-order fields for list
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Fix destroy to be ok with not actually destroying anything
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
Due: ruff, regenerate-cli-docs

Add idempotent Modal agent creation job to CI
  .github/workflows/ci.yml
Due: none

Add SSH disconnect before host termination to prevent socket errors
  libs/mngr/imbue/mngr/cli/test_destroy.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add --await-ready to ensure agent is fully created before verification
  .github/workflows/ci.yml
Due: none

Fix tests
  libs/mngr/imbue/mngr/cli/test_destroy.py
Due: ruff, regenerate-cli-docs

WIP. Check for user_id in the repo as well
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Update docs
  libs/mngr/README.md
  libs/mngr/docs/api.md
  libs/mngr/docs/architecture.md
  libs/mngr/docs/concepts/agent_types.md
  libs/mngr/docs/concepts/agents.md
  libs/mngr/docs/concepts/api.md
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/concepts/providers.md
  libs/mngr/docs/conventions.md
  libs/mngr/docs/core_plugins/git_status.md
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/specs/agent.md
  libs/mngr/specs/commands/pull.md
  libs/mngr/specs/providers/local.md
  libs/mngr/specs/providers/modal.md
Due: none

Fix key binding
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Implement profile-based data layout for ~/.mngr
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/message_test.py
  libs/mngr/imbue/mngr/api/providers_test.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/local/backend_test.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Update readme to allow the checks to run again
  README.md
Due: none

Add tests for profile functions and fix docs
  libs/mngr/docs/concepts/environment_variables.md
  libs/mngr/docs/customization.md
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/test_config.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/specs/config.md
Due: ruff, regenerate-cli-docs

Simple rename so we can use this later
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Refactor config CLI to reuse profile dir function and regenerate docs
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff, regenerate-cli-docs

Add --known-host CLI option for outbound SSH from hosts
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff, regenerate-cli-docs

Update docs
  libs/mngr/imbue/mngr/cli/config.py
Due: ruff, regenerate-cli-docs

WIP. Fix up new profile logic
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff, regenerate-cli-docs

Fix circular import
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff

Fix profile-related configurations and add modal user_id override
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/test_config.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/config.py
Due: ruff, regenerate-cli-docs

Move known_hosts setup into Modal provider's SSH setup
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Fix labels path in test_get_host_tags_returns_empty_when_labels_file_is_empty
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff

Add unit tests for ModalProviderConfig user_id field
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

lint
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Fix duplicate get_boot_time method from merge
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
