Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

Accept WAITING state for restart check, use dedent, Modal lesson
  libs/mng/imbue/mng/cli/tutor/checks.py
  libs/mng/imbue/mng/cli/tutor/checks_test.py
  libs/mng/imbue/mng/cli/tutor/data_types.py
  libs/mng/imbue/mng/cli/tutor/data_types_test.py
  libs/mng/imbue/mng/cli/tutor/lessons.py
  libs/mng/imbue/mng/cli/tutor/lessons_test.py
  libs/mng/imbue/mng/cli/tutor/tui.py
Due: ruff, regenerate-cli-docs

Add a few extra packages for mng deployments
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Ship .git/info/exclude to remote agents after git push
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/interfaces/host.py
Due: ruff, regenerate-cli-docs

Restore TOML parse error details in _load_toml
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Implement local provider for mng schedule add and list
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/list.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/data_types_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/crontab.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/crontab_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Extract shared git helpers and test fixture to eliminate duplication
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/git.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add generators for configs
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix reviewer issues: imports, alias, and env consolidation duplication
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/env.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Edit UI and lesson manually
  libs/mng/imbue/mng/cli/tutor/lessons.py
  libs/mng/imbue/mng/cli/tutor/tui.py
Due: ruff, regenerate-cli-docs

More manual edits
  libs/mng/imbue/mng/cli/tutor/tui.py
Due: ruff, regenerate-cli-docs

Add backwards-compat aliases and remove dead code
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/data_types_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Always ship generated defaults for ~/.claude/settings.json and ~/.claude.json
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Replace monkeypatch.setattr with dependency injection in deploy tests
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
Due: ruff

Restore TOML parse error details in config loader
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Add get_env_vars_for_deploy plugin hook for schedule deployments
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add bypassPermissionsModeAccepted to generated claude.json defaults
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Separate trigger dirs from records dir to prevent name collisions
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
Due: ruff

Widen exception handlers in completion.py to match never-raises contracts
  libs/mng/imbue/mng/cli/completion.py
Due: ruff, regenerate-cli-docs

Update broad exception catch ratchet for shell completion handlers
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Fix reviewer issues: env var quoting regression and test improvements
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Extract shared helpers and fix deploy path for claude.json
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Move default Dockerfile logic from ssh_host_setup into docker/instance
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/ssh_host_setup.py
Due: ruff

Avoid num-prefix ratchet match and fix datetime import alias
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Revert "Widen exception handlers in completion.py to match never-raises contracts"
  libs/mng/imbue/mng/cli/completion.py
Due: ruff, regenerate-cli-docs

Revert "Update broad exception catch ratchet for shell completion handlers"
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Rename load_toml to _load_toml in pre_readers.py
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff

Fix stale 'never raises' claims in internal completion functions
  libs/mng/imbue/mng/cli/completion.py
Due: ruff, regenerate-cli-docs

Move pre_readers tests from loader_test.py to pre_readers_test.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/config/pre_readers_test.py
Due: ruff

Fix crontab error handling, quote env values, add integration test
  libs/mng_schedule/imbue/mng_schedule/env.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/crontab.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
Due: ruff

Narrow num-prefix ratchet to only match snake_case num_ pattern
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Rename get_env_vars_for_deploy to modify_env_vars_for_deploy (in-place mutation)
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Restore public get_state_volume API on ModalProviderInstance
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Add modify_env_vars_for_deploy to plugin docs, fix stale docstring and inline import
  libs/mng/docs/concepts/plugins.md
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix docs and remove default list command
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/cli/commands.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
Due: ruff

Increase observed test duration
  .test_durations
Due: none

docs: rename nested_tmux.md to tmux_users.md, add session isolation section
  libs/mng/docs/tmux_users.md
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Fix README default-command text and narrow exception catches
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/list.py
Due: ruff

Migrate deploy_test.py to use shared bare_temp_mng_ctx and temp_mng_ctx fixtures
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Bump test_prevent_getattr ratchet snapshot from 8 to 10
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
