Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Use structured JSON for .autofix/result
  .claude/skills/autofix/SKILL.md
  scripts/run_reviewer.sh
Due: none

Consolidate fresh-context subagent instructions in autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

Trim redundant explanation from fresh-context instruction
  .claude/skills/autofix/SKILL.md
Due: none

Use bash templating for stale state cleanup in autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

Add lightweight tab completion without click
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Skip provider config blocks for disabled plugins
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/config/provider_registry_test.py
  libs/mng/imbue/mng/providers/registry.py
Due: ruff

Template mkdir and base branch resolution in autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

Remove default args from parse_config and _parse_providers
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff, regenerate-cli-docs

Remove COMMAND_ALIASES in favor of auto-detection from click group
  libs/mng/imbue/mng/cli/aliases_test.py
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/utils/click_utils.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add /wait-for-agent skill for cross-agent coordination
  .claude/commands/wait-for-agent.md
Due: none

Fix type error in _make_default_opts test helper
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-cli-docs

Replace dynamic _make_default_opts helper with type-safe constant and model_copy_update
  libs/mng/imbue/mng/cli/message_test.py
Due: ruff, regenerate-cli-docs

Delete completion.py, move contents to completion_writer.py
  libs/mng/README.md
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/logs.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/pull.py
  libs/mng/imbue/mng/cli/push.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng_pair/imbue/mng_pair/cli.py
  scripts/install.sh
Due: ruff, regenerate-cli-docs

Optimize ratchet testing: use per-file git blame instead of per-line
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
Due: ruff

Reduce test timeouts to make tests faster
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/cli/watch_mode.py
  libs/mng/imbue/mng/cli/watch_mode_test.py
Due: ruff, regenerate-cli-docs

Mark slow tmux/agent integration tests as acceptance tests
  libs/mng/imbue/mng/api/message_test.py
  libs/mng/imbue/mng/cli/test_cleanup.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/cli/test_plugin.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/hosts/test_host.py
Due: ruff, regenerate-cli-docs

Mark more agent-creating integration tests as acceptance
  libs/mng/imbue/mng/api/test_list.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/test_agent_utils.py
  libs/mng/imbue/mng/cli/test_clone.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_list.py
  libs/mng/imbue/mng/plugins/agent_host_hooks_test.py
Due: ruff, regenerate-cli-docs

Mark remaining tmux/subprocess integration tests as acceptance
  libs/mng/imbue/mng/cli/test_rename.py
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff, regenerate-cli-docs

Speed up test suite: remove xdist_group, move slow tests to acceptance, use auto workers
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/test_ratchets.py
  apps/changelings/pyproject.toml
  libs/mng/imbue/mng/cli/help_formatter_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng/pyproject.toml
  pyproject.toml
Due: ruff, regenerate-cli-docs

Use worksteal distribution for better xdist parallelism
  apps/changelings/pyproject.toml
  libs/mng/pyproject.toml
  pyproject.toml
Due: none

Make coverage opt-in for local test runs (saves ~7s)
  apps/changelings/pyproject.toml
  libs/mng/pyproject.toml
  pyproject.toml
Due: none

code-guardian: inconsistency report for 2026-02-25
  _tasks/inconsistencies/2026-02-25-11-05-40.md
Due: none

Split tutor into standalone plugin
  libs/mng/imbue/mng/main.py
  libs/mng_tutor/conftest.py
  libs/mng_tutor/imbue/mng_tutor/__init__.py
  libs/mng_tutor/imbue/mng_tutor/checks.py
  libs/mng_tutor/imbue/mng_tutor/checks_test.py
  libs/mng_tutor/imbue/mng_tutor/cli.py
  libs/mng_tutor/imbue/mng_tutor/conftest.py
  libs/mng_tutor/imbue/mng_tutor/data_types.py
  libs/mng_tutor/imbue/mng_tutor/data_types_test.py
  libs/mng_tutor/imbue/mng_tutor/lessons.py
  libs/mng_tutor/imbue/mng_tutor/lessons_test.py
  libs/mng_tutor/imbue/mng_tutor/plugin.py
  libs/mng_tutor/imbue/mng_tutor/tui.py
  libs/mng_tutor/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Rework destroy: explicit worktree removal, rename to --remove-created-branch
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
  libs/mng/imbue/mng/interfaces/agent.py
  libs/mng/imbue/mng/interfaces/host.py
Due: ruff, regenerate-cli-docs

Extract remove_worktree to git_utils.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/utils/git_utils.py
Due: ruff, regenerate-cli-docs

Also write secrets as json
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Remove git auth
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Fix test missed during merge: extract .path from CreateWorkDirResult
  libs/mng/imbue/mng/hosts/test_host.py
Due: ruff

Minor fixes to allow for caching and prevent double installation of uv
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Use mng shebang to find python in install.sh
  scripts/install.sh
Due: none

See if we can get git update to work out
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Another try
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Add dedicated ratchet against os.fork, separate from subprocess ratchet
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Add pankan plugin: TUI agent work tracker with GitHub PR status
  libs/mng_pankan/conftest.py
  libs/mng_pankan/imbue/mng_pankan/__init__.py
  libs/mng_pankan/imbue/mng_pankan/cli.py
  libs/mng_pankan/imbue/mng_pankan/data_types.py
  libs/mng_pankan/imbue/mng_pankan/data_types_test.py
  libs/mng_pankan/imbue/mng_pankan/fetcher.py
  libs/mng_pankan/imbue/mng_pankan/fetcher_test.py
  libs/mng_pankan/imbue/mng_pankan/github.py
  libs/mng_pankan/imbue/mng_pankan/github_test.py
  libs/mng_pankan/imbue/mng_pankan/plugin.py
  libs/mng_pankan/imbue/mng_pankan/tui.py
  libs/mng_pankan/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Move pankan from libs/ to apps/
  apps/pankan/conftest.py
  apps/pankan/imbue/pankan/__init__.py
  apps/pankan/imbue/pankan/cli.py
  apps/pankan/imbue/pankan/data_types.py
  apps/pankan/imbue/pankan/data_types_test.py
  apps/pankan/imbue/pankan/fetcher.py
  apps/pankan/imbue/pankan/fetcher_test.py
  apps/pankan/imbue/pankan/github.py
  apps/pankan/imbue/pankan/github_test.py
  apps/pankan/imbue/pankan/plugin.py
  apps/pankan/imbue/pankan/tui.py
  apps/pankan/pyproject.toml
  libs/mng_pankan/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Fix gh pr list failing silently: pass cwd and surface errors
  apps/pankan/imbue/pankan/fetcher.py
  apps/pankan/imbue/pankan/fetcher_test.py
  apps/pankan/imbue/pankan/github.py
  apps/pankan/imbue/pankan/github_test.py
Due: ruff

Group agents by PR state instead of lifecycle state
  apps/pankan/imbue/pankan/data_types.py
  apps/pankan/imbue/pankan/data_types_test.py
  apps/pankan/imbue/pankan/github.py
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Replace uv tool install with self-managed install project
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/plugin_test.py
  libs/mng/imbue/mng/cli/test_plugin.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/install_dir.py
  libs/mng/imbue/mng/install_dir_test.py
  scripts/install.sh
Due: ruff, regenerate-cli-docs

Move AbortError import to module level in install_dir.py
  libs/mng/imbue/mng/install_dir.py
Due: ruff

Revise color coding, section order, and section labels
  apps/pankan/imbue/pankan/tui.py
Due: ruff
