Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Fix type errors in isolation scripts: use ProviderInstanceName for dict keys
  scripts/qi/fd_leak/isolate_06_parallel_only_modal_discover.py
  scripts/qi/fd_leak/isolate_07_modal_internals.py
Due: ruff

Widen exception handling in try_list_agents to catch OSError
  libs/mngr_tmr/imbue/mngr_tmr/api.py
Due: ruff

Cleaning up readme
  README.md
Due: regenerate-derived-files

Adjust diagram
  README.md
Due: regenerate-derived-files

Update README.md
  README.md
Due: regenerate-derived-files

More readme tweaks
  README.md
Due: regenerate-derived-files

Walk full parent chain when checking disabled plugins
  libs/mngr/imbue/mngr/config/agent_config_registry.py
  libs/mngr/imbue/mngr/config/agent_config_registry_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff

Add acceptance test to verify shared scripts match code-guardian
  libs/mngr/imbue/mngr/utils/test_shared_scripts.py
  scripts/stop_hook_gates.sh
Due: ruff

Exclude plugin field from agent type config override merging
  libs/mngr/imbue/mngr/config/agent_config_registry.py
Due: ruff

Promote _METADATA_FIELDS to module-level constant
  libs/mngr/imbue/mngr/config/agent_config_registry.py
Due: ruff

Add padding to diagram
  README.md
Due: regenerate-derived-files

Regenerate CLI docs after plugin removal
  libs/mngr/README.md
Due: none

Regenerate CLI docs after merge
  libs/mngr/README.md
Due: none

Regenerate CLI markdown docs
  libs/mngr/README.md
Due: none

Add pytest.mark.modal to e2e tests that call mngr list
  libs/mngr/conftest.py
  libs/mngr/imbue/mngr/e2e/test_basic.py
  libs/mngr/imbue/mngr/e2e/test_config.py
  libs/mngr/imbue/mngr/e2e/test_create_basic.py
  libs/mngr/imbue/mngr/e2e/test_create_commands.py
  libs/mngr/imbue/mngr/e2e/test_create_data_and_git.py
  libs/mngr/imbue/mngr/e2e/test_create_env_and_config.py
  libs/mngr/imbue/mngr/e2e/test_destroy.py
  libs/mngr/imbue/mngr/e2e/test_lifecycle.py
  libs/mngr/imbue/mngr/e2e/test_list.py
  libs/mngr/imbue/mngr/e2e/test_multi_agent.py
  libs/mngr/imbue/mngr/e2e/test_rename.py
Due: ruff

Restore explanatory comments in test plugin_manager fixture
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix macOS CI shell quoting and idle_timeout assertion
  .github/workflows/ci.yml
  libs/mngr/imbue/mngr/e2e/test_create_commands.py
Due: ruff

Wrap DockerException in ProviderUnavailableError when daemon is offline
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/testing.py
Due: ruff

Fix doubled path prefix in schedule list record reading
  libs/mngr_schedule/imbue/mngr_schedule/implementations/modal/deploy.py
Due: ruff

Remove dead code from terminal.py after warning-pinning removal
  libs/mngr/imbue/mngr/utils/terminal.py
  libs/mngr/imbue/mngr/utils/terminal_test.py
Due: ruff

Fix return type of _raise_if_modal_cli_missing to NoReturn
  libs/modal_proxy/imbue/modal_proxy/direct.py
Due: ruff

Rename _raise_if_modal_cli_missing to _translate_modal_cli_not_found
  libs/modal_proxy/imbue/modal_proxy/direct.py
Due: ruff

Cache Docker client failure to avoid repeated warnings when daemon is offline
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
Due: ruff

Re-enable Modal provider and add per-function @pytest.mark.modal
  libs/mngr/imbue/mngr/e2e/conftest.py
  libs/mngr/imbue/mngr/e2e/test_basic.py
  libs/mngr/imbue/mngr/e2e/test_config.py
  libs/mngr/imbue/mngr/e2e/test_create_basic.py
  libs/mngr/imbue/mngr/e2e/test_create_commands.py
  libs/mngr/imbue/mngr/e2e/test_create_data_and_git.py
  libs/mngr/imbue/mngr/e2e/test_create_env_and_config.py
  libs/mngr/imbue/mngr/e2e/test_destroy.py
  libs/mngr/imbue/mngr/e2e/test_lifecycle.py
  libs/mngr/imbue/mngr/e2e/test_list.py
  libs/mngr/imbue/mngr/e2e/test_multi_agent.py
  libs/mngr/imbue/mngr/e2e/test_rename.py
Due: ruff

Set host_state in Modal provider's discover_hosts
  libs/mngr_modal/imbue/mngr_modal/instance.py
Due: ruff

Replace undeclared toml dependency with tomlkit in e2e conftest
  libs/mngr/imbue/mngr/e2e/conftest.py
Due: ruff

Fix ratchet violations, type errors, and public API naming
  libs/mngr/imbue/mngr/cli/check_deps.py
  libs/mngr/imbue/mngr/cli/complete.py
  libs/mngr/imbue/mngr/cli/extras.py
  libs/mngr/imbue/mngr/cli/plugin_install_wizard.py
  libs/mngr/imbue/mngr/utils/deps.py
  libs/mngr/imbue/mngr/utils/deps_test.py
  scripts/install.sh
Due: ruff

Update extra_context_env fixture docstring to mention LLM_USER_PATH clearing
  libs/mngr_claude_mind/imbue/mngr_claude_mind/provisioning_test.py
Due: ruff

Add uncommitted test files for check_deps and extras commands
  libs/mngr/imbue/mngr/cli/check_deps_test.py
  libs/mngr/imbue/mngr/cli/extras_test.py
Due: ruff

Set host_state in Modal discover_hosts_and_agents override
  libs/mngr_modal/imbue/mngr_modal/instance.py
Due: ruff

Remove stale duplicate comment in _build_start_agent_shell_command
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Update test_connect.py assertions to expect = prefix in tmux attach
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff

Raise MngrError when headless claude exits without output
  libs/mngr_claude/imbue/mngr_claude/headless_claude_agent.py
  libs/mngr_claude/imbue/mngr_claude/headless_claude_agent_test.py
Due: ruff

Fix interactive prompt display when only bash is outdated
  libs/mngr/imbue/mngr/cli/check_deps.py
Due: ruff

Revert "Fix Python version check in install.sh for macOS compatibility"
  scripts/install.sh
Due: none

Add regression test for gc_volumes with empty host discovery
  libs/mngr/imbue/mngr/api/gc_test.py
  libs/mngr/imbue/mngr/providers/mock_provider_test.py
Due: ruff

Update the title for the readme
  README.md
Due: regenerate-derived-files

Guard _collect_session_pids with has-session to prevent prefix matching
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Fix misleading comment about tmux version compatibility
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Extract derive_offline_host_state() as shared canonical logic
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr_modal/imbue/mngr_modal/instance.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
