Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

WIP. Separating the host into offline and online versions
  libs/mngr/imbue/mngr/hosts/common.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Group ratchet tests onto single xdist worker for LRU cache benefits
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  pyproject.toml
Due: ruff

Complete offline/online host interface separation
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Add unit tests for OfflineHost implementation
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Consolidate coverage tests and fix ratchet violations
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_coverage_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/gc_coverage_test.py
  libs/mngr/imbue/mngr/api/gc_test.py
  libs/mngr/imbue/mngr/api/message_error_handling_test.py
  libs/mngr/imbue/mngr/cli/gc_test.py
  libs/mngr/imbue/mngr/cli/pull_coverage_test.py
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Fix type errors for HostInterface/OnlineHostInterface separation
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add is_online checks before accessing OnlineHostInterface methods
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff, regenerate-cli-docs

Populate CertifiedHostData from HostRecord for offline Modal hosts
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add analysis of places to use get_agent_references instead of get_agents
  libs/mngr/analysis/agent-ref-swap-analysis.md
Due: none

Fix race condition in EditorSession causing flaky tests
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/utils/editor.py
Due: ruff, regenerate-cli-docs

Optimize list_agents with direct iteration (~8.5% faster)
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Fix flaky test_connect_via_cli_group by passing plugin_manager
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

addressing some comments
  libs/mngr/docs/concepts/agents.md
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/concepts/idle_detection.md
  libs/mngr/docs/concepts/providers.md
  libs/mngr/docs/concepts/snapshot.md
Due: none

Clean up some of the offline host refactor
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  pyproject.toml
Due: ruff, regenerate-cli-docs

Fix _ensure_host_started to use is_online attribute check
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Add ratchet tests for cast() and isinstance() usage
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Restore match statement and remove MagicMock from tests
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Update spec with decisions about how to update for offline agent references
  libs/mngr/analysis/agent-ref-swap-analysis.md
Due: none

Extend AgentReference with certified_data and refactor to use get_agent_references
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/primitives.py
Due: ruff

Fix reviewer issues: update tests for AgentReference certified_data
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Restore fallback to persisted agent data for unreachable hosts
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Fix get_agent_references to skip malformed records instead of discarding all
  libs/mngr/imbue/mngr/hosts/offline_host.py
Due: ruff

Minor refactoring and cleanup
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
Due: ruff

Fix get_agent_references to handle provider-level errors and type errors
  libs/mngr/imbue/mngr/hosts/offline_host.py
Due: ruff

Convert Modal provider caches from ClassVar to PrivateAttr
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix Host.get_agent_references None checks and add unit tests
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Remove trailing comments from host_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Extract shared validation logic for agent references
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
Due: ruff

Fix ratchet tests: assert isinstance, AST cache, xdist grouping
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove unnecessary try/except around list_persisted_agent_data_for_host
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Remove pointless work spec
  libs/mngr/analysis/agent-ref-swap-analysis.md
Due: none

WIP. Refactor to clean up some of how we store and access host data
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Complete TODOs from host data cleanup refactoring
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Make host_id and host_name required in CertifiedHostData
  libs/mngr/imbue/mngr/cli/test_gc.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
Due: ruff, regenerate-cli-docs

Fix HostRecord property updates in Modal provider
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Remove is_online field from Host and OfflineHost
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/message.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Remove notion of resumption from the claude level. Will be adding to mngr instead
  .claude/settings.json
  scripts/claude_request_start.sh
Due: none

Add callback for host data updates and simplify snapshot IDs
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
Due: ruff

Fix up to use actual callback and deduplicate
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Try hard to prevent claude from rewriting commits
  .claude/settings.json
  CLAUDE.md
  scripts/claude_prevent_commit_rewrite.sh
Due: none
