Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

Update tmux_users.md
  libs/mng/docs/tmux_users.md
Due: none

Mark remote agent lesson as WIP
  libs/mng/imbue/mng/cli/tutor/lessons.py
Due: ruff, regenerate-cli-docs

Make connect_in_new_iterms2_tab plugin disabled by default
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-cli-docs

Add connect_in_new_iterms2_tab built-in plugin
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/plugins/connect_in_new_iterms2_tab.py
  libs/mng/imbue/mng/plugins/connect_in_new_iterms2_tab_test.py
Due: ruff, regenerate-cli-docs

Add generic ENABLED_BY_DEFAULT mechanism for plugins
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/main_test.py
  libs/mng/imbue/mng/plugins/connect_in_new_iterms2_tab.py
  libs/mng/imbue/mng/plugins/connect_in_new_iterms2_tab_test.py
Due: ruff, regenerate-cli-docs

Parallelize host resolution and let ABORT raise from worker threads
  libs/mng/imbue/mng/api/message.py
Due: ruff

Add tests for .git/info/exclude transfer during work dir copy
  libs/mng/imbue/mng/hosts/test_host.py
Due: ruff

Update lesson titles and content, fix tests to match
  libs/mng/imbue/mng/cli/tutor/lessons.py
  libs/mng/imbue/mng/cli/tutor/lessons_test.py
Due: ruff, regenerate-cli-docs

Default copy_git_info_exclude to False when git options are absent
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Restore underscore prefix on private tracking lists in conftest
  libs/mng/imbue/mng/conftest.py
Due: ruff

not where that goes
  style_guide.md
Due: none

docs: put nested tmux section first in tmux_users.md
  libs/mng/docs/tmux_users.md
Due: none

Generate PyPI README from top-level README with GitHub links
  .pre-commit-config.yaml
  README.md
  libs/mng/README.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

docs: generalize tmux tips message in welcome text
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Use plain text for security model link display
  README.md
  libs/mng/README.md
Due: none

Register modal config class even when modal backend is disabled
  libs/mng/imbue/mng/providers/registry.py
Due: ruff

Revert unnecessary ratchet exclusion widening for PREVENT_BUILTIN_EXCEPTION_RAISES
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Bump getattr ratchet: 8 -> 10 (new uses from main merge)
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Move non-fixture code from conftest.py to utils/testing.py
  apps/changelings/imbue/changelings/test_deploy_modal.py
  apps/changelings/imbue/changelings/test_run_modal.py
  libs/mng/imbue/mng/agents/conftest.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/cli/test_exec.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_snapshot.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/providers/modal/conftest.py
  libs/mng/imbue/mng/providers/modal/routes/test_snapshot_and_shutdown.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff, regenerate-cli-docs

Move make_test_agent_info from cli/conftest.py to utils/testing.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff, regenerate-cli-docs

Fix offload sandbox to checkout main instead of old branch
  offload-modal.toml
Due: none

Move provider validation before git ref resolution in schedule add
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
Due: ruff

Update getattr ratchet snapshot count from 8 to 10
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Extract shared run_mng_subprocess to testing.py
  libs/mng/imbue/mng/api/test_sync_acceptance.py
  libs/mng/imbue/mng/cli/test_message.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/utils/test_ratchets.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff, regenerate-cli-docs

Fix Modal acceptance tests using explicit --host-name to prevent collisions
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
Due: ruff

Update CLAUDE.md
  CLAUDE.md
Due: none

Add opencode agent smoke test (acceptance)
  libs/mng/imbue/mng/agents/test_opencode_smoke.py
  libs/mng/imbue/mng/utils/testing.py
Due: ruff

Revert incorrect cast ratchet bump from merge
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Unify config loading: rename _load_toml variants, eliminate TOCTOU
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/config/pre_readers.py
Due: ruff

Remove read_default_host_dir (will be added by downstream branch)
  libs/mng/imbue/mng/config/pre_readers.py
  libs/mng/imbue/mng/config/pre_readers_test.py
Due: ruff

WIP: Add autofix skill and coder agent type to mng library
  .claude/settings.json
  libs/mng/imbue/mng/agents/agent_registry.py
  libs/mng/imbue/mng/agents/default_plugins/autofix_skill.py
  libs/mng/imbue/mng/agents/default_plugins/coder_agent.py
Due: ruff

Add unit tests for try_load_toml in pre_readers_test.py
  libs/mng/imbue/mng/config/pre_readers_test.py
Due: ruff

Complete autofix stop hook integration and shell script modifications
  .mng/settings.toml
  libs/mng/docs/all_supported_agents.md
  libs/mng/imbue/mng/agents/default_plugins/coder_agent_test.py
  scripts/main_claude_stop_hook.sh
  scripts/run_reviewer.sh
  scripts/stop_hook_reviewer.sh
Due: ruff

Revert "Complete autofix stop hook integration and shell script modifications"
  .mng/settings.toml
  libs/mng/docs/all_supported_agents.md
  libs/mng/imbue/mng/agents/default_plugins/coder_agent_test.py
  scripts/main_claude_stop_hook.sh
  scripts/run_reviewer.sh
  scripts/stop_hook_reviewer.sh
Due: ruff

Revert "WIP: Add autofix skill and coder agent type to mng library"
  .claude/settings.json
  libs/mng/imbue/mng/agents/agent_registry.py
  libs/mng/imbue/mng/agents/default_plugins/autofix_skill.py
  libs/mng/imbue/mng/agents/default_plugins/coder_agent.py
Due: ruff

Use temp dir for completion cache instead of host dir
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/conftest.py
Due: ruff, regenerate-cli-docs

Add /autofix skill and integrate with stop hook reviewer
  .claude/skills/autofix/SKILL.md
  .claude/skills/autofix/verify-and-fix.md
  scripts/run_reviewer.sh
Due: none

Check subagent output when HEAD didn't move in autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
