Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Remove node_modules from SHARE example in docs
  libs/mng/docs/customization.md
Due: none

Exclude .git/ from Docker builds to prevent Modal upload races
  .dockerignore
Due: regenerate-derived-files

Only start idle wait after events are delivered, not on real event arrival
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Use cg fixture instead of manual ConcurrencyGroup in tests
  libs/mng/imbue/mng/config/pre_readers_test.py
Due: ruff

Hard forcing some more agent behavior
  .claude/commands/autofix.md
Due: none

Add test for delivery loop with message batching disabled
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Untangle transfer methods and fix test defaults for non-git sources
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/test_cleanup.py
  libs/mng/imbue/mng/cli/test_clone.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/cli/test_list.py
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_rename.py
Due: ruff, regenerate-derived-files

Fix stale test name and misleading comment from reviewer feedback
  libs/mng_claude/imbue/mng_claude/plugin_test.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
Due: ruff

Try to make the autofixer more robust
  .claude/commands/autofix.md
Due: none

Fix --edit-message: save message on failure and hold lock during editing
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
Due: ruff, regenerate-derived-files

Add trace logging to silent OSError handlers in _rescue_editor_content
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Fix reviewer issues: rename renderer, remove dead code, update docs
  libs/mng/imbue/mng/e2e/detail_renderer.py
  libs/mng/imbue/mng/e2e/serve_test_output.py
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
  libs/mng_tmr/imbue/mng_tmr/data_types.py
  libs/mng_tmr/imbue/mng_tmr/report.py
  libs/mng_tmr/imbue/mng_tmr/report_test.py
Due: ruff

Check exit code after installing packages in modal sandbox
  libs/mng_modal/imbue/mng_modal/instance.py
Due: ruff

Update stale comment about implicit waiting
  libs/mng_modal/imbue/mng_modal/instance.py
Due: ruff

Multi-run artifact collection with tabbed views in TMR report
  libs/mng/imbue/mng/e2e/conftest.py
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
  libs/mng_tmr/imbue/mng_tmr/data_types.py
  libs/mng_tmr/imbue/mng_tmr/report.py
Due: ruff

Add direct result file checking to detect finished agents with stale status
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
Due: ruff

Add another volume
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
Due: ruff

Remove shared_dir volume mount and add MINDS_VENDOR_PATH env var for vendor overrides
  apps/minds/imbue/minds/cli/update.py
  apps/minds/imbue/minds/config/data_types.py
  apps/minds/imbue/minds/config/data_types_test.py
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng_test.py
Due: ruff

Update vendor docs to reflect MINDS_VENDOR_PATH mechanism
  apps/minds/docs/design.md
Due: none

Fix reviewer issues: dedupe parsing, move renderer, pull artifacts during polling
  libs/mng/imbue/mng/e2e/serve_test_output.py
  libs/mng/imbue/mng/utils/detail_renderer.py
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
  libs/mng_tmr/imbue/mng_tmr/report.py
Due: ruff

Fix artifact pulling for local agents: use filesystem copy instead of rsync
  libs/mng_tmr/imbue/mng_tmr/api.py
Due: ruff

Fix idle event backoff by preserving counter across idle response cycles
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Use non-messages event tracking instead of is_expecting_idle_response
  libs/mng_mind/imbue/mng_mind/conftest.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
Due: ruff

Use TrackingIdleWait from conftest instead of duplicate closures
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Log malformed JSON in _read_events_from_subprocess instead of silently passing
  libs/mng_mind/imbue/mng_mind/event_watcher.py
Due: ruff

Extract _reset_idle_state helper to eliminate duplication
  libs/mng_mind/imbue/mng_mind/event_watcher.py
Due: ruff

Revert "Convert TrackingIdleWait to dataclass, revert ratchet bump"
  libs/mng_mind/imbue/mng_mind/conftest.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
Due: ruff

Remove dead code _cumulative_idle_delay_minutes
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Avoid __init__ ratchet bump for TrackingIdleWait
  libs/mng_mind/imbue/mng_mind/conftest.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
Due: ruff

Rename misleading test to reflect actual behavior
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Add python-multipart dependency to minds
  apps/minds/pyproject.toml
Due: none

Fix tunnel shutdown race and pair test unison guard violation
  apps/minds/imbue/minds/forwarding_server/ssh_tunnel.py
  apps/minds/imbue/minds/forwarding_server/ssh_tunnel_test.py
  libs/mng_pair/imbue/mng_pair/api.py
  libs/mng_pair/imbue/mng_pair/test_api.py
Due: ruff

Fix merging of command args with options and cli
  libs/mng/imbue/mng/cli/common_opts.py
Due: ruff, regenerate-derived-files

Fix LocalVolume.listdir failing when root_path is a symlink
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/providers/local/volume.py
  libs/mng/imbue/mng/providers/local/volume_test.py
Due: ruff, regenerate-derived-files

Extract symlink_volume fixture from duplicated test setup
  libs/mng/imbue/mng/providers/local/volume_test.py
Due: ruff

Document that remote label may include embedded credentials
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Push the delivery of the onboarding back until other messages have been delivered. This is a bit of a hack
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
Due: ruff

Remove incorrect @pure annotation from _check_local_symlink_state
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
