Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fix reviewer and CI issues
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Prefer online host over volume for all log operations
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Fix Docker lifecycle test: use --force instead of --yes for destroy
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
Due: ruff

Update help strings
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/destroy.md
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/docs/commands/secondary/gc.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/docs/commands/secondary/logs.md
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/common_opts.py
Due: ruff, regenerate-cli-docs

Remove mngr enforce concept from docs
  libs/mngr/docs/architecture.md
  libs/mngr/docs/commands/secondary/enforce.md
  libs/mngr/docs/concepts/hosts.md
  libs/mngr/docs/concepts/idle_detection.md
  libs/mngr/docs/security_model.md
Due: regenerate-cli-docs

Fix stale local_docker references and DockerVolume error handling
  libs/mngr/docs/concepts/providers.md
  libs/mngr/future_specs/provider_instance.md
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Fix CI test failure and improve DockerVolume error handling
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Fix reviewer issues: error handling and container cleanup
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Fix style guide violations in Docker provider
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Add poll_modal_agents script to notify when modal agents finish
  scripts/poll_modal_agents.py
  scripts/poll_modal_agents_test.py
Due: ruff

Fix mngr list: tags, columns, filtering, idle data, host names
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
Due: ruff, regenerate-cli-docs

Fix -b flag not splitting space-separated build/start args
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Also notify for new agents that appear already finished
  scripts/poll_modal_agents.py
  scripts/poll_modal_agents_test.py
Due: ruff

Add tests for new list features and fix minor issues
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/list_test.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add regression tests for -b flag space-separated arg splitting
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Replace Docker CLI help subprocess calls with static strings
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Regenerate CLI docs with simplified Docker help text
  libs/mngr/docs/commands/primary/create.md
Due: regenerate-cli-docs

Dont report debug errors
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Restore host.state to default list display fields
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Fix start_time, runtime_seconds, and idle_seconds in list output
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Read ssh_activity_time from host instead of agent
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Add packaging infrastructure for PyPI publishing
  .github/workflows/publish.yml
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mngr/README.md
  libs/mngr/pyproject.toml
  scripts/install.sh
  scripts/version_sync_test.py
Due: ruff

Move ssh_activity to host, set local project tags, fix Modal CPU freq, remove status
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/future_specs/agent.md
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/test_base_agent.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/interfaces/agent.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add PYTEST_NUMPROCESSES env var to control xdist parallelism
  justfile
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Alert me when a claude stop hook fails
  libs/mngr/imbue/mngr/providers/modal/instance.py
  scripts/main_claude_stop_hook.sh
Due: ruff

Implement mngr plugin add and remove commands
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff, regenerate-cli-docs

Remove non-modal marks
  libs/mngr/imbue/mngr/hosts/test_host.py
  pyproject.toml
Due: ruff

Use bare uv command instead of sys.executable -m uv
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Add agent labels and move project from host tag to agent label
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/concepts/agents.md
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/primitives.py
Due: ruff, regenerate-cli-docs

Add tests for agent labels and fix minor review issues
  libs/mngr/imbue/mngr/agents/test_base_agent.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add packaging to mngr dependencies
  libs/mngr/pyproject.toml
Due: none

Consolidate redundant PyPI publish steps into one
  .github/workflows/publish.yml
Due: none

Fix misleading comment in _plugin_add_impl
  libs/mngr/imbue/mngr/cli/plugin.py
  uv.lock
Due: ruff, regenerate-cli-docs

Eliminate variable re-assignment in _plugin_add_impl
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Validate tag version matches pyproject.toml in publish workflow
  .github/workflows/publish.yml
Due: none

Fix script injection vulnerability in publish workflow
  .github/workflows/publish.yml
Due: none

Add disgusting example script for how to keep a process warm, kind of...
  scripts/warm_cli_example.py
Due: ruff

update docs
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Resolve package name from uv output for git URL installs
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Move _load_agent_refs_from_provider into provider interface as load_agent_refs
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff
