Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Move claude-specific tmux SIGWINCH config from host to agent plugin
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Add unit tests for is_lock_held and avoid redundant SSH stat
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Check for git repo before running git check-ignore in readiness hooks
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add tests for get_tmux_config_lines and host tmux config extra lines
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Fix flaky test_parent_failures_propagate_recursively by using Event-based synchronization
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Replace hand-rolled env file parser with python-dotenv library
  libs/mngr/imbue/mngr/utils/env_utils.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff

Switch bootstrap to agentic exploration with read-only tools
  libs/mngr/imbue/mngr/cli/bootstrap.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
  libs/mngr/imbue/mngr/cli/claude_backend.py
  libs/mngr/imbue/mngr/cli/claude_backend_test.py
Due: ruff, regenerate-cli-docs

Fix prompt parsing with --allowedTools and strip preamble text
  libs/mngr/imbue/mngr/cli/bootstrap.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
  libs/mngr/imbue/mngr/cli/claude_backend.py
Due: ruff, regenerate-cli-docs

Enable server-side tag filtering in Modal sandbox lookup by host_id
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Move output options parsing and logging setup after config defaults and plugin overrides
  libs/mngr/imbue/mngr/cli/common_opts.py
Due: ruff, regenerate-cli-docs

Refactor load_config to return MngrConfig instead of MngrContext
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff, regenerate-cli-docs

Add tenacity retry wrappers for Modal volume operations
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Detect host platform via uname in uptime/boot-time commands
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Clear ratchet LRU caches after tests to reduce xdist worker memory pressure
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Extract uptime/boot-time parsing into testable pure functions
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Remove dead is_authorized property from provider interface
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add error handling for non-numeric output in _parse_uptime_output
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Remove HostRecord shortcut properties, access certified_host_data directly
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Update activity_watcher.sh to use set -euo pipefail for stricter error handling
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff

Refactor duplicated git push logic in _git_push_to_target
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Rename _ensure_environment_exists to _create_environment, remove redundant existence check
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Replace unittest.mock usage with monkeypatch and httpx_mock in test_all.py
  contrib/claude-code-transcripts/tests/test_all.py
Due: ruff

Use server-side tag filtering in _lookup_sandbox_by_name_once
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Replace Any with concrete types in ModalAppContextHandle
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/imbue/mngr/providers/modal/log_utils_test.py
Due: ruff

Replace cast(OnlineHostInterface) with ensure_host_started in create command
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Add API credential availability check in on_before_provisioning
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Address reviewer feedback: wire is_start_desired through remote sources, fix error messages, add tests
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Fix credential check for remote hosts, deduplicate test setup
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Use capsys instead of monkeypatch for output capture in exec CLI tests
  libs/mngr/imbue/mngr/cli/exec_test.py
Due: ruff, regenerate-cli-docs

Consolidate duplicate FakeClaude test doubles into conftest.py
  libs/mngr/imbue/mngr/cli/ask_test.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
  libs/mngr/imbue/mngr/cli/conftest.py
Due: ruff, regenerate-cli-docs

Add bootstrap to SECONDARY_COMMANDS in make_cli_docs.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Add auto-generated bootstrap command documentation
  libs/mngr/docs/commands/secondary/bootstrap.md
Due: regenerate-cli-docs

Add bootstrap command to README.md command listing
  libs/mngr/README.md
Due: none

Fix remote host env var test to actually set ANTHROPIC_API_KEY
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Use fake crontab binary and subprocess.run instead of mocks and ConcurrencyGroup
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Fix stale section comment in bootstrap_test.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
Due: ruff, regenerate-cli-docs

Eliminate variable reassignment in _bootstrap_impl
  libs/mngr/imbue/mngr/cli/bootstrap.py
Due: ruff, regenerate-cli-docs

Add Final annotation to _FAKE_DOCKERFILE constant
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
Due: ruff, regenerate-cli-docs

Extract agent command constant and consolidate test setup in exec API tests
  libs/mngr/imbue/mngr/api/exec_test.py
Due: ruff

Add post-strip empty check for generated Dockerfile content
  libs/mngr/imbue/mngr/cli/bootstrap.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
Due: ruff, regenerate-cli-docs
