Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Fix event streaming for minds
  libs/mngr/imbue/mngr/api/observe.py
Due: ruff

Reset backend_resolver_test.py to main -- CG timeout bump makes terminate() workaround unnecessary
  apps/minds/imbue/minds/forwarding_server/backend_resolver_test.py
Due: ruff

Add fix-issue skill for resolving GitHub issues
  .claude/skills/fix-issue/SKILL.md
Due: none

Update stale comment on last_delivery_monotonic
  libs/mngr_mind/imbue/mngr_mind/event_watcher.py
Due: ruff

Revert "Remove PR creation step from fix-issue skill"
  .claude/skills/fix-issue/SKILL.md
Due: none

Add explicit CLAUDE.md override for PR creation in fix-issue skill
  .claude/skills/fix-issue/SKILL.md
Due: none

Move bail-out logic to after investigation in fix-issue skill
  .claude/skills/fix-issue/SKILL.md
Due: none

Prefer regression tests for reproduction in fix-issue skill
  .claude/skills/fix-issue/SKILL.md
Due: none

Fix mngr_settings tests to match filter expression semantics
  apps/minds/imbue/minds/forwarding_server/mngr_settings_test.py
Due: ruff

Fix idle counter reset by agent state transition events
  libs/mngr_mind/imbue/mngr_mind/event_watcher.py
  libs/mngr_mind/imbue/mngr_mind/event_watcher_test.py
Due: ruff

Add e2e tests for mngr install without optional plugins
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/e2e/test_install.py
Due: ruff

Standardize local host name from 'local' to 'localhost'
  README.md
  libs/mngr/README.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/imbue/mngr/cli/complete_names_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/cli/test_snapshot.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr_file/imbue/mngr_file/test_file_operations.py
  libs/mngr_file/imbue/mngr_file/test_target_integration.py
  libs/mngr_pair/imbue/mngr_pair/cli.py
  libs/mngr_pair/imbue/mngr_pair/test_cli.py
Due: ruff, regenerate-derived-files

Auto-update imbue-code-review plugin on session start
  .claude/settings.json
  scripts/claude_ensure_plugin.sh
Due: none

Update create.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff

Fix hook scripts failing when CWD is not repo root
  .claude/settings.json
  scripts/claude_status_line.sh
Due: none

Use minimal subprocess env in install tests to catch environment assumptions
  libs/mngr/imbue/mngr/e2e/conftest.py
Due: ruff

Build test PATH from install.sh's declared system deps instead of hardcoding
  libs/mngr/imbue/mngr/e2e/conftest.py
Due: ruff

Add fallback for unset MNGR_AGENT_WORK_DIR in settings.json
  .claude/settings.json
Due: none

Fix PR info not shown when MNGR_AGENT_WORK_DIR is unset
  scripts/claude_status_line.sh
Due: none

Fix docker mark on test_create_host_with_bad_image_fails
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  offload-modal-release.toml
Due: ruff

Update CI to offload v0.7.0 (preemptive, pending release)
  .github/workflows/test-offload-acceptance.yml
Due: none

Guide agents to address architecture issues before running autofix
  plugins/imbue-code-review/scripts/stop_hook_gates.sh
Due: none

Rewrite installPath in installed_plugins.json for remote hosts
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
Due: ruff

Fix display rendering when connecting to remote agents via SSH
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add missing @pytest.mark.rsync to git-mirror and from-agent e2e tests
  libs/mngr/imbue/mngr/e2e/test_create_data_and_git.py
Due: ruff

Fix schedule release tests failing due to missing --no-ensure-safe-commands
  libs/mngr_schedule/imbue/mngr_schedule/test_schedule_add.py
Due: ruff

Add MNGR_AGENT_READY_TIMEOUT env var for agent readiness timeout
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Wrap DockerException in MngrError during Docker client init
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Add .claude/settings.local.json to gitignore in minds e2e test
  apps/minds/imbue/minds/conftest.py
Due: ruff

Unify claude home file collection and fix deploy plugin discovery
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
Due: ruff

Do not specify target path in the dev mode.
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
Due: ruff

Fix greeting conversation name: pass '(new chat)' as --prompt to llm inject
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_greeting.py
Due: ruff

Fix collapsed sidebar button order: agents before new-conversation
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents.js
Due: none

Say "Back" and not "Conversations".
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents.js
Due: none

Use sidebar-branding slot for agent name; remove flaky poll loop test
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_agents.js
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_injected_messages_test.py
Due: ruff

Fix: encode response data in content field for stream_event compatibility
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_injected_messages.js
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_injected_messages.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_injected_messages_test.py
Due: ruff

Treat empty stdin with '-' placeholder as a no-op instead of an error
  libs/mngr/README.md
  libs/mngr/imbue/mngr/cli/archive.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/destroy_test.py
  libs/mngr/imbue/mngr/cli/exec.py
  libs/mngr/imbue/mngr/cli/label.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stdin_utils_test.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff

Remove try/catch around JSON.parse in injected messages JS plugin
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_injected_messages.js
Due: none

Fix stop hook diff to compare against origin/main instead of local main
  scripts/main_claude_stop_hook.sh
Due: none

Fix sidebar branding disappearing on route changes
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_agents.js
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_injected_messages_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
