Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Revert idle_timeout_seconds back to max_idle_seconds
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/data_types_test.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
  libs/mngr/specs/host.md
Due: ruff, regenerate-cli-docs

Move poll_until tests to correct location
  libs/mngr/imbue/mngr/utils/polling_test.py
Due: ruff

Simplify sync API by removing backward-compat wrappers
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Remove get_ready_prompt_pattern (redundant with marker-based send)
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Change migration error message to use claude -p instead of mngr
  libs/mngr/imbue/mngr/errors.py
Due: ruff

Fix style guide adherence and non-ideal patterns
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Add --add-dir flag to claude command in migration error
  libs/mngr/imbue/mngr/errors.py
Due: ruff

Remove newlines from marker suffix in send_message
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add .claude/*.bak to gitignore
  .gitignore
Due: none

Fix post-merge type errors and add deal dependency
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Remove temporary remote approach from git sync operations
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/sync.py
Due: ruff

Add integration tests for remote (non-local) host behavior
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
Due: ruff

Add enter delay to marker-based send_message
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Address reviewer feedback: fix code quality issues
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
Due: ruff

Add delay before Enter in marker-based send_message
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add debug logging for enter delay in marker-based send_message
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Apply pre-commit fixes (ruff formatting, regenerate CLI docs)
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add delay after backspaces to let input handler settle
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Address reviewer feedback on pair command implementation
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Add pair command to PRIMARY_COMMANDS for CLI docs generation
  libs/mngr/docs/commands/primary/pair.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Update polling to check even if timout is zero
  libs/mngr/imbue/mngr/utils/polling.py
Due: ruff

WIP. Lots of fixes to idle scripts and activity and error handling as we work towards actual test of idle shutdown logic
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/data_types_test.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff

WIP. Handle some more errors.
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add noop key sequence after backspaces to reset input handler state
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Remove sleep delays from marker-based send_message
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Restore delay after backspaces before noop keys
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Experiment: Add second sleep before Enter (both sleeps approach)
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add second delay before Enter in marker-based send_message
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Update time.sleep ratchet from 5 to 6 for enter delay fix
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Test actually passed with something like this!
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Making listing even more robust to hosts dropping offline during access
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Add retry mechanism for Enter key submission
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Use waiting file as primary signal for message submission
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Fix minor errors
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix issues found during code review
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/sync.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Remove redundant marker_suffix variable and add shlex.quote to test helper
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Fix tests
  libs/concurrency_group/imbue/concurrency_group/concurrency_group.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff

Suppress PytestUnhandledThreadExceptionWarning in modal auth error test
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
