Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fix _strip_non_dockerfile_content returning content without FROM instruction
  libs/mngr/imbue/mngr/cli/bootstrap.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
Due: ruff, regenerate-cli-docs

Normalize fake_claude fixture lambda signatures in ask_test.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Fix variable reassignment in _strip_non_dockerfile_content
  libs/mngr/imbue/mngr/cli/bootstrap.py
Due: ruff, regenerate-cli-docs

Add @pure decorator to accumulate_chunks
  libs/mngr/imbue/mngr/cli/claude_backend.py
Due: ruff, regenerate-cli-docs

Use Field(default_factory=list) for FakeClaudeBackend list fields
  libs/mngr/imbue/mngr/cli/conftest.py
Due: ruff, regenerate-cli-docs

Add spec for multi-machine and mobile support
  libs/mngr/future_specs/multi_machine_and_mobile.md
Due: none

Add unit tests for _extract_text_delta edge cases
  libs/mngr/imbue/mngr/cli/claude_backend_test.py
Due: ruff, regenerate-cli-docs

Add detailed implementation plan for multi-machine/mobile support
  libs/mngr/future_specs/multi_machine_and_mobile.md
Due: none

Detect and track Claude Code session ID replacement
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  scripts/main_claude_stop_hook.sh
  scripts/print_user_session.sh
Due: ruff

Simplify mobile plan: tmux-like MVP UI, defer S3 cache
  libs/mngr/future_specs/multi_machine_and_mobile.md
Due: none

Fail loudly on missing session_id and track session ID history
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Add get_reported_urls() to AgentInterface and BaseAgent
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff

Add urls field to AgentInfo for multiple URL types
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Implement --type flag on mngr open for multiple URL types
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/cli/open.py
Due: ruff, regenerate-cli-docs

Add tests for multi-URL support and --type flag
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/cli/open_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Add release test for mngr enforce against real Modal agent
  libs/mngr/imbue/mngr/providers/modal/test_modal_enforce.py
Due: ruff

Regenerate CLI docs for mngr open with --type support
  libs/mngr/docs/commands/primary/open.md
Due: regenerate-cli-docs

Remove legacy status/url in favor of status/urls/ exclusively
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix ratchet tests: add git_repo fixture with signing disabled
  libs/imbue_common/imbue/imbue_common/ratchet_testing/conftest.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
Due: ruff

Simplify session ID handling: eliminate _MNGR_SID intermediate variable
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add port forwarding plugin (FRP + nginx) - Chunk 2
  libs/mngr/imbue/mngr/plugins/port_forwarding/__init__.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/forward_service_script.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/forward_service_script_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/frps.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/provisioning.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/url.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/url_test.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Isolate ratchet test git_repo fixture from host git config via HOME redirect
  libs/imbue_common/imbue/imbue_common/ratchet_testing/conftest.py
Due: ruff

Remove redundant GIT_CONFIG_NOSYSTEM and XDG_CONFIG_HOME overrides
  libs/imbue_common/imbue/imbue_common/ratchet_testing/conftest.py
Due: ruff

Wire port forwarding config into TOML system, add integration tests, fix ratchet violations
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_generation_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_resolution.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/config_resolution_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/data_types_test.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/frps.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/provisioning.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/test_forward_service.py
Due: ruff

Extract create_isolated_git_repo into pytest_utils
  libs/imbue_common/imbue/imbue_common/pytest_utils.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/conftest.py
Due: ruff

Add 4 new ratchet tests for code quality enforcement
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add ttyd, API server, activity tracking plugins and mngr remote provider (Chunks 3-8)
  libs/mngr/imbue/mngr/plugins/activity_tracking/__init__.py
  libs/mngr/imbue/mngr/plugins/activity_tracking/data_types.py
  libs/mngr/imbue/mngr/plugins/activity_tracking/data_types_test.py
  libs/mngr/imbue/mngr/plugins/activity_tracking/plugin.py
  libs/mngr/imbue/mngr/plugins/activity_tracking/script_injection.py
  libs/mngr/imbue/mngr/plugins/activity_tracking/script_injection_test.py
  libs/mngr/imbue/mngr/plugins/api_server/__init__.py
  libs/mngr/imbue/mngr/plugins/api_server/app.py
  libs/mngr/imbue/mngr/plugins/api_server/auth.py
  libs/mngr/imbue/mngr/plugins/api_server/auth_test.py
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
  libs/mngr/imbue/mngr/plugins/api_server/data_types.py
  libs/mngr/imbue/mngr/plugins/api_server/data_types_test.py
  libs/mngr/imbue/mngr/plugins/api_server/plugin.py
  libs/mngr/imbue/mngr/plugins/api_server/web_ui.py
  libs/mngr/imbue/mngr/plugins/api_server/web_ui_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/__init__.py
  libs/mngr/imbue/mngr/plugins/ttyd/data_types.py
  libs/mngr/imbue/mngr/plugins/ttyd/data_types_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/plugin.py
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning.py
  libs/mngr/imbue/mngr/providers/mngr_remote/__init__.py
  libs/mngr/imbue/mngr/providers/mngr_remote/backend.py
  libs/mngr/imbue/mngr/providers/mngr_remote/client.py
  libs/mngr/imbue/mngr/providers/mngr_remote/config.py
  libs/mngr/imbue/mngr/providers/mngr_remote/config_test.py
  libs/mngr/imbue/mngr/providers/mngr_remote/instance.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Extend gitignore to cover nested .claude/tests_outputs/ directories
  .gitignore
Due: none

Add changelings project: nightly autonomous codebase maintenance agents
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/__init__.py
  apps/changelings/imbue/changelings/cli/__init__.py
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/list.py
  apps/changelings/imbue/changelings/cli/remove.py
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/status.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/errors.py
  apps/changelings/imbue/changelings/main.py
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/pyproject.toml
  apps/changelings/specs/architecture.md
  uv.lock
Due: ruff

Add import-linter contract for changelings, fix file layout in spec
  apps/changelings/specs/architecture.md
  pyproject.toml
Due: none

Revert create_isolated_git_repo out of pytest_utils
  libs/imbue_common/imbue/imbue_common/pytest_utils.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/conftest.py
Due: ruff

Update spec
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/update.py
  apps/changelings/imbue/changelings/main.py
  apps/changelings/specs/architecture.md
Due: ruff

Implement changelings Phase 2 (config) and Phase 3 (local execution)
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/cli_test.py
  apps/changelings/imbue/changelings/cli/list.py
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/templates.py
  apps/changelings/imbue/changelings/templates_test.py
  pyproject.toml
Due: ruff

Fix reviewer issues: error handling, docs, and test deduplication
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/cli_test.py
  apps/changelings/imbue/changelings/cli/list.py
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/update.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/conftest.py
  apps/changelings/specs/architecture.md
Due: ruff

Implement changelings Phases 2-3: config management and local execution
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/templates.py
  apps/changelings/imbue/changelings/templates_test.py
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
  pyproject.toml
Due: ruff

Revert "Use server-side tag filtering in _lookup_sandbox_by_name_once"
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Revert "Replace unittest.mock usage with monkeypatch and httpx_mock in test_all.py"
  contrib/claude-code-transcripts/tests/test_all.py
Due: ruff

Revert "Refactor load_config to return MngrConfig instead of MngrContext"
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff, regenerate-cli-docs

Revert "Enable server-side tag filtering in Modal sandbox lookup by host_id"
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Revert "Move claude-specific tmux SIGWINCH config from host to agent plugin"
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff
