Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Split _CLAUDE_HOME_SYNC_ITEMS into _SYNC_FILES and _SYNC_DIRS
  libs/mngr_claude/imbue/mngr_claude/plugin.py
Due: ruff

Use _CLAUDE_HOME_SYNC_FILES and _SYNC_DIRS separately in all callers
  libs/mngr_claude/imbue/mngr_claude/plugin.py
Due: ruff

Implement two-phase install wizard flow
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin_install_wizard.py
  libs/mngr/imbue/mngr/cli/plugin_install_wizard_test.py
Due: ruff

Stop syncing settings.json in _sync_local_user_resources
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
Due: ruff

Remove greeting/new-conversation override from llmweb interface
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_greeting.js
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_greeting.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_plugins/webchat_greeting_test.py
  libs/mngr_llm/imbue/mngr_llm/resources/webchat_server.py
Due: ruff

Revert "Always set lock deadline in pytest global lock file"
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks_test.py
Due: ruff

Skip code review stop hook when there are no changes to review
  plugins/imbue-code-review/scripts/stop_hook_gates.sh
Due: none

Retry host creation on HostNameConflictError for auto-generated names
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/create_test.py
Due: ruff

Update mega_tutorial.sh
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Fix git mirror push failing due to stale origin/HEAD symref on Modal
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Share remote hosts across agents with --agents-per-host flag
  libs/mngr_tmr/imbue/mngr_tmr/api.py
  libs/mngr_tmr/imbue/mngr_tmr/cli.py
Due: ruff

Note that write_tutorial_block dedents automatically in sync skill
  .claude/skills/sync-tutorial-to-e2e-tests/SKILL.md
Due: none

Fix import in FD leak repro script (load_config, not load_mngr_context)
  scripts/qi/repro_list_agents_fd_leak.py
Due: ruff

Mention internal consistency error in discovery mismatch comment
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Fix list_agents FD leak: disconnect hosts after use and clean up gevent Hubs
  libs/concurrency_group/imbue/concurrency_group/executor.py
  libs/mngr/docs/commands/secondary/tmr.md
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/interfaces/provider_instance_test.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/utils/thread_cleanup.py
  libs/mngr_modal/imbue/mngr_modal/instance.py
  scripts/qi/repro_fd_leak_bisect.py
  scripts/qi/repro_fd_leak_both_providers.py
  scripts/qi/repro_fd_leak_detailed.py
  scripts/qi/repro_fd_leak_discover_only.py
  scripts/qi/repro_fd_leak_executor.py
  scripts/qi/repro_fd_leak_gc.py
  scripts/qi/repro_fd_leak_gevent_thread.py
  scripts/qi/repro_fd_leak_lsof.py
  scripts/qi/repro_fd_leak_nested.py
  scripts/qi/repro_fd_leak_sequential.py
  scripts/qi/repro_fd_leak_thread_popen.py
  scripts/qi/repro_gevent_pool_fd_leak.py
  scripts/qi/repro_local_host_commands_fd_leak.py
  scripts/qi/repro_local_provider_fd_leak.py
  scripts/qi/repro_modal_fd_leak.py
  scripts/qi/repro_modal_provider_fd_leak.py
  scripts/qi/repro_pyinfra_fd_leak.py
Due: ruff

Remove FD leak investigation scripts
  scripts/qi/repro_fd_leak_bisect.py
  scripts/qi/repro_fd_leak_both_providers.py
  scripts/qi/repro_fd_leak_detailed.py
  scripts/qi/repro_fd_leak_discover_only.py
  scripts/qi/repro_fd_leak_executor.py
  scripts/qi/repro_fd_leak_gc.py
  scripts/qi/repro_fd_leak_gevent_thread.py
  scripts/qi/repro_fd_leak_lsof.py
  scripts/qi/repro_fd_leak_nested.py
  scripts/qi/repro_fd_leak_sequential.py
  scripts/qi/repro_fd_leak_thread_popen.py
  scripts/qi/repro_gevent_pool_fd_leak.py
  scripts/qi/repro_list_agents_fd_leak.py
  scripts/qi/repro_local_host_commands_fd_leak.py
  scripts/qi/repro_local_provider_fd_leak.py
  scripts/qi/repro_modal_fd_leak.py
  scripts/qi/repro_modal_provider_fd_leak.py
  scripts/qi/repro_pyinfra_fd_leak.py
Due: ruff

Update claude_ensure_plugin.sh to reference imbue-code-guardian
  scripts/claude_ensure_plugin.sh
Due: none

Fix inaccurate sub-module description in api.py docstring
  libs/mngr_tmr/imbue/mngr_tmr/api.py
Due: ruff

Simplify claude_ensure_plugin.sh to just update
  scripts/claude_ensure_plugin.sh
Due: none

Update .offload-image-cache from latest build
  .offload-image-cache
Due: none

Resolve sentinel prefix at container startup, make source_claude_dir explicit
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
Due: ruff

Remove get_claude_home_dir -- broader CLAUDE_CONFIG_DIR refactor will be done separately
  libs/mngr_claude/imbue/mngr_claude/claude_config.py
Due: ruff

Use shared .offload-cache-key for release config
  .dockerignore
  .gitignore
  justfile
Due: regenerate-derived-files

Replace hardcoded ~/.claude paths with CLAUDE_CONFIG_DIR / ORIGINAL_CLAUDE_CONFIG_DIR
  apps/claude_web_view/imbue/claude_web_view/cli.py
  libs/mngr/imbue/mngr/utils/testing.py
  libs/mngr_claude/imbue/mngr_claude/claude_config.py
  libs/mngr_claude/imbue/mngr_claude/claude_config_test.py
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/plugin_test.py
  libs/mngr_claude/imbue/mngr_claude/skill_agent.py
  libs/mngr_claude/imbue/mngr_claude/test_ratchets.py
Due: ruff

Load Modal credentials from ~/.modal.toml in e2e fixture
  libs/mngr/imbue/mngr/e2e/conftest.py
Due: ruff

Remove joke.txt from repository
  joke.txt
Due: none

Add joke.txt
  joke.txt
Due: none

Remove unrelated joke.txt file
  joke.txt
Due: none

Fix streaming list warnings repeating due to line-wrap miscounting
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/utils/terminal.py
  libs/mngr/imbue/mngr/utils/terminal_test.py
Due: ruff

Make get_claude_config_path() CLAUDE_CONFIG_DIR-aware, add get_user_claude_config_path()
  libs/mngr_claude/imbue/mngr_claude/claude_config.py
  libs/mngr_claude/imbue/mngr_claude/claude_config_test.py
  libs/mngr_claude/imbue/mngr_claude/plugin.py
  libs/mngr_claude/imbue/mngr_claude/test_ratchets.py
Due: ruff

Use default_factory for mutable settings_overrides default in ClaudeMindConfig
  libs/mngr_claude_mind/imbue/mngr_claude_mind/plugin.py
Due: ruff

Guard installed_plugins.json generation with sync_home_settings
  libs/mngr_claude/imbue/mngr_claude/plugin.py
Due: ruff

Only clear our own plugin caches, not all plugins
  scripts/claude_update_plugin.sh
Due: none

Log warning when settings.json is corrupt in _build_settings_json
  libs/mngr_claude/imbue/mngr_claude/plugin.py
Due: ruff

Resolve work_dir path when setting trust entry in _build_claude_json
  libs/mngr_claude/imbue/mngr_claude/plugin.py
Due: ruff

Update README.md
  README.md
Due: regenerate-derived-files

Update FD leak repro scripts: fix grpclib repro and update README
  scripts/qi/fd_leak/README.md
  scripts/qi/fd_leak/repro_grpclib_fd_leak.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
