Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add specifier field to PluginCliOptions, use metavar for NAME display
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Replace specifier heuristic with explicit --path/--git flags for plugin add/remove
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Add integration test for plugin install/discover/remove lifecycle
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Add integration test for mngr plugin add --path and remove lifecycle
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Mark recently added commands and features as [experimental]
  libs/mngr/docs/commands/aliases/clone.md
  libs/mngr/docs/commands/aliases/migrate.md
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/destroy.md
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/docs/commands/secondary/gc.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/docs/commands/secondary/logs.md
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/cleanup.py
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/exec.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/provision.py
  libs/mngr/imbue/mngr/cli/rename.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff, regenerate-cli-docs

Add missing test for _read_package_name_from_pyproject with absent project.name
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Update plugin group docstring to match help metadata
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Mark subprocess plugin tests as acceptance tests
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Mark ask command, --label, --offline, and --volume as [experimental]
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff, regenerate-cli-docs

Mark push, pull, and pair as [experimental]
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Revert "Mark subprocess plugin tests as acceptance tests"
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Add plugin lifecycle hooks (on_startup, on_shutdown, on_before/after_command, on_error, on_post_install)
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/plugins/hookspecs.py
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff, regenerate-cli-docs

Fix flaky test_new_tmux_window_inherits_env_vars
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

code-guardian: inconsistency report for 2026-02-17
  _tasks/inconsistencies/2026-02-17-11-04-50.md
Due: none

Add enum branching and broad exception handler inconsistencies to report
  _tasks/inconsistencies/2026-02-17-11-04-50.md
Due: none

Fix mngr_remote provider to match updated interface
  libs/mngr/imbue/mngr/providers/mngr_remote/instance.py
Due: ruff

Add .claude/tests_outputs/ to .gitignore
  .gitignore
Due: none

Add macOS keychain credential conversion for remote hosts
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix doc inaccuracies and make bare mngr default to create
  libs/mngr/README.md
  libs/mngr/docs/all_supported_agents.md
  libs/mngr/docs/commands/generic/common.md
  libs/mngr/docs/commands/generic/multi_target.md
  libs/mngr/docs/concepts/agents.md
  libs/mngr/docs/concepts/api.md
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/docs/concepts/provider_backends.md
  libs/mngr/docs/concepts/providers.md
  libs/mngr/docs/core_plugins/offline_mngr_state.md
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Update plugin lifecycle hooks documentation to match implementation
  libs/mngr/docs/concepts/plugins.md
Due: none

Deduplicate test setup in lifecycle_hooks_test.py using a pytest fixture
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff

Use BaseMngrError instead of RuntimeError in lifecycle hooks test
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff

Protect _call_on_error_hook against exceptions from plugin hooks
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Protect on_after_command hook from triggering on_error incorrectly
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Add upgrade instructions to README
  libs/mngr/README.md
Due: none

Revert "Protect on_after_command hook from triggering on_error incorrectly"
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Revert "Protect _call_on_error_hook against exceptions from plugin hooks"
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Revert "Update plugin lifecycle hooks documentation to match implementation"
  libs/mngr/docs/concepts/plugins.md
Due: none

Fix signature
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Use PluginMngrError instead of BaseMngrError in lifecycle hooks test
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
Due: ruff

Reapply "Update plugin lifecycle hooks documentation to match implementation"
  libs/mngr/docs/concepts/plugins.md
Due: none

Add batch create (-n/--count) and free -n from --name
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Deduplicate a bit of code
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Restore on_startup description in plugins.md
  libs/mngr/docs/concepts/plugins.md
Due: none

Make `mngr snapshot` default to `mngr snapshot create`
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Remove dead _list_all_persisted_agent_data code and add tests for _list_all_host_and_agent_records
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add tests for snapshot default-to-create and fix parse_args
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Extract duplicate tag parsing into _apply_tags_to_host helper
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Fix singular/plural grammar in batch create output
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Mask refresh token when uploading credentials to remote hosts
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff
