Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

Add fixme
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Remove --git-image-hash CLI flag; auto-resolve commit hash in deploy
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/list.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/data_types.py
  libs/mng_schedule/imbue/mng_schedule/data_types_test.py
  libs/mng_schedule/imbue/mng_schedule/git.py
  libs/mng_schedule/imbue/mng_schedule/git_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
  libs/mng_schedule/imbue/mng_schedule/test_schedule_add.py
Due: ruff

Fix test portability and docstring wording
  libs/mng_schedule/imbue/mng_schedule/git_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Fix flaky test: use blocking command instead of short sleep
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Update README to reflect auto-resolved commit hash; add empty hash test
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
Due: ruff

Fix spinner by running fetch in background thread
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Rework verification to use Python API instead of subprocesses
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
Due: ruff

Restore all three code packaging strategies in docs; add --snapshot and --full-copy flags
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Add run_periodically polling utility and eliminate sleep-as-polling hacks
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mng/imbue/mng/cli/watch_mode.py
  libs/mng/imbue/mng/cli/watch_mode_test.py
  libs/mng/imbue/mng/utils/polling.py
  libs/mng/imbue/mng/utils/polling_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Fix flaky test: use signal file instead of sleep for synchronization
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Remove old _MNG_COMPLETE backward compat check from install.sh
  scripts/install.sh
Due: none

Use run_periodically in logs follow and eliminate raise KeyboardInterrupt
  libs/mng/imbue/mng/api/logs.py
  libs/mng/imbue/mng/api/logs_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Fix template expansion error in autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

lint
  libs/mng/README.md
  which
Due: none

Refactor dialog indicators from tuples to pydantic models
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Catch exceptions in completion entrypoint to prevent tab crash
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs

Implement schedule CLI improvements: --snapshot, --full-copy, defaults, and help
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Fix reviewer issues: validate --snapshot requires create, add local provider tests
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Make simpler push check
  libs/mng_schedule/imbue/mng_schedule/git.py
Due: ruff

Revert top-level exception swallowing in completion entrypoint
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs

Add unit tests for package_working_directory and fix local deploy test
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix template issues and add unique-commit detection to autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

Add get_description() to DialogIndicator for readable error messages
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Simplify autofix completion signal: poll .autofix/result directly
  .claude/skills/autofix/SKILL.md
  scripts/run_reviewer.sh
Due: none

Simplify completion output format and shell scripts
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
Due: ruff, regenerate-cli-docs

Propagate full_copy flag to cron_runner to skip git operations at runtime
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix race condition: clean up .autofix/result in run_reviewer.sh
  .claude/skills/autofix/SKILL.md
  scripts/run_reviewer.sh
Due: none

Add dialog indicators for trust, theme selection, and effort callout
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Replace hardcoded branch name with deploy config; deduplicate tests
  libs/mng_schedule/imbue/mng_schedule/git.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix 0-based argument indexing: $0 for agent name
  .claude/commands/wait-for-agent.md
Due: none

Fix silly path error
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Fix ensure_current_branch_is_pushed to handle missing remote tracking branch
  libs/mng_schedule/imbue/mng_schedule/git.py
  libs/mng_schedule/imbue/mng_schedule/git_test.py
Due: ruff

Drop $N variables, let agent parse from context
  .claude/commands/wait-for-agent.md
Due: none

Remove all ! templates from autofix skill
  .claude/skills/autofix/SKILL.md
Due: none

Move --command default to add.py to preserve None sentinel for update
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
Due: ruff

Fuzzy agent resolution when exact name not found
  .claude/commands/wait-for-agent.md
Due: none

Clarify _raise_send_timeout call context in docstring
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Remove redundant branch convention note
  .claude/commands/wait-for-agent.md
Due: none

Check agent tmux pane on poll timeout
  .claude/commands/wait-for-agent.md
Due: none

Trying to get the paths to work out properly
  .mng/dev/modal_image_commit_hash
  .mng/image_commit_hash
  .mng/settings.toml
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
