Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add tests for load_agent_refs and fix silent ValueError catch
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add TODO markers for deferred PyPI metadata fields
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mngr/pyproject.toml
Due: none

Speed up mngr list for modal hosts with single SSH command
  libs/mngr/imbue/mngr/api/cleanup.py
  libs/mngr/imbue/mngr/api/cleanup_test.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/list_test.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/cleanup.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Move warm CLI pre-warming to imbue_common with tests
  libs/imbue_common/imbue/imbue_common/warm_cli.py
  libs/imbue_common/imbue/imbue_common/warm_cli_test.py
  scripts/test_warm_cli_manual.py
Due: ruff

Rename _validate_pypi_specifier to _parse_pypi_package_name
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Add git URL example to plugin help metadata
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Fix reviewer issues: shared lifecycle functions, tests, logging
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/list_test.py
  libs/mngr/imbue/mngr/hosts/common.py
  libs/mngr/imbue/mngr/hosts/common_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/listing_test.py
Due: ruff

Return None from _parse_pypi_package_name on invalid input
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Simplify package name resolution by removing dispatch-on-type helper
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Move inline imports to module level in common_test.py
  libs/mngr/imbue/mngr/hosts/common_test.py
Due: ruff

Fetch sandbox tags in parallel and drop orphan sandbox entries
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Address reviewer issues for warm_cli module
  libs/imbue_common/imbue/imbue_common/test_warm_cli.py
  libs/imbue_common/imbue/imbue_common/warm_cli.py
  libs/imbue_common/imbue/imbue_common/warm_cli_test.py
  scripts/warm_cli_example.py
Due: ruff

Minor doc updates
  libs/mngr/README.md
  style_guide.md
Due: none

Fix minor reviewer issues: naming, jq, refactoring, logging
  libs/mngr/imbue/mngr/api/list_test.py
  libs/mngr/imbue/mngr/hosts/common.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Defer classifiers to TODO along with other PyPI metadata
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mngr/pyproject.toml
Due: none

Remove duplicate tests and deduplicate SHELL_COMMANDS constant
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/list_test.py
  libs/mngr/imbue/mngr/hosts/common.py
Due: ruff

Deduplicate lifecycle state logic: BaseAgent delegates to shared functions
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/test_base_agent.py
Due: ruff

Add TODO for vanity URL redirect on install script URLs
  libs/mngr/README.md
  scripts/install.sh
Due: none

Add error handling for malformed agent/host data in optimized listing
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Handle ValueError in _parse_optional_int and _parse_optional_float
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Remove unnecessary comment on id-token permission
  .github/workflows/publish.yml
Due: none

Bump actions/checkout and actions/setup-python to v6
  .github/workflows/publish.yml
Due: none

Bump astral-sh/setup-uv to v7 in publish workflow
  .github/workflows/publish.yml
Due: none

Bump astral-sh/setup-uv to v7 in CI workflow
  .github/workflows/ci.yml
Due: none

Use uv run python in publish workflow version check
  .github/workflows/publish.yml
Due: none

Note system dependencies for manual uv tool install
  libs/mngr/README.md
Due: none

Split README install instructions into subsections
  libs/mngr/README.md
Due: none

Add rsync to system deps, fix brew check ordering
  libs/mngr/README.md
  scripts/install.sh
Due: none

Add git and ssh to system dependencies
  libs/mngr/README.md
  scripts/install.sh
Due: none

Deduplicate missing-deps detection in install.sh
  scripts/install.sh
Due: none

Simplify uv env sourcing in install.sh
  scripts/install.sh
Due: none

Remove unused shellcheck directive from install.sh
  scripts/install.sh
Due: none

Show OS-appropriate shell completion instructions
  scripts/install.sh
Due: none

Use NAME instead of SPECIFIER for plugin add/remove CLI arguments
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Bump CI action versions to v6, remove ssh from system deps
  .github/workflows/ci.yml
  libs/mngr/README.md
  scripts/install.sh
Due: none

Remove curl from system deps
  libs/mngr/README.md
  scripts/install.sh
Due: none

Error on removing a package that is not installed
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Remove duplicate Installation section from README
  libs/mngr/README.md
Due: none

Move full install instructions to body, keep only curl one-liner at top
  libs/mngr/README.md
Due: none

Restore **installation:** label at top of README
  libs/mngr/README.md
Due: none
