Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Check primaryApiKey in ~/.claude.json for API credential detection
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Use factory function instead of __init__ for _QuietOutputManager
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
Due: ruff

Skip confirmation prompt in non-interactive mode, fix layer violation in api tests
  libs/mngr/imbue/mngr/api/cleanup_test.py
  libs/mngr/imbue/mngr/cli/cleanup.py
Due: ruff, regenerate-cli-docs

Skip ensure-clean check for worktree with explicit --base-branch
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Implement Phase 5: Modal deployment for changelings
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/deploy/__init__.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/test_deploy_modal.py
Due: ruff

Print all sessions in chronological order in print_user_session.sh
  scripts/print_user_session.sh
Due: none

Fix reviewer issues: is_enabled check, code duplication, testability
  .gitignore
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Fix reviewer issues: eliminate duplication, fix abstractions, custom errors
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/conftest.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
  apps/changelings/imbue/changelings/errors.py
  apps/changelings/imbue/changelings/mngr_commands.py
  apps/changelings/imbue/changelings/test_deploy_modal.py
  apps/changelings/imbue/changelings/test_run_modal.py
Due: ruff

Add import linter layers and unit tests for add command
  apps/changelings/imbue/changelings/cli/add_test.py
  pyproject.toml
Due: ruff

Add integration tests for ensure-clean with --base-branch
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Update build_readiness_hooks_config docstring for session ID tracking
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Update _assemble_command docstring for dynamic session ID
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Remove incorrect @pure decorator from build_cron_mngr_command
  apps/changelings/imbue/changelings/deploy/deploy.py
Due: ruff

Use full uuid4().hex in rename tests instead of truncated
  libs/mngr/imbue/mngr/cli/test_rename.py
Due: ruff, regenerate-cli-docs

Restore 'up and enter' context in _assemble_command docstring
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Replace is_start_desired with independent host/agent start controls in find_and_maybe_start_agent_by_name_or_id
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/provision.py
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Include destroyed hosts when start_host_if_needed is True
  libs/mngr/imbue/mngr/cli/agent_utils.py
Due: ruff, regenerate-cli-docs

Fix network-restricted tests to use pre-built image and promote to acceptance
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add integration tests for provisioning stopped agents
  libs/mngr/imbue/mngr/cli/test_agent_utils.py
  libs/mngr/imbue/mngr/cli/test_provision.py
Due: ruff, regenerate-cli-docs

Fix escape sequence processing order in _process_template_escapes
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Fix bare-word 'offline' flag not recognized in build args normalization
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix enforce idle detection to respect configured activity sources
  libs/mngr/imbue/mngr/api/enforce.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_enforce.py
Due: ruff

Add per-project test configuration for monorepo
  .claude/settings.json
  .gitignore
  CLAUDE.md
  apps/changelings/conftest.py
  apps/changelings/pyproject.toml
  conftest.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mngr/conftest.py
  libs/mngr/pyproject.toml
  pyproject.toml
Due: ruff

Fix reviewer issues: lower changelings threshold, document config sync
  apps/changelings/pyproject.toml
  libs/mngr/pyproject.toml
Due: none

Add docstrings for PROCESS monitor exclusion, remove timing debug
  libs/mngr/imbue/mngr/api/enforce.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Small doc fix
  CLAUDE.md
Due: none

Fix escape processing with single-pass scanner and update ratchet
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Implement mngr plugin enable and mngr plugin disable commands
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/config_test.py
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Fix ruff formatting after merge
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Preserve source agent name during clone/migrate
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
Due: ruff, regenerate-cli-docs

Fix post-merge issues: type error, ratchet values, short UUIDs
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/cli/test_schedule.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use full uuid in create_test_base_agent to fix short-uuid ratchet
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Add shell tab completion for agent names
  libs/mngr/imbue/mngr/cli/completion.py
  libs/mngr/imbue/mngr/cli/completion_command.py
  libs/mngr/imbue/mngr/cli/completion_command_test.py
  libs/mngr/imbue/mngr/cli/completion_test.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix flaky test_plugin_without_subcommand_shows_help test
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Prevent restarted sandboxes from immediately shutting down
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: none

Add extra logging in case we see snapshots get removed on us again
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Remove session_started command before starting claude so that it works even when resuming from a snapshot
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Fix agent state calculation by ensuring that we look at window 0
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Make it easier to debug missing snapshots
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Centralize shared pytest markers, filterwarnings, and coverage report config
  apps/changelings/pyproject.toml
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mngr/pyproject.toml
  pyproject.toml
Due: ruff
