Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Restructure test fixtures for agent discoverability
  CLAUDE.md
  apps/changelings/imbue/changelings/test_deploy_modal.py
  apps/changelings/imbue/changelings/test_run_modal.py
  libs/mng/conftest.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/api/fixtures.py
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/api/test_pull.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/fixtures.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_exec.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_snapshot.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/fixtures.py
  libs/mng/imbue/mng/providers/modal/conftest.py
  libs/mng/imbue/mng/providers/modal/fixtures.py
  libs/mng/imbue/mng/providers/modal/routes/test_snapshot_and_shutdown.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
  libs/mng_pair/conftest.py
  libs/mng_pair/imbue/mng_pair/conftest.py
  libs/mng_pair/imbue/mng_pair/test_api.py
  style_guide.md
  uv.lock
Due: ruff, regenerate-cli-docs

Bump version to 0.1.3
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mng/pyproject.toml
  uv.lock
Due: none

Exclude fixtures.py from subprocess ratchet
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Clean up release script and fix sdist build
  libs/mng/pyproject.toml
  scripts/release.py
Due: ruff

Preserve directory scoping for subdirectory fixtures
  libs/mng/conftest.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/providers/modal/conftest.py
Due: ruff, regenerate-cli-docs

Update style guide to document fixture re-export pattern
  style_guide.md
Due: none

Include plugin packages in CLI completions regeneration trigger
  .pre-commit-config.yaml
Due: none

Move README to libs/mng/ and symlink from root
  README.md
  libs/mng/README.md
Due: none

Improve release script error message for missing version
  scripts/release.py
Due: ruff

Bump version to 0.1.4
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mng/pyproject.toml
  uv.lock
Due: none

Add mng-tip plugin: invocation logging, tip generation, and display
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
  libs/mng_tip/imbue/mng_tip/__init__.py
  libs/mng_tip/imbue/mng_tip/conftest.py
  libs/mng_tip/imbue/mng_tip/invocation_logger.py
  libs/mng_tip/imbue/mng_tip/invocation_logger_test.py
  libs/mng_tip/imbue/mng_tip/plugin.py
  libs/mng_tip/imbue/mng_tip/plugin_test.py
  libs/mng_tip/imbue/mng_tip/tip_display.py
  libs/mng_tip/imbue/mng_tip/tip_display_test.py
  libs/mng_tip/imbue/mng_tip/tip_generator.py
  libs/mng_tip/imbue/mng_tip/tip_generator_test.py
  libs/mng_tip/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

code-guardian: inconsistency report 2026-02-21
  _tasks/inconsistencies/2026-02-21-11-01-53.md
Due: none

Quick test for modal function latency
  apps/changelings/scripts/latency_check.py
Due: ruff

Extract shared claude.py utility and refactor consumers to use ConcurrencyGroup
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
  libs/mng/imbue/mng/utils/claude.py
  libs/mng/imbue/mng/utils/claude_test.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
  libs/mng_tip/imbue/mng_tip/tip_generator.py
  libs/mng_tip/imbue/mng_tip/tip_generator_test.py
Due: ruff, regenerate-cli-docs

Fix ratchet evasions and add anti-evasion notes to ratchet rules
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mng/imbue/mng/cli/ask_test.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/terminal_test.py
  libs/mng_tip/imbue/mng_tip/tip_display.py
Due: ruff, regenerate-cli-docs

Add ratchets section to CLAUDE.md explaining spirit-of-the-rule principle
  CLAUDE.md
Due: none

make wording on fixture reexport comment more accurate
  libs/mng/imbue/mng/cli/conftest.py
Due: ruff, regenerate-cli-docs

Update fixture reexport comment in modal conftest to match cli conftest
  libs/mng/imbue/mng/providers/modal/conftest.py
Due: ruff

Improve fixture re-export comments to mention scoping and fix CLAUDE.md
  CLAUDE.md
  libs/mng/conftest.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/providers/modal/conftest.py
Due: ruff, regenerate-cli-docs

Warn about double version bump in release script
  scripts/release.py
Due: ruff

Switch CLI completions from static resource to runtime cache
  .pre-commit-config.yaml
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/resources/cli_completions.json
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Narrow fixture scoping and replace pytest_plugins with explicit imports
  CLAUDE.md
  libs/mng/conftest.py
  libs/mng/imbue/mng/agents/conftest.py
  libs/mng/imbue/mng/agents/fixtures.py
  libs/mng/imbue/mng/api/conftest.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/fixtures.py
  libs/mng/imbue/mng/fixtures.py
  libs/mng/imbue/mng/plugins/conftest.py
Due: ruff, regenerate-cli-docs

Add code-guardian inconsistency report for 2026-02-22
  _tasks/inconsistencies/2026-02-22-11-00-55.md
Due: none

Replace bare try/finally resource cleanup with context managers
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/deploy/remote_runner.py
  apps/changelings/imbue/changelings/mng_commands.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/providers/ssh_utils.py
  libs/mng/imbue/mng/utils/claude.py
Due: ruff, regenerate-cli-docs

Add mng-schedule plugin scaffolding with CLI stubs
  libs/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/__init__.py
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/plugin.py
  libs/mng_schedule/imbue/mng_schedule/plugin_test.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
  libs/mng_schedule/imbue/mng_schedule/test_plugin.py
  libs/mng_schedule/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Add README for mng-schedule plugin
  libs/mng_schedule/README.md
Due: none

Fix reviewer issues: remove local pytest config, extract shared fixtures
  libs/mng/imbue/mng/utils/plugin_testing.py
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
  libs/mng_schedule/pyproject.toml
  uv.lock
Due: ruff

Update interfaces
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Update mng_pair conftest to use shared plugin fixtures, fix ratchet violations
  libs/mng/imbue/mng/utils/plugin_testing.py
  libs/mng_pair/imbue/mng_pair/conftest.py
Due: ruff

Fix default subcommand bug and missing test assertion
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
Due: ruff

Add READMEs for mng-pair and mng-opencode plugins
  libs/mng_opencode/README.md
  libs/mng_pair/README.md
Due: none

Replace NotImplementedError test with required-option validation tests
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Parametrize tests to eliminate duplication, add default subcommand test
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Consolidate schedule add/update options and add --verify flag
  libs/mng_schedule/imbue/mng_schedule/cli.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Add context manager support to EditorSession and StderrInterceptor, deduplicate tmux fixture
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/editor.py
  libs/mng/imbue/mng/utils/editor_test.py
  libs/mng/imbue/mng/utils/terminal.py
  libs/mng/imbue/mng/utils/testing.py
  libs/mng_pair/imbue/mng_pair/conftest.py
  libs/mng_tip/imbue/mng_tip/conftest.py
Due: ruff, regenerate-cli-docs

Fix enabled default for schedule add (was None, should be True)
  libs/mng_schedule/imbue/mng_schedule/cli.py
Due: ruff

Remove Any bridge in StderrInterceptor, use structural subtyping instead
  CLAUDE.md
  libs/mng/imbue/mng/utils/terminal.py
Due: ruff

Prefix modal state volume paths with /hosts/ directory
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
  libs/mng/imbue/mng/providers/modal/routes/snapshot_and_shutdown.py
  libs/mng/imbue/mng/providers/modal/routes/test_snapshot_and_shutdown.py
Due: ruff

Add test for NotFoundError when /hosts/ directory is missing
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

Fix ScheduleAddCliOptions validation: make name optional
  libs/mng_schedule/imbue/mng_schedule/cli.py
Due: ruff
