Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Remove manual ask.md spec (replaced by auto-generated docs)
  libs/mngr/future_specs/plugins/ask.md
Due: none

Fix synopsis ordering: put --execute before QUERY for consistency
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Fix trace log placement: move past-tense traces after their actions
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/editor.py
Due: ruff

Stream mngr list HUMAN output as providers complete
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Fix remaining 7 pre-action trace statements
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Remove default from is_streaming parameter, make all callers explicit
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Implement mngr clone command
  libs/mngr/docs/commands/aliases/clone.md
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Implement mngr ask command using claude --print
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Size streaming table columns to terminal width
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Cap host column width at 25 when distributing terminal space
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Reduce host column max width to 20
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Fix --limit + streaming non-determinism, add streaming test coverage
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Consolidate git author config into the existing configure command
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Restore test_connect_via_cli_group and replace patch with monkeypatch
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Improve error reporting and fix ratchet violations
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Replace "Found no X" with "Failed to find X" in trace messages
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Extract intercepted_execvp_calls fixture and make restart test CLI-level
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Prefix user query with mngr context hint
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Fix terminal glitch by passing stdin=DEVNULL to claude subprocess
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Fix code quality issues in streaming list implementation
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Auto-start offline source hosts in resolve_source_location
  libs/mngr/imbue/mngr/api/find.py
Due: ruff

Consolidate duplicated test AgentInfo helpers into shared make_test_agent_info
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Add thinking indicator and tighten prompt prefix
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Implement --execute flag and add no-formatting instruction to prompt
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Use bundled docs as system prompt instead of project context
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/resources/ask_context.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Make _LimitedJsonlEmitter and _StreamingHumanRenderer thread-safe MutableModels
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Code review fixes for clone-local branch
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/test_find.py
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/test_clone.py
Due: ruff, regenerate-cli-docs

Remove all git-lfs usages and mentions
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/resources/Dockerfile
  scripts/add_commit_metadata_file.sh
Due: ruff

Run claude from empty temp dir to prevent project context pickup
  libs/mngr/imbue/mngr/cli/ask.py
Due: ruff, regenerate-cli-docs

Fix review issues in clone-local branch tests
  libs/mngr/imbue/mngr/api/test_find.py
  libs/mngr/imbue/mngr/cli/test_clone.py
Due: ruff, regenerate-cli-docs

Fix SSH wrapper script not being passed as single argument to bash -c
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Simplify clone test by giving the clone an explicit name
  libs/mngr/imbue/mngr/cli/test_clone.py
Due: ruff, regenerate-cli-docs

Remove dead code path in _format_streaming_row, clarify --sort help text
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Rewrite ask tests as integration tests using CliRunner
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Fix review issues in clone-local branch
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/test_clone.py
Due: ruff, regenerate-cli-docs

Replace mock-heavy regression test with pure shell-quoting test
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Wrap streaming renderer lifecycle in try/finally to ensure terminal cleanup
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Build ask context from help metadata registry at runtime
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
  libs/mngr/imbue/mngr/cli/help_formatter.py
  libs/mngr/imbue/mngr/resources/ask_context.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Fix review issues: docstrings, test coverage, and positional name usage
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/test_find.py
  libs/mngr/imbue/mngr/cli/test_clone.py
Due: ruff, regenerate-cli-docs

Use Sequence[str] instead of list[str] in _reject_source_agent_options
  libs/mngr/imbue/mngr/cli/clone.py
Due: ruff, regenerate-cli-docs
