Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Improve modal_nuke.py: fix review issues
  scripts/modal_nuke.py
Due: ruff

Reject subpath in git sync mode for push and pull
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Skip --stop during --dry-run for push and pull
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Output sync result before stopping agent
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Validate --rsync-only + git-specific options in push
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Add [future] tags to unimplemented push options
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Fix internal _POS naming in auto-generated docs
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Restore original branch after cross-branch git pull
  libs/mngr/imbue/mngr/api/sync.py
Due: ruff

Add [future] tag to --sync-mode=full in push and pull
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Move parse_rsync_output tests to rsync_utils_test.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/utils/rsync_utils_test.py
Due: ruff

Remove redundant timeout=5.0 from test_pair.py wait_for calls
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Fix pair_files local_path default
  libs/mngr/imbue/mngr/api/pair.py
Due: ruff

Fix naming and silent error handling in modal_nuke.py
  scripts/modal_nuke.py
Due: ruff

Fix click usage to show optional args with brackets
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Fix review issues in modal_nuke.py: surface stderr, deduplicate, add Final
  scripts/modal_nuke.py
Due: ruff

Remove duplicate tests between pull_test.py and sync_test.py
  libs/mngr/imbue/mngr/api/pull_test.py
Due: ruff

Fix if/elif without else in push/pull stop logic
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Remove git-lfs transcript/issue upload logic from stop hook scripts
  scripts/main_claude_stop_hook.sh
  scripts/run_reviewer.sh
Due: none

Split main_claude_stop_hook.sh into three independent scripts
  .gitignore
  .mngr/settings.toml
  scripts/main_claude_stop_hook.sh
  scripts/stop_hook_common.sh
  scripts/stop_hook_pr_and_ci.sh
  scripts/stop_hook_reviewer.sh
Due: none

Fiddling with readme to be a bit clearer about the value prop for mngr
  libs/mngr/README.md
Due: none

Add orchestrator that runs common setup once, then PR/CI and reviewer in parallel
  .gitignore
  .mngr/settings.toml
  scripts/main_claude_stop_hook.sh
  scripts/stop_hook_common.sh
  scripts/stop_hook_pr_and_ci.sh
  scripts/stop_hook_reviewer.sh
Due: none

Make stop_hook_common.sh a pure function library with no side effects
  scripts/main_claude_stop_hook.sh
  scripts/stop_hook_common.sh
  scripts/stop_hook_pr_and_ci.sh
  scripts/stop_hook_reviewer.sh
Due: none

Exit immediately when either sub-hook fails with exit code 2
  scripts/main_claude_stop_hook.sh
Due: none

Add fixme
  libs/mngr/imbue/mngr/cli/common_opts.py
Due: ruff, regenerate-cli-docs

In theory this should work now
  scripts/main_claude_stop_hook.sh
Due: none

WIP. Initial cleanup for claude to finish
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Revert "Fix click usage to show optional args with brackets"
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

More minor refactoring
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Fix partial failure reporting and missing modal CLI guard in modal_nuke.py
  scripts/modal_nuke.py
Due: ruff

Address review feedback for tmux socket isolation
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/utils/tmux_test.py
Due: ruff, regenerate-cli-docs

Replace os.execvp patch with direct _handle_create call in test
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Check for modal CLI upfront via shutil.which instead of catching FileNotFoundError
  scripts/modal_nuke.py
Due: ruff

Replace model_copy(update=to_update_dict(...)) with model_copy_update(...) in gc.py
  libs/mngr/imbue/mngr/api/gc.py
Due: ruff

Use constant
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
Due: ruff

Address review feedback: add socket name test, remove tmux_socket alias
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Replace model_copy(update=to_update_dict(...)) with model_copy_update(...) in host.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Replace model_copy(update=to_update_dict(...)) with model_copy_update(...) in instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix review issues in modal_nuke.py: rename abbrevs, use loguru, eliminate mutable counter
  scripts/modal_nuke.py
Due: ruff

Replace model_copy(update=to_update_dict(...)) with model_copy_update(...) in loader.py
  libs/mngr/imbue/mngr/config/loader.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
