Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Use mngr-pair instead of mngr-opencode in plugin command examples
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Replace dummy plugin with mngr-opencode in plugin lifecycle test
  libs/mngr/imbue/mngr/cli/test_plugin.py
Due: ruff, regenerate-cli-docs

Add centralized binary dependency checking with BinaryNotInstalledError
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/utils/deps.py
  libs/mngr/imbue/mngr/utils/deps_test.py
  scripts/install.sh
Due: ruff

Replace stderr regex parsing with uv pip list for git install name resolution
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Add uv to install.sh dependency check display
  scripts/install.sh
Due: none

Introduce _PluginSource discriminated union for add/remove dispatch
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Refactor deps to SystemDependency model, fix install.sh uv handling
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/utils/deps.py
  libs/mngr/imbue/mngr/utils/deps_test.py
  scripts/install.sh
Due: ruff

Revert modal AuthError message change
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Suggest 'uvx modal token set' instead of 'modal token set'
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Fix unbound variable error in install.sh on macOS bash 3.2
  scripts/install.sh
Due: none

Add claude to optional deps in install.sh, remove from Next steps
  scripts/install.sh
Due: none

Use isolated temp venv for plugin lifecycle test and fix uv pip target environment
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/plugin_test.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use isolated temp venv for plugin lifecycle test and fix uv pip target environment
  libs/mngr/imbue/mngr/cli/test_plugin.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Handle npm failure gracefully in install_claude
  scripts/install.sh
Due: none

Log caught PluginSpecifierError when falling back to raw path
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Add unit tests for _parse_add_source and _parse_remove_source
  libs/mngr/imbue/mngr/cli/plugin_test.py
Due: ruff, regenerate-cli-docs

Add @pure decorator to _parse_add_source and _parse_remove_source
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Add Field descriptions to _PypiSource, _PathSource, and _GitSource
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Use pathlib open() in _read_package_name_from_pyproject
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Add per-platform install hints to SystemDependency
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/utils/deps.py
  libs/mngr/imbue/mngr/utils/deps_test.py
Due: ruff

Update pair.py
  libs/mngr/imbue/mngr/api/pair.py
Due: ruff

Remove environment-dependent require_unison test
  libs/mngr/imbue/mngr/api/pair_test.py
Due: ruff

Add comment and use fake path in shutil.which test patch
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Factor out _make_invalid_dep in deps tests, fix install.sh header
  libs/mngr/imbue/mngr/utils/deps_test.py
  scripts/install.sh
Due: ruff

Remove redundant mngr verification step from install.sh
  scripts/install.sh
Due: none

Prompt for shell completion setup in install.sh
  scripts/install.sh
Due: none

Remove extra blank line before 'Get started' message
  scripts/install.sh
Due: none

Add temp_git_repo_cwd fixture combining git repo creation with chdir
  libs/mngr/imbue/mngr/cli/test_plugin.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Extract is_param_explicit and error_if_param_explicit helpers
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Extract is_param_explicit and error_if_param_explicit helpers
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Move batch validation to create() using error_if_param_explicit
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Fix batch name error test and add positional name test
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

code-guardian: inconsistency report for 2026-02-18
  _tasks/inconsistencies/2026-02-18-11-01-39.md
Due: none

Add tmux onboarding popup on first agent attach via client-attached hook
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Add --connect-command to create and start subcommands
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/start_test.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add per-host volumes and developer README for Docker provider
  libs/mngr/imbue/mngr/providers/docker/README.md
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/pyproject.toml
Due: ruff

Fix reviewer issues: remove unittest.mock, deduplicate connect logic, update ratchet
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use existing _local_credentials_file fixture instead of inline boilerplate
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add ratchet tests against getattr() and setattr() usage
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Bind-mount per-host volume into Docker containers as host_dir
  libs/mngr/imbue/mngr/providers/docker/README.md
  libs/mngr/imbue/mngr/providers/docker/config.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff
