Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Move default_create_cli_opts fixture to conftest.py and deduplicate
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Deduplicate CLI code and fix dry-run commit counting
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff, regenerate-cli-docs

Add model_copy_update method and replace all model_copy(update=to_update_dict(...)) usages
  libs/imbue_common/imbue/imbue_common/frozen_model.py
  libs/imbue_common/imbue/imbue_common/model_update.py
  libs/imbue_common/imbue/imbue_common/model_update_test.py
  libs/imbue_common/imbue/imbue_common/mutable_model.py
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/plugins/hookspecs.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  scripts/style_guide.py
  style_guide.md
Due: ruff, regenerate-cli-docs

Add logger.build() convenience method for BUILD-level logging
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff

Fix review issues: use abstract types, deduplicate nuke loops, simplify display
  scripts/modal_nuke.py
Due: ruff

Remove 9 redundant docstrings from modal_nuke.py
  scripts/modal_nuke.py
Due: ruff

Fix missed bare tmux calls and add socket isolation test coverage
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Remove mocks from unit tests in favor of real git repos and FakeHost
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
Due: ruff, regenerate-cli-docs

Replace print calls with logger.info in modal_nuke.py
  scripts/modal_nuke.py
Due: ruff

Revert _nuke_resources back to print for inline status output
  scripts/modal_nuke.py
Due: ruff

Address code review: add test coverage, move test helpers, DRY up ssh setup
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/utils/testing.py
  libs/mngr/imbue/mngr/utils/testing_test.py
  libs/mngr/imbue/mngr/utils/tmux.py
  libs/mngr/imbue/mngr/utils/tmux_test.py
Due: ruff, regenerate-cli-docs

Fix review issues: pre_merge_head timing, error recovery, subpath conflict, stash dedup
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
  libs/mngr/imbue/mngr/primitives.py
Due: ruff, regenerate-cli-docs

Fix grep double-output and jq string-confidence bugs in stop hook scripts
  scripts/poll_pr_checks.sh
  scripts/run_reviewer.sh
Due: none

Move TEST_TMUX_SOCKET_NAME from conftest.py to testing.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Fix verify-branch review issues: dedup agent finding, style guide compliance
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pull.py
  libs/mngr/imbue/mngr/api/push.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/sync_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/push.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/primitives.py
Due: ruff, regenerate-cli-docs

Replace Mock/patch usage in claude_agent_test.py with real objects
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Prompt user to trust directory instead of showing dead-end error
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Move trust prompting from on_before_provisioning to provision()
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Default trust prompt to 'no' so Enter alone doesn't grant trust
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Refactor check_source_directory_trusted to use _read_claude_config and add interactive trust-skip test
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Update provision() docstring to describe interactive trust prompting
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Move wait_for tests from testing_test.py to polling_test.py and delete testing_test.py
  libs/mngr/imbue/mngr/utils/polling_test.py
  libs/mngr/imbue/mngr/utils/testing_test.py
Due: ruff

Add CLAUDE.md guideline to never create tests for test utilities
  CLAUDE.md
Due: none

Formatting fixes
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

Replace mock-based trust tests with real git worktree fixtures
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Replace specific model_copy ratchets with blanket .model_copy() ban
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove unnecessary patches from add_claude_trust tests
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Fix ratchet snapshot to 0 (no .model_copy() usages in mngr source dir)
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Replace model_copy/to_update pattern with interactive_mngr_ctx fixture
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix provision() docstring to mention user-decline case
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Propagate git author info from source repo to remote agent repos
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Replace Mock/patch usage in test_connect.py with real objects
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Reduce trust test setup duplication with helper and constant
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix test_build_activity_updater_command to expect socket-aware tmux command
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Update logging guidelines
  style_guide.md
Due: none

Add tests for get_git_author_info
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Add CLI-level integration tests for connect happy path and non-interactive mode
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Fix all logger.trace messages to start with past tense verbs
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/editor.py
Due: ruff

Add skeleton for mngr ask command (all [future], raises NotImplementedError)
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/main.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs
