Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Ignore demo content
  .gitignore
Due: none

Skip empty option group headers in git-style help output
  libs/mng/imbue/mng/cli/help_formatter.py
Due: ruff

Inline _apply_process_env, remove its unit tests
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff

Fix: update style guide for process_env exception
  style_guide.md
Due: none

Fix stale _apply_process_env reference in test comment
  libs/mng/imbue/mng/cli/test_list.py
Due: ruff

Note that TMUX_TMPDIR directory must exist beforehand
  libs/mng/docs/customization.md
Due: none

Fix fixme-fairy skill content leading newline
  libs/mng/imbue/mng/agents/default_plugins/fixme_fairy_agent.py
Due: ruff

Inject metadata description into generated CLI markdown docs
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/logs.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Fix doc generation: strip old docstring text, inject subcommand metadata
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Drop mkdocs-click dependency from doc generation
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/logs.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  pyproject.toml
  scripts/make_cli_docs.py
  uv.lock
Due: ruff, regenerate-cli-docs

Fix extra whitespace in generated markdown docs
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/logs.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Replace build_help_metadata with CommandHelpMetadata(key=...) directly
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/cleanup.py
  libs/mng/imbue/mng/cli/clone.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/gc.py
  libs/mng/imbue/mng/cli/help_formatter.py
  libs/mng/imbue/mng/cli/help_formatter_test.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/logs.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/migrate.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/provision.py
  libs/mng/imbue/mng/cli/pull.py
  libs/mng/imbue/mng/cli/push.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng_pair/imbue/mng_pair/cli.py
Due: ruff

Replace register_help_metadata() with CommandHelpMetadata.register()
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/cleanup.py
  libs/mng/imbue/mng/cli/clone.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/gc.py
  libs/mng/imbue/mng/cli/help_formatter.py
  libs/mng/imbue/mng/cli/help_formatter_test.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/logs.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/migrate.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/provision.py
  libs/mng/imbue/mng/cli/pull.py
  libs/mng/imbue/mng/cli/push.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/main.py
  libs/mng_pair/imbue/mng_pair/cli.py
Due: ruff

Add trailing period to one_line_description in full_description property
  libs/mng/docs/commands/aliases/clone.md
  libs/mng/docs/commands/aliases/migrate.md
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/logs.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  libs/mng/imbue/mng/cli/help_formatter.py
Due: ruff

Add missing context sentence to ask command description
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/imbue/mng/cli/ask.py
Due: ruff

Restore lost information in CLI command help metadata
  libs/mng/docs/commands/aliases/migrate.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/logs.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/logs.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/migrate.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng_pair/imbue/mng_pair/cli.py
Due: ruff

Validate config fields in 'config set' before saving
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/config_test.py
  libs/mng/imbue/mng/cli/test_config.py
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Restore ConfigNotFoundError handling in config pre-reader callbacks
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Fix VolumeId crash when Docker state volume contains host-* directories
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/docker/instance_test.py
Due: ruff

Remove .exists() guards in config pre-reader to prevent TOCTOU race
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Log trace message for invalid HostId directory names in list_volumes
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Warn when falling through to default image with no Dockerfile
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Add missing new_host to modal create template
  .mng/settings.toml
Due: none

Refactor pre-readers: return dicts instead of mutating, extract _resolve_config_file_paths
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Move Modal default-image warning to create_host for consistency
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Revert "Log trace message for invalid HostId directory names in list_volumes"
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Remove redundant .exists() checks in _resolve_config_file_paths
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Catch ConfigNotFoundError in pre-reader per-file loaders
  libs/mng/imbue/mng/config/loader.py
Due: ruff

Remove try/except for HostId parsing in list_volumes
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Rename _parse_config to parse_config, remove wrapper layers
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/config_test.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff

Fix mangled test function names in loader_test.py
  libs/mng/imbue/mng/config/loader_test.py
Due: ruff
