Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Remove redundant assertions in test_ensure_claude_dialogs_dismissed_sets_both
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Remove duplicate interactive dialog check test
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Add error handling for uv curl installer failure
  scripts/install.sh
Due: none

Remove underscore prefix from registry module-level state
  libs/mngr/imbue/mngr/providers/registry.py
  libs/mngr/imbue/mngr/providers/registry_loader.py
  libs/mngr/imbue/mngr/providers/registry_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

mark ssh provider as experimental
  libs/mngr/docs/concepts/plugins.md
Due: none

Clarify test comment: dict pattern is the right approach, not a ratchet workaround
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
Due: ruff, regenerate-cli-docs

Improve print/echo ratchet descriptions to guide toward write_human_line or logger
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
Due: ruff

Clarify docs: mark continue as default, distinguish registration vs lifecycle hooks
  libs/mngr/docs/commands/generic/multi_target.md
  libs/mngr/docs/concepts/api.md
  libs/mngr/docs/concepts/plugins.md
Due: regenerate-cli-docs

Remove code-guardian from docs (not ready for public documentation yet)
  libs/mngr/docs/all_supported_agents.md
  libs/mngr/docs/concepts/plugins.md
Due: none

Revert provider instances heading to Built-in and remove modal
  libs/mngr/docs/concepts/providers.md
Due: none

Fix doc inaccuracies: mark future features, fix broken links, correct syntax
  libs/mngr/README.md
  libs/mngr/docs/all_supported_agents.md
  libs/mngr/docs/concepts/agent_types.md
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Minor doc fixes
  libs/mngr/tutorials/mega_tutorial.sh
Due: none

Restore provider args section in generated create.md docs
  libs/mngr/docs/commands/primary/create.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Remove module docstring from registry_loader.py
  libs/mngr/imbue/mngr/providers/registry_loader.py
Due: ruff

Add license, authors, classifiers, and URLs to pyproject.toml files
  LICENSE
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mngr/pyproject.toml
Due: none

Add Imbue as first author in mngr pyproject.toml
  libs/mngr/pyproject.toml
Due: none

Add configurable default_subcommand for DefaultCommandGroup
  libs/mngr/docs/customization.md
  libs/mngr/imbue/mngr/cli/default_command_group.py
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Replace module-level cache with per-invocation config read
  libs/mngr/imbue/mngr/cli/default_command_group.py
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

On-demand backend loading and lazy celpy imports
  libs/mngr/imbue/mngr/api/providers_test.py
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/registry.py
  libs/mngr/imbue/mngr/providers/registry_loader.py
  libs/mngr/imbue/mngr/utils/cel_utils.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Clarify module-level comment in lightweight config reader
  libs/mngr/imbue/mngr/config/loader.py
Due: ruff

Remove stale reference to non-existent reset_default_command_cache
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff

Revert "Remove stale reference to non-existent reset_default_command_cache"
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff

Add project_config_dir fixture, use single backticks in docstrings
  libs/mngr/imbue/mngr/cli/default_command_group.py
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Deduplicate profile dir lookup between get_or_create and lightweight
  libs/mngr/imbue/mngr/config/loader.py
Due: ruff

Add individual authors to concurrency-group and imbue-common
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
Due: none

Update docstrings: lazy loading benefits all commands, not just tab-completion
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add comment explaining ty: ignore on ensure_provider_help
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Clarify that only create command has ensure_provider_help
  libs/mngr/imbue/mngr/cli/help_formatter.py
Due: ruff, regenerate-cli-docs

Rename PyPI package from mngr to mng, add mng as CLI alias
  apps/changelings/pyproject.toml
  apps/sculptor_desktop/pyproject.toml
  apps/sculptor_web/pyproject.toml
  libs/mngr/README.md
  libs/mngr/pyproject.toml
  libs/mngr_opencode/pyproject.toml
  scripts/install.sh
  uv.lock
Due: none

Fix --version flag for PyPI-installed package
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Exclude test infrastructure from imbue-common wheel
  libs/imbue_common/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Fix HostName("local") -> HostName("localhost") in agent_host_hooks_test
  libs/mngr/imbue/mngr/plugins/agent_host_hooks_test.py
Due: ruff

Fix agent_host_hooks_test to use HostName("localhost") for new host creation
  libs/mngr/imbue/mngr/plugins/agent_host_hooks_test.py
Due: ruff

Load non-disabled backends in setup_command_context
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Remove unused list_known_backends function
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Use write_human_line instead of logger.info for plugin add/remove output
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Fix rename_host to always use HostName("localhost")
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
