Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Update docs
  libs/mng_claude_zygote/README.md
Due: none

Fix import layer violations breaking CI tests
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/api/sync.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/hosts/common.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/utils/git_utils.py
  libs/mng/imbue/mng/utils/git_utils_test.py
Due: ruff, regenerate-derived-files

Add CLI unit tests for destroy, push, logs, message, and pull commands
  libs/mng/imbue/mng/cli/destroy_test.py
  libs/mng/imbue/mng/cli/logs_test.py
  libs/mng/imbue/mng/cli/message_test.py
  libs/mng/imbue/mng/cli/pull_test.py
  libs/mng/imbue/mng/cli/push_test.py
Due: ruff, regenerate-derived-files

Add unit tests for list.py, git_utils.py, click_utils.py, and env_utils.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/env_utils_test.py
  libs/mng/imbue/mng/utils/click_utils_test.py
  libs/mng/imbue/mng/utils/git_utils_test.py
Due: ruff, regenerate-derived-files

Add tests for deploy_utils, skill_agent, cleanup, and file_utils
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/api/cleanup_test.py
  libs/mng/imbue/mng/api/gc_test.py
  libs/mng/imbue/mng/providers/deploy_utils_test.py
  libs/mng/imbue/mng/utils/file_utils_test.py
Due: ruff

Split verify-architecture into orchestrator and subagent prompt
  .claude/commands/analyze-architecture.md
  .claude/commands/verify-architecture-v2.md
Due: none

Replace event_watcher.sh with Python + watchdog for robust file watching
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Update bash scripts to emit JSONL logs instead of plain text
  libs/mng/imbue/mng/resources/activity_watcher.sh
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
  scripts/main_claude_stop_hook.sh
  scripts/stop_hook_common.sh
Due: ruff

Add behavioral tests for event_watcher.py and fix remaining review issues
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Fix security issues, add proxy tests, and update GLOBAL.md
  apps/changelings/imbue/changelings/forwarding_server/proxy_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/GLOBAL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
Due: ruff

Remove transcript_watcher dead code, extract shared logging library, fix stderr redirects
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/providers/ssh_host_setup.py
  libs/mng/imbue/mng/resources/activity_watcher.sh
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng/imbue/mng/resources/mng_log.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  scripts/mng_log.sh
  scripts/stop_hook_common.sh
Due: ruff

Rewrite tests without unittest.mock per style guide
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/web_server_test.py
Due: ruff

Add AgentReference property tests and additional output formatting tests
  libs/mng/imbue/mng/primitives_test.py
Due: ruff

Address reviewer feedback: stronger types, bash strict mode
  libs/imbue_common/imbue/imbue_common/event_envelope.py
  libs/imbue_common/imbue/imbue_common/event_envelope_test.py
  libs/mng/imbue/mng/resources/mng_log.sh
  libs/mng/imbue/mng/utils/logging.py
  scripts/mng_log.sh
Due: ruff

Deduplicate _capture_stdout into shared capture_stdout in conftest.py
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/cli/config_test.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/destroy_test.py
  libs/mng/imbue/mng/cli/exec_test.py
  libs/mng/imbue/mng/cli/limit_test.py
  libs/mng/imbue/mng/cli/logs_test.py
  libs/mng/imbue/mng/cli/message_test.py
  libs/mng/imbue/mng/cli/provision_test.py
  libs/mng/imbue/mng/cli/snapshot_test.py
  libs/mng/imbue/mng/cli/start_test.py
  libs/mng/imbue/mng/cli/stop_test.py
Due: ruff, regenerate-derived-files

Fix reviewer issues: deduplicate helpers, remove prohibited tests, reduce boilerplate
  libs/mng/imbue/mng/cli/connect_test.py
  libs/mng/imbue/mng/cli/destroy_test.py
  libs/mng/imbue/mng/cli/limit_test.py
  libs/mng/imbue/mng/cli/output_helpers_test.py
  libs/mng/imbue/mng/cli/pull_test.py
  libs/mng/imbue/mng/cli/push_test.py
  libs/mng/imbue/mng/cli/start_test.py
  libs/mng/imbue/mng/cli/stop_test.py
  libs/mng/imbue/mng/config/completion_writer_test.py
  libs/mng/imbue/mng/config/data_types_test.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/hosts/offline_host_test.py
  libs/mng/imbue/mng/primitives_test.py
Due: ruff, regenerate-derived-files

Replace _SIGINT_HANDLER_NOT_INSTALLED sentinel with None
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/common_opts_test.py
Due: ruff, regenerate-derived-files

Refactor base_agent_test.py to use test_agent fixture, reducing boilerplate
  libs/mng/imbue/mng/agents/base_agent_test.py
Due: ruff

Delete prohibited/duplicate/zero-assertion tests, add real assertions
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/api/provision_test.py
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/cli/exec_test.py
  libs/mng/imbue/mng/cli/limit_test.py
  libs/mng/imbue/mng/cli/message_test.py
  libs/mng/imbue/mng/cli/output_helpers_test.py
  libs/mng/imbue/mng/cli/pull_test.py
Due: ruff, regenerate-derived-files

Fix reviewer issues: add real assertions, merge duplicate helpers
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/api/providers_test.py
Due: ruff

Fix reviewer issues: add local_host fixture, strengthen GLOBAL.md test
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/api/cleanup_test.py
  libs/mng/imbue/mng/api/find_test.py
  libs/mng/imbue/mng/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Remove duplicate zero-assertion gc tests, fix comment and type annotations
  libs/mng/imbue/mng/cli/gc_test.py
  libs/mng/imbue/mng/cli/output_helpers_test.py
Due: ruff, regenerate-derived-files

Use loguru native serialize=True instead of custom JSONL formatter
  libs/imbue_common/imbue/imbue_common/logging.py
  libs/imbue_common/imbue/imbue_common/logging_test.py
  libs/mng/future_specs/logging.md
  libs/mng/imbue/mng/utils/logging.py
  libs/mng/imbue/mng/utils/logging_test.py
Due: ruff

Redesign: use ttyd --url-arg instead of spawning multiple ttyd processes
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/agent_tmux_handler.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat_ttyd_handler.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/defaults/GLOBAL.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/web_server.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/web_server_test.py
Due: ruff

Fix pre-existing test that asserts against missing GLOBAL.md content
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
Due: ruff

Fix UTC timestamp conversion and macOS date compatibility
  libs/imbue_common/imbue/imbue_common/logging.py
  libs/mng/imbue/mng/resources/mng_log.sh
Due: ruff

Log exception when agent type resolution fails in subclass check
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
Due: ruff

Replace conversation_watcher.sh with Python + watchdog
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
  pyproject.toml
Due: ruff

Fix verifier to stop allowing such awful tests
  .claude/commands/verify-branch.md
Due: none

Revert proxy.py changes and fix new conversation creation
  apps/changelings/imbue/changelings/forwarding_server/proxy.py
  apps/changelings/imbue/changelings/forwarding_server/proxy_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
Due: ruff

Move inline imports to module level and fix test infrastructure
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/watcher_common.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Boost up the caching time considerably
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
Due: ruff

Add watchdog as a proper dependency, remove PEP 723 workarounds
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/transcript_watcher.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/watcher_common.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
  libs/mng_claude_zygote/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Address architecture review concerns for adopt-session branch
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Replay batch create (-n/--count) feature on top of current main
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/test_create.py
Due: ruff, regenerate-derived-files

Add watcher unit tests and fix inline imports
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conversation_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/event_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/provisioning_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/transcript_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/watcher_common_test.py
Due: ruff

Read settings only from work dir, remove agent state dir provisioning
  libs/mng_claude_zygote/imbue/mng_claude_zygote/conftest.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/plugin.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/chat.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/conversation_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.sh
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/extra_context_tool.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/settings_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Fix reviewer issues: remove unittest.mock, time.sleep, and duplicate tests
  libs/mng_claude_zygote/imbue/mng_claude_zygote/event_watcher_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/watcher_common_test.py
Due: ruff

Rename _post_create_one_agent back to _post_create
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Rename _create_one_agent to _create_agent
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/test_create.py
Due: ruff, regenerate-derived-files

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
