Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Add synthetic event generation to event watcher (idle, schedule, onboarding)
  libs/mng_mind/imbue/mng_mind/data_types.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Fix review issues: ValueError handling, constants, test quality
  libs/mng_mind/imbue/mng_mind/conftest.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Move create-specific helpers out of AgentAddress, add address tests
  libs/mng/imbue/mng/cli/agent_addr.py
  libs/mng/imbue/mng/cli/agent_addr_test.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/destroy_test.py
  next.md
Due: ruff, regenerate-derived-files

Manually fix a comment in mega_tutorials.sh.
  libs/mng/tutorials/mega_tutorial.sh
Due: none

Fix reviewer issues: stale comments, test -e, and deduplicate helpers
  libs/mng/imbue/mng/hosts/host.py
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Minor fixups--llm is required for mng_claude_mind
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning_test.py
  libs/mng_llm/imbue/mng_llm/provisioning.py
Due: ruff

Deduplicate gather_results and build_current_results into shared helper
  libs/mng_tmr/imbue/mng_tmr/api.py
Due: ruff

Fix test command --type param name to match real create command
  libs/mng/imbue/mng/cli/create_test.py
Due: ruff, regenerate-derived-files

Error on conflicting --type flag and positional agent type, revert mng_claude_mind changes
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
Due: ruff, regenerate-derived-files

Add missing readme field to skitwright pyproject.toml
  libs/skitwright/pyproject.toml
Due: none

Fix address handling in message cmd, dead code, and add post-filter tests
  libs/mng/imbue/mng/api/message.py
  libs/mng/imbue/mng/api/message_test.py
  libs/mng/imbue/mng/cli/agent_addr.py
  libs/mng/imbue/mng/cli/agent_addr_test.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/message.py
Due: ruff, regenerate-derived-files

Address feedback: interleaved transcript, remove computed props, add cleanup
  libs/mng/imbue/mng/e2e/conftest.py
  libs/skitwright/README.md
  libs/skitwright/imbue/skitwright/data_types.py
  libs/skitwright/imbue/skitwright/expect.py
  libs/skitwright/imbue/skitwright/runner.py
  libs/skitwright/imbue/skitwright/session_test.py
  libs/skitwright/imbue/skitwright/test_ratchets.py
  libs/skitwright/imbue/skitwright/transcript.py
  libs/skitwright/imbue/skitwright/transcript_test.py
Due: ruff

Add assertions to mng_tmr emit helper tests
  libs/mng_tmr/imbue/mng_tmr/cli_test.py
Due: ruff

Restore JSON format emit tests with silent-output assertion
  libs/mng_tmr/imbue/mng_tmr/cli_test.py
Due: ruff

Use git subtree for vendoring and support multiple configurable repos
  apps/minds/imbue/minds/errors.py
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
  apps/minds/imbue/minds/forwarding_server/agent_creator_test.py
  apps/minds/imbue/minds/forwarding_server/conftest.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/data_types.py
  libs/mng_claude_mind/imbue/mng_claude_mind/data_types_test.py
Due: ruff

Ensure git identity is configured before git subtree add
  apps/minds/imbue/minds/forwarding_server/vendor_mng.py
Due: ruff

Add tests for tag operations, snapshots, discovery, and parsing helpers in testing_provider_test.py
  libs/mng_modal/imbue/mng_modal/backend.py
  libs/mng_modal/imbue/mng_modal/config.py
  libs/mng_modal/imbue/mng_modal/testing_provider_test.py
  libs/modal_proxy/imbue/modal_proxy/testing.py
  libs/modal_proxy/imbue/modal_proxy/testing_test.py
Due: ruff

Add tests for tutorial_matcher and fix minor code issues
  scripts/tutorial_matcher.py
  scripts/tutorial_matcher_test.py
Due: ruff

Replace direct subprocess usage in TestingSandbox with ConcurrencyGroup
  libs/mng_modal/imbue/mng_modal/backend.py
  libs/mng_modal/imbue/mng_modal/conftest.py
  libs/mng_modal/imbue/mng_modal/testing.py
  libs/mng_modal/imbue/mng_modal/testing_provider_test.py
  libs/modal_proxy/imbue/modal_proxy/test_ratchets.py
  libs/modal_proxy/imbue/modal_proxy/testing.py
  libs/modal_proxy/pyproject.toml
  uv.lock
Due: ruff

Bump thinking tokens per anthropic recommendation
  .claude/settings.json
Due: none

Add mind branch setup, parent lineage tracking, and update command
  apps/minds/imbue/minds/cli/update.py
  apps/minds/imbue/minds/cli/update_test.py
  apps/minds/imbue/minds/forwarding_server/agent_creator.py
  apps/minds/imbue/minds/forwarding_server/parent_tracking.py
  apps/minds/imbue/minds/forwarding_server/parent_tracking_test.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng_test.py
  apps/minds/imbue/minds/main.py
Due: ruff

Fix reviewer issues: use domain types, proper data model, shared test helper
  .claude/settings.json
  apps/minds/imbue/minds/cli/update.py
  apps/minds/imbue/minds/forwarding_server/conftest.py
  apps/minds/imbue/minds/forwarding_server/parent_tracking.py
  apps/minds/imbue/minds/forwarding_server/parent_tracking_test.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng.py
  apps/minds/imbue/minds/forwarding_server/vendor_mng_test.py
  apps/minds/imbue/minds/primitives.py
Due: ruff

Move parser tests to data_types_test.py, restore settings env var
  .claude/settings.json
  apps/minds/imbue/minds/cli/update_test.py
  apps/minds/imbue/minds/config/data_types_test.py
Due: ruff

Refine tutorial-matcher skill prompts
  .claude/commands/tutorial-matcher.md
Due: none

Include content changes for sync-tutorial-to-e2e-tests skill
  .claude/commands/sync-tutorial-to-e2e-tests.md
Due: none

Put the daily log creation last so it is auto selected
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

Handle KeyboardInterrupt gracefully in ConcurrencyGroup
  libs/concurrency_group/imbue/concurrency_group/concurrency_group.py
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
  libs/mng/imbue/mng/cli/common_opts.py
Due: ruff, regenerate-derived-files

Add import
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

seriously ffs
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

Sync mega_tutorial.sh blocks to e2e pytest functions
  libs/mng/imbue/mng/e2e/test_basic.py
  libs/mng/imbue/mng/e2e/test_tutorial_create.py
Due: ruff

Trying to get approved keys to work
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

Ugh
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
Due: ruff

Fix reviewer round 2: reconnect state, shared execution, WS robustness
  libs/mng_llm/imbue/mng_llm/resources/web_server.py
Due: ruff

Fix race: poll continuously so injected messages are never missed
  libs/mng_llm/imbue/mng_llm/resources/web_server.py
  libs/mng_llm/imbue/mng_llm/resources/web_server_direct_test.py
Due: ruff

Fix duplicate messages for new conversations
  libs/mng_llm/imbue/mng_llm/resources/web_server.py
Due: ruff

Use shared test helpers; document stdlib-only WebSocket rationale
  libs/mng_llm/imbue/mng_llm/resources/web_server.py
  libs/mng_llm/imbue/mng_llm/web_server_test.py
Due: ruff

Fix copy mode for remote providers and add --use-snapshot optimization
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
  libs/mng_tmr/imbue/mng_tmr/cli.py
  libs/mng_tmr/imbue/mng_tmr/cli_test.py
Due: ruff

Deduplicate executor blocks and extract snapshot helper
  libs/mng_tmr/imbue/mng_tmr/api.py
Due: ruff

Use CLONE instead of COPY for remote providers
  libs/mng_tmr/imbue/mng_tmr/api.py
  libs/mng_tmr/imbue/mng_tmr/api_test.py
Due: ruff

add .dockerignore
  .dockerignore
Due: regenerate-derived-files

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
