Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

WIP. Lots of fixes to idle scripts and activity and error handling as we work towards actual test of idle shutdown logic
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/data_types_test.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff

WIP. Handle some more errors.
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Test actually passed with something like this!
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Making listing even more robust to hosts dropping offline during access
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Fix minor errors
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix tests
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
Due: ruff

Move silly skills to slash commands instead
  .claude/commands/convert-github-issues-to-fixmes.md
  .claude/commands/create-github-issues-from-file.md
Due: none

Disable this test. Not sure why this fails but others succeed
  libs/mngr/imbue/mngr/providers/modal/test_modal_idle_shutdown.py
Due: ruff

Add update-issues-in-repo slash command
  .claude/commands/update-issues-in-repo.md
Due: none

Switch to combined state. Add a bunch of fixmes
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/primitives.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
Due: ruff, regenerate-cli-docs

Fix tests
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Improve send_message retry logic with backspace cleanup
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Poll for message submission signal instead of fixed delay
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add a fixme
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Add fixme
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Remove _get_persisted_agent_data and use AgentReference directly
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/test_list.py
Due: ruff

Reduce message sending delays in favor of retries
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add tmux wait-for signal for instant message submission detection
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Fix tests
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
Due: ruff, regenerate-cli-docs

Try yet another key binding
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Robust wait-before-enter approach, remove polling fallback
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Minor updates after talking to ev
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/utils/name_generator.py
Due: ruff, regenerate-cli-docs

Allow destroying agents on offline hosts when all agents are targeted
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff, regenerate-cli-docs

Parallelize host processing in list_agents using ConcurrencyGroup
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Resolve pass_env_vars at CLI level instead of runtime
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Extract _resolve_env_vars helper for merging env vars
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Add TUI readiness check and unit tests for message sending
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Add import
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Remove call to deleted _get_persisted_agent_data function
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Optimize timing constants and add truncation safety check
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Add benchmark script for Enter sleep timing
  scripts/benchmark_enter_sleep.py
Due: ruff

Experiment: Set backspace settle delay to 0s for benchmarking
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Place worktrees inside .git/mngr-worktrees/ for automatic trust inheritance
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
  libs/mngr/imbue/mngr/utils/git_utils.py
  libs/mngr/imbue/mngr/utils/git_utils_test.py
Due: ruff

Fix ruff B904 error: use 'raise ... from None' in exception handler
  libs/mngr/imbue/mngr/utils/claude_config.py
Due: ruff

Fix exception chaining: use 'raise from e' to preserve context
  libs/mngr/imbue/mngr/utils/claude_config.py
Due: ruff

Add acceptance tests for message sending reliability
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Fix format
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/providers/ssh/backend_test.py
Due: ruff

Require 100% success rate in message acceptance tests
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Remove _BACKSPACE_SETTLE_SECONDS constant
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff
