Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Filter interactive agent selector to show only changeling agents
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli_test.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/test_ratchets.py
Due: ruff

Add agent_filter parameter to find_agent_for_command
  libs/mng/imbue/mng/cli/agent_utils.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
Due: ruff, regenerate-derived-files

Fix termios save order: save BEFORE urwid disables SIGINT
  libs/mng/imbue/mng/cli/connect.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
Due: ruff, regenerate-derived-files

Extract urwid terminal preservation into shared context manager
  libs/mng/imbue/mng/cli/cleanup.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/urwid_utils.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
Due: ruff, regenerate-derived-files

Fix Docker container and volume leaks from tests
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
  libs/mng/imbue/mng/providers/docker/testing.py
Due: ruff

Revert "Inform user when platform lacks notification support"
  libs/mng_notifications/imbue/mng_notifications/cli.py
Due: ruff

Warn when no terminal is configured for click-to-connect
  libs/mng_notifications/imbue/mng_notifications/cli.py
Due: ruff

Rename MNG_AGENT_NAME to MNG_AGENT_NAME_FOR_NOTIFICATIONS_PLUGIN
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/config.py
  libs/mng_notifications/imbue/mng_notifications/config_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
Due: ruff

Add notification_only config for plain notifications without terminal integration
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/config.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
Due: ruff

Fix flaky acceptance test and raise on Linux execute_command
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
Due: ruff

Move fixtures from test_docker_create.py to conftest.py
  libs/mng/imbue/mng/providers/docker/conftest.py
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
Due: ruff

Fix stream poll logging level, byte offset bug, and docstring
  libs/mng/imbue/mng/api/discovery_events.py
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Remove unused error_behavior parameter from _list_watch_with_stream
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Defer Modal environment creation until first use
  libs/mng/imbue/mng/providers/modal/backend.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/modal/instance_test.py
Due: ruff

iTerm: find existing tab for agent before opening a new one
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/terminals.py
  libs/mng_notifications/imbue/mng_notifications/terminals_test.py
Due: ruff

Fix abstraction violation and include agentless hosts in discovery snapshots
  libs/mng/imbue/mng/api/discovery_events.py
  libs/mng/imbue/mng/cli/list.py
Due: ruff, regenerate-derived-files

Copy macOS keychain credentials to per-agent keychain labels
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Make modal_app_factory required, remove None check
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

iTerm: match existing tabs by tmux client TTY instead of session name
  libs/mng_notifications/imbue/mng_notifications/terminals.py
  libs/mng_notifications/imbue/mng_notifications/terminals_test.py
Due: ruff

Fix iTerm tab matching by resolving PATH from user's login shell
  libs/mng_notifications/imbue/mng_notifications/terminals.py
Due: ruff

Extract iTerm shell script into named variables for readability
  libs/mng_notifications/imbue/mng_notifications/terminals.py
Due: ruff

Drive down ratchet values: CG for subprocess, narrow exception, remove trailing comments
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/mock_notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/notifier.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/plugin_test.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Add TUI tests for kanpan and tutor, remove coverage exclusions
  libs/mng_kanpan/imbue/mng_kanpan/cli_test.py
  libs/mng_kanpan/imbue/mng_kanpan/conftest.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
  libs/mng_tutor/imbue/mng_tutor/cli_test.py
  libs/mng_tutor/imbue/mng_tutor/tui_test.py
  pyproject.toml
Due: ruff

Fix tab completion for combined short flags (e.g. -fb)
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
Due: ruff, regenerate-derived-files

Clarify plugin disable wording in docs
  libs/mng/docs/concepts/plugins.md
Due: none

See if this does a better job of building
  libs/mng/imbue/mng/providers/modal/log_utils.py
Due: ruff

Fix reviewer issues: deduplicate setup, add assertions, fix ratchets
  libs/mng_kanpan/imbue/mng_kanpan/test_ratchets.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
  libs/mng_tutor/imbue/mng_tutor/test_ratchets.py
  libs/mng_tutor/imbue/mng_tutor/tui_test.py
Due: ruff

Tighten ratchet snapshots to actual values
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
Due: ruff

Replace time.sleep with event-based signaling, extract platform fixtures
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
Due: ruff

Use sandbox_init_cmd in acceptance TOML to match regular TOML
  offload-modal-acceptance.toml
Due: none

Use sandbox_init_cmd in regular TOML and update image cache
  .offload-image-cache
  offload-modal.toml
Due: none

Fix hooks
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/api/agent_host_hooks_test.py
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng/imbue/mng/providers/modal/log_utils.py
  libs/mng_recursive/imbue/mng_recursive/plugin.py
Due: ruff

Move FakePlatform to testing.py per project conventions
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
Due: ruff

Fix stale monkeypatch_setattr ratchet snapshot (6 -> 4)
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
Due: ruff

Fix held chat messages not releasing during quiet periods
  libs/mng_claude_zygote/imbue/mng_claude_zygote/resources/event_watcher.py
Due: ruff

Replace FakePlatform/FakeListAgents classes with plain functions
  libs/mng_notifications/imbue/mng_notifications/conftest.py
  libs/mng_notifications/imbue/mng_notifications/notifier_test.py
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Fix reviewer issues: test names, encapsulation, test coverage, docstring
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
  apps/changelings/imbue/changelings/forwarding_server/conftest.py
Due: ruff

Replace closure with top-level function, tighten all ratchets to minimal values
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Stop orphaned mng events subprocesses when agents disappear
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
Due: ruff

Remove unnecessary timeout override on acceptance test
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
Due: ruff
