Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Update docker test durations with realistic CI-observed values
  .test_durations
Due: none

Extract _delete_host_volume helper to deduplicate volume cleanup
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Extract shared SSH methods, remove redundant acceptance markers
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/ssh_utils.py
  libs/mngr/imbue/mngr/providers/ssh_utils.py
Due: ruff

Add fixme
  libs/mngr/imbue/mngr/utils/time_utils.py
Due: ruff

Add another fixme
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Add transcript export, combined background tasks script, and HostVolume
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
  libs/mngr/imbue/mngr/resources/claude_background_tasks.sh
  libs/mngr/imbue/mngr/resources/export_transcript.sh
  scripts/print_user_session.sh
Due: ruff

Increase CI test sharding from 8 to 12 for acceptance and release tests
  .github/workflows/ci.yml
Due: none

Deduplicate resource loading and fix non-atomic transcript write
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
  libs/mngr/imbue/mngr/resources/claude_background_tasks.sh
Due: ruff

Add mngr logs command for viewing agent and host log files
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/logs_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix ratchet violations in logs command
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/cli/logs.py
Due: ruff, regenerate-cli-docs

Address reviewer feedback on logs command
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/logs_test.py
Due: ruff, regenerate-cli-docs

Fix follow_log_file test to actually invoke the function
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/cli/logs.py
Due: ruff, regenerate-cli-docs

Reuse resolve_agent_reference and resolve_host_reference from api/find
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/cli/logs.py
Due: ruff, regenerate-cli-docs

Let ambiguity errors propagate and deduplicate test setup
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Extract _create_agent_data_json helper to deduplicate test setup
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Refactor Docker provider to pass build/start args through to Docker CLI
  libs/mngr/docs/core_plugins/providers/docker.md
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/backend_test.py
  libs/mngr/imbue/mngr/providers/docker/config.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix reviewer issues: custom image test, entrypoint constant, error type
  .test_durations
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Fix bad image test, remove redundant markers, handle 'b' memory suffix
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Move local host_dir to per-host directory under hosts/{host_id}/
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/test_gc.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/cli/test_provision.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/local/backend.py
  libs/mngr/imbue/mngr/providers/local/backend_test.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Annotate subprocess ratchet increase, fix test names
  .test_durations
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add logs to docs generation and consolidate per_host_dir fixture
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/test_gc.py
  libs/mngr/imbue/mngr/cli/test_provision.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Add auto-generated docs for logs command
  libs/mngr/docs/commands/secondary/logs.md
Due: regenerate-cli-docs

Fix migrate to be cross-host-only, safe, and idempotent
  libs/mngr/docs/commands/aliases/migrate.md
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
  libs/mngr/imbue/mngr/cli/test_migrate.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Remove all legacy backward-compat code from Docker provider
  libs/mngr/imbue/mngr/providers/docker/config.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/host_store_test.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Extract common ratchet rules to imbue_common and add changelings ratchets
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add fixmes
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/provision.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff, regenerate-cli-docs

Store Docker provider state on a Docker volume via state container
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/host_store_test.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Replace broken PID-file-based is_running() with lifecycle state check
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/test_base_agent.py
  libs/mngr/imbue/mngr/cli/test_destroy.py
Due: ruff, regenerate-cli-docs

Fix abstraction violation in delete_volume, update docs
  libs/mngr/docs/core_plugins/providers/docker.md
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Add test coverage for is_running() positive case and destroy blocking
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/cli/test_destroy.py
Due: ruff, regenerate-cli-docs

Surface provider build/start args help in mngr create --help
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/interfaces/provider_backend.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Fix delete_volume to actually remove directory, add trace logging
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Extract shared running agent setup into _create_running_agent helper
  libs/mngr/imbue/mngr/agents/base_agent_test.py
Due: ruff

Add tests for provider args help, fix review feedback
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/providers/registry.py
  libs/mngr/imbue/mngr/providers/registry_test.py
Due: ruff, regenerate-cli-docs

Update DockerProviderInstance docstring for volume-based state storage
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Add multi-agent support to exec command
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/imbue/mngr/api/exec.py
  libs/mngr/imbue/mngr/api/exec_test.py
  libs/mngr/imbue/mngr/cli/exec.py
  libs/mngr/imbue/mngr/cli/exec_test.py
  libs/mngr/imbue/mngr/cli/test_exec.py
Due: ruff, regenerate-cli-docs

Fix misleading test name and add coverage for dedup logic
  libs/mngr/imbue/mngr/providers/registry_test.py
Due: ruff

Add module-level timeout to docker lifecycle tests
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Remove incorrect FIXME about gc --include/--exclude options
  libs/mngr/imbue/mngr/cli/gc.py
Due: ruff, regenerate-cli-docs

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
