Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Reorder nightly docs: changelog before architecture
  .github/workflows/nightly-docs.yml
Due: none

Compute timestamp in workflow step, inject into prompt
  .github/workflows/nightly-docs.yml
Due: none

Add Glob and Grep to nightly docs agent allowed tools
  .github/workflows/nightly-docs.yml
Due: none

Remove duplicated agent instructions from ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Remove local dev justfile targets from ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Unify monorepo structure and package dependency graph
  ARCHITECTURE.md
Due: none

Clean up stale service workers on landing page
  apps/changelings/imbue/changelings/forwarding_server/templates.py
Due: ruff

Simplify dep listing: drop transitive deps from tree
  ARCHITECTURE.md
Due: none

Condense constrained numeric types to a single line
  ARCHITECTURE.md
Due: none

Remove TUI section and replace Writing a Plugin with doc link
  ARCHITECTURE.md
Due: none

Remove redundant import-linter mentions from ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Remove constrained numeric types from ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Merge Build/CI and Key Technologies into one section
  ARCHITECTURE.md
Due: none

Tighten ARCHITECTURE.md wording for conciseness
  ARCHITECTURE.md
Due: none

Add ARCHITECTURE.md quality review step to nightly docs action
  .github/workflows/nightly-docs.yml
Due: none

Remove redundant context hint from ARCHITECTURE.md update step
  .github/workflows/nightly-docs.yml
Due: none

Renumber workflow steps: 3b -> 4, 4 -> 5
  .github/workflows/nightly-docs.yml
Due: none

Remove periodic review trigger from ARCHITECTURE.md quality step
  .github/workflows/nightly-docs.yml
Due: none

Scope bullet: link to actual docs when trimming API-level detail
  .github/workflows/nightly-docs.yml
Due: none

Remove redundant ARCHITECTURE.md reminder from step 4
  CLAUDE.md
Due: none

Trim step 1: remove verbose description and caching note
  CLAUDE.md
Due: none

Remove unused id-token:write permission from nightly-docs workflow
  .github/workflows/nightly-docs.yml
Due: none

Use claude-opus-4-6-max (1M context) for verify-conversation
  .claude/commands/verify-conversation.md
Due: none

Use opus[1m] for verify-conversation (1M context window)
  .claude/commands/verify-conversation.md
Due: none

Move background script provisioning from host to agent state dir
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/resources/claude_background_tasks.sh
  libs/mng/imbue/mng/resources/stream_transcript.sh
  libs/mng/imbue/mng/resources/stream_transcript_test.py
Due: ruff

Increase imbue_common test coverage to 98% and raise threshold to 80%
  libs/imbue_common/imbue/imbue_common/logging_test.py
  libs/imbue_common/pyproject.toml
Due: ruff

Add unit tests for conversation_db module
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_db_test.py
Due: ruff

Increase mng_claude_changeling test coverage from 66% to 69% and raise threshold
  libs/mng_claude_changeling/imbue/mng_claude_changeling/settings_test.py
  libs/mng_claude_changeling/pyproject.toml
Due: ruff

Fix reviewer issues: improve test assertions and reduce duplication
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_db_test.py
  libs/mng_pair/imbue/mng_pair/api_test.py
  libs/mng_pair/imbue/mng_pair/cli_test.py
  libs/mng_schedule/imbue/mng_schedule/cli_test.py
  libs/mng_test_coder/imbue/mng_test_coder/plugin_test.py
Due: ruff

Reuse StubHost from mng_claude_changeling instead of duplicating it
  libs/mng_test_coder/imbue/mng_test_coder/plugin_test.py
Due: ruff

Fix reviewer issues: add assertions, reduce duplication in logging tests
  libs/imbue_common/imbue/imbue_common/logging_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server_direct_test.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Move inline imports to top of file to fix ratchet
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add more targeted coverage tests for mng_schedule
  libs/mng_schedule/imbue/mng_schedule/implementations/local/deploy_test.py
Due: ruff

Add fixme
  apps/changelings/imbue/changelings/forwarding_server/app.py
Due: ruff

Fix reviewer issues: remove mng-opencode acceptance test, fix comment, clean unused imports
  libs/mng/imbue/mng/cli/test_plugin.py
  test_meta_ratchets.py
Due: ruff, regenerate-derived-files

Fix auth bypass in forwarding server and remove deleted projects from publish workflow
  .github/workflows/publish.yml
  apps/changelings/imbue/changelings/forwarding_server/app.py
Due: ruff

Fix broken README links to deleted mng_pair and mng_opencode projects
  README.md
  libs/mng/README.md
Due: regenerate-derived-files

Remove CI coverage jobs entirely since --no-cov means no .coverage files
  .github/workflows/ci.yml
Due: none

Add web chat interface with SSE streaming to changeling web server
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server_direct_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/test_ratchets.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/web_server_test.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
