Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Remove Mock from host_test.py, use real BaseAgent subclasses instead
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Replace isinstance guard with proper type check in local and SSH backends
  libs/mngr/imbue/mngr/providers/local/backend.py
  libs/mngr/imbue/mngr/providers/ssh/backend.py
Due: ruff

Fix flaky test_parent_failures_propagate_recursively
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Remove MagicMock/patch from help_formatter_test.py, use capsys/monkeypatch instead
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
Due: ruff, regenerate-cli-docs

Fix ratchet violation and consolidate test helpers in host_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Add unison so modal tests are more likely to work
  libs/mngr/imbue/mngr/resources/Dockerfile
Due: none

Configure test logging with loguru setup and MNGR_TEST_LOG_LEVEL env var
  CLAUDE.md
  justfile
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Remove last FIXME0
  libs/imbue_common/imbue/imbue_common/pytest_utils_demo_test.py
  libs/imbue_common/imbue/imbue_common/pytest_utils_test.py
Due: ruff

Cause some tests to fail so we can identify which tests are misconfigured
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Add extra retry debugging for flake
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Refactor test class to be more reusable
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/mock_provider_test.py
Due: ruff

Isolate test tmux servers via TMUX_TMPDIR to fix xdist flakiness
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/test_destroy.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff, regenerate-cli-docs

Disable Modal plugin in sync acceptance tests to fix env name error
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
Due: ruff

Revert "Disable Modal plugin in sync acceptance tests to fix env name error"
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
Due: ruff

Add extra debugging info
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Fix stop script
  scripts/main_claude_stop_hook.sh
Due: none

Fix leaking Modal environments from sync acceptance tests
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
Due: ruff

Fix ratchet test failures: narrow broad exception catch and remove extraneous f-prefixes in host.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Fix leaking Modal environments from sync acceptance tests
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
Due: ruff

Fix code review issues: extract functions, bundle params, add @pure, use tuple constant
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Remove [future] markers from clone command in docs
  libs/mngr/README.md
  libs/mngr/docs/commands/aliases/migrate.md
Due: regenerate-cli-docs

Fix missing cwd in created_agent fixture after refactor
  libs/mngr/imbue/mngr/api/test_sync_acceptance.py
Due: ruff

Bump snapshot timeouts
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Allow Exception where we are debugging the flakey test
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Temporarily bump test time limit to make things easier for modal
  conftest.py
Due: ruff

Fix security and usability issues in mngr ask command
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Implement mngr migrate command
  libs/mngr/README.md
  libs/mngr/docs/commands/aliases/migrate.md
  libs/mngr/imbue/mngr/cli/migrate.py
  libs/mngr/imbue/mngr/cli/migrate_test.py
  libs/mngr/imbue/mngr/cli/test_migrate.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Suppress pointless warnings in CI
  conftest.py
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff

Skip agent start if tmux session already exists
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Rename _reject_source_agent_options to reject_source_agent_options
  libs/mngr/imbue/mngr/cli/clone.py
  libs/mngr/imbue/mngr/cli/clone_test.py
  libs/mngr/imbue/mngr/cli/migrate.py
Due: ruff, regenerate-cli-docs

Report NotImplementedError as GitHub issues instead of showing tracebacks
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/cli/issue_reporting_test.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Fix code review issues: sort-order fallback, pure column widths, single-pass distribution, remove unused config
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Fix ratchet violations and address reviewer feedback
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/cli/issue_reporting_test.py
Due: ruff, regenerate-cli-docs

Refactor josh/workflow.py to use mngr agent lifecycle instead of mtime
  scripts/josh/workflow.py
Due: ruff

Replace patch/MagicMock with monkeypatch and real objects in agent_utils_test
  conftest.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
Due: ruff, regenerate-cli-docs

Add unit tests for workflow.py and fix minor issues
  scripts/josh/workflow.py
  scripts/josh/workflow_test.py
Due: ruff

Check return code in stop_agent and raise on failure
  scripts/josh/workflow.py
Due: ruff

Add scripts to testpaths so josh tests are collected by default
  pyproject.toml
Due: none

Refactor ask tests to use backend interface instead of mocking subprocess
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/ask_test.py
Due: ruff, regenerate-cli-docs

Extract create_test_agent_via_cli helper to reduce duplication in test_clone and test_migrate
  libs/mngr/imbue/mngr/cli/test_clone.py
  libs/mngr/imbue/mngr/cli/test_migrate.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs
