Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

Fix HTTP proxy error handling, test dedup, and minor issues
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/server/test_forwarding_server.py
  apps/changelings/imbue/changelings/test_ratchets.py
  pyproject.toml
Due: ruff

Refactor app.py to use FastAPI Depends for dependency injection
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/test_ratchets.py
Due: ruff

Re-add thread concurrency to root coverage config
  pyproject.toml
Due: none

Split dialog tests into separate file, rename Modal test file
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent_dialog.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent_modal.py
Due: ruff

this branch is all about agent context managers now
  libs/mng/imbue/mng/agents/test_opencode_smoke.py
Due: ruff

Simplify coverage omit to exclude all testing.py files
  libs/mng/pyproject.toml
Due: none

Move DialogDetectedError from errors.py to claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent_dialog.py
  libs/mng/imbue/mng/errors.py
Due: ruff

Adjust test to skip when running as root (e.g. on Modal)
  libs/mng/imbue/mng/utils/file_utils_test.py
Due: ruff

Changes to the toml format that are landing in v0.3.4
  .github/workflows/test-offload-acceptance.yml
  offload-modal-acceptance.toml
  offload-modal.toml
Due: none

Clean up context managers that needlessly yield their input argument
  libs/mng/imbue/mng/utils/testing.py
Due: ruff

Point CI coverage jobs at libs/mng/pyproject.toml for omit config
  .github/workflows/ci.yml
Due: none

Remove redundant warning log from dialog detection
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix CI coverage omit: use --omit CLI flag for ** glob support
  .github/workflows/ci.yml
  libs/mng/pyproject.toml
Due: none

Upgrade demo to use file browser and WebSocket echo backends
  apps/changelings/scripts/demo_forwarding_server.py
Due: ruff

Replace unnecessary sleeps with ["true"] in concurrency group tests
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Use tail -f /dev/null for intentionally-long-running test processes
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Simplify coverage omit patterns using */ glob prefix
  libs/mng/pyproject.toml
Due: none

Drop --rcfile from CI coverage commands
  .github/workflows/ci.yml
Due: none

Add [tool.coverage.report] omit section and use --rcfile in CI
  .github/workflows/ci.yml
  libs/mng/pyproject.toml
Due: none

Add INSTANT_SUCCESS_COMMAND and LONG_RUNNING_COMMAND constants, remove LARGE_SLEEP
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Fix file browser to use relative links for proxy compatibility
  apps/changelings/scripts/demo_forwarding_server.py
Due: ruff

Break up _handle_proxy_http into smaller functions
  apps/changelings/imbue/changelings/server/app.py
Due: ruff

Remove unused error classes and revert root coverage config
  apps/changelings/imbue/changelings/errors.py
  pyproject.toml
Due: ruff

Fix ChangelingName to inherit from NonEmptyStr and restore root coverage config
  apps/changelings/imbue/changelings/primitives.py
  pyproject.toml
Due: ruff

Replace TINY_SLEEP thread with lambda: None
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Extract marker-based tmux send to standalone utility
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/utils/tmux.py
  libs/mng/imbue/mng/utils/tmux_test.py
Due: ruff

Update comments
  offload-modal-acceptance.toml
  offload-modal.toml
Due: none

Use sleep 30 instead of tail -f /dev/null for LONG_RUNNING_COMMAND
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Add timeout_seconds parameter to _send_enter_and_wait_for_signal
  libs/mng/imbue/mng/utils/tmux.py
  libs/mng/imbue/mng/utils/tmux_test.py
Due: ruff

Remove stale comment about old sleep duration
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Add comment explaining why _sleep_and_return_1 needs to sleep
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
Due: ruff

Rewrite absolute-path URLs in proxied HTML responses
  apps/changelings/imbue/changelings/server/app.py
  apps/changelings/imbue/changelings/server/proxy.py
  apps/changelings/imbue/changelings/server/proxy_test.py
  apps/changelings/scripts/demo_forwarding_server.py
Due: ruff

Use dependency injection so BaseAgent and standalone share one code path
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/utils/tmux.py
  libs/mng/imbue/mng/utils/tmux_test.py
Due: ruff

Make patch_find_agents a fixture in cleanup_test.py
  libs/mng/imbue/mng/cli/cleanup_test.py
Due: ruff, regenerate-cli-docs

Generate .dockerignore from .gitignore, rename make_cli_docs to generate_derived_files
  .dockerignore
  .pre-commit-config.yaml
  libs/mng/README.md
  libs/mng/docs/commands/aliases/clone.md
  libs/mng/docs/commands/aliases/migrate.md
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/logs.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  scripts/generate_derived_files.py
Due: ruff, regenerate-cli-docs

Use uv export for isolated_mng_venv deps instead of pip freeze
  libs/mng/imbue/mng/conftest.py
Due: ruff

Small updates to import order etc
  apps/changelings/imbue/changelings/README.md
  apps/changelings/imbue/changelings/test_ratchets.py
  apps/changelings/style_guide.md
  pyproject.toml
  style_guide.md
Due: ruff

Rename to forwarding_server
  apps/changelings/imbue/changelings/forwarding_server/README.md
  apps/changelings/imbue/changelings/forwarding_server/__init__.py
  apps/changelings/imbue/changelings/forwarding_server/app.py
  apps/changelings/imbue/changelings/forwarding_server/auth.py
  apps/changelings/imbue/changelings/forwarding_server/auth_test.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
  apps/changelings/imbue/changelings/forwarding_server/cookie_manager.py
  apps/changelings/imbue/changelings/forwarding_server/cookie_manager_test.py
  apps/changelings/imbue/changelings/forwarding_server/proxy.py
  apps/changelings/imbue/changelings/forwarding_server/proxy_test.py
  apps/changelings/imbue/changelings/forwarding_server/runner.py
  apps/changelings/imbue/changelings/forwarding_server/templates.py
  apps/changelings/imbue/changelings/forwarding_server/templates_test.py
  apps/changelings/imbue/changelings/forwarding_server/test_forwarding_server.py
  apps/changelings/scripts/demo_forwarding_server.py
  pyproject.toml
Due: ruff

Re-key changelings app from ChangelingName to AgentId
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/forwarding_server/app.py
  apps/changelings/imbue/changelings/forwarding_server/auth.py
  apps/changelings/imbue/changelings/forwarding_server/auth_test.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver.py
  apps/changelings/imbue/changelings/forwarding_server/backend_resolver_test.py
  apps/changelings/imbue/changelings/forwarding_server/cookie_manager.py
  apps/changelings/imbue/changelings/forwarding_server/cookie_manager_test.py
  apps/changelings/imbue/changelings/forwarding_server/proxy.py
  apps/changelings/imbue/changelings/forwarding_server/proxy_test.py
  apps/changelings/imbue/changelings/forwarding_server/runner.py
  apps/changelings/imbue/changelings/forwarding_server/templates.py
  apps/changelings/imbue/changelings/forwarding_server/templates_test.py
  apps/changelings/imbue/changelings/forwarding_server/test_forwarding_server.py
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/scripts/demo_forwarding_server.py
Due: ruff

Restore comments that were inadvertently removed during the re-key
  apps/changelings/imbue/changelings/forwarding_server/app.py
  apps/changelings/imbue/changelings/forwarding_server/auth.py
  apps/changelings/imbue/changelings/forwarding_server/cookie_manager.py
  apps/changelings/imbue/changelings/forwarding_server/proxy.py
  apps/changelings/scripts/demo_forwarding_server.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
