Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Narrow broad except Exception catches to specific types in SSH retry logic
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Switch to symlink-based session adoption for cross-worktree support
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Replace broad except BaseException with specific exception handlers in snapshot_and_shutdown
  libs/mngr/imbue/mngr/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Tighten except BaseException ratchet from 1 to 0
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Use immutable abstract types for function input parameters in CLI modules
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff, regenerate-cli-docs

Update .gitignore
  .gitignore
Due: none

Extract inline function in create.py to top-level _CachedAgentHostLoader class
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use hybrid symlink + rewritten index for session adoption
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Refactor --adopt-session to use _transfer_claude_session from ev/fix-migrate
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Simplify --adopt-session: reuse source_work_dir, remove duplicated helpers
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff, regenerate-cli-docs

Fix limit command for ActivityConfig API change
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/limit_test.py
Due: ruff, regenerate-cli-docs

Update limit command docs to reflect implementation
  libs/mngr/docs/commands/secondary/limit.md
Due: regenerate-cli-docs

Register built-in plugins with short names so plugin enable/disable works
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/cli/test_plugin.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Remove stale duplicate code from providers/registry.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Add @log_call decorators, help metadata, and absolute path resolution
  libs/mngr/imbue/mngr/api/schedule.py
  libs/mngr/imbue/mngr/cli/schedule.py
Due: ruff, regenerate-cli-docs

Replace monkeypatch.setattr with injectable open_url parameter
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Revert inflated ratchet values for click.echo and model_copy
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix flaky test_start_agent_starts_process_activity_monitor race condition
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Add comment explaining why OSError is silently ignored in completion
  libs/mngr/imbue/mngr/cli/completion.py
Due: ruff, regenerate-cli-docs

Fix type annotation for open_url callable parameter
  libs/mngr/imbue/mngr/api/open.py
Due: ruff

Remove [future] tag from limit command in README
  libs/mngr/README.md
Due: none

Add [future] tags to unimplemented options in limit.md
  libs/mngr/docs/commands/secondary/limit.md
Due: regenerate-cli-docs

Remove inconsistent .resolve() from _get_claude_project_dir
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Embed ttyd credentials in terminal URL for auto-authentication
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning.py
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning_test.py
  libs/mngr/imbue/mngr/plugins/ttyd/test_ttyd_open.py
Due: ruff

Remove accidentally committed .claude/ test artifacts
  libs/mngr/.claude/active
  libs/mngr/.claude/tests_outputs/coverage_23c184915b434401a80323701ef12e6f.txt
  libs/mngr/.claude/tests_outputs/coverage_b81a3ed0a5b44e67a87b0e98edec66a9.txt
  libs/mngr/.claude/tests_outputs/coverage_bbfe2e613f684949a1f3c08d420e1d4e.txt
  libs/mngr/.claude/tests_outputs/coverage_ecefc32733344d608502bf7a79d3dfb3.txt
  libs/mngr/.claude/tests_outputs/slow_tests_22f418d34fa847599e3a33f8e7fdc87b.txt
  libs/mngr/.claude/tests_outputs/slow_tests_94929de98107456599d9101de045d2d7.txt
  libs/mngr/.claude/tests_outputs/slow_tests_eb7ceb1edee045789867ebb9b5466f25.txt
  libs/mngr/.claude/tests_outputs/slow_tests_f7cb02754fd54e078edd2bf05ba762aa.txt
Due: none

Fix get_reported_url() fallback and resolve merge conflicts
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/interfaces/agent.py
Due: ruff, regenerate-cli-docs

Add trace logging when get_reported_urls() fails to read URLs
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Tighten subprocess ratchet value from 50 to 45
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Use collections.abc.Generator instead of typing.Generator
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Update monkeypatch.setattr ratchet after merge with main
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove unauthorized FIXME comments from destroy.py
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff, regenerate-cli-docs

Restore ratchet values by moving inline imports to top of file
  libs/mngr/imbue/mngr/plugins/port_forwarding/test_port_forwarding.py
  libs/mngr/imbue/mngr/plugins/ttyd/plugin_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix Docker test failures: optimize source resolution and add timeouts
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff, regenerate-cli-docs

Use uuid4().hex instead of time.time() for test agent names
  libs/mngr/imbue/mngr/plugins/ttyd/test_ttyd_open.py
Due: ruff

Add return type annotation to register_provider_backend
  libs/mngr/imbue/mngr/providers/mngr_remote/backend.py
Due: ruff

Add return type annotation to get_connector in mngr_remote
  libs/mngr/imbue/mngr/providers/mngr_remote/instance.py
Due: ruff

Register mngr_remote backend with the plugin manager
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Revert "Use collections.abc.Generator instead of typing.Generator"
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Revert "Register mngr_remote backend with the plugin manager"
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Replace click.echo with logger.info/sys.stdout.write in port_forwarding/cli.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff
