Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fix missing patch import in instance_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix unit tests failing due to is_authorized check
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix up hooks
  .claude/settings.json
Due: none

Enable modal for our repo
  .mngr/settings.toml
Due: none

Remove duplicate docstrings in get_host and list_hosts
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add list_persisted_agent_data_for_host to provider interface
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add tests for provider_names filtering in list operations
  libs/mngr/imbue/mngr/api/providers_test.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Add unit tests for _write_agent_records function
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
Due: ruff

Add unit tests for _get_persisted_agent_data helper
  libs/mngr/imbue/mngr/api/test_list.py
Due: ruff

Fix two broken ratchets
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/interfaces/host.py
Due: ruff

Move some of our start args to default settings instead
  .mngr/settings.toml
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/providers/modal/config.py
Due: ruff, regenerate-cli-docs

Fix tests
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Implement list command convenience filter aliases
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Implement list command result limiting
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Implement provider filtering in list API
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Implement connect default to most recent agent
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/test_connect.py
Due: ruff, regenerate-cli-docs

Implement custom sorting for list command
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Consolidate provider registry code
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Implement watch mode for list command
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/watch_mode.py
  libs/mngr/imbue/mngr/cli/watch_mode_test.py
Due: ruff, regenerate-cli-docs

Fix ratchet test violations
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/cli/watch_mode.py
  libs/mngr/imbue/mngr/cli/watch_mode_test.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff, regenerate-cli-docs

Add pair command for continuous file sync between agent and local workspace
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/primitives.py
Due: ruff, regenerate-cli-docs

List works with offline hosts now
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix host state for offline hosts and type error in cache lookup
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Address reviewer feedback on pair command implementation
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Rename misleading GitSyncAction fields for clarity
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Final tweaks to make offline listing roughly correct
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Remove pointless unit tests
  libs/mngr/imbue/mngr/providers/modal/routes/test_snapshot_and_shutdown.py
Due: ruff

Now possible to cause a host to be restarted when you connect to it
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Bump test timing until we can move to offload
  conftest.py
Due: ruff

Refactor timeouts to be clearer
  .mngr/settings.toml
  libs/mngr/imbue/mngr/api/data_types.py
  libs/mngr/imbue/mngr/api/data_types_test.py
  libs/mngr/imbue/mngr/providers/modal/config.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix settings for local
  .mngr/settings.toml
Due: none

Speed up test_list.py by consolidating agent-dependent tests
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Add hard host timeout (max_host_age) to idle detection script
  libs/mngr/imbue/mngr/api/data_types_test.py
  libs/mngr/imbue/mngr/providers/modal/config.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/resources/activity_watcher.sh
Due: ruff

Persist agent data to Modal volume on create/update/destroy
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Make timeouts explicit
  .mngr/settings.toml
Due: none

Fix gc and destroy command with offline hosts
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/cli/destroy.py
Due: ruff, regenerate-cli-docs

Add unit tests to improve code coverage
  libs/concurrency_group/imbue/concurrency_group/event_utils_test.py
  libs/concurrency_group/imbue/concurrency_group/subprocess_utils_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_coverage_test.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/api/gc_coverage_test.py
  libs/mngr/imbue/mngr/api/message_error_handling_test.py
  libs/mngr/imbue/mngr/cli/gc_test.py
  libs/mngr/imbue/mngr/cli/pull_coverage_test.py
  libs/mngr/imbue/mngr/utils/testing_test.py
Due: ruff, regenerate-cli-docs

Speed up test suite by ~28% (34.7s -> 24.9s)
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
  libs/concurrency_group/imbue/concurrency_group/local_process_test.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Revert test_list.py consolidation
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs
