Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Make destroyed host persisted seconds configurable at provider and global level
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/data_types_test.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
  libs/mngr/imbue/mngr/providers/base_provider.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff

Fix type error: remove invalid delete_snapshots kwarg from destroy_host call
  libs/mngr/imbue/mngr/api/cleanup.py
Due: ruff

Fix load_config not forwarding default_destroyed_host_persisted_seconds
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff

Minor fix
  .mngr/settings.toml
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix silly error
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Enforce clean repo and push before changeling deploy
  apps/changelings/imbue/changelings/deploy/deploy.py
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Extract shared git setup into _init_git_repo_with_remote helper
  apps/changelings/imbue/changelings/deploy/deploy_test.py
Due: ruff

Add common CLI options and logging setup to changelings app
  apps/changelings/imbue/changelings/cli/add.py
  apps/changelings/imbue/changelings/cli/common_opts.py
  apps/changelings/imbue/changelings/cli/common_opts_test.py
  apps/changelings/imbue/changelings/cli/list.py
  apps/changelings/imbue/changelings/cli/remove.py
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/status.py
  apps/changelings/imbue/changelings/cli/update.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/imbue/changelings/utils/__init__.py
  apps/changelings/imbue/changelings/utils/logging.py
  apps/changelings/imbue/changelings/utils/logging_test.py
  apps/changelings/pyproject.toml
  uv.lock
Due: ruff

Retry socket closed errors in Host file operations with exponential backoff
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff

Fix silly assumption
  libs/mngr/imbue/mngr/cli/agent_utils.py
Due: ruff, regenerate-cli-docs

Fix stale keyword argument in exec_command_on_agent
  libs/mngr/imbue/mngr/api/exec.py
Due: ruff

Add tests for socket closed retry logic in Host file operations
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Skip agent state check in exec since it only needs the host
  libs/mngr/imbue/mngr/api/exec.py
Due: ruff

Simple refactor
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add Volume interface and refactor Modal state volume to use it
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Fix Volume classes to use MutableModel pattern and add tests
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Implement host volumes for Modal and local providers
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/local/volume_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

Fix release test to use polling instead of volume.reload()
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
Due: ruff

Fix reviewer issues: list_volumes, ScopedVolume paths, lost comments
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix reviewer issues: test coverage and Modal volume methods
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add try/finally to release test and fix state volume log message
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
Due: ruff

Narrow exception handling in destroy_host volume cleanup
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add VolumeFileType enum and include directories in listdir results
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/volume.py
  libs/mngr/imbue/mngr/interfaces/volume_test.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/local/volume_test.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Fix all reviewer-identified issues
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/provider_instance.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/local/volume_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Collapse start_host_if_needed and start_agent_if_needed into is_start_desired
  libs/mngr/imbue/mngr/api/exec.py
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/connect.py
  libs/mngr/imbue/mngr/cli/provision.py
  libs/mngr/imbue/mngr/cli/test_agent_utils.py
Due: ruff, regenerate-cli-docs

Fix VolumeId validation crash in Modal list/delete volumes
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/volume.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  libs/mngr/imbue/mngr/providers/modal/volume.py
Due: ruff

Add fixme
  libs/mngr/imbue/mngr/cli/list.py
Due: ruff, regenerate-cli-docs

Add test durations for new Modal acceptance tests
  .test_durations
Due: none

Fix symlink replacing directories and delete_volume error handling
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup.py
  libs/mngr/imbue/mngr/providers/ssh_host_setup_test.py
Due: ruff

Fix style guide to confuse claude slightly less
  style_guide.md
Due: none

Fix pre-existing test that relied on removed field aliases
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Add Docker provider implementation without open-local dependency
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mngr/docs/core_plugins/providers/docker.md
  libs/mngr/future_specs/providers/docker.md
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/backend_test.py
  libs/mngr/imbue/mngr/providers/docker/config.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/host_store_test.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  libs/mngr/imbue/mngr/providers/docker/testing.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/ssh_utils.py
  libs/mngr/imbue/mngr/providers/registry.py
  libs/mngr/imbue/mngr/providers/ssh_utils.py
  libs/mngr/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Fix two CI failures on main: broken field alias test and flaky concurrency test
  libs/concurrency_group/imbue/concurrency_group/concurrency_group_test.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Fix reviewer issues: extract container run kwargs, add acceptance marker, remove prohibited test
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
Due: ruff

Use config prefix for host volume names and fix Volume.delete deprecation
  libs/mngr/imbue/mngr/providers/modal/conftest.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add two follow ups
  libs/mngr/imbue/mngr/cli/plugin.py
Due: ruff, regenerate-cli-docs

Truncate host volume names to fit Modal's 64-char limit
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Add acceptance markers to all docker test files and add test durations
  .test_durations
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
Due: ruff

Clean up host volume in delete_host to prevent orphaned volumes
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
