Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Move CLI completions cache write from main.py to cli/list.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-cli-docs

Preserve file permissions in atomic_write
  libs/mng/imbue/mng/utils/file_utils.py
Due: ruff

Clarify completion cache filenames and add atomic_write tests
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/utils/file_utils_test.py
Due: ruff, regenerate-cli-docs

Restore safe.directory for remote hosts in _transfer_git_repo
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

Guard completion readers with except Exception to never crash CLI
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Implement independent package versioning with dependency pinning
  .github/workflows/publish.yml
  libs/concurrency_group/pyproject.toml
  libs/mng/pyproject.toml
  libs/mng_opencode/pyproject.toml
  libs/mng_pair/pyproject.toml
  scripts/release.py
  scripts/utils.py
  scripts/version_sync_test.py
  uv.lock
Due: ruff

Use FrozenModel for PackageInfo instead of dataclass
  scripts/utils.py
Due: ruff

Remove unnecessary type: ignore on computed_field
  scripts/utils.py
Due: ruff

Add acceptance test for git repo transfer to Docker host
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
Due: ruff

Extract publish verification into scripts/verify_publish.py
  .github/workflows/publish.yml
  scripts/utils.py
  scripts/verify_publish.py
  scripts/version_sync_test.py
Due: ruff

Move except Exception guards to shell_complete entry points
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-cli-docs

Fetch tags and fail if no v* tag found
  scripts/release.py
Due: ruff

Fix misleading 'static cache' in group class docstrings
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/plugin.py
Due: ruff, regenerate-cli-docs

Add snapshot create format template example from main
  libs/mng/docs/commands/secondary/snapshot.md
  libs/mng/imbue/mng/cli/snapshot.py
Due: ruff, regenerate-cli-docs

Fix stale cache filename in docstring
  libs/mng/imbue/mng/cli/completion.py
Due: ruff, regenerate-cli-docs

Extract duplicate BFS cascade logic into helper function
  scripts/release.py
Due: ruff

Fix parse_dep_name docstring to mention normalization
  scripts/utils.py
Due: ruff

Fix update_internal_dep_pins to preserve TOML formatting and comments
  scripts/release.py
Due: ruff

Remove unused PUBLISHABLE_PACKAGE_PYPROJECT_PATHS constant
  scripts/utils.py
Due: ruff

Add style guide section on framework base classes vs mixins
  style_guide.md
Due: none

Remove redundant double-normalization of dependency names
  scripts/release.py
  scripts/utils.py
Due: ruff

Build from default Dockerfile when no image or Dockerfile specified
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/ssh_host_setup.py
Due: ruff

Fix stale 'static cache' wording in completion group docstrings
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/plugin.py
Due: ruff, regenerate-cli-docs

Add package graph validation to verify_publish.py
  scripts/verify_publish.py
Due: ruff

Deduplicate _get_host_dir by making it public in completion.py
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Rename trigger tests to reflect what they actually verify
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Fix overstated 'never raises' claim in cache writer docstrings
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Add integration test for cache refresh throttling
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Fix JUnit XML classnames for consistent test ID matching
  apps/changelings/conftest.py
  apps/changelings/pyproject.toml
  conftest.py
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mng/conftest.py
  libs/mng/pyproject.toml
  pyproject.toml
Due: ruff

Use apt_install chain for Modal default image instead of Dockerfile
  libs/mng/imbue/mng/providers/modal/instance.py
Due: ruff

Remove integration test for cache refresh throttling
  libs/mng/imbue/mng/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Simplify unwritable directory test to avoid tmp_path cleanup issues
  libs/mng/imbue/mng/utils/file_utils_test.py
Due: ruff

Fix misleading DEFAULT_IMAGE comment
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Use shared get_host_dir for agent name cache writes
  libs/mng/imbue/mng/api/list.py
Due: ruff

Extract disable_modal_for_subprocesses fixture to conftest
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/conftest.py
Due: ruff, regenerate-cli-docs

Merge fixtures.py back into conftest.py files
  CLAUDE.md
  apps/changelings/imbue/changelings/test_deploy_modal.py
  apps/changelings/imbue/changelings/test_run_modal.py
  libs/mng/conftest.py
  libs/mng/imbue/mng/agents/conftest.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/skill_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
  libs/mng/imbue/mng/agents/fixtures.py
  libs/mng/imbue/mng/api/conftest.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/fixtures.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_exec.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_snapshot.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/fixtures.py
  libs/mng/imbue/mng/plugins/conftest.py
  libs/mng/imbue/mng/providers/modal/conftest.py
  libs/mng/imbue/mng/providers/modal/fixtures.py
  libs/mng/imbue/mng/providers/modal/routes/test_snapshot_and_shutdown.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
  libs/mng_pair/conftest.py
  libs/mng_pair/imbue/mng_pair/conftest.py
  style_guide.md
Due: ruff, regenerate-cli-docs

Add --dockerfile option to create command for consistent provider-agnostic usage
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/data_types.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/providers/base_provider.py
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/local/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Define DEFAULT_HOST_DIR constant in one place
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/config/data_types.py
Due: ruff, regenerate-cli-docs

Use temp git repo for disable_modal_for_subprocesses fixture
  libs/mng/imbue/mng/conftest.py
Due: ruff
