Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Shorten files
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add new ratchet and tighten others
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Minor changes to tests needed to pass in Offload
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Increment some more timeouts
  libs/mngr/imbue/mngr/hosts/test_host.py
Due: ruff

Further timeout tweaking
  libs/mngr/imbue/mngr/hosts/test_host.py
  pyproject.toml
Due: ruff

Skip snapshot creation when destroying a host
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Save test timing data as CI artifacts for aggregation
  .github/workflows/ci.yml
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Add online host support for mngr logs command
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Decrease artifact retention
  .github/workflows/ci.yml
Due: none

Move remaining inline ratchets to common and add all ratchets to changelings
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix ruff failures
  libs/mngr/imbue/mngr/hosts/test_host.py
  pyproject.toml
  scripts/modal_sandbox_list_bug_repro.py
Due: ruff

Address reviewer feedback for online logs feature
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Fix logging conventions: logger.* to stderr, output to stdout
  libs/mngr/imbue/mngr/cli/ask.py
  libs/mngr/imbue/mngr/cli/cleanup.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/gc.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/rename.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/stop.py
  libs/mngr/imbue/mngr/utils/logging.py
  libs/mngr/imbue/mngr/utils/logging_test.py
Due: ruff, regenerate-cli-docs

Deduplicate custom ratchet test logic into shared functions in imbue_common
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix missed files and cleanup from logging conventions change
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/exec.py
  libs/mngr/imbue/mngr/cli/message.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff, regenerate-cli-docs

Remove assert False in tests
  libs/mngr/imbue/mngr/hosts/test_host.py
  pyproject.toml
Due: ruff

Address second round of reviewer feedback
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Make host volume optional for Modal provider
  libs/mngr/docs/core_plugins/providers/modal.md
  libs/mngr/imbue/mngr/providers/modal/config.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add test confirming subprocess coverage is not captured via uv run
  libs/mngr/imbue/mngr/coverage_test.py
Due: ruff

Address third round of reviewer feedback
  libs/mngr/docs/commands/secondary/logs.md
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/logs_test.py
Due: ruff, regenerate-cli-docs

Add tests for is_host_volume_created and fix shutdown script
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Move some tests to acceptance
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/cli/test_message.py
  libs/mngr/imbue/mngr/cli/test_snapshot.py
  libs/mngr/imbue/mngr/providers/modal/conftest.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_create.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
Due: ruff, regenerate-cli-docs

Check subprocess exit code in follow-via-host to avoid silent failures
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Switch CI release tests from main to release branch, make acceptance tests only run acceptance
  .github/workflows/ci.yml
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Update style_guide.md references from main to release branch
  style_guide.md
Due: none

Update testing style
  style_guide.md
Due: none

Report unhandled exceptions to GitHub issues
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/main.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Add some fixmes
  apps/changelings/imbue/changelings/utils/logging.py
  libs/mngr/imbue/mngr/utils/logging.py
Due: ruff

Deduplicate error reporting logic into shared helper
  libs/mngr/imbue/mngr/cli/issue_reporting.py
  libs/mngr/imbue/mngr/config/loader.py
Due: ruff, regenerate-cli-docs

Fix local provider host_dir to use base dir directly
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/test_list.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/providers/local/backend.py
  libs/mngr/imbue/mngr/providers/local/backend_test.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff, regenerate-cli-docs

Hopefully re-enable tests when pushing to main
  .github/workflows/ci.yml
Due: none

Add fixme
  libs/mngr/imbue/mngr/cli/issue_reporting.py
Due: ruff, regenerate-cli-docs

Fix test docstring to describe current behavior
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff

Try bumping this timeout temporarily
  libs/mngr/imbue/mngr/cli/test_snapshot.py
Due: ruff, regenerate-cli-docs

Remove --allow-unknown-host from logs and simplify SSH args
  libs/mngr/docs/commands/secondary/logs.md
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/logs_test.py
Due: ruff, regenerate-cli-docs

Restore connect --allow-unknown-host and fix stderr deadlock
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/api/logs.py
  libs/mngr/imbue/mngr/api/logs_test.py
Due: ruff

Add format template support to all commands with structured output
  libs/mngr/docs/commands/generic/common.md
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/primary/destroy.md
  libs/mngr/docs/commands/primary/exec.md
  libs/mngr/docs/commands/primary/list.md
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/docs/commands/primary/rename.md
  libs/mngr/docs/commands/primary/start.md
  libs/mngr/docs/commands/primary/stop.md
  libs/mngr/docs/commands/secondary/ask.md
  libs/mngr/docs/commands/secondary/cleanup.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/docs/commands/secondary/gc.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/docs/commands/secondary/logs.md
  libs/mngr/docs/commands/secondary/message.md
  libs/mngr/docs/commands/secondary/plugin.md
  libs/mngr/docs/commands/secondary/provision.md
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/config.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/cli/exec.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/plugin.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/stop.py
Due: ruff, regenerate-cli-docs

Fall back to volume polling when host-based follow fails
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/logs.py
Due: ruff

Fix Docker provider issues after merge
  libs/mngr/future_specs/providers/docker.md
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/volume.py
Due: ruff

Fix reviewer issues: add tests, deduplicate template code, fix logs edge case
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/logs.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
Due: ruff, regenerate-cli-docs
