Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Update agent_registry.py
  libs/mng/imbue/mng/agents/agent_registry.py
Due: ruff

Add mng_pi_coding plugin for the pi coding agent
  libs/mng_pi_coding/README.md
  libs/mng_pi_coding/conftest.py
  libs/mng_pi_coding/imbue/mng_pi_coding/__init__.py
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin.py
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin_test.py
  libs/mng_pi_coding/imbue/mng_pi_coding/test_ratchets.py
  libs/mng_pi_coding/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Rename bytes_consumed to chars_consumed in _StreamTailState
  libs/mng_claude/imbue/mng_claude/headless_claude_agent.py
Due: ruff

Default list display to labels.project instead of all labels
  README.md
  libs/mng/README.md
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Fix reviewer issues: test quality and silent exception handling
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin.py
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin_test.py
Due: ruff

Fix reviewer issues: DI for home_dir, test fixtures, ratchet reset
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin.py
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin_test.py
  libs/mng_pi_coding/imbue/mng_pi_coding/test_ratchets.py
Due: ruff

Theoretically ship files in parallel
  libs/mng_claude/imbue/mng_claude/plugin.py
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
Due: ruff

Fix ratchet
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Add cost threshold dialog detection and ttyd host provisioning
  libs/mng/imbue/mng/resources/Dockerfile
  libs/mng_claude/imbue/mng_claude/claude_config.py
  libs/mng_claude/imbue/mng_claude/plugin.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin_test.py
Due: ruff

Fix _preflight_send_message docstring to not enumerate specific indicators
  libs/mng_claude/imbue/mng_claude/plugin.py
Due: ruff

Remove dead high_rate_warning_threshold config and code
  libs/mng_claude_mind/imbue/mng_claude_mind/test_integration.py
  libs/mng_mind/imbue/mng_mind/data_types.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Add --header option to list command for custom column header labels
  libs/mng/docs/commands/primary/list.md
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff, regenerate-derived-files

Retry SSHException and EOFError in file transfer operations
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff

Make AgentInterface generic over config type, remove _get_*_config methods
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/interfaces/agent.py
  libs/mng_claude/imbue/mng_claude/plugin.py
  libs/mng_claude/imbue/mng_claude/plugin_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning.py
Due: ruff

Fix provisioning test deadlock from mock concurrency group
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Apply generic config pattern to PiCodingAgent, fix pre-existing issues
  libs/mng_claude/imbue/mng_claude/claude_config.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
  libs/mng_pi_coding/imbue/mng_pi_coding/plugin.py
Due: ruff

Fix flaky mng_recursive tests: remove redundant concurrency group entry
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Pair config types for SkillProvisionedAgent and its subclasses
  libs/mng_claude/imbue/mng_claude/code_guardian_agent.py
  libs/mng_claude/imbue/mng_claude/fixme_fairy_agent.py
  libs/mng_claude/imbue/mng_claude/skill_agent.py
Due: ruff

Install ttyd from GitHub releases instead of apt
  libs/mng/imbue/mng/resources/Dockerfile
  libs/mng_ttyd/imbue/mng_ttyd/plugin.py
  libs/mng_ttyd/imbue/mng_ttyd/plugin_test.py
Due: ruff

Add tests for _run_delivery_loop and main(), raise coverage to 86%
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
Due: ruff

Fix reviewer issues: restore coverage threshold, fix ratchet, remove dead code
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_mind/imbue/mng_mind/test_ratchets.py
  libs/mng_mind/pyproject.toml
Due: ruff

Make observe locking per-output-directory, add observer window to claude mind
  libs/mng/imbue/mng/api/observe.py
  libs/mng/imbue/mng/api/observe_test.py
  libs/mng/imbue/mng/cli/observe.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin_test.py
Due: ruff, regenerate-derived-files

Add special event handling: aggregation and truncation support
  libs/mng_mind/imbue/mng_mind/data_types.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
Due: ruff

Fix event source fields and add dynamic source filtering
  libs/mng/imbue/mng/api/events.py
  libs/mng/imbue/mng/api/events_test.py
  libs/mng_claude/imbue/mng_claude/resources/common_transcript.sh
  libs/mng_claude/imbue/mng_claude/resources/common_transcript_test.py
  libs/mng_mind/imbue/mng_mind/data_types.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_recursive/imbue/mng_recursive/watcher_common.py
Due: ruff

Move common_transcript exclusion from CEL filter to per-plugin event_exclude_sources
  libs/mng_claude_mind/imbue/mng_claude_mind/plugin.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning_test.py
  libs/mng_mind/imbue/mng_mind/data_types.py
  libs/mng_mind/imbue/mng_mind/event_watcher.py
  libs/mng_mind/imbue/mng_mind/event_watcher_test.py
  libs/mng_recursive/imbue/mng_recursive/watcher_common.py
Due: ruff

Replace custom TOML serializer with tomlkit
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning.py
  libs/mng_claude_mind/imbue/mng_claude_mind/provisioning_test.py
  libs/mng_claude_mind/pyproject.toml
  uv.lock
Due: ruff

Fix capture tests: remove duplicates, add meaningful behavior tests
  libs/mng/imbue/mng/cli/capture_test.py
Due: ruff, regenerate-derived-files

Add happy-path integration tests for capture command
  libs/mng/imbue/mng/cli/capture_test.py
Due: ruff, regenerate-derived-files

Remove orphaned SecretHandle; secrets are handled via ImageBuildContext
  libs/modal_proxy/imbue/modal_proxy/interface.py
  libs/modal_proxy/pyproject.toml
Due: ruff

Add conftest.py to modal_proxy for common pytest hook registration
  libs/modal_proxy/conftest.py
Due: ruff

Redesign interface to mirror modal's object model
  libs/imbue_common/imbue/imbue_common/ratchet_testing/common_ratchets.py
  libs/modal_proxy/imbue/modal_proxy/data_types.py
  libs/modal_proxy/imbue/modal_proxy/interface.py
Due: ruff

Fix silent secret dropping: raise ModalProxyTypeError for non-Direct secrets
  libs/modal_proxy/imbue/modal_proxy/direct.py
Due: ruff

Route all modal SDK calls through ModalInterface from modal_proxy
  libs/mng_modal/imbue/mng_modal/backend.py
  libs/mng_modal/imbue/mng_modal/instance.py
  libs/mng_modal/imbue/mng_modal/routes/deployment.py
  libs/mng_modal/imbue/mng_modal/volume.py
Due: ruff

Add exception translation to all Direct* methods, fix deploy env var
  libs/mng_modal/imbue/mng_modal/routes/test_snapshot_and_shutdown.py
  libs/modal_proxy/imbue/modal_proxy/direct.py
Due: ruff

Add extra documentation
  apps/minds/docs/mind/common_events.md
Due: none

Add some extra documentation about how events and conversations work in the minds system to make it all less implicit
  apps/minds/docs/mind/conversations.md
  apps/minds/docs/mind/event_lifecycle.md
Due: none

Extract test helper to deduplicate agent creation boilerplate
  libs/mng/imbue/mng/cli/label_test.py
Due: ruff, regenerate-derived-files

Reuse label.apply_labels for archive, add archive integration test
  libs/mng/imbue/mng/cli/label.py
  libs/mng/imbue/mng/cli/label_test.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/cli/stop_test.py
Due: ruff, regenerate-derived-files

Trying to fix event filter
  libs/mng_recursive/imbue/mng_recursive/watcher_common.py
Due: ruff
