Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Re-enable periodic offload acceptance tests CI job
  .github/workflows/test-offload-acceptance.yml
Due: none

Extract _mock_all_dialog_prompts helper and _CLAUDE_AGENT_MODULE constant in tests
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix offload configs: pytest framework, updated base commit, better filters
  .offload-base-commit
  justfile
  offload-modal-acceptance.toml
  offload-modal.toml
Due: none

Remove extend_claude_trust_to_worktree, use read_claude_config consistently, extract _provision_remote_api_key
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_config.py
  libs/mng/imbue/mng/agents/default_plugins/claude_config_test.py
  libs/mng/imbue/mng/cli/test_message.py
Due: ruff, regenerate-derived-files

Refine ratchets guidance: non-blocking language, prefer fixing misfiring regexes
  CLAUDE.md
Due: none

Remove stub pyproject.toml for mng_claude_zygote (empty project from stale pycache)
  libs/mng_claude_zygote/pyproject.toml
Due: none

Update uv.lock after removing mng_claude_zygote stub
  uv.lock
Due: none

Remove module docstrings per style guide
  libs/mng/imbue/mng/agents/event_commands.py
  libs/mng/imbue/mng/agents/event_commands_test.py
Due: ruff

Install mng per-agent via mng_recursive for worktree isolation
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conftest.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/event_watcher_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/event_watcher.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/extra_context_tool.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/watcher_common.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/test_ratchets.py
  libs/mng_recursive/imbue/mng_recursive/plugin.py
  libs/mng_recursive/imbue/mng_recursive/provisioning.py
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Add test for editable local install path, fix minor review issues
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conftest.py
  libs/mng_recursive/imbue/mng_recursive/provisioning_test.py
Due: ruff

Fix stream_transcript tests leaking CLAUDE_CONFIG_DIR from host env
  libs/mng/imbue/mng/resources/stream_transcript_test.py
Due: ruff

Fix CI: create fake mng binary even when MNG_AGENT_STATE_DIR is unset
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conftest.py
Due: ruff

Fix stream_transcript tests when CLAUDE_CONFIG_DIR is set in environment
  libs/mng/imbue/mng/resources/stream_transcript_test.py
Due: ruff

Add unit tests for get_mng_command and MngNotInstalledError
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning_test.py
Due: ruff

Replace polling loop with event-driven watcher
  libs/mng_notifications/imbue/mng_notifications/cli.py
  libs/mng_notifications/imbue/mng_notifications/test_ratchets.py
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
  libs/mng_notifications/imbue/mng_notifications/testing.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
  libs/mng_notifications/imbue/mng_notifications/watcher_test.py
Due: ruff

Move platform compatibility guidance from verify-branch to CLAUDE.md
  .claude/commands/verify-branch.md
  CLAUDE.md
Due: none

Skip historical events on watcher startup
  libs/mng_notifications/imbue/mng_notifications/watcher.py
Due: ruff

Minor tweaks
  apps/changelings/imbue/changelings/deployment/local.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
Due: ruff

Use parse_event_line and shared AGENT_EVENTS_SOURCE constant
  libs/mng/imbue/mng/agents/event_commands.py
  libs/mng_notifications/imbue/mng_notifications/watcher.py
Due: ruff

Use parse_event_line, shared constants, fix flaky acceptance test
  libs/mng_notifications/imbue/mng_notifications/test_watch.py
  libs/mng_notifications/pyproject.toml
  uv.lock
Due: ruff

Fix adopt-session: create destination project dir before rsync
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Skip deploy tests that exceed 10s timeout in CI
  apps/changelings/imbue/changelings/cli/deploy_test.py
Due: ruff

Add regression test: verify adopted session is discoverable under config dir
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Update CLAUDE.md: replace exploratory reading with ARCHITECTURE.md reference
  CLAUDE.md
Due: none

Fix ratchet violation: use InvalidNameError instead of bare ValueError
  libs/mng/imbue/mng/primitives.py
Due: ruff

Add nightly CI job to maintain ARCHITECTURE.md and CHANGELOG.md
  .github/workflows/nightly-docs.yml
  CHANGELOG.md
Due: none

Use Opus for nightly docs update workflow
  .github/workflows/nightly-docs.yml
Due: none

Actually fix chat
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
Due: ruff

Add fallback check when nightly docs finds no commits
  .github/workflows/nightly-docs.yml
Due: none

Fix path the right way
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
Due: ruff

Fix git pathspec bugs in nightly docs workflow
  .github/workflows/nightly-docs.yml
Due: none

Remove .md exclusion from nightly docs commit discovery
  .github/workflows/nightly-docs.yml
Due: none

Remove file type filter from nightly docs diff command
  .github/workflows/nightly-docs.yml
Due: none

Remove redundant sentence in nightly docs prompt
  .github/workflows/nightly-docs.yml
Due: none

Simplify sanity check warning in nightly docs prompt
  .github/workflows/nightly-docs.yml
Due: none

Trim nightly docs prompt to essentials
  .github/workflows/nightly-docs.yml
Due: none

Reorder sanity check before early exit in nightly docs prompt
  .github/workflows/nightly-docs.yml
Due: none
