Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fix --agent-type CEL filter by not overwriting type with resource kind
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/test_list.py
Due: ruff

Move resource_type to AgentInfo model instead of adding it manually
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/interfaces/data_types.py
Due: ruff

code-guardian: inconsistency report for 2026-02-20
  _tasks/inconsistencies/2026-02-20-11-02-03.md
Due: none

Rework mng create --await-ready to be synchronous
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/test_create.py
Due: ruff

Add -b/--remove-branch flag to mng destroy
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/gc.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/hosts/host_test.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/interfaces/agent.py
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/utils/git_utils.py
Due: ruff

Add fixme
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Pin warnings at bottom of streaming list output
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/list_test.py
Due: ruff

Add hasTrustDialogAccepted for remote work_dir in synced claude.json
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix tab completion broken by default command injection
  libs/mng/imbue/mng/cli/default_command_group.py
Due: ruff

Add regression tests for tab completion
  libs/mng/imbue/mng/cli/default_command_group_test.py
Due: ruff

Move ShellComplete import to module level
  libs/mng/imbue/mng/cli/default_command_group_test.py
Due: ruff

Simplify remote trust insertion to single setdefault line
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Remove inlined library
  contrib/claude-code-transcripts/.github/workflows/publish.yml
  contrib/claude-code-transcripts/.github/workflows/test.yml
  contrib/claude-code-transcripts/.gitignore
  contrib/claude-code-transcripts/AGENTS.md
  contrib/claude-code-transcripts/CLAUDE.md
  contrib/claude-code-transcripts/LICENSE
  contrib/claude-code-transcripts/README.md
  contrib/claude-code-transcripts/pyproject.toml
  contrib/claude-code-transcripts/src/claude_code_transcripts/__init__.py
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/base.html
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/index.html
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/macros.html
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/master_index.html
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/page.html
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/project_index.html
  contrib/claude-code-transcripts/src/claude_code_transcripts/templates/search.js
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestGenerateHtml.test_generates_index_html.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestGenerateHtml.test_generates_page_001_html.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestGenerateHtml.test_generates_page_002_html.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestParseSessionFile.test_jsonl_generates_html.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_image_block.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_text_block.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_thinking_block.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_tool_result_block.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_tool_result_error.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_tool_result_with_commit.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderContentBlock.test_tool_result_with_image.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_format_json.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_render_bash_tool.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_render_edit_tool.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_render_edit_tool_replace_all.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_render_markdown_text.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_render_todo_write.html
  contrib/claude-code-transcripts/tests/__snapshots__/test_generate_html/TestRenderFunctions.test_render_write_tool.html
  contrib/claude-code-transcripts/tests/conftest.py
  contrib/claude-code-transcripts/tests/sample_session.json
  contrib/claude-code-transcripts/tests/sample_session.jsonl
  contrib/claude-code-transcripts/tests/test_all.py
  contrib/claude-code-transcripts/tests/test_generate_html.py
Due: ruff

Inline unused record dict in tab completion tests
  libs/mng/imbue/mng/cli/default_command_group_test.py
Due: ruff

Inline group variable in tab completion tests
  libs/mng/imbue/mng/cli/default_command_group_test.py
Due: ruff

Update readme
  README.md
  apps/sculptor_desktop/imbue/sculptor_desktop/__init__.py
  apps/sculptor_desktop/imbue/sculptor_desktop/main.py
  apps/sculptor_desktop/pyproject.toml
  libs/mng/README.md
Due: ruff

Use FakeHost instead of SimpleNamespace for remote trust tests
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/api/test_fixtures.py
Due: ruff

Generate static CLI completions at build time instead of discovering live
  .pre-commit-config.yaml
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/completion_test.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/resources/cli_completions.json
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

More updates to readme
  README.md
  uv.lock
Due: none

Extract shared CachedSubcommandCompletionMixin from duplicated shell_complete overrides
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/snapshot.py
Due: ruff

Move inline imports to module level in make_cli_docs.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Clean up remote trust tests to use existing fixtures
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Remove trailing type: ignore comments from CachedSubcommandCompletionMixin
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/plugin.py
Due: ruff

Bump version to 0.1.2
  libs/concurrency_group/pyproject.toml
  libs/imbue_common/pyproject.toml
  libs/mng/pyproject.toml
  uv.lock
Due: none

Add publish workflow monitoring and retry to release script
  scripts/release.py
Due: ruff

Point PyPI readme to root README instead of stub
  libs/mng/pyproject.toml
Due: none

Convert README relative links to absolute GitHub URLs for PyPI
  README.md
Due: none

Fix README doc links to use libs/mng/docs/ path
  README.md
Due: none

use wait_for instead of completely unnecessary poll_until_counted
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Use poll_for_value for release workflow monitoring; replace poll_until_counted
  libs/mng/imbue/mng/utils/polling.py
  scripts/release.py
Due: ruff

Fix wait_for_ready_signal docstring to match actual exception type
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Rename CachedSubcommandCompletionMixin to CachedCompletionGroup
  libs/mng/imbue/mng/cli/completion.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/snapshot.py
Due: ruff

Fix stale comment referencing AgentStartError in create.py
  libs/mng/imbue/mng/api/create.py
Due: ruff

Add unit tests for poll_for_value
  libs/mng/imbue/mng/utils/polling_test.py
Due: ruff

Update parent class/interface docstrings to reference TimeoutError
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/interfaces/agent.py
Due: ruff

Guard warning re-write with is_tty check in streaming renderer
  libs/mng/imbue/mng/cli/list.py
Due: ruff

Catch TimeoutError from wait_for and raise AgentStartError
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/interfaces/agent.py
Due: ruff

Add style guide section on framework base classes vs mixins
  style_guide.md
Due: none

Move descriptive error message from TimeoutError to AgentStartError
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Use poll_until instead of poll_until_counted in claude_agent
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff
