Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Register mngr_remote backend and handle auto-instantiation gracefully
  libs/mngr/imbue/mngr/api/providers.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Restore model_copy ratchet to actual count of 0
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Replace truncated uuid4() with full uuid/get_short_random_string
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_integration.py
Due: ruff

Use timing-safe comparison for API token verification
  libs/mngr/imbue/mngr/plugins/api_server/app.py
Due: ruff

Clean up temporary auth HTML file on process exit
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
Due: ruff

Remove unused _DNS_LABEL_PATTERN from port_forwarding/url.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/url.py
Due: ruff

Add trace logging to get_reported_urls() exception handler
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Convert crontab-dependent tests to acceptance tests
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Remove monkeypatched unit tests, add release tests for snapshot CLI
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/cli/test_snapshot.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add missing fastapi and uvicorn dependencies
  libs/mngr/pyproject.toml
Due: none

Support duration strings (30s, 5m, 1h) for --idle-timeout
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/limit.py
  libs/mngr/imbue/mngr/cli/limit_test.py
  libs/mngr/imbue/mngr/utils/time_utils.py
  libs/mngr/imbue/mngr/utils/time_utils_test.py
Due: ruff, regenerate-cli-docs

Auto-generate limit.md via make_cli_docs.py
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/imbue/mngr/cli/limit.py
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Remove unused _DNS_LABEL_PATTERN from url.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/url.py
  uv.lock
Due: ruff

Move inline imports to top level, restore inline import ratchet to 2
  libs/mngr/imbue/mngr/plugins/port_forwarding/plugin.py
  libs/mngr/imbue/mngr/plugins/ttyd/plugin_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Remove async from API server exception handler
  libs/mngr/imbue/mngr/plugins/api_server/app.py
Due: ruff

Replace duplicate _find_free_port with shared utility import
  libs/mngr/imbue/mngr/plugins/port_forwarding/test_port_forwarding.py
Due: ruff

Remove dead hookimpl from mngr_remote backend
  libs/mngr/imbue/mngr/providers/mngr_remote/backend.py
Due: ruff

Use duration strings in limit command docstring examples
  libs/mngr/docs/commands/secondary/limit.md
  libs/mngr/imbue/mngr/cli/limit.py
Due: ruff, regenerate-cli-docs

Fix ttyd on_agent_destroyed type mismatch with hookspec
  libs/mngr/imbue/mngr/plugins/ttyd/plugin.py
  libs/mngr/imbue/mngr/plugins/ttyd/test_ttyd_open.py
Due: ruff

Auto-generate snapshot.md from CLI help metadata, clean up concepts doc
  libs/mngr/docs/commands/secondary/snapshot.md
  libs/mngr/docs/concepts/snapshot.md
  scripts/make_cli_docs.py
Due: ruff, regenerate-cli-docs

Copy snapshot details from concepts doc to Modal provider doc
  libs/mngr/docs/core_plugins/providers/modal.md
Due: none

Eliminate redundant get_reported_urls() call in agent listing
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Fix forking bullet in concepts/snapshot.md to reference mngr clone
  libs/mngr/docs/concepts/snapshot.md
Due: none

Add acceptance test for schedule run creating an agent
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Rename _compute_default_url to compute_default_url
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/open.py
Due: ruff

Resolve dockerfile and context_dir paths to absolute before Docker build
  libs/mngr/imbue/mngr/providers/docker/instance.py
Due: ruff

Add type annotations for pm parameter in plugin_loader.py
  libs/mngr/imbue/mngr/plugin_loader.py
Due: ruff

Fix schedule run acceptance test: disable modal, simplify agent command
  libs/mngr/imbue/mngr/cli/test_schedule.py
Due: ruff, regenerate-cli-docs

Use click.echo instead of logger.info for secret token output
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
Due: ruff

Revert "Use click.echo instead of logger.info for secret token output"
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/cli.py
Due: ruff

Check for forward-service before attempting URL registration in ttyd plugin
  libs/mngr/imbue/mngr/plugins/ttyd/provisioning.py
Due: ruff

Replace monkeypatch.setattr with injectable browser_open parameter
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add type annotations to activity_tracking on_agent_created hook
  libs/mngr/imbue/mngr/plugins/activity_tracking/plugin.py
Due: ruff

Remove direct subprocess usage from frps.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/frps.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Fix type error: use correct ConcurrencyGroup method name
  libs/mngr/imbue/mngr/plugins/port_forwarding/frps.py
Due: ruff

Fix type error: wrap PLUGIN_NAME with PluginName for dict lookup
  libs/mngr/imbue/mngr/plugins/activity_tracking/plugin.py
Due: ruff

Fix flaky test in ttyd port allocation
  libs/mngr/imbue/mngr/plugins/ttyd/plugin_test.py
Due: ruff

Deduplicate read-or-create-token logic in api_server/auth.py
  libs/mngr/imbue/mngr/plugins/api_server/auth.py
  libs/mngr/imbue/mngr/plugins/port_forwarding/auth.py
Due: ruff

Stop logging partial API token on serve startup
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
Due: ruff

Remove unused host variable, providers variable, and OnlineHostInterface import from open command
  libs/mngr/imbue/mngr/cli/open.py
Due: ruff, regenerate-cli-docs

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
