Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Fix clone integration test to not require real Claude
  libs/mngr/imbue/mngr/cli/test_clone.py
Due: ruff, regenerate-cli-docs

Fix Modal test environment cleanup: user_id lookup was broken
  .github/workflows/ci.yml
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Use timestamp-based prefix for Modal acceptance test environments
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Cleanup script: also delete orphan mngr_ test environments
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Minor update to readme
  libs/mngr/README.md
Due: none

Remove MagicMock/patch from watch_mode_test.py, use real wait_for instead
  libs/mngr/imbue/mngr/cli/watch_mode_test.py
Due: ruff, regenerate-cli-docs

Strengthen interval assertion in watch_mode wait test
  libs/mngr/imbue/mngr/cli/watch_mode_test.py
Due: ruff, regenerate-cli-docs

Remove MagicMock/patch from help_formatter_test.py, use real objects instead
  libs/mngr/imbue/mngr/cli/help_formatter.py
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
Due: ruff, regenerate-cli-docs

Remove unittest.mock.patch from claude_config_test.py, use real config paths
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
Due: ruff

Replace MagicMock with real click.Context in common_opts_test.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
Due: ruff, regenerate-cli-docs

Verify exit_code in help_option_callback test
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
Due: ruff, regenerate-cli-docs

Replace create_autospec with FakeProviderInstance in offline_host_test.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Remove create_autospec/mock from offline_host_test.py, use real providers instead
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Remove unittest.mock.patch from pull_test.py via dependency injection
  libs/mngr/imbue/mngr/api/find.py
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Remove duplicate test and add snapshot-path coverage for get_state
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Remove mock/patch from pull_test.py, use real local provider infrastructure
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Remove duplicate test, extract _make_offline_host helper
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Remove MagicMock/patch from pull_test.py, use real local provider instead
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Remove MagicMock/patch from connect_test.py, use real objects instead
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Remove MagicMock/patch from connect_test.py, use real pyinfra hosts and pure function testing
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Consolidate connect_to_agent test setup and strengthen prefix test
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Remove MagicMock from common_opts_test.py, use real click.Context instead
  libs/mngr/imbue/mngr/cli/common_opts_test.py
Due: ruff, regenerate-cli-docs

Replace Mock with real BaseAgent subclasses in host_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Restore docstrings on all test functions in connect_test.py
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Replace MagicMock/patch with real objects in connect_test.py
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Replace Mock with real pytest.Config in pytest_utils_test.py
  libs/imbue_common/imbue/imbue_common/pytest_utils_test.py
Due: ruff

Remove Mock from host_test.py, use real BaseAgent subclass instead
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Remove unittest.mock from help_formatter_test.py, use real testing patterns
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
Due: ruff, regenerate-cli-docs

Remove create_autospec/mocks from offline_host_test.py, use real providers
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Extract shared connect_to_agent test setup into fixture and helper
  libs/mngr/imbue/mngr/api/connect_test.py
Due: ruff

Remove MagicMock/patch from help_formatter_test.py, use real behavior instead
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
Due: ruff, regenerate-cli-docs

Remove Mock from host_test.py, consolidate test agent helpers
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Simplify isinstance narrowing in destroy tests
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff
