Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Remove redundant test_fixtures glob (already matched by test_*)
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Update spec with implementation status and add visual test screenshots
  apps/mng-vscode/test-instructions.md
  screenshots/01-initial.png
  screenshots/02-sidebar.png
  screenshots/03-commands.png
  screenshots/04-final.png
  screenshots/05-after-trust.png
  screenshots/07-sidebar-open.png
  screenshots/08-mng-commands.png
  specs/ui_agent_pr_viewer.md
Due: none

Move inline imports to module level in ratchets.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Update test_ratchets.py
  apps/changelings/imbue/changelings/test_ratchets.py
Due: ruff

Update pyproject.toml
  apps/changelings/pyproject.toml
Due: none

Implement mng push and mng pull for remote (Modal/Docker) agents
  libs/mng/imbue/mng/api/sync.py
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/api/test_fixtures.py
  libs/mng/imbue/mng/api/test_pull.py
  libs/mng/imbue/mng/api/test_push.py
  libs/mng/imbue/mng/cli/pull.py
  libs/mng/imbue/mng/cli/push.py
Due: ruff, regenerate-cli-docs

Clean up change-commentary in ratchet docstrings and comments
  libs/imbue_common/examples/ratchets_example.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
Due: ruff

Fix stale comment about activity sources mapping
  libs/mng/imbue/mng/interfaces/data_types.py
Due: ruff

Lowercase mng in all user-facing strings
  apps/mng-vscode/package.json
  apps/mng-vscode/src/mngService.ts
  apps/mng-vscode/src/statusBar.ts
  apps/mng-vscode/test-instructions.md
  specs/ui_agent_pr_viewer.md
Due: none

Set process title to "mng" so terminal emulators show the right name
  libs/mng/imbue/mng/main.py
  libs/mng/pyproject.toml
  uv.lock
Due: ruff, regenerate-cli-docs

Test commit for git push verification
  test_push_file.txt
Due: none

Remote commit for pull test
  remote_commit_test.txt
Due: none

Fix mirror push to remote: detach HEAD before pushing
  remote_commit_test.txt
  test_push_file.txt
Due: none

Add screenshots showing real agents in the sidebar
  screenshots/10-trusted.png
  screenshots/11-agents-sidebar.png
  screenshots/12-sidebar-closeup.png
  screenshots/13-statusbar.png
  screenshots/14-commands.png
  screenshots/15-output-panel.png
Due: none

Fix remote mirror push: detach HEAD before pushing
  libs/mng/imbue/mng/api/sync.py
Due: ruff

Also set terminal title via escape sequence for VS Code tab names
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-cli-docs

Fix _dir_exists checking wrong host for destination in PULL mode
  libs/mng/imbue/mng/api/sync.py
Due: ruff

Use public import-linter APIs, drop os.chdir
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Replace bare Exception with NotImplementedError in BaseProviderInstance.to_offline_host
  libs/mng/imbue/mng/providers/base_provider.py
Due: ruff

Add missing return type annotation to _handle_offline_or_unreachable_host
  libs/mng/imbue/mng/cli/destroy.py
Due: ruff, regenerate-cli-docs

Add docstrings to abstract to_offline_host methods
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
Due: ruff

Eliminate variable reassignment of host in gc_machines
  libs/mng/imbue/mng/api/gc.py
Due: ruff

Fix coverage omit patterns for moved test infrastructure
  libs/mng/pyproject.toml
Due: none

Fix dead agent restart failing with "Session ID already in use"
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Support tab completion of agent names for group subcommands
  libs/mng/imbue/mng/cli/complete.py
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Add blue-pill.txt
  blue-pill.txt
Due: none

Implement to_offline_host for Docker provider to prevent GC crash
  libs/mng/imbue/mng/providers/docker/instance.py
Due: ruff

Check result of remote mkdir in sync_files
  libs/mng/imbue/mng/api/sync.py
Due: ruff

Rename misleading host_dir parameter to cache_dir in write_agent_names_cache
  libs/mng/imbue/mng/cli/completion_writer.py
Due: ruff, regenerate-cli-docs

Refactor tab completion tests to use fixtures
  libs/mng/imbue/mng/cli/complete_test.py
Due: ruff, regenerate-cli-docs

Fix type error in watch_mode.py and core_test.py, bump monkeypatch ratchet
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
  libs/mng/imbue/mng/cli/watch_mode.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use if/elif/else in _get_positional_candidates for clarity
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs

Tighten ratchet snapshot values to lock in recent progress
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Default PR opening to external browser, add GitHub PR extension integration
  apps/mng-vscode/package.json
  apps/mng-vscode/src/__mocks__/vscode.ts
  apps/mng-vscode/src/commands.ts
  apps/mng-vscode/src/config.ts
  screenshots/01-initial.png
  screenshots/02-sidebar.png
  screenshots/03-commands.png
  screenshots/04-final.png
  screenshots/05-after-trust.png
  screenshots/07-sidebar-open.png
  screenshots/08-mng-commands.png
  screenshots/10-trusted.png
  screenshots/11-agents-sidebar.png
  screenshots/12-sidebar-closeup.png
  screenshots/13-statusbar.png
  screenshots/14-commands.png
  screenshots/15-output-panel.png
  screenshots/commands.png
  screenshots/pr-side-by-side.png
  screenshots/sidebar.png
  screenshots/statusbar.png
Due: none

Add missing assert_never import in deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Fix print format string in cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Remove dead code in _forward_output
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Create rough design for changelings
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/docs/user_story.md
  apps/changelings/imbue/changelings/README.md
  apps/changelings/specs/proxying.md
  apps/changelings/specs/proxying.py
Due: ruff

Restructure _get_positional_candidates with early None guards
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs

Simplify _get_positional_candidates to take command_key
  libs/mng/imbue/mng/cli/complete.py
Due: ruff, regenerate-cli-docs
