Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add a test demonstrating that procps is needed on modal
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/resources/Dockerfile
Due: ruff

Add procps back
  libs/mngr/imbue/mngr/resources/Dockerfile
Due: none

sp
  .claude/settings.json
Due: none

Increase stderr truncation in test failure messages from 200 to 500 chars
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Remove test_mngr_message_multiple_times: can't send to busy agent
  libs/mngr/imbue/mngr/cli/test_message.py
Due: ruff, regenerate-cli-docs

Refactor _configure_readiness_hooks: unify local/remote, add gitignore check
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Remove unnecessary 2s sleep, add gitignore to test fixture, lower ratchet
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/cli/test_message.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Eliminate time.sleep calls: use wait_for for lock, remove test sleep
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Address reviewer feedback: marker cleanup comment, timeout increase, immutable merge
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Remove configure_readiness_hooks config flag, always run hooks
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Align connect --ready-timeout default with create (1.0 -> 10.0)
  libs/mngr/docs/commands/primary/connect.md
  libs/mngr/imbue/mngr/cli/connect.py
Due: ruff, regenerate-cli-docs

Remove unnecessary comment about polling timeout budget
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Move readiness hooks functions from claude_agent to claude_config
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Guard against worktree mode on remote hosts
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Use default poll interval for send_message polling
  libs/mngr/imbue/mngr/agents/base_agent.py
Due: ruff

Clean up base_agent/claude_agent: extract const, fix expected_ending, dedupe
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Auto-retry with suffixed branch name when worktree creation fails due to existing branch
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Add .claude/*.bak to gitignore
  .gitignore
Due: none

Revert "Merge branch 'ev/fix-trust-dialog-message-2' into ev/fix-mngr-message"
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Revert "Auto-retry with suffixed branch name when worktree creation fails due to existing branch"
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Add test for worktree mode rejection on remote hosts
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Note that atomic write may change ~/.claude.json permissions to 0600
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Remove unused deal dependency
  libs/mngr/pyproject.toml
Due: none

Fix unison tests failing due to fake HOME on macOS
  libs/mngr/imbue/mngr/conftest.py
  uv.lock
Due: ruff

Clarify UNISON env var comment in test conftest
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Fix git clone in make_tar_of_repo.sh to preserve real origin URL
  scripts/make_tar_of_repo.sh
Due: none

Update to hopefully get the coder custom agent to work
  .mngr/settings.toml
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Fix settings
  .mngr/settings.toml
Due: none

Hopefully fix template usage and settings
  .mngr/settings.toml
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Trying to make a working configuration for remote modal agents
  .gitignore
  .mngr/settings.toml
  libs/mngr/imbue/mngr/resources/Dockerfile
  scripts/make_tar_of_repo.sh
Due: none

Remove invalid line
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add two fixmes
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/env_utils.py
Due: ruff

Hopefully allow local agents again
  .mngr/settings.toml
Due: none

Ready to try again with modal
  .mngr/settings.toml
Due: none

Fix brittle command assembly tests to match current output
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix double-space bug in assemble_command args building
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
Due: ruff

Allow --template to be repeated, stacking templates in order
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Write host env vars to host env file during create
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/create_test.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Update customization docs to describe multi-template stacking
  libs/mngr/docs/customization.md
Due: none
