Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Update extension to be accurate
  scripts/run_reviewer.sh
Due: none

Forward subprocess output in real time, include output in errors
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
  apps/changelings/pyproject.toml
Due: ruff

Link up to the correct volume name
  scripts/run_reviewer.sh
Due: none

Fix formatting from pre-push hook (ruff + CLI docs regen)
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff, regenerate-cli-docs

Expand testing strategy with comprehensive test cases
  libs/mngr/future_specs/providers/docker.md
Due: none

Fix output callback: parameter is is_stdout, not is_stderr
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/deploy/cron_runner.py
Due: ruff

Pin modal==1.3.1 and use 1.3.1-compatible output manager API
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff

Fix error swallowing in agent record listing, add FIXMEs for similar patterns
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Add docker SDK dependency and extract shared SSH utilities
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/providers/modal/ssh_utils.py
  libs/mngr/imbue/mngr/providers/ssh_utils.py
  libs/mngr/pyproject.toml
Due: ruff

Handle missing host directory in agent record listing
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Implement Docker provider: config, host store, backend, instance, registry
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/config.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Replace monkeypatch.setattr with injectable open_url param, fix Modal AuthError wrapping
  libs/mngr/imbue/mngr/api/open.py
  libs/mngr/imbue/mngr/api/open_test.py
  libs/mngr/imbue/mngr/plugins/api_server/app.py
  libs/mngr/imbue/mngr/providers/modal/backend.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Resolve merge conflict in create.py (accept main version)
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

Handle TOCTOU race and corrupted UTF-8 in agent record listing
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Consolidate _emit_template_output tests to reduce monkeypatch.setattr count
  libs/mngr/imbue/mngr/cli/list_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Fix code-guardian cli_args type, add --yes/-y flag to mngr create
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/mngr_commands.py
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
  libs/mngr/imbue/mngr/cli/conftest.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/config/data_types.py
Due: ruff, regenerate-cli-docs

Apply --yes auto-approve to all interactive prompts in claude_agent
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Add unit tests for is_auto_approve skill installation path
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Add Docker provider tests and fix ratchet violations
  libs/mngr/imbue/mngr/providers/docker/backend.py
  libs/mngr/imbue/mngr/providers/docker/backend_test.py
  libs/mngr/imbue/mngr/providers/docker/host_store.py
  libs/mngr/imbue/mngr/providers/docker/host_store_test.py
  libs/mngr/imbue/mngr/providers/docker/instance.py
  libs/mngr/imbue/mngr/providers/docker/instance_test.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_create.py
  libs/mngr/imbue/mngr/providers/docker/test_docker_lifecycle.py
  uv.lock
Due: ruff

Add shell_complete to rename command's current argument
  libs/mngr/imbue/mngr/cli/rename.py
Due: ruff, regenerate-cli-docs

Skip early trust validation when is_auto_approve is set
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Extract repeated test setup into completion_agents_dir fixture
  libs/mngr/imbue/mngr/cli/completion_test.py
Due: ruff, regenerate-cli-docs

Fix enforce idle detection to respect configured activity sources
  libs/mngr/imbue/mngr/api/enforce.py
  libs/mngr/imbue/mngr/api/enforce_test.py
  libs/mngr/imbue/mngr/cli/enforce.py
Due: ruff, regenerate-cli-docs

Replace _find_agent_without_starting with shared skip_agent_state_check
  libs/mngr/imbue/mngr/cli/rename.py
Due: ruff, regenerate-cli-docs

Fix env var preservation for remote hosts during re-provisioning
  libs/mngr/imbue/mngr/api/provision.py
Due: ruff

Remove test for NotImplementedError per CLAUDE.md
  libs/mngr/imbue/mngr/cli/open_test.py
Due: ruff, regenerate-cli-docs

Fix ratchet violations from merge: remove MagicMock, cast, and subprocess
  libs/mngr/imbue/mngr/providers/modal/conftest.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_instance.py
Due: ruff

Remove banned module-level docstrings, clean up test docstring
  libs/mngr/imbue/mngr/api/enforce_test.py
  libs/mngr/imbue/mngr/cli/enforce_test.py
  libs/mngr/imbue/mngr/providers/modal/test_modal_enforce.py
  libs/mngr/imbue/mngr/utils/error_handling_test.py
Due: ruff, regenerate-cli-docs

Re-apply --format-template implementation after merge from main
  libs/mngr/imbue/mngr/cli/list.py
  libs/mngr/imbue/mngr/cli/list_test.py
Due: ruff, regenerate-cli-docs

Extract shared test setup helper in pull_test.py
  libs/mngr/imbue/mngr/cli/pull_test.py
Due: ruff, regenerate-cli-docs

Promote enforce Modal test from release to acceptance
  libs/mngr/imbue/mngr/providers/modal/test_modal_enforce.py
Due: ruff

Capture temp file path before write to prevent cleanup failure
  libs/mngr/imbue/mngr/api/provision.py
Due: ruff

Add Modal acceptance tests for mngr exec command
  libs/mngr/imbue/mngr/cli/test_exec.py
Due: ruff, regenerate-cli-docs

Remove redundant test_exec_confirms_remote_environment
  libs/mngr/imbue/mngr/cli/test_exec.py
Due: ruff, regenerate-cli-docs

Add completion cache for remote agent names via background refresh
  libs/mngr/imbue/mngr/api/list.py
  libs/mngr/imbue/mngr/api/test_list.py
  libs/mngr/imbue/mngr/cli/completion.py
  libs/mngr/imbue/mngr/cli/completion_test.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Add integration tests for cleanup with real local agents
  libs/mngr/imbue/mngr/cli/test_cleanup.py
Due: ruff, regenerate-cli-docs

Add comment explaining direct subprocess.Popen usage in completion
  libs/mngr/imbue/mngr/cli/completion.py
Due: ruff, regenerate-cli-docs

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
