Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Rename fields() to field_ref() and fix pre-existing ruff F841
  libs/imbue_common/imbue/imbue_common/frozen_model.py
  libs/imbue_common/imbue/imbue_common/model_update.py
  libs/imbue_common/imbue/imbue_common/model_update_test.py
  libs/imbue_common/imbue/imbue_common/mutable_model.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff, regenerate-cli-docs

Updating docs
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/future_specs/git_interactions.md
  libs/mngr/future_specs/host_class.md
  libs/mngr/future_specs/idle_detection.md
  libs/mngr/future_specs_triage.txt
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff, regenerate-cli-docs

Add FIXME comments to test files that use unittest.mock constructs
  contrib/claude-code-transcripts/tests/test_all.py
  libs/imbue_common/imbue/imbue_common/pytest_utils_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/watch_mode_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff, regenerate-cli-docs

Use to_update/to_update_dict for type-safe model_copy in offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host.py
Due: ruff

Replace all raw dict model_copy usages with type-safe to_update_dict/to_update pattern
  libs/mngr/imbue/mngr/agents/agent_registry.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/plugins/hookspecs.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  scripts/style_guide.py
  style_guide.md
Due: ruff

Speed up random fixme script and prioritize fixing tests to remove magick mock, etc
  libs/imbue_common/imbue/imbue_common/pytest_utils_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config_test.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/help_formatter_test.py
  libs/mngr/imbue/mngr/cli/pull_test.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/cli/watch_mode_test.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
  scripts/random_fixme.sh
Due: ruff, regenerate-cli-docs

Remove test fixme for modal related tests since they are currently hard to do without mocks
  libs/mngr/imbue/mngr/providers/modal/instance_test.py
Due: ruff

Fix comment
  libs/imbue_common/imbue/imbue_common/model_update.py
  libs/imbue_common/imbue/imbue_common/model_update_test.py
Due: ruff

Replace unittest.mock.patch with monkeypatch in test_create.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Skip redundant reviewer runs when commit has not changed
  scripts/run_reviewer.sh
Due: none

Remove one fixme
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Merge branch 'main' into ev/refactor-sync-api
  libs/mngr/future_specs/git_interactions.md
Due: none

Use log_span for rsync execution in sync_files
  libs/mngr/imbue/mngr/api/sync.py
Due: ruff

Document git sync edge cases in CLI help text
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
Due: ruff, regenerate-cli-docs

Document conflict modes and debouncing plan in pair command
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/imbue/mngr/cli/pair.py
Due: ruff, regenerate-cli-docs

Fix --conflict newer description to match implementation
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/imbue/mngr/cli/pair.py
Due: ruff, regenerate-cli-docs

Add clock skew warning to --conflict newer help text
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/imbue/mngr/cli/pair.py
Due: ruff, regenerate-cli-docs

Break circular import: move format_mngr_error_for_cli into errors.py
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff, regenerate-cli-docs

Deduplicate agent selection: use find_and_maybe_start_agent_by_name_or_id everywhere
  libs/mngr/imbue/mngr/cli/agent_utils.py
  libs/mngr/imbue/mngr/cli/agent_utils_test.py
  libs/mngr/imbue/mngr/cli/pull.py
Due: ruff, regenerate-cli-docs

Add API-level guard against file sync with remote hosts
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
Due: ruff

Use rsync --stats for reliable transfer statistics parsing
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/utils/rsync_utils.py
Due: ruff

Remove redundant --target-path option and add same-directory guard
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/cli/pair.py
Due: ruff, regenerate-cli-docs

Move git helpers to git_utils.py for reuse
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/utils/git_utils.py
Due: ruff

Fix CI: use -b main in init_git_repo_with_config
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Fix UnisonSyncer silent output reader death and ConflictMode.ASK fallthrough
  libs/mngr/imbue/mngr/api/pair.py
Due: ruff

Add CommandHelpMetadata for push and pair commands
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Replace mock-based git pull tests with real git sandbox tests
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/test_pull.py
Due: ruff

Fix review issues: rename GitSyncAction fields, fix commit counting, harden sync
  .gitignore
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pair_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pair.py
Due: ruff

Isolate test and prod tmux servers using separate socket names
  libs/mngr/docs/concepts/environment_variables.md
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/connect.py
  libs/mngr/imbue/mngr/api/connect_test.py
  libs/mngr/imbue/mngr/cli/test_connect.py
  libs/mngr/imbue/mngr/cli/test_create.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/utils/testing.py
  libs/mngr/imbue/mngr/utils/tmux.py
Due: ruff, regenerate-cli-docs

Fix review issues: consolidate test fixtures, clean up pair API naming, remove dead code
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_fixtures.py
  libs/mngr/imbue/mngr/api/test_pair.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/output_helpers_test.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff, regenerate-cli-docs

Add unit tests for tmux socket helper functions
  libs/mngr/imbue/mngr/utils/tmux_test.py
Due: ruff

Add safety check asserting test tmux socket is set
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/utils/testing.py
Due: ruff

Fix 8 push/pull/pair API issues
  libs/mngr/docs/commands/primary/pair.md
  libs/mngr/docs/commands/primary/pull.md
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/api/pair.py
  libs/mngr/imbue/mngr/api/pull_test.py
  libs/mngr/imbue/mngr/api/sync.py
  libs/mngr/imbue/mngr/api/test_pull.py
  libs/mngr/imbue/mngr/api/test_push.py
  libs/mngr/imbue/mngr/cli/pair.py
  libs/mngr/imbue/mngr/cli/pull.py
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Add modal_nuke.py script for resetting Modal state
  scripts/modal_nuke.py
Due: ruff

Remove local data.json deletion from modal nuke script
  scripts/modal_nuke.py
Due: ruff

Fix --mirror push failing on worktree agents
  libs/mngr/imbue/mngr/api/sync.py
Due: ruff

Fix name_generator crash with coolname 3.x, require coolname>=3.0.0
  libs/mngr/imbue/mngr/utils/name_generator.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff

Rewrite --mirror help text to describe behavior, not implementation
  libs/mngr/docs/commands/primary/push.md
  libs/mngr/imbue/mngr/cli/push.py
Due: ruff, regenerate-cli-docs

Fix RelativePath crash on Python 3.13+ by moving validation to Pydantic
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
Due: ruff

Use string check in RelativePath.__new__ to avoid Python 3.13+ crash
  libs/mngr/imbue/mngr/interfaces/data_types.py
  libs/mngr/imbue/mngr/interfaces/data_types_test.py
Due: ruff
