Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Revert "Remove spurious BOOT activity recording from local provider"
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Revert "Fix flaky test_no_await_ready by increasing wait_for timeouts"
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Replace templates with skill-based agent system for changelings
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/templates.py
  apps/changelings/imbue/changelings/templates_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
  pyproject.toml
Due: ruff

Fix reviewer issues: revert design.md, add provision tests, fix minors
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/data_types.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/code_guardian_agent_test.py
Due: ruff

Updating fixmes after merging fixme fairy work
  contrib/claude-code-transcripts/tests/test_all.py
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/providers/local/instance.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
  libs/mngr_opencode/imbue/mngr_opencode/plugin_test.py
Due: ruff, regenerate-cli-docs

Rename Test* plugin fixture classes to avoid pytest collection
  libs/mngr/imbue/mngr/cli/test_plugin_cli_commands.py
  libs/mngr/imbue/mngr/cli/test_plugin_cli_options.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Update docs
  apps/changelings/docs/design.md
Due: none

fix more docs
  apps/changelings/specs/architecture.md
Due: none

Fix bash strict mode ratchet: correct snapshot to 3, tighten regex
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Add detailed Docker provider implementation plan
  libs/mngr/future_specs/providers/docker.md
Due: none

Revert glob gitignore for nested .claude/tests_outputs/
  .gitignore
Due: none

Implement changelings Phase 4: Modal execution
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/config.py
  apps/changelings/imbue/changelings/data_types.py
  apps/changelings/imbue/changelings/test_run_modal.py
Due: ruff

Prevent activity from not counting unless agents are actually done
  scripts/main_claude_stop_hook.sh
Due: none

Fix reviewer issues: add secrets roundtrip test, fix release test
  apps/changelings/imbue/changelings/config_test.py
  apps/changelings/imbue/changelings/test_run_modal.py
Due: ruff

Minor code quality improvements
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  scripts/main_claude_stop_hook.sh
Due: ruff

And update agent waiting state similarly
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Actually, put that back for now
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
Due: ruff

Fix typo: imgue -> imbue in Docker provider spec
  libs/mngr/future_specs/providers/docker.md
Due: none

Fix release test to use build_mngr_create_command directly
  apps/changelings/imbue/changelings/test_run_modal.py
Due: ruff

Harden session ID tracking against torn writes and empty reads
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  scripts/main_claude_stop_hook.sh
  scripts/print_user_session.sh
Due: ruff

Fix ratchet violations and add API server integration tests
  libs/mngr/imbue/mngr/plugins/api_server/app.py
  libs/mngr/imbue/mngr/plugins/api_server/app_test.py
  libs/mngr/imbue/mngr/plugins/api_server/cli.py
  libs/mngr/imbue/mngr/plugins/api_server/web_ui.html
  libs/mngr/imbue/mngr/plugins/api_server/web_ui.py
  libs/mngr/imbue/mngr/providers/mngr_remote/client.py
  libs/mngr/imbue/mngr/providers/registry.py
Due: ruff

Fixes to waiting and active calculation
  .claude/settings.json
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  scripts/main_claude_stop_hook.sh
Due: ruff

Minor ratchet update
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Use tracked session ID for transcript when available
  libs/mngr/imbue/mngr/api/transcript.py
Due: ruff

Update tests and docs for waiting-to-active file refactor
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/cli/test_list.py
Due: ruff, regenerate-cli-docs

Pass secrets via env file instead of command-line args
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/imbue/changelings/test_run_modal.py
Due: ruff

Quote $MNGR_AGENT_STATE_DIR and use rm -f instead of rm -rf
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_config.py
  scripts/main_claude_stop_hook.sh
Due: ruff

Add integration tests for snapshot CLI, remove redundant unit tests
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/cli/test_snapshot.py
Due: ruff, regenerate-cli-docs

Consolidate empty response checks into a single post-strip check
  libs/mngr/imbue/mngr/cli/bootstrap.py
  libs/mngr/imbue/mngr/cli/bootstrap_test.py
Due: ruff, regenerate-cli-docs

Replace NamedTuple with FrozenModel in exec API tests
  libs/mngr/imbue/mngr/api/exec_test.py
Due: ruff

Deduplicate agent creation in snapshot integration tests
  libs/mngr/imbue/mngr/cli/test_snapshot.py
Due: ruff, regenerate-cli-docs

Update modal dependency to >=1.3.3 and fix import path
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
  libs/mngr/pyproject.toml
  uv.lock
Due: ruff

Extract repetitive try/finally cleanup into pytest fixture
  libs/mngr/imbue/mngr/api/exec_test.py
Due: ruff

Fix reviewer issues and jq JSONL/array parsing bug
  apps/changelings/imbue/changelings/cli/run.py
  apps/changelings/imbue/changelings/cli/run_test.py
  scripts/run_reviewer.sh
Due: ruff

Update _QuietOutputManager for modal 1.3.3 API changes
  libs/mngr/imbue/mngr/providers/modal/log_utils.py
Due: ruff

Revert "Fix inaccurate description in cleanup help metadata"
  libs/mngr/imbue/mngr/cli/cleanup.py
Due: ruff, regenerate-cli-docs

Revert "Move make_test_agent_info to api/conftest.py to fix layer violation"
  libs/mngr/imbue/mngr/api/cleanup_test.py
  libs/mngr/imbue/mngr/api/conftest.py
  libs/mngr/imbue/mngr/cli/conftest.py
Due: ruff, regenerate-cli-docs

Return all session transcripts instead of just the latest
  libs/mngr/imbue/mngr/api/transcript.py
  libs/mngr/imbue/mngr/api/transcript_test.py
  libs/mngr/imbue/mngr/cli/transcript.py
  libs/mngr/imbue/mngr/cli/transcript_test.py
Due: ruff, regenerate-cli-docs

Extract env file cleanup into pytest fixture
  apps/changelings/imbue/changelings/cli/run_test.py
Due: ruff

Add fixme
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
