Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI docs and completions
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
  language: system
  pass_filenames: false

Allow for the destruction of hosts even when the auth is wrong
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/api/gc.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/errors.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/providers/base_provider.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff, regenerate-cli-docs

Show plain text PR URLs at end of line, use magenta for WAITING
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Make it easier to debug why an agent has failed
  libs/mng/imbue/mng/agents/base_agent.py
Due: ruff

Add draft PR section, spinner, and various UI refinements
  apps/pankan/imbue/pankan/data_types.py
  apps/pankan/imbue/pankan/data_types_test.py
  apps/pankan/imbue/pankan/fetcher_test.py
  apps/pankan/imbue/pankan/github.py
  apps/pankan/imbue/pankan/github_test.py
  apps/pankan/imbue/pankan/tui.py
Due: ruff

Do a better job of garbage collecting unauthenticated hosts
  libs/mng/imbue/mng/api/gc.py
Due: ruff

More debugging
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
Due: ruff

Allow unauthenticated hosts to show up as a possible (rare) state
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/primitives.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
Due: ruff

Allow specification of authorized keys
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/data_types.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/providers/base_provider.py
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/local/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/ssh/instance.py
  libs/mng/imbue/mng/providers/ssh_host_setup.py
Due: ruff, regenerate-cli-docs

Make ratchet blame lazy: skip git blame for passing tests
  libs/imbue_common/examples/ratchets_example.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Add template vars for schedule commands
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Combine AST walks in ratchet tests: single pass per file
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core.py
  libs/imbue_common/imbue/imbue_common/ratchet_testing/ratchets.py
Due: ruff

Hopefully inject credentials correctly
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Pre-approve bash commands in wait-for-agent skill
  .claude/commands/wait-for-agent.md
Due: none

Add fast unit tests for list and cleanup formatting coverage
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/cli/list_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Move optimized ratchet tests back to local, restore xdist_group
  apps/changelings/imbue/changelings/test_ratchets.py
  libs/mng/imbue/mng/cli/help_formatter_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Fix silly variable name error
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-cli-docs

Use auto-execute syntax for initial state check
  .claude/commands/wait-for-agent.md
Due: none

Restore coverage in addopts (needed for CI coverage collection)
  apps/changelings/pyproject.toml
  libs/mng/pyproject.toml
  pyproject.toml
Due: none

Fix authorized keys and make build dir persistent to investigate caching
  libs/mng/imbue/mng/providers/ssh_host_setup.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Prevent fast mode on remote agents
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix silly mkdir issue
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Update CLAUDE.md to use --no-cov for local test runs
  CLAUDE.md
Due: none

config: add test_id_format to offload config
  offload-modal.toml
Due: none

Fix README shell completion instructions
  libs/mng/README.md
Due: none

Fix wait-for-agent: auto-execute needs allowed-tools, avoid $1 in !
  .claude/commands/wait-for-agent.md
Due: none

Use percentage instead of absolute time for --no-cov savings
  CLAUDE.md
Due: none

Remove auto-execute since it still needs allowed-tools approval
  .claude/commands/wait-for-agent.md
Due: none

Suppress pyinfra errors, redirect to TRACE logging, and fix tests
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/utils/logging.py
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Use uv tool run in README completion instructions
  libs/mng/README.md
Due: none

Use single argument to fix argument parsing issue
  .claude/commands/wait-for-agent.md
Due: none

Change where we're caching the project and hopefully enable skipping inclusion of the mng repo when we are deploying it for itself
  libs/mng/imbue/mng/resources/Dockerfile
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Replace autouse fixture with explicit monkeypatch.setenv per test
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Use non-autouse set_test_api_key fixture instead of inline duplication
  libs/mng_schedule/imbue/mng_schedule/conftest.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Add fixme
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
Due: ruff

Parse agent name from raw argument string
  .claude/commands/wait-for-agent.md
Due: none

Revert to clean $1/$2 argument style
  .claude/commands/wait-for-agent.md
Due: none

config: update offload config for new top-level framework format
  offload-modal.toml
Due: none

Minor doc update
  CLAUDE.md
Due: none

Use uv tool run in install.sh instead of shebang extraction
  scripts/install.sh
Due: none

Wait for agent to finish in schedule verification and expose capture_pane_content
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/interfaces/agent.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/verification.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$
