Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-cli-docs:
  name: Regenerate CLI markdown docs
  entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
  language: system
  pass_filenames: false

Rename shotgun to offload
  offload-local.toml
  offload-modal.toml
Due: none

Add clearer error message for host data schema mismatches
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Add clearer error message for host data schema mismatches
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/commands/secondary/config.md
  libs/mngr/imbue/mngr/cli/output_helpers.py
  libs/mngr/imbue/mngr/errors.py
Due: ruff, regenerate-cli-docs

Clean up test directories created in home directory
  libs/mngr/imbue/mngr/conftest.py
Due: ruff

Add user name for our config
  .mngr/settings.toml
Due: none

Auto-retry with suffixed branch name when worktree creation fails due to existing branch
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Fix race condition in initial message delivery using Claude hooks
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/create_test.py
Due: ruff

Update docs
  libs/mngr/imbue/mngr/providers/modal/config.py
Due: ruff

Add last name files and generate firstname_lastname for English/Fantasy/Scifi agent name styles
  libs/mngr/imbue/mngr/resources/data/name_lists/agent/english_last.txt
  libs/mngr/imbue/mngr/resources/data/name_lists/agent/fantasy_last.txt
  libs/mngr/imbue/mngr/resources/data/name_lists/agent/scifi_last.txt
  libs/mngr/imbue/mngr/utils/name_generator.py
  libs/mngr/imbue/mngr/utils/test_name_generator.py
Due: ruff

Fix modal provider SSH keys to use profile-specific path
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Allow push working around hooks
  libs/mngr/imbue/mngr/conftest.py
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Send Enter to accept Claude trust dialog before initial message
  libs/mngr/imbue/mngr/api/create.py
Due: ruff

ratchet :(
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff

Slightly more sensible name
  .mngr/settings.toml
Due: none

Add fixme
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Speed up mngr list command for single provider
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Fix host record cache invalidation when writing
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Clear caches when deleting host record
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Scripts for syncing repo state to images
  scripts/generate_patch_for_offload.sh
  scripts/make_tar_of_repo.sh
Due: none

Update skill text to remove ultrathink
  .claude/commands/create-fixmes.md
  .claude/commands/create-task-from-json.md
  .claude/commands/fix-something.md
  .claude/commands/identify-doc-code-disagreements.md
  .claude/commands/identify-inconsistencies.md
  .claude/commands/identify-outdated-docstrings.md
  .claude/commands/identify-style-issues.md
  CLAUDE.md
Due: none

Remove OfflineHost overrides for get_tags and get_snapshots
  libs/mngr/imbue/mngr/hosts/offline_host.py
  libs/mngr/imbue/mngr/hosts/offline_host_test.py
Due: ruff

Add skill for converting issue files to GitHub issues
  .claude/skills/create-github-issues/SKILL.md
Due: none

Parallelize sandbox and host record fetching in list_hosts
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Add clarifying comment about parallelization benefit
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Copy Claude project config to new worktrees
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Fix style guide issues in claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config.py
Due: ruff

Fix tmux keybinding
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

Raise error if source Claude config is not trusted
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Try another default key
  libs/mngr/imbue/mngr/hosts/host.py
Due: ruff

WIP: Upgrade to Modal provider
  justfile
  libs/mngr/imbue/mngr/resources/Dockerfile
  offload-modal-slow.toml
  offload-modal.toml
Due: none

Rename copy_claude_project_config to extend_claude_trust_to_worktree
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/errors.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/utils/claude_config.py
  libs/mngr/imbue/mngr/utils/claude_config_test.py
Due: ruff

Fix skill
  .claude/skills/create-github-issues/SKILL.md
Due: none

Fix modal host record caching
  libs/mngr/imbue/mngr/providers/modal/instance.py
Due: ruff

Parallelize provider host listing using ConcurrencyGroup
  libs/mngr/imbue/mngr/api/list.py
Due: ruff

Use hook-based polling for agent readiness instead of time.sleep
  libs/mngr/imbue/mngr/agents/base_agent.py
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/create_test.py
  libs/mngr/imbue/mngr/cli/start.py
  libs/mngr/imbue/mngr/interfaces/host.py
  libs/mngr/imbue/mngr/utils/polling.py
Due: ruff, regenerate-cli-docs

Fix git tests to set user config in CI
  libs/mngr/imbue/mngr/hosts/host_test.py
Due: ruff

Refactor wait_for to be a wrapper around poll_until
  libs/mngr/imbue/mngr/utils/polling.py
Due: ruff

Add create_templates feature to mngr create command
  libs/mngr/docs/commands/primary/create.md
  libs/mngr/docs/customization.md
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/config/data_types.py
  libs/mngr/imbue/mngr/config/loader.py
  libs/mngr/imbue/mngr/config/loader_test.py
Due: ruff, regenerate-cli-docs

Simplify claude_agent tests to use real hosts instead of mocks
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/create_test.py
Due: ruff

Fix template to respect CLI arguments precedence
  libs/mngr/imbue/mngr/cli/common_opts.py
  libs/mngr/imbue/mngr/cli/common_opts_test.py
Due: ruff, regenerate-cli-docs

Path conditions:
  ruff: any of: \.py$
  regenerate-cli-docs: any of: libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$
