Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI markdown docs"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git add libs/mngr/docs/commands/primary/*.md libs/mngr/docs/commands/secondary/*.md 2>/dev/null || true'
        language: system
        files: 'libs/mngr/imbue/mngr/cli/.*\.py$|libs/mngr/imbue/mngr/main\.py$|scripts/make_cli_docs\.py$|libs/mngr/docs/commands/.*\.md$'
        pass_filenames: false

Add test for get_host with wrong HostName raising HostNotFoundError
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff

Fix snapshot_test.py docstring to match localhost rename
  libs/mngr/imbue/mngr/cli/snapshot_test.py
Due: ruff, regenerate-cli-docs

Add uncommitted unit tests for AliasAwareGroup
  libs/mngr/imbue/mngr/main_test.py
Due: ruff

Replace click.echo with print in main_test.py
  libs/mngr/imbue/mngr/main_test.py
Due: ruff

Deduplicate batch create by delegating to _handle_create in a loop
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Use invocation records instead of print/click.echo in main_test.py
  libs/mngr/imbue/mngr/main_test.py
Due: ruff

Remove click.echo mention from comment to fix ratchet rule
  libs/mngr/imbue/mngr/main_test.py
Due: ruff

Revert ratchet bump by rewording comment to avoid regex match
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/utils/test_ratchets.py
Due: ruff, regenerate-cli-docs

Fix inaccurate docstring in _output_batch_results
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Implement agent and host lifecycle hooks
  libs/mngr/docs/concepts/plugins.md
  libs/mngr/imbue/mngr/api/cleanup.py
  libs/mngr/imbue/mngr/api/create.py
  libs/mngr/imbue/mngr/api/gc.py
  libs/mngr/imbue/mngr/api/gc_test.py
  libs/mngr/imbue/mngr/cli/destroy.py
  libs/mngr/imbue/mngr/hosts/host.py
  libs/mngr/imbue/mngr/plugins/agent_host_hooks_test.py
  libs/mngr/imbue/mngr/plugins/hookspecs.py
Due: ruff, regenerate-cli-docs

Add missing stability markers to program lifecycle hookspec docstrings
  libs/mngr/imbue/mngr/plugins/hookspecs.py
Due: ruff

Revert "Fix inaccurate docstring in _output_batch_results"
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Simplify comment wording for await_ready override
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Extract DefaultCommandGroup into its own module
  libs/mngr/imbue/mngr/cli/default_command_group.py
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Drop ensure_clean override and clarify await_ready comment
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Add missing cli.add_command for stop alias "s"
  libs/mngr/imbue/mngr/main.py
Due: ruff, regenerate-cli-docs

Default batch create to --no-connect --await-ready, allow --no-await-ready
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Allow --message and --message-file for batch create
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
Due: ruff, regenerate-cli-docs

Replace individual alias tests with parametrized + bidirectional checks
  libs/mngr/imbue/mngr/cli/aliases_test.py
Due: ruff, regenerate-cli-docs

Mark uncalled hooks as [future] in api.md
  libs/mngr/docs/concepts/api.md
Due: none

Move [future] tags to end of description in api.md
  libs/mngr/docs/concepts/api.md
Due: none

Replace synthetic lifecycle hook tests with real-CLI integration tests
  libs/mngr/imbue/mngr/plugins/lifecycle_hooks_test.py
  libs/mngr/imbue/mngr/plugins/test_lifecycle_hooks.py
Due: ruff

Refactor create into _setup_create, _create_one_agent, _post_create_one_agent, _finish_create
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/create_test.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Clarify SSH provider backend description
  libs/mngr/docs/concepts/provider_backends.md
Due: none

Remove dead None return path from _setup_create
  libs/mngr/imbue/mngr/cli/create.py
  libs/mngr/imbue/mngr/cli/test_create.py
Due: ruff, regenerate-cli-docs

Make SSH provider description more concrete
  libs/mngr/docs/concepts/provider_backends.md
Due: none

Fix SSH description: connect to hosts, not providers
  libs/mngr/docs/concepts/provider_backends.md
Due: none

Consolidate default overrides in create(), restore comments, use FrozenModel
  libs/mngr/imbue/mngr/cli/create.py
Due: ruff, regenerate-cli-docs

Fix SSH provider description to match actual behavior
  libs/mngr/docs/concepts/provider_backends.md
Due: none

Remove module docstring, add alias test, simplify multi-plugin test
  libs/mngr/imbue/mngr/plugins/test_lifecycle_hooks.py
Due: ruff

Simplify test_no_undeclared_aliases
  libs/mngr/imbue/mngr/cli/aliases_test.py
Due: ruff, regenerate-cli-docs

Add integration tests for real mngr and snapshot default-to-create
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
Due: ruff, regenerate-cli-docs

Simplify DefaultCommandGroup: remove implicit forward tracking
  libs/mngr/imbue/mngr/cli/default_command_group.py
  libs/mngr/imbue/mngr/cli/default_command_group_test.py
  libs/mngr/imbue/mngr/cli/snapshot.py
  libs/mngr/imbue/mngr/cli/snapshot_test.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff, regenerate-cli-docs

Remove vanity URL TODOs
  libs/mngr/README.md
  scripts/install.sh
Due: none

Use HostName("localhost") for all local provider test calls
  libs/mngr/imbue/mngr/agents/base_agent_test.py
  libs/mngr/imbue/mngr/agents/default_plugins/claude_agent_test.py
  libs/mngr/imbue/mngr/api/create_test.py
  libs/mngr/imbue/mngr/api/message_test.py
  libs/mngr/imbue/mngr/api/test_create.py
  libs/mngr/imbue/mngr/hosts/host_test.py
  libs/mngr/imbue/mngr/hosts/test_host.py
  libs/mngr/imbue/mngr/providers/local/backend_test.py
  libs/mngr/imbue/mngr/providers/local/instance_test.py
Due: ruff

Add dependency prompt and prerequisite checks to install.sh
  scripts/install.sh
Due: none

Validate host name in local provider create_host
  libs/mngr/imbue/mngr/providers/local/instance.py
Due: ruff

Extract mngr pair command into a plugin (mngr-pair)
  libs/mngr/imbue/mngr/main.py
  libs/mngr_pair/imbue/mngr_pair/__init__.py
  libs/mngr_pair/imbue/mngr_pair/api.py
  libs/mngr_pair/imbue/mngr_pair/api_test.py
  libs/mngr_pair/imbue/mngr_pair/cli.py
  libs/mngr_pair/imbue/mngr_pair/cli_test.py
  libs/mngr_pair/imbue/mngr_pair/conftest.py
  libs/mngr_pair/imbue/mngr_pair/plugin.py
  libs/mngr_pair/imbue/mngr_pair/plugin_test.py
  libs/mngr_pair/imbue/mngr_pair/test_api.py
  libs/mngr_pair/imbue/mngr_pair/test_cli.py
  libs/mngr_pair/imbue/mngr_pair/test_plugin.py
  libs/mngr_pair/pyproject.toml
  pyproject.toml
  scripts/make_cli_docs.py
  uv.lock
Due: ruff, regenerate-cli-docs

Remove redundant isinstance(host, Host) checks in create_test.py
  libs/mngr/imbue/mngr/api/create_test.py
Due: ruff

Add project-level conftest.py for mngr-pair
  libs/mngr_pair/conftest.py
Due: ruff
