Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-derived-files
        name: "Regenerate derived files (CLI docs, README, .dockerignore)"
        entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Fail fast if guarded resource binary is missing
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Extract resource guard into its own module
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
  libs/imbue_common/pyproject.toml
Due: ruff

Track wrapper ownership instead of checking xdist
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Add comment explaining _owns_guard_wrapper_dir
  libs/imbue_common/imbue/imbue_common/resource_guards.py
Due: ruff

Use context manager for guard state isolation in tests
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Fix 3 type errors caught by ratchet tests
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent_dialog.py
  libs/mng/imbue/mng/cli/cleanup_test.py
  libs/mng/imbue/mng/providers/docker/test_docker_integration.py
Due: ruff, regenerate-derived-files

Add benchmark script for entry_points cache comparison
  benchmark_branches.sh
Due: none

Fix trap overwrite bug in justfile offload recipes
  justfile
Due: none

Use patch.dict for per-test guard env vars
  libs/imbue_common/imbue/imbue_common/resource_guards.py
Due: ruff

Upgrade offload to version 0.4.0
  .github/workflows/test-offload-acceptance.yml
Due: none

Use patch.dict for session-level guard env vars
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Make resource guard module generic over resource list
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Remove vestigial .dockerignore
  .dockerignore
Due: regenerate-derived-files

Use if/else for xdist worker check in sessionstart
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff

Track blocked resource invocations to catch error-handling tests
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/mng/imbue/mng/agents/base_agent_test.py
  libs/mng/imbue/mng/agents/test_base_agent.py
  libs/mng/imbue/mng/api/exec_test.py
  libs/mng/imbue/mng/api/message_test.py
  libs/mng/imbue/mng/cli/pull_test.py
  libs/mng/imbue/mng/cli/test_rename.py
  libs/mng/imbue/mng/hosts/host_test.py
Due: ruff, regenerate-derived-files

Simplify resource guard tests and add blocked tracking test
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Extract add_safe_directory_on_remote helper, apply to sync_git
  libs/mng/imbue/mng/api/sync.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/utils/git_utils.py
Due: ruff

Modal commit for pull test
  modal_commit.txt
Due: none

Remove --repo-sub-path, extract elena-code to separate repo, add logging
  apps/changelings/docs/design.md
  apps/changelings/docs/user_story.md
  apps/changelings/examples/elena-code/changeling.toml
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/server.py
  apps/changelings/imbue/changelings/cli/server_test.py
  apps/changelings/imbue/changelings/main.py
  apps/changelings/imbue/changelings/main_test.py
  apps/changelings/imbue/changelings/primitives.py
  apps/changelings/imbue/changelings/utils/logging.py
  apps/changelings/imbue/changelings/utils/logging_test.py
Due: ruff

Remove manual test artifact
  modal_commit.txt
Due: none

Rewrite guard tests as end-to-end pytester tests
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Replace _isolated_guard_state with monkeypatch fixture
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Make error-handling guard test more realistic
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Switch pytester tests from echo to cat
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Add regression tests for safe.directory in sync_git
  libs/mng/imbue/mng/api/sync_test.py
  libs/mng/imbue/mng/utils/git_utils_test.py
Due: ruff

Add missing rsync/tmux marks to acceptance and integration tests
  libs/mng/imbue/mng/cli/test_exec.py
  libs/mng/imbue/mng/cli/test_message.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_snapshot.py
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
  libs/mng/imbue/mng/providers/ssh_host_setup_test.py
Due: ruff, regenerate-derived-files

Trying to get this to work with external repos
  .gitignore
  CLAUDE.md
Due: regenerate-derived-files

Remove superfluous @pytest.mark.rsync from git-transfer tests
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
Due: ruff

Restore @pytest.mark.rsync on untracked-files git transfer test
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
Due: ruff

Clean up changelings: store by name, separate forward command, fix test cleanup
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/deploy_test.py
  apps/changelings/imbue/changelings/cli/forward.py
  apps/changelings/imbue/changelings/cli/forward_test.py
  apps/changelings/imbue/changelings/config/data_types.py
  apps/changelings/imbue/changelings/config/data_types_test.py
  apps/changelings/imbue/changelings/main.py
  apps/changelings/imbue/changelings/main_test.py
Due: ruff

Fix root-level coverage omit for renamed testing/ package
  pyproject.toml
Due: none

Add docker/testing.py to root-level coverage omit
  pyproject.toml
Due: none

Remove test_mng_create_with_git_source_on_docker acceptance test
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
Due: ruff

Add missing @pytest.mark.tmux to acceptance tests that create agents
  libs/mng/imbue/mng/api/test_sync_acceptance.py
  libs/mng/imbue/mng/cli/test_exec.py
  libs/mng/imbue/mng/cli/test_message.py
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
Due: ruff, regenerate-derived-files

Defer provider checks via agent-to-provider cache
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/cli/completion_writer_test.py
Due: ruff, regenerate-derived-files

Extend resource guards to Modal and Docker SDKs
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
Due: ruff

Surface guard violations on failing tests and add pytester test
  libs/imbue_common/imbue/imbue_common/resource_guards.py
  libs/imbue_common/imbue/imbue_common/resource_guards_test.py
  libs/mng/imbue/mng/providers/ssh_host_setup_test.py
Due: ruff

Update resource_guards module docstring to cover SDK guards
  libs/imbue_common/imbue/imbue_common/resource_guards.py
Due: ruff

Move agent cache to utils, extract match helper, remove double-write
  libs/mng/imbue/mng/api/find.py
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/cli/completion_writer.py
  libs/mng/imbue/mng/utils/agent_cache.py
  libs/mng/imbue/mng/utils/agent_cache_test.py
Due: ruff, regenerate-derived-files

Remove @pytest.mark.tmux from Modal/Docker tests
  libs/mng/imbue/mng/cli/test_exec.py
  libs/mng/imbue/mng/cli/test_message.py
  libs/mng/imbue/mng/providers/docker/test_docker_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_create.py
  libs/mng/imbue/mng/providers/modal/test_modal_idle_shutdown.py
Due: ruff, regenerate-derived-files
