Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Fix mark indicator case in _build_agent_row docstring
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Remove redundant tuple() call in fetch_board_snapshot error aggregation
  libs/mng_kanpan/imbue/mng_kanpan/fetcher.py
Due: ruff

Make periodic refresh interval configurable; rename retry cooldown
  libs/mng_kanpan/README.md
  libs/mng_kanpan/imbue/mng_kanpan/data_types.py
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
  libs/mng_kanpan/imbue/mng_kanpan/tui_test.py
Due: ruff

Formalize changeling vocabulary and add future specs
  apps/changelings/README.md
  libs/mng_claude_changeling/README.md
  libs/mng_claude_changeling/future_specs/generate_mng_settings.md
  libs/mng_claude_changeling/future_specs/optional_mng_settings.md
  libs/mng_claude_changeling/future_specs/per_role_mng_settings.md
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
Due: ruff

Move conversation state from JSONL event stream to sqlite database
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conftest.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conversation_watcher_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/data_types.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/data_types_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/event_watcher_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/chat.sh
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_watcher.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/defaults/thinking/.claude/skills/list-conversations/SKILL.md
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/event_watcher.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/extra_context_tool.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/test_integration.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/web_server_test.py
Due: ruff

Add Event Stream System section to ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Emit agent state transition events (RUNNING<->WAITING) to event stream
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
  libs/mng/imbue/mng/agents/default_plugins/claude_config.py
  libs/mng/imbue/mng/agents/event_commands.py
  libs/mng/imbue/mng/agents/event_commands_test.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types.py
  libs/mng_claude_zygote/imbue/mng_claude_zygote/data_types_test.py
Due: ruff

Extract run_event_command fixture to reduce test duplication in event_commands_test.py
  libs/mng/imbue/mng/agents/conftest.py
  libs/mng/imbue/mng/agents/event_commands_test.py
Due: ruff

Fix ratchet violation: move subprocess.run back to test file, keep env fixture in conftest
  libs/mng/imbue/mng/agents/conftest.py
  libs/mng/imbue/mng/agents/event_commands_test.py
Due: ruff

Simplify event ID generation to use /dev/urandom, matching chat.sh
  libs/mng/imbue/mng/agents/event_commands.py
Due: ruff

Replace polling with file-handle tailing, remove SubprocessClaudeBackend
  libs/mng/imbue/mng/agents/default_plugins/headless_claude_agent.py
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff, regenerate-derived-files

Bump test shards: integration 4->6, acceptance 16->18
  .github/workflows/ci.yml
Due: none

Update remaining --agent-cmd references to --agent-command
  libs/mng/docs/concepts/agent_types.md
  libs/mng/docs/concepts/agents.md
  libs/mng_claude_zygote/imbue/mng_claude_zygote/test_integration.py
Due: ruff

Extract conversation_db.py helper, add error checking, fix duplicate test
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conftest.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/chat.sh
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_db.py
Due: ruff

Fix review issues: add ROLE env var, surface TOML errors, add tests
  apps/changelings/imbue/changelings/cli/deploy.py
  apps/changelings/imbue/changelings/cli/deploy_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin_test.py
Due: ruff

Fix review issues: update docs, add behavioral assemble_command test
  apps/changelings/README.md
  apps/changelings/docs/design.md
  apps/changelings/docs/user_story.md
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/test_ratchets.py
Due: ruff

Fix: use resolved_agent_type for default agent name
  apps/changelings/imbue/changelings/cli/deploy.py
Due: ruff

Require LLM_USER_PATH instead of falling back to default path
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conversation_watcher_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/chat.sh
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_watcher.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/event_watcher.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/extra_context_tool.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/web_server.py
Due: ruff

Add mng-claude-changeling as dependency of changelings app
  apps/changelings/pyproject.toml
  uv.lock
Due: none

Switch to using matched response model and disable docker plugin
  apps/changelings/imbue/changelings/deployment/local.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/event_watcher.py
Due: ruff

Fix info/exclude transfer failing from git worktrees
  libs/mng/imbue/mng/hosts/host.py
Due: ruff

in theory fix memory hooks to only fire when using memory tool, and get the path right
  libs/mng_claude_changeling/imbue/mng_claude_changeling/provisioning.py
Due: ruff

Fix cel filters hopefully
  apps/changelings/docs/design.md
  libs/mng_claude_changeling/imbue/mng_claude_changeling/data_types.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/event_watcher_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/event_watcher.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/watcher_common.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/test_integration.py
Due: ruff

Skip preliminary prompt-only rows from llm live-chat to prevent duplicate user messages
  libs/mng_claude_changeling/imbue/mng_claude_changeling/conversation_watcher_test.py
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_watcher.py
Due: ruff

Replace --depth and --shallow-since with --clone-arg in mng create
  libs/mng/docs/commands/primary/create.md
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/host.py
Due: ruff, regenerate-derived-files

Shell-quote agent args in _headless_claude_output
  libs/mng/imbue/mng/cli/ask.py
Due: ruff, regenerate-derived-files

Move u/U/x to mark-management group in footer keybindings
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Move x: execute to action group in footer keybindings
  libs/mng_kanpan/imbue/mng_kanpan/tui.py
Due: ruff

Move inline import to top of file, reduce inline_imports ratchet
  libs/mng/imbue/mng/agents/default_plugins/headless_claude_agent_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Update mng_changeling_chat plugin to read conversations from DB instead of JSONL
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/api_test.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/testing.py
Due: ruff

Extract _destroy_on_exit context manager for agent cleanup
  libs/mng/imbue/mng/cli/ask.py
Due: ruff, regenerate-derived-files

Hopefully prevent self observation
  libs/mng_claude_changeling/imbue/mng_claude_changeling/resources/conversation_watcher.py
Due: ruff

Simplify --adopt-session: require --from-agent, remove ~/.claude/ copy
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Write prompt files to work dir to avoid tmux command length limit
  libs/mng/imbue/mng/cli/ask.py
Due: ruff, regenerate-derived-files

Bump timeout for changeling
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
Due: ruff

Decrease timeout
  libs/mng_claude_changeling/imbue/mng_claude_changeling/plugin.py
Due: ruff

Remove module docstring from headless_claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/headless_claude_agent.py
Due: ruff

Extract get_agent_state_dir_path helper, clean up _resolve_source_location
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/hosts/host.py
Due: ruff, regenerate-derived-files

Avoid reassigning input variable in stream_output
  libs/mng/imbue/mng/agents/default_plugins/headless_claude_agent.py
Due: ruff

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
