Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-cli-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
default_install_hook_types: [pre-commit, pre-push, post-checkout]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
        exclude: 'uv.lock'
-   repo: local
    hooks:
    -   id: ruff
        name: "Python formatter + import sorter (ruff)"
        entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
        language: system
        types: [python]
    -   id: regenerate-cli-docs
        name: "Regenerate CLI docs and completions"
        entry: bash -c 'uv run python scripts/make_cli_docs.py && git diff --quiet libs/mng/docs/commands/ libs/mng/imbue/mng/resources/cli_completions.json'
        language: system
        files: 'libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/make_cli_docs\.py$|libs/mng/docs/commands/.*\.md$|libs/mng/imbue/mng/resources/cli_completions\.json$'
        pass_filenames: false
    -   id: clean-stale-workspace-dirs
#        Without this, when a workspace member is removed, its directory and contents remain, which causes uv to explode with a cryptic error message any time you run any uv command
        name: "Clean stale workspace member directories"
        entry: bash -c 'for dir in apps/* libs/*; do if [ -d "$dir" ] && [ ! -f "$dir/pyproject.toml" ]; then rm -rf "$dir"; fi; done'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Use register_plugin_test_fixtures in mng_tutor conftest
  libs/mng_tutor/imbue/mng_tutor/conftest.py
Due: ruff

Add remaining shared fixtures to register_plugin_test_fixtures
  libs/mng/imbue/mng/utils/plugin_testing.py
  libs/mng_tutor/imbue/mng_tutor/conftest.py
Due: ruff

Use register_plugin_test_fixtures in mng's conftest.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/plugin_testing.py
Due: ruff

Move api.data_types types to correct layers
  libs/mng/imbue/mng/api/create.py
  libs/mng/imbue/mng/api/create_test.py
  libs/mng/imbue/mng/api/data_types.py
  libs/mng/imbue/mng/api/data_types_test.py
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/interfaces/data_types.py
  libs/mng/imbue/mng/interfaces/host.py
  libs/mng/imbue/mng/interfaces/provider_instance.py
  libs/mng/imbue/mng/plugins/agent_host_hooks_test.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng/imbue/mng/providers/base_provider.py
  libs/mng/imbue/mng/providers/docker/instance.py
  libs/mng/imbue/mng/providers/local/instance.py
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng/imbue/mng/providers/ssh/instance.py
Due: ruff, regenerate-cli-docs

Try to fix import
  libs/mng/imbue/mng/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

code-guardian: inconsistency report 2026-02-26-03-21-43
  _tasks/inconsistencies/2026-02-26-03-21-43.md
Due: none

Remove pointless debug code
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
Due: ruff

Add test for lazy blame resolution in failure message formatting
  libs/imbue_common/imbue/imbue_common/ratchet_testing/core_test.py
Due: ruff

Consolidate duplicate activity sources mapping
  libs/mng/imbue/mng/hosts/common.py
  libs/mng/imbue/mng/interfaces/data_types.py
Due: ruff

Fix issue_reporting test to use real failures instead of monkeypatching
  libs/mng/imbue/mng/cli/issue_reporting_test.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/utils/plugin_testing.py
Due: ruff, regenerate-cli-docs

Update to allow for skipping again
  libs/mng_schedule/README.md
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/cron_runner.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Consolidate tmux pane capture into shared helper in hosts/tmux.py
  libs/mng/imbue/mng/agents/base_agent.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/hosts/tmux.py
  libs/mng/imbue/mng/testing.py
Due: ruff

Fix enum
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
Due: ruff

Tighten monkeypatch_setattr ratchet 25->24
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Make dockerfile slightly faster
  libs/mng/imbue/mng/resources/Dockerfile
Due: none

Fix tmux session leak risk in dialog detection tests
  libs/mng/imbue/mng/agents/default_plugins/test_claude_agent.py
Due: ruff

Add verify-conversation command for conversation-only review
  .claude/commands/verify-conversation.md
Due: none

Move OptionStackItem to plugins, decouple utils/logging from config
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/data_types.py
  libs/mng/imbue/mng/cli/test_plugin_cli_options.py
  libs/mng/imbue/mng/plugins/hookspecs.py
  libs/mng/imbue/mng/utils/logging.py
  libs/mng/imbue/mng/utils/logging_test.py
Due: ruff, regenerate-cli-docs

Replace acceptance markers with granular resource markers (tmux, git, rsync, unison)
  apps/changelings/imbue/changelings/cli/run_test.py
  apps/changelings/pyproject.toml
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
  libs/mng/imbue/mng/api/message_test.py
  libs/mng/imbue/mng/api/test_create.py
  libs/mng/imbue/mng/api/test_list.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/test_agent_utils.py
  libs/mng/imbue/mng/cli/test_cleanup.py
  libs/mng/imbue/mng/cli/test_clone.py
  libs/mng/imbue/mng/cli/test_connect.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/cli/test_destroy.py
  libs/mng/imbue/mng/cli/test_list.py
  libs/mng/imbue/mng/cli/test_migrate.py
  libs/mng/imbue/mng/cli/test_provision.py
  libs/mng/imbue/mng/cli/test_rename.py
  libs/mng/imbue/mng/cli/test_snapshot.py
  libs/mng/imbue/mng/hosts/test_host.py
  libs/mng/imbue/mng/plugins/agent_host_hooks_test.py
  libs/mng/pyproject.toml
  libs/mng_pair/imbue/mng_pair/test_api.py
  pyproject.toml
Due: ruff, regenerate-cli-docs

Implement --full-copy mode for mng schedule add and CLI improvements
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
  libs/mng_schedule/imbue/mng_schedule/test_cli.py
Due: ruff

Avoid $() in prompt expansions so --dangerously-skip-permissions is not needed
  .claude/commands/verify-conversation.md
  scripts/cleanup_review_files.sh
  scripts/print_review_transcript.sh
Due: none

Add --auto-fix-args and --ensure-safe-commands flags to schedule add
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/add_test.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_schedule/imbue/mng_schedule/cli/update.py
Due: ruff

Fix reviewer issues: move inline imports, update docstrings, warn on no-op flag
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/group.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix reviewer issues: use public method for SSH key, fix style violations
  libs/mng/imbue/mng/providers/modal/instance.py
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
Due: ruff

Fix inline import ratchet: move fastapi import to top of snapshot_and_shutdown.py
  libs/mng/imbue/mng/providers/modal/routes/snapshot_and_shutdown.py
Due: ruff

Remove all ! expansions from verify-conversation, use agent tool calls instead
  .claude/commands/verify-conversation.md
Due: none

Handle --key=value form in arg-parsing helpers
  libs/mng_schedule/imbue/mng_schedule/cli/add.py
  libs/mng_schedule/imbue/mng_schedule/cli/add_test.py
Due: ruff

Fix pre-existing test failures: Dockerfile sentinel detection and SKIP mode test
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Fix equals-form arg parsing, update docstring, fix inline import ratchet
  libs/mng/imbue/mng/providers/modal/routes/snapshot_and_shutdown.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
Due: ruff

Fix pre-existing deploy_test failures and update docstring
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy.py
  libs/mng_schedule/imbue/mng_schedule/implementations/modal/deploy_test.py
Due: ruff

Move review file cleanup from skill into run_reviewer.sh
  .claude/commands/verify-conversation.md
  scripts/cleanup_review_files.sh
  scripts/run_reviewer.sh
Due: none

Move tmux/modal/docker exclusion from addopts to CLAUDE.md guidance
  CLAUDE.md
  apps/changelings/pyproject.toml
  libs/mng/pyproject.toml
  pyproject.toml
Due: none

Add detailed design spec for VS Code agent-PR viewer extension
  specs/ui_agent_pr_viewer.md
Due: none

Decouple providers/registry from agents/agent_registry
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/providers/registry.py
Due: ruff, regenerate-cli-docs

Trim imbue-verify-specific language from misleading_behavior guide
  .claude/commands/verify-conversation.md
Due: none

Add branch field to AgentInfo and create VS Code extension
  apps/mng-vscode/.gitignore
  apps/mng-vscode/.vscodeignore
  apps/mng-vscode/package-lock.json
  apps/mng-vscode/package.json
  apps/mng-vscode/pyproject.toml
  apps/mng-vscode/src/agentNode.ts
  apps/mng-vscode/src/agentTreeProvider.ts
  apps/mng-vscode/src/commands.ts
  apps/mng-vscode/src/config.ts
  apps/mng-vscode/src/extension.ts
  apps/mng-vscode/src/mngService.ts
  apps/mng-vscode/src/prService.ts
  apps/mng-vscode/src/statusBar.ts
  apps/mng-vscode/src/types.ts
  apps/mng-vscode/tsconfig.json
  libs/mng/docs/commands/primary/list.md
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/interfaces/data_types.py
  libs/mng/imbue/mng/primitives.py
  libs/mng/imbue/mng/providers/modal/instance.py
  uv.lock
Due: ruff, regenerate-cli-docs

Drop incorrect_claim category, fold into reasoning_error
  .claude/commands/verify-conversation.md
Due: none

Inject registry dependencies into config/loader and hosts/host
  libs/mng/imbue/mng/agents/agent_registry.py
  libs/mng/imbue/mng/agents/agent_registry_test.py
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/config/loader_test.py
  libs/mng/imbue/mng/conftest.py
  libs/mng/imbue/mng/hosts/host.py
  libs/mng/imbue/mng/interfaces/agent.py
  libs/mng/imbue/mng/main.py
  libs/mng/imbue/mng/utils/plugin_testing.py
Due: ruff, regenerate-cli-docs

Add unit tests for VS Code extension (39 tests, all passing)
  apps/mng-vscode/src/__mocks__/vscode.ts
  apps/mng-vscode/src/agentNode.test.ts
  apps/mng-vscode/src/agentTreeProvider.test.ts
  apps/mng-vscode/src/mngService.test.ts
  apps/mng-vscode/src/prService.test.ts
  apps/mng-vscode/vitest.config.ts
Due: none

Cache importlib.metadata.entry_points() in test infrastructure
  libs/imbue_common/imbue/imbue_common/conftest_hooks.py
Due: ruff
