Repository imbue-ai/mng: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, regenerate-derived-files

ruff:
  name: Python formatter + import sorter (ruff)
  entry: bash -c 'uv run ruff check --select UP006,UP007,I,F401 --fix --force-exclude --config pyproject.toml "$@" && uv run ruff format --force-exclude --config pyproject.toml "$@"' --
  language: system

regenerate-derived-files:
  name: Regenerate derived files (CLI docs, README, .dockerignore)
  entry: bash -c 'uv run python scripts/generate_derived_files.py && git diff --quiet libs/mng/docs/commands/ libs/mng/README.md .dockerignore'
  language: system
  pass_filenames: false

Update module docstring to reflect current API
  libs/resource_guards/imbue/resource_guards/resource_guards.py
Due: ruff

Fix shebang in export_transcript_paths.sh for macOS compatibility
  scripts/export_transcript_paths.sh
Due: none

Remove unused obj parameter from format_line in filter_transcript.py
  scripts/filter_transcript.py
Due: ruff

Fix variable shadowing bug in list_agents field_generators loop
  libs/mng/imbue/mng/api/list.py
Due: ruff

Add error handling for plugin field generators during listing
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Revert "Add error handling for plugin field generators during listing"
  libs/mng/imbue/mng/api/list.py
  libs/mng/imbue/mng/api/list_test.py
  libs/mng/imbue/mng/utils/test_ratchets.py
Due: ruff

Add field-type-to-completion-source registry for config value completions
  libs/mng/imbue/mng/cli/complete_test.py
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
  libs/mng/imbue/mng/config/provider_config_registry.py
Due: ruff, regenerate-derived-files

Give mng ask read-only source access and --allow-web flag (rebased on headless-claude)
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
Due: ruff, regenerate-derived-files

Graduate mature features from [experimental] status
  libs/mng/docs/commands/primary/connect.md
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/commands/primary/destroy.md
  libs/mng/docs/commands/primary/exec.md
  libs/mng/docs/commands/primary/list.md
  libs/mng/docs/commands/primary/pair.md
  libs/mng/docs/commands/primary/pull.md
  libs/mng/docs/commands/primary/push.md
  libs/mng/docs/commands/primary/rename.md
  libs/mng/docs/commands/primary/start.md
  libs/mng/docs/commands/primary/stop.md
  libs/mng/docs/commands/secondary/ask.md
  libs/mng/docs/commands/secondary/cleanup.md
  libs/mng/docs/commands/secondary/config.md
  libs/mng/docs/commands/secondary/events.md
  libs/mng/docs/commands/secondary/gc.md
  libs/mng/docs/commands/secondary/limit.md
  libs/mng/docs/commands/secondary/message.md
  libs/mng/docs/commands/secondary/plugin.md
  libs/mng/docs/commands/secondary/provision.md
  libs/mng/docs/commands/secondary/snapshot.md
  libs/mng/docs/concepts/agent_types.md
  libs/mng/docs/concepts/api.md
  libs/mng/docs/concepts/plugins.md
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/events.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/plugins/hookspecs.py
Due: ruff, regenerate-derived-files

Scope ask agent Read/Glob/Grep to source directory and rename SafePermissionsAgentMixin
  libs/mng/imbue/mng/agents/default_plugins/headless_claude_agent.py
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/ask_test.py
  libs/mng/imbue/mng/interfaces/agent.py
Due: ruff, regenerate-derived-files

Add --provider flag as alternative to .PROVIDER in the address
  libs/mng/docs/commands/primary/create.md
  libs/mng/docs/customization.md
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/create.py
Due: ruff, regenerate-derived-files

Add mng-test-mapreduce plugin for parallel test running and fixing via agents
  libs/mng_test_mapreduce/conftest.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/__init__.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/api.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/api_test.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/cli.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/cli_test.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/conftest.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/data_types.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/data_types_test.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/plugin.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/plugin_test.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/test_ratchets.py
  libs/mng_test_mapreduce/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff

Exclude derived config keys (disabled_plugins, enabled_backends) from tab completion
  libs/mng/imbue/mng/config/completion_writer.py
  libs/mng/imbue/mng/config/completion_writer_test.py
Due: ruff

Replace stub-based unit tests with integration tests for field generators
  libs/mng/imbue/mng/api/list_test.py
Due: ruff

Add Claude waiting_reason field generator and update wait-for-agent polling
  .claude/commands/wait-for-agent.md
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Suggest --merge instead of --ff-only in pull rebase block message
  scripts/claude_prevent_commit_rewrite.sh
Due: none

WIP: adopt-session feature with all recent changes
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix type error: assert last_session_id is not None before write_text_file
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Replace assert with str init for last_session_id
  libs/mng/imbue/mng/agents/default_plugins/claude_agent.py
Due: ruff

Fix type errors in agent_field_generators tests
  libs/mng/imbue/mng/agents/default_plugins/claude_agent_test.py
Due: ruff

Fix reviewer issues, stop WAITING agents, markdown summaries, split pytest args
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/api.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/api_test.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/cli.py
  libs/mng_test_mapreduce/imbue/mng_test_mapreduce/cli_test.py
  libs/mng_test_mapreduce/pyproject.toml
  uv.lock
Due: ruff

Remove unused tmp_path param, reuse project_config_dir fixture
  libs/mng/imbue/mng/e2e/conftest.py
Due: ruff

Add (and their dependencies [future]) to agent_field_generators doc
  libs/mng/docs/concepts/plugins.md
Due: none

Add 'mng observe' command for streaming agent state changes
  libs/mng/imbue/mng/api/observe.py
  libs/mng/imbue/mng/api/observe_test.py
  libs/mng/imbue/mng/cli/observe.py
  libs/mng/imbue/mng/main.py
Due: ruff, regenerate-derived-files

Fix reviewer issues in mng observe command
  libs/mng/imbue/mng/api/observe.py
  libs/mng/imbue/mng/api/observe_test.py
  libs/mng/imbue/mng/cli/observe.py
Due: ruff, regenerate-derived-files

Narrow allowed-tools to exact commands each skill orchestrator uses
  .claude/commands/autofix.md
  .claude/commands/verify-architecture.md
  .claude/commands/verify-conversation.md
Due: none

Remove leftover mkdir instruction from autofix Phase 3
  .claude/commands/autofix.md
Due: none

Move to fix imports
  libs/mng/docs/concepts/plugins.md
  libs/mng/imbue/mng/cli/ask.py
  libs/mng/imbue/mng/cli/cleanup.py
  libs/mng/imbue/mng/cli/common_opts.py
  libs/mng/imbue/mng/cli/common_opts_test.py
  libs/mng/imbue/mng/cli/config.py
  libs/mng/imbue/mng/cli/conftest.py
  libs/mng/imbue/mng/cli/connect.py
  libs/mng/imbue/mng/cli/create.py
  libs/mng/imbue/mng/cli/create_test.py
  libs/mng/imbue/mng/cli/destroy.py
  libs/mng/imbue/mng/cli/events.py
  libs/mng/imbue/mng/cli/exec.py
  libs/mng/imbue/mng/cli/gc.py
  libs/mng/imbue/mng/cli/limit.py
  libs/mng/imbue/mng/cli/list.py
  libs/mng/imbue/mng/cli/message.py
  libs/mng/imbue/mng/cli/observe.py
  libs/mng/imbue/mng/cli/plugin.py
  libs/mng/imbue/mng/cli/provision.py
  libs/mng/imbue/mng/cli/pull.py
  libs/mng/imbue/mng/cli/push.py
  libs/mng/imbue/mng/cli/rename.py
  libs/mng/imbue/mng/cli/snapshot.py
  libs/mng/imbue/mng/cli/start.py
  libs/mng/imbue/mng/cli/stop.py
  libs/mng/imbue/mng/cli/test_create.py
  libs/mng/imbue/mng/config/data_types.py
  libs/mng/imbue/mng/config/loader.py
  libs/mng/imbue/mng/plugins/test_plugin_cli_options.py
  libs/mng_changeling_chat/imbue/mng_changeling_chat/cli.py
  libs/mng_kanpan/imbue/mng_kanpan/cli.py
  libs/mng_pair/imbue/mng_pair/cli.py
  libs/mng_schedule/imbue/mng_schedule/cli/options.py
  libs/mng_tutor/imbue/mng_tutor/cli.py
Due: ruff, regenerate-derived-files

Try relative-path Write patterns (no leading slash, single *)
  .claude/commands/autofix.md
  .claude/commands/verify-conversation.md
Due: none

Add agent state change stream and load base state from history
  libs/mng/imbue/mng/api/observe.py
  libs/mng/imbue/mng/api/observe_test.py
  libs/mng/imbue/mng/cli/observe.py
Due: ruff, regenerate-derived-files

Add test coverage for snapshot state change detection, deduplicate serialization
  libs/mng/imbue/mng/api/observe.py
  libs/mng/imbue/mng/api/observe_test.py
Due: ruff

Tighten Write tool wording across all skills
  .claude/commands/autofix.md
  .claude/commands/verify-conversation.md
  .claude/skills/autofix/verify-and-fix.md
Due: none

Use unrestricted Write -- path patterns don't work in allowed-tools
  .claude/commands/autofix.md
  .claude/commands/verify-conversation.md
Due: none

Inline worktree suffix in verify-architecture
  .claude/commands/verify-architecture.md
Due: none

Simplify observer: always emit on activity, use ACTIVITY_EVENT_SOURCE
  libs/mng/imbue/mng/api/observe.py
  libs/mng/imbue/mng/api/observe_test.py
Due: ruff

Update CLI help text to match simplified observer behavior
  libs/mng/imbue/mng/cli/observe.py
Due: ruff, regenerate-derived-files

Add git ls-tree and grep to verify-architecture allowed-tools
  .claude/commands/verify-architecture.md
Due: none

Add script to generate verify skill markdown from vet
  .claude/skills/autofix/verify-and-fix.md
  .pre-commit-config.yaml
  scripts/generate_verify_skills.py
  scripts/regenerate_verify_skills_hook.sh
  scripts/verify-and-fix-preamble.md
Due: ruff

Preliminary commit to remove extraneous usage of the word mind
  .claude/commands/create-task-from-json.md
  .claude/skills/writing-docs/SKILL.md
  .claude/skills/writing-specs/SKILL.md
  style_guide.md
Due: none

Tell subagents to read skill files themselves
  .claude/commands/autofix.md
  .claude/commands/verify-architecture.md
  .claude/commands/verify-conversation.md
Due: none

Path conditions:
  ruff: any of: \.py$
  regenerate-derived-files: any of: libs/mng/imbue/mng/cli/.*\.py$|libs/mng/imbue/mng/main\.py$|scripts/generate_derived_files\.py$|libs/mng/docs/commands/.*\.md$|^README\.md$|^libs/mng/README\.md$|^\.gitignore$|^\.dockerignore$
